<% body_class 'signup' %>


	
			<!-- LEFT CONTENT -->
			<div class="content-left" style="margin-top:35px">
			
				<h1>Start Your Free Tatango 7-Day Trial</h1>
			
				<p>
					No credit card - No commitment
				</p>
					
        <%= form_for @account, :url => signup_confirm_path do |f| %>
          <% if @account.errors.any? %>
            <div class="error_explanation" %>
              <div><%= pluralize(@account.errors.count, "error") %> found in this signup form.</div>
              <ul>
                <% @account.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
				
				<div class="stripes-box" style="padding-top:10px">			
					<div class="form-header" style="margin-bottom:0px">
						<p style="font-size:15px"><em>*</em> Required fields</p>
					</div>
          <div class="form-content">
            <%= f.hidden_field :source, :value => 'normal' %>
            <%= f.hidden_field :tz, :value => "America/Boise" %>
            <script type="text/javascript">
              try {
                $('#account_tz').val(jstz.detxermine().name());
              } catch(error){
              }
            </script>
						<fieldset>
							<legend>Your Information</legend>
							<div class="box">
								<label for="username" style="width:200px;">Username <em class="req" style="float:none">*</em></label><br />
								<%= f.text_field :username, :class => 'required' %><span class="end"></span>
                <div class="signupError"></div>
							</div>
							<div class="box right">
								<label for="password" style="width:200px;">Password <em class="req" style="float:none">*</em></label><br />
								<%= f.password_field :password, :class => 'required' %><span class="end"></span>
                <div class="signupError"></div>
							</div>
							<div class="box">
								<label for="name" style="width:200px;">Full Name <em class="req" style="float:none">*</em></label><br />
								<%= f.text_field :name, :class => 'required' %><span class="end"></span>
                <div class="signupError"></div>
							</div>
							<div class="box right">
								<label for="email" style="width:240px;">E-mail <em class="req" style="float:none">*</em> &nbsp;&nbsp;&nbsp;<span class="small">A valid e-mail address is required</span></label><br />
								<%= f.text_field :email, :class => 'required' %><span class="end"></span>
                <div class="signupError"></div>
							</div>
							<div class="box">
								<label for="company" style="width:200px;">Company Name <em class="req" style="float:none">*</em></label><br />
								<%= f.text_field :company, :class => 'required' %><span class="end"></span>
                <div class="signupError"></div>
							</div>
							
							<div class="box right" style="margin-top:15px">
								<input class="submit" type="submit" value="Sign Up" tabindex="6" name="submit" />
							</div>
							
							<div style="clear:both"><!----></div>
								<p style="font-size:14px;padding:20px 0 0 0">
									By clicking Sign Up, you agree to the <a style="color:#135cc0" href="<%= url_for terms_conditions_path %>" target="_blank">terms and conditions</a> and <a style="color:#135cc0" href="<%= url_for anti_spam_policy_path %>" target="_blank">anti-spam policy</a>.
								</p>
							
              
				    </fieldset>
          </div>
				</div>
        <% end %>
				
			</div>
			<!-- #END of left content -->
		
		
			<!-- RIGHT CONTENT -->
            <div class="content-right" style="margin-top:35px;width:335px">
                
				<h2>What's included in the 7-Day Trial</h2>

					<div class="widebox-line btm account">
						<div class="icon-txt unlimitedsms">
							<h3 class="blue">Unlimited Text Messaging</h3>
							<p>Send as many text messages during your free trial as you want.</p>
						</div>
					</div>
					<div class="widebox-line btm account">
						<div class="icon-txt unlimitedsubs">
							<h3 class="blue">Unlimited Phone Numbers</h3>
							<p>Have as many phone numbers as you want during your free trial.</p>
						</div>
					</div>
					<div class="widebox-line btm account">
						<div class="icon-txt fullaccess">
							<h3 class="blue">Full Access</h3>
							<p>Get full access to all the SMS products Tatango offers.</p>
						</div>
					</div>
					<div class="widebox-line btm account">
						<div class="icon-txt awardsupport">
							<h3 class="blue">Award Winning Support</h3>
							<p>Ask our text message marketing experts anything by phone, email or chat.</p>
						</div>
					</div>

            </div>
            <!-- #END of right content -->
			
























