<% title 'Sent Messages' %>
<% current_tab :lists %>
<% current_action list_messages_path(@list) %>

<script type="text/javascript">
  $(document).ready(function(){
    $('#gradient-style').dataTable({
      "bFilter": false,
      "bLengthChange": false,
      "sPaginationType": "full_numbers",
      "oLanguage": {
        "sEmptyTable": "There are no messages here yet, <a href=\"<%= url_for new_list_message_path(@list) %>\">send your first message</a>."
      },
      "aaSorting": [[0,"desc"]],
      "aoColumnDefs": [
        {"iDataSort": 1, "aTargets": [0]}
      ],
      "bInfo": false
    });
  });
</script>

<div class="admin-center shadow">

  <!-- LEFT CONTENT -->
  <div class="content-left admin">
    <%= render :partial => 'lists/action_nav' %>
  </div>
  <!-- #END of left content -->
        
  <!-- RIGHT CONTENT -->
  <div class="content-right admin">
    <h1>Sent Text Messages</h1>
    <div class="clear"></div>

    <div class="admin-large-table">			
      
        <table id="gradient-style" summary="Data">

          <thead> <!-- table header -->
            <tr>
              <th scope="col">Date/Time</th>
              <th scope="col">Message</th>
              <th scope="col">Recipients</th>
              <th class="last" scope="col" style="width: 25%;">&nbsp;</th>
              <th style="display: none;" colspan="0"></th>
            </tr>
          </thead>
          
          <tbody> <!-- table content -->
            <% for message in @messages %>
              <tr class="tableRow">
                <td class="first"><%= ((message.schedule and message.schedule_at) or message.created_at).strftime("%m/%d/%Y %I:%M%P") %></td>
                <td style="display: none;"><%= message.created_at.to_i %></td>
                <td class="tips" title="<%= message.to_s %>"><%= truncate(message.to_s, :length => 18) %></td>
                <td class="align-center">
                  <%= (message.status == 'sent' and number_with_delimiter(message.memberships_count)) or (message.status == "error" and "Error") or (message.status and message.status.titlecase) or "Sending" %>
                </td>
                <td class="align-center" style="padding: 0 35px;">
                  <% if message.scheduled? %>
                    <%= link_to 'Cancel', cancel_list_message_path(@list, message), :confirm => "Are you sure you want to cancel this message?", :method => :post %>
                  <% elsif message.cancelled? %>
                  <% else %>
                    <p class="btn-small-grey"><a href="<%= url_for [@list, message] %>"><span>View Report</span></a></p>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
          
      </table>
      
      <div class="table-btm"><!----></div>
      
    </div>
  </div>
</div>
