<% title 'Message' %>

<% current_tab :lists %>
<% current_action list_messages_path(@list) %>

<script type="text/javascript">
  $(document).ready(function(){
    $('#gradient-style').dataTable({
      "bFilter": false,
      "bLengthChange": false,
      "sPaginationType": "full_numbers",
      "oLanguage": {
        "sEmptyTable": "Sorry, you haven't received any responses yet."
      },
      "bInfo": false
    });
  });
</script>

<div class="admin-center shadow">

  <!-- LEFT CONTENT -->
  <div class="content-left admin">
    <%= render :partial => 'lists/action_nav' %>
  </div>
  <!-- #END of left content -->
        
  <!-- RIGHT CONTENT -->
  <div class="content-right admin">
    <h1 style="float:left">Text Message:</h1>
    <p class="semibold" style="float:right;padding-right:5px"><a href="<%= url_for list_messages_path(@list) %>">Return to Sent Messages</a></p>
    <div class="clear"></div>

    <div class="admin-stripes-box" style="width:621px;margin-bottom:25px;">
      <div class="mobile" style="position:relative;float:left;width:209px;">
        <div class="txt dark">
          <p>
            <%= @message.content.gsub("\n",'<br />').html_safe %>
          </p>
          <div class="btm">&nbsp;</div>
        </div>
        <p class="preview small">Characters used: <%= @message.with_footer.size %>/160</p>
      </div>
      <table class="minimal" summary="Subscriber" style="width:380px;float:right;">
        <tbody>
          <tr>
            <td class="first">Sent:</td>
            <td colspan="2"><%= @message.created_at.strftime("%m/%d/%y %I:%M%P") %></td>
          </tr>
          <tr>
            <td class="first">Recipients:</td>
            <td colspan="2"><%= @message.memberships_count or 0 %></td>
          </tr>
          <tr>
            <td class="first">Successful Messages:</td>
            <td colspan="2">Coming Soon</td>
            <%#<td colspan="2">484 (92%)</td>%>
          </tr>
          <tr>
            <td class="first">Bounced Messages:</td>
            <td colspan="2">Coming Soon</td>
            <%#<td>12 Subscribers (8%)</td>
            <td><a href="" class="normal">Unsubscribe all</a></td>%>
          </tr>
          <% if @message.memberships_count and @message.memberships_count != 0 %>
            <tr>
              <td class="first">Unsubscribes:</td>
              <td colspan="2"><%= @message.unsubscribes %> (<%= (@message.unsubscribes.to_f/@message.memberships_count*100).to_i %>%)</td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <table class="minimal smaller" summary="Subscriber" style="width:380px;float:right;">
        <tbody>
          <tr>
            <td colspan="2" class="first last">Mobile Carrier Breakdown</td>
          </tr>
          <% for carrier, count in @message.carrier_counts.sort_by{|k, v| -v} %>
            <tr>
              <td class="last"><%= CARRIERS[carrier] %></td>
              <td class="last">- <%= count %> Recipients (<%= (count.to_f/@message.memberships_count*100).ceil rescue "" %>%)</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <h1>Responses Received:</h1>
    <div class="clear"></div>

    <div class="admin-large-table grey">			
      
        <table id="gradient-style" summary="Data">

          <thead> <!-- table header -->
            <tr>
              <th scope="col">Date Received</th>
              <th scope="col">Subscriber</th>
              <th class="last" scope="col">Response</th>
            </tr>
          </thead>
          
          <tbody> <!-- table content -->
            <% for reply in @message.replies %>
              <tr class="tableRow">
                <td class="first"><%= reply.created_at.strftime("%m/%d/%Y %I:%M%P") %></td>
                <td><span class="red"><%= reply.membership ? (link_to reply.from, [reply.membership.list, reply.membership]) : reply.from %></span></td>
                <td class="tips" title="<%= reply.content %>"><%= truncate(reply.content, :length => 30) %></td>
              </tr>
            <% end %>
          </tbody>
          
      </table>
      
      <div class="table-btm"><!----></div>
      
    </div>
  </div>
</div>
