<% title 'Login' %>

<%= form_tag session_path do -%>
  
  <label style="font-size: 0.75em; padding-bottom: 3px;"><%= flash[:error] %></label>
  <ul>
    <li id="username_row">
      <label for="username">Username</label>
      <%= text_field_tag 'username', nil, :tabindex => 1, :autofocus => "true" %>
    </li>
    <li>
			<label for="password">Password</label>
			<%= password_field_tag 'password', nil, :tabindex => 2 %>
		</li>
	  <li>
	    <%= link_to "Lost Your Username or Password?", new_tmp_password_session_path, :id => "forgot_password" %>
	    <%= submit_tag "" %>
	  </li>
	</ul>
<% end %>
<% content_for :footer do %>
  <%= link_to "Don't have a Tatango account? <strong>Register here</strong>.".html_safe, signup_path %>
<% end %>
<script type="text/javascript">
document.getElementById('username').focus();
</script>
