<% title 'Login' %>

<%= form_tag send_tmp_password_session_path do -%>
  <ul>
    <li id="username_row">
      <label for="email">E-Mail</label>
      <%= text_field_tag 'email', nil, :tabindex => 1, :autofocus => "true" %>
    </li>
    <li>
      <label style="font-size: 0.75em;">Your username and a link to reset your password will be sent to your e-mail.</label>
      <br />
    </li>
    <li>
      <label style="font-size: 0.75em;"><%= flash[:error] %>&nbsp;</label>
    </li>
	  <li>
	    <%= submit_tag "" %>
	  </li>
	</ul>
<% end %>
<script type="text/javascript">
  $('#username').focus();
</script>
<style type="text/css">
#content form input[type="submit"] { background: url("<%= asset_path 'login/login-send.png' %>") no-repeat 0 0 transparent; }
</style>