<% title 'Login' %>

<%= form_tag change_password_session_path do -%>
  <ul>
    <li id="username_row">
      <label for="username">Username</label>
      <%= text_field_tag 'username', current_user.username, :tabindex => 1, :autofocus => "true", :disabled => true %>
    </li>
    <li>
			<label for="password">Choose Your New Password</label>
			<%= password_field_tag 'password', nil, :tabindex => 4 %>
		</li>
	  <li>
	    <%= submit_tag "" %>
	  </li>
	</ul>
<% end %>
<% content_for :footer do %>
<% end %>
<script type="text/javascript">
  $('#username').focus();
</script>
<style type="text/css">
#content form input[type="submit"] { width:120px;background: url("<%= asset_path 'login/save-password-btn.png' %>") no-repeat 0 0 transparent; }
</style>
