<% 
title 'SMS Marketing Flyer Generator'
meta "Create your free SMS marketing flyer provided by Tatango.com"
body_class 'wide nopad' 
%>
			
<div class="wide-content-intro">
  <h1 class="big">SMS Marketing Tools</h1>
  <p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
</div>

<!-- Wide content -->
<div class="wide-content">
				<h1 class="nopadding">SMS Marketing Flyer</h1>
				<p class="wide-content-backlink"><%= link_to 'Back to Resources', sms_marketing_guide_path %></p>
</div>
<!-- #END of wide content -->

<% content_for :content_bottom do %>
  <div class="content sms-marketing"> <!-- Yes, this time we put the same level div inside of the similar div -->
    <div class="center">
      
      <!-- Wide content -->
      <div class="wide-content">
   
        <div class="generate-marketing-flyer-left">
          <h2>Generate SMS Marketing Flyer</h2>
          <p>
            It's time to advertise your SMS marketing campaign in-store, with your very own customized flyer! Just fill out the fields below, download your PDF and print off as many as you like! It's that simple. 
          </p>
          <div class="sms-marketing-flyer">
            <form id="flyerForm" method="post" action="">
              <fieldset>
                <legend>Sign Up</legend>
                <div class="box">
                  <label for="">Message Type</label><br />
                  <textarea id="messageType" name="message" value="" tabindex="1" maxlength="26"><%= params[:message] or "Sign up for Special Offers" %></textarea>
                  <a rel="preview-title" class="upRel" /></a>
                </div>
                <div class="box right">
                  <label for="">Customer Reward</label><br />
                  <textarea id="customerReward" class="red" name="reward" value="" tabindex="2" maxlength="42"><%= params[:reward] or "and receive a FREE soda with purchase!" %></textarea>
                  <a rel="preview-subTitle" class="upRel" /></a>
                </div>
                <div class="box">
                  <label for="">Keyword</label><br />
                  <input id="keywordName" name="keyword" class="red" type="text" tabindex="3" value="<%= params[:keyword] or "RICKS" %>" name="" maxlength="15" style="text-transform: uppercase;" />
                  <a rel="preview-listName" class="upRel" /></a>
                  <span class="end"></span>
                </div>
                <div class="box short right">
                  <label for="">Short Code</label><br />
                  <input id="shortCode" name="shortcode" type="text" tabindex="4" value="<%= params[:shortcode] or "68398" %>" name="" maxlength="6" />
                  <a rel="preview-shortCode" class="upRel" /></a>
                  <span class="end"></span>
                </div>
                <div class="box">
                  <label for="">Organization Name</label><br />
                  <input id="organizationName" name="organization" type="text" tabindex="5" value="<%= params[:organization] or "Rick's Pizza" %>" name="" maxlength="17" />
                  <a rel="preview-OrganizationName" class="upRel" /></a>
                  <span class="end"></span>
                </div>
                <div class="box right">
                  <label for="">Messages per Month</label><br />
                  <input id="messageVolume" name="volume" type="text" tabindex="6" value="<%= params[:volume] or "4" %>" name="" maxlength="2" style="width: 133px;" />
                  <a rel="preview-messageVolume" class="upRel" /></a>
                  <span class="end"></span><br />
                  <br />
                  <p style="padding:4px 0;font-size:14px"><i>Only required for Broadcasts</i></p>
                </div>
                
                <div class="box">&nbsp;</div>
                <div class="box right">
                  <div style="height: 12px;"></div>
                  <p class="print-flyer"><a id="pdfUrl" href="" title="Download Print Ready PDF" target="_blank">Download Print Ready PDF</a></p>
                </div>
                <script type="text/javascript">
                  var updatePdfUrl = function(){
                    url = "<%= url_for sms_marketing_tools_flyer_generator_download_path %>";
                    url += "?";
                    url += $('#flyerForm').serialize();

                    $('#pdfUrl').attr("href", url);
                  }
                  updatePdfUrl();
                  $('#messageType, #customerReward, #keywordName, #shortCode, #organizationName, #messageVolume').change(function(){
                    updatePdfUrl();
                  });
                  $('#messageType, #customerReward, #keywordName, #shortCode, #organizationName, #messageVolume').keyup(function(){
                    updatePdfUrl();
                  });
                </script>
              </fieldset>
            </form>
          </div>
        </div>
        
        <div class="generate-marketing-flyer-right">
          <h2 class="prev">Preview</h2>
          <div class="flyer-box-top">&nbsp;</div>
          <div class="flyer-box">
            <p class="messageType" id="preview-messageType"><span></span></p>
            <p  class="customerReward" id="preview-customerReward"><span></span></p>
            <div class="things">
              <p class="first">
                Text
              </p>
              <p id="preview-keywordName" class="middle">
                <span></span>
              </p>
              <p class="third">
                to<span id="preview-shortCode"></span>
              </p>
            </div>
            <div class="things-btm">
              <p class="small">Msg &amp; data rates may apply<br />To opt-out: text STOP / T&amp;C: text HELP<span id="hideMessageVolume"><br /><span id="preview-messageVolume"></span> messages per month</span></p>
            </div>
            <div class="clear">&nbsp;</div>
            <div class="address">
              <p id="preview-organizationName"><span></span></p> 
            </div>
            <div class="clear">&nbsp;</div>
            <p class="last-text">Start your own mobile marketing campaign at Tatango.com</p>
          </div>
          <div class="flyer-btmwhite">&nbsp;</div>	
          <div class="flyer-shadow">&nbsp;</div>				
        </div>
        <script type="text/javascript">
          var updatePreview = function(){
            $('#preview-messageType span').html($('#messageType').val());
            $('#preview-customerReward span').html($('#customerReward').val());
            $('#preview-keywordName span').html($('#keywordName').val());
            $('#preview-shortCode').html($('#shortCode').val());
            $('#preview-organizationName span').html($('#organizationName').val());
            $('#preview-messageVolume').html($('#messageVolume').val());
            if($('#messageVolume').val().length == 0){
              $('#hideMessageVolume').hide();
            } else {
              $('#hideMessageVolume').show();
            }
          }
          updatePreview();
          $('#messageType, #customerReward, #keywordName, #shortCode, #organizationName, #messageVolume').change(function(){
            updatePreview();
          });
          $('#messageType, #customerReward, #keywordName, #shortCode, #organizationName, #messageVolume').keyup(function(){
            updatePreview();
          });
        </script>
        
      </div>
      <!-- #END of wide content -->

    </div>
  </div>
  <!-- #END of content -->
<% end %>

