	<div class="footer-home">
		<div class="center">
		
			<div class="award-winning">
				<h2>Award Winning</h2>
				<div class="awards-box">
					<img src="<%= asset_path 'awards-empact.jpg' %>" width="124" height="50" alt="" />
					<p>Top 100 Companies<br />Run by Entrepreneurs<br />Under 25</p>
				</div>
				<div class="awards-box">
					<img src="<%= asset_path 'awards-zone.jpg' %>" width="124" height="50" alt="" />
					<p>Top 20 Marketing<br />Blogs of 2012</p>
				</div>
				<div class="awards-box">
					<img src="<%= asset_path 'awards-business.jpg' %>" width="124" height="50" alt="" />
					<p>Startup Business<br />of the Year</p>
				</div>
				<div class="awards-box">
					<img src="<%= asset_path 'awards-week.jpg' %>" width="124" height="50" alt="" />
					<p>Top 25 Entrepreneurs<br />Under 25</p>
				</div>
			</div>
			
			<div class="you-good-company">
				<h2>You're in Good Company</h2>
				<img src="<%= asset_path 'goodlogos-nine.jpg' %>" width="93" height="49" alt="" />
				<img src="<%= asset_path 'goodlogos-emerald.jpg' %>" width="56" height="49" alt="" />
				<img src="<%= asset_path 'goodlogos-cup.jpg' %>" width="67" height="49" alt="" />
				<img src="<%= asset_path 'goodlogos-scouts.jpg' %>" width="50" height="49" alt="" />
				<img src="<%= asset_path 'goodlogos-wendys.jpg' %>" width="45" height="49" alt="" />
				<img src="<%= asset_path 'goodlogos-live.jpg' %>" width="48" height="49" alt="" />
				<img src="<%= asset_path 'goodlogos-acme.jpg' %>" width="50" height="49" alt="" />
				<img src="<%= asset_path 'goodlogos-pita.jpg' %>" width="123" height="49" alt="" />
				<p><a href="<%= url_for restaurant_text_messaging_path %>" title="See more Tatango customers">See more Tatango customers</a></p>
			</div>
			
			<div class="clear"><!----></div>
			
			<div class="footer-featured">
				<h2>Featured in the Following...</h2>
				<img src="<%= asset_path 'featured-cnn.jpg' %>" width="48" height="29" alt="" />
				<img src="<%= asset_path 'featured-mashable.jpg' %>" width="122" height="29" alt="" />
				<img src="<%= asset_path 'featured-pcworld.jpg' %>" width="116" height="29" alt="" />
				<img src="<%= asset_path 'featured-crunch.jpg' %>" width="135" height="29" alt="" />
				<img src="<%= asset_path 'featured-seattle.jpg' %>" width="154" height="29" alt="" />
				<img style="margin:0" src="<%= asset_path 'featured-wallstreet.jpg' %>" width="298" height="29" alt="" />
			</div>
			
		</div>
	</div>
