<%
title 'SMS Autoresponders'
meta 'Learn about Tatango\'s advanced text message marketing features available to enterprise customers.'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">Tatango Tour</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content tour-new-shadow">
			
				<div class="wide-content-tour">
				
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
						<h2>Products</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_broadcasts_path %>" title="SMS Broadcasts">SMS Broadcasts</a></li>
								<li><a href="<%= url_for sms_contests_path %>" title="SMS Contests">SMS Contests</a></li>
								<li><a href="<%= url_for sms_polling_path %>" title="SMS Polls">SMS Polls</a></li>
								<li><a href="<%= url_for sms_autoresponders_path %>" title="SMS Autoresponders">SMS Autoresponders</a></li>
							</ul>
						</div>
						<h2 class="select ">Features</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for unlimited_text_messaging_path %>" title="Unlimited Text Messaging">Unlimited Text Messaging</a></li>
								<li><a href="<%= url_for unlimited_sms_keywords_path %>" title="Unlimited SMS Keywords">Unlimited SMS Keywords</a></li>
								<li><a href="<%= url_for sms_short_code_messaging_path %>" title="Short Code Messaging">Short Code Messaging</a></li>
								<li><a href="<%= url_for sms_campaign_management_path %>" title="Campaign Management">Campaign Management</a></li>
								<li><a href="<%= url_for subscriber_management_path %>" title="Subscriber Management">Subscriber Management</a></li>
								<li><a href="<%= url_for sms_campaign_reports_path %>" title="Campaign Analytics">Campaign Analytics</a></li>
								<li><a href="<%= url_for sms_delivery_reports_path %>" title="SMS Delivery Reports">SMS Delivery Reports</a></li>
								<li><a href="<%= url_for social_sharing_tools_path %>" title="Social Sharing">Social Sharing</a></li>
								<li><a href="<%= url_for customer_support_path %>" title="Amazing Customer Support">Amazing Customer Support</a></li>
								<li><a href="<%= url_for best_practice_compliant_path %>" title="Best Practices Compliant">Best Practices Compliant</a></li>
								<li class="active"><a href="<%= url_for advanced_features_path %>" title="Advanced Features">Advanced Features</a></li>
							</ul>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour-new right">
			
					<h1>Advanced Features</h1>
					<img src="<%= asset_path 'tour_advanced.jpg' %>" width="664" height="304" alt="Advanced Features" />
					<p class="border normal">
Looking for a more advanced set of SMS marketing features? When you sign up for TatangoPlus, you get access to 
<a href="<%= url_for features_path %>">exclusive SMS marketing features</a> including high volume bulk SMS, advanced segmenting of mobile subscriber lists, and access to the Tatango API. 
These advanced features allow larger enterprise clients to take their SMS campaigns to a whole new level. 
<br /><br />
Learn about the advanced features included in 
TatangoPlus and also the <a href="<%= url_for services_path %>">services that are offered</a> exclusively to TatangoPlus customers by contacting a TatangoPlus expert by phone at 
(888) 778-9414 or by filling out this <a href="/enterprise/contact-us">contact form</a>.
					</p>
					
					<div class="borderbtm">
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<h2>Bulk SMS Messaging</h2>
								<p>
Tatango's SMS platform is built on top of rock-solid infrastructure that has powered over 100 million text messages on behalf of clients since 2007. 
Tatango maintains a direct tier 1 aggregator connection, allowing us to service clients with millions of mobile subscribers at a blazing 1,000 messages per second speed. 
								</p>
								<p>
<a href="/enterprise/bulk-sms" class="link-arrow">Learn more about bulk SMS messaging with Tatango</a>
								</p>
							</div>
							<div class="tour-right-left-right">
								<img src="<%= asset_path 'tour_advanced_bulk.jpg' %>" width="322" height="214" alt="Bulk SMS Messaging" />
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<img src="<%= asset_path 'tour_advanced_segmenting.jpg' %>" width="322" height="214" alt="Advanced Subscriber Segmenting" />
							</div>
							<div class="tour-right-left-right">
								<h2>Advanced Subscriber Segmenting</h2>
								<p>
Segment your mobile subscribers by demographic information, location, custom fields or even certain consumer behaviors that you're able to collect, store and manage with Tatango. 
By targeting SMS promotions to specific segments of your mobile subscribers, you'll achieve significant increases in redemptions, interactions and engagement. 
								</p>
								<p>
<a href="/enterprise/advanced-segmenting" class="link-arrow">Learn more about the advanced subscriber segmenting</a>
								</p>
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<h2>Tatango API</h2>
								<p>
Looking for an SMS API that will allow you to integrate current systems with the Tatango SMS marketing platform? With the Tatango API, you're able to do this, 
while still experiencing the same level of quality and reliability you would expect from Tatango. 
								</p>
								<p>
<a href="/enterprise/tatango-api" class="link-arrow">Learn more about the Tatango API</a>
								</p>
							</div>
							<div class="tour-right-left-right">
								<img src="<%= asset_path 'tour_advanced_api.jpg' %>" width="322" height="214" alt="Tatango API" />
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<img src="<%= asset_path 'tour_advanced_vanityshortcode.jpg' %>" width="322" height="214" alt="Vanity Short Code" />
							</div>
							<div class="tour-right-left-right">
								<h2>Vanity Short Code</h2>
								<p>
Want to launch your SMS campaign with a vanity short code? As a TatangoPlus customer, you get exclusive access to the vanity short code number 33733. 
This vanity short code has been provisioned by all carriers, is easier on the mobile user and makes your campaign look much more sophisticated. 
								</p>
								<p>
<a href="/enterprise/vanity-short-code" class="link-arrow">Learn more about the Tatango vanity short code</a>
								</p>
							</div>
						</div>
					</div>
					
					<h2>There's More</h2>
					<p>
As a TatangoPlus client, you enjoy <a href="/enterprise/services">additional services</a> that are exclusively available, such as the following;
					</p>
					<div class="enterprise_twocols">
						<ul class="semibold">
							<li><a href="/enterprise/dedicated-short-codes">Dedicated SMS short code provisioning</a></li>
							<li><a href="/enterprise/sms-marketing-consulting">Dedicated Strategic Advisor</a></li>
							<li><a href="/enterprise/design-services">Design services</a></li>
						</ul>
					</div>

					
					<div class="enterprise_contact" style="margin-top:30px">
						<div class="left_txt">
							<p class="large">Contact Our Team</p>
							<p class="phnr">Call: <span>1 (888) 778-9414</span></p>
							<p class="bluelink"><a href="javascript:;" onclick="SnapABug.startLink();" title="Contact us">Start a Live Chat</a></p>
						</div>
						<p class="contact-us"><a href="<%= url_for contact_us_path %>" title="Contact us">Contact Us</a></p>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>

