<%
title 'SMS Subscriber Segmentation'
meta 'Segmenting mobile subscriber lists helps you reach the perfect consumer every time with Tatango.'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">Enterprise Solutions</span>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content tour-new-shadow">
			
				<div class="wide-content-tour-new">
					
					<div class="tour-left-menu">
						<div class="tour-left-block">
							<p><a href="<%= url_for services_path %>" title="Enterprise Services">Enterprise Services</a></p>
							<ul class="tour-left-menu" style="display:none">
								<li><a href="<%= url_for sms_marketing_consulting_path %>" title="Advisory Services">Advisory Services</a></li>
								<li><a href="<%= url_for dedicated_short_codes_path %>" title="Dedicated Short Codes">Dedicated Short Codes</a></li>
								<li><a href="<%= url_for agency_sms_marketing_path %>" title="Agency Program">Agency Program</a></li>
								<li><a href="<%= url_for bulk_sms_gateway_path %>" title="Bulk SMS Gateway">Bulk SMS Gateway</a></li>
								<li><a href="<%= url_for design_services_path %>" title="Design Services">Design Services</a></li>
							</ul>
						</div>
						<div class="tour-left-block">
							<p class="active"><a href="<%= url_for features_path %>" title="Enterprise Features">Enterprise Features</a></p>
							<ul class="tour-left-menu">
								<li><a href="<%= url_for bulk_sms_path %>" title="Bulk SMS Messaging">Bulk SMS Messaging</a></li>
								<li class="active"><a href="<%= url_for advanced_segmenting_path %>" title="Advanced Segmenting">Advanced Segmenting</a></li>
								<li><a href="<%= url_for tatango_api_path %>" title="Tatango API">Tatango API</a></li>
								<li><a href="<%= url_for vanity_short_code_path %>" title="Vanity Short Codes">Vanity Short Codes</a></li>
							</ul>
						</div>
						<div class="tour-left-block">
							<p><a href="<%= url_for contact_us_path %>" title="Contact Us">Contact Us</a></p>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour-new right">
			
					<h1>Advanced SMS Subscriber Segmenting</h1>
					<img src="<%= asset_path 'enterprise-advanced_segmenting.jpg' %>" width="664" height="304" alt="Advanced SMS Subscriber Segmenting" />
					<p>
If you're looking to maximize the results of your SMS marketing campaign, there's no more effective method than to segment your mobile subscribers based on demographics, location, behavior or a custom variable defined by your business. Once mobile subscribers are segmented you're able to send highly targeted SMS promotions to exactly the right consumer, guaranteeing higher response rates. Learn more below about the different methods of segmenting your mobile subscriber list.
					</p>
					<h2>By Demographics</h2>
					<p>
Create advanced segments for your mobile subscribers on how they describe themselves. This could include age, gender, relationship status, income, purchasing habits or any other demographic information that would help you better target SMS promotions to your consumers. Create as many demographic segments with Tatango as you like, mix and match, the sky is the limit.
					</p>
					<h2>By Location</h2>
					<p>
Running a national SMS campaign, but want to localize each SMS promotion? By using Tatango advanced segments, you're able to collect location data about your SMS subscribers and target SMS promotions to designated areas or locations. Whether that means a specific zip code or an entire time zone, Tatango has you covered. 
					</p>
					<h2>By Behavior</h2>
					<p>
Take your SMS campaign to a whole new level by targeting specific SMS promotions to only your most active subscribers. Segment your SMS subscribers by opt-in date, the amount of times they've clicked on hyperlinks within messages or even by the types of interactions they've had with your campaign. The possibilities are endless when it comes to segmenting your subscribers by behavior.
					</p>
					<h2>By Custom Fields</h2>
					<p>
With custom fields, Tatango gives you the ability to segment your mobile subscriber list based on nearly anything you can dream up. Think about how cool it would be to create a custom field that captured a mobile subscribers birth date, allowing you to send a happy birthday text message to each of your mobile subscribers on their birthdays. Pretty cool huh?
					</p>
					<h2>There’s More</h2>
					<p>
As a Tatango enterprise client, you will enjoy additional features exclusive to only our TatangoPlus clients.
					</p>
					<div class="enterprise_twocols">
						<ul class="semibold">
							<li><a href="<%= url_for dedicated_short_codes_path %>" title="Dedicated Short Codes">Dedicated SMS short code provisioning</a></li>
							<li>Multi-user accounts</li>
							<li>Enhanced analytics and reporting</li>
							<li>Custom message routing capabilities</li>
						</ul>
						<ul class="semibold">
							<li>Priority access to our technical support team</li>
							<li><a href="<%= url_for sms_marketing_consulting_path %>" title="Advisory Services">Dedicated Strategic Advisor</a></li>
							<li><a href="<%= url_for bulk_sms_path %>" title="Bulk SMS Messaging">Bulk SMS messaging</a></li>
							<li><a href="<%= url_for vanity_short_code_path %>" title="Vanity Short Codes">Vanity short code access</a></li>
							<li><a href="<%= url_for design_services_path %>" title="Design Services">Design services</a></li>
						</ul>
					</div>
					<p>
						To learn more about TatangoPlus and our High Volume Bulk SMS Program, call our experts at (888) 778-9414 or use our <a href="<%= url_for contact_us_path %>" title="Contact us">contact form</a>.
					</p>
					<div class="enterprise_contact">
						<div class="left_txt">
							<p class="large">Contact Our Team</p>
							<p class="phnr">Call: <span>1 (888) 778-9414</span></p>
							<p class="bluelink"><a href="javascript:;" onclick="SnapABug.startLink();" title="Contact us">Start a Live Chat</a></p>
						</div>
						<p class="contact-us"><a href="<%= url_for contact_us_path %>" title="Contact us">Contact Us</a></p>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
