<%
title 'Agency SMS Marketing'
meta 'The Tatango Agency Program is ideal for advertising, marketing, or creative agencies looking for an enterprise-level SMS marketing platform.'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">Enterprise Solutions</span>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content tour-new-shadow">
			
				<div class="wide-content-tour-new">
					
					<div class="tour-left-menu">
						<div class="tour-left-block">
							<p class="active"><a href="<%= url_for services_path %>" title="Enterprise Services">Enterprise Services</a></p>
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_consulting_path %>" title="Advisory Services">Advisory Services</a></li>
								<li><a href="<%= url_for dedicated_short_codes_path %>" title="Dedicated Short Codes">Dedicated Short Codes</a></li>
								<li class="active"><a href="<%= url_for agency_sms_marketing_path %>" title="Agency Program">Agency Program</a></li>
								<li><a href="<%= url_for bulk_sms_gateway_path %>" title="Bulk SMS Gateway">Bulk SMS Gateway</a></li>
								<li><a href="<%= url_for design_services_path %>" title="Design Services">Design Services</a></li>
							</ul>
						</div>
						<div class="tour-left-block">
							<p><a href="<%= url_for features_path %>" title="Enterprise Features">Enterprise Features</a></p>
							<ul class="tour-left-menu" style="display:none">
								<li><a href="<%= url_for bulk_sms_path %>" title="Bulk SMS Messaging">Bulk SMS Messaging</a></li>
								<li><a href="<%= url_for advanced_segmenting_path %>" title="Advanced Segmenting">Advanced Segmenting</a></li>
								<li><a href="<%= url_for tatango_api_path %>" title="Tatango API">Tatango API</a></li>
								<li><a href="<%= url_for vanity_short_code_path %>" title="Vanity Short Codes">Vanity Short Codes</a></li>
							</ul>
						</div>
						<div class="tour-left-block">
							<p><a href="<%= url_for contact_us_path %>" title="Contact Us">Contact Us</a></p>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour-new right">
			
					<h1>SMS Marketing Agency Program</h1>
					<img src="<%= asset_path 'enterprise-agency_sms_marketing.jpg' %>" width="664" height="304" alt="SMS Marketing Agency Program" />
					<p>
Are you a marketing agency that is looking for a platform to launch and manage SMS Marketing campaigns for your clients? By joining the Tatango Agency Program, not only will you receive agency discounts on all Tatango SMS marketing services, you will also get your own dedicated strategic advisor. These strategic advisors will be your direct and dedicated point of contact during your SMS campaign and will be able to assist your agency with proposals, strategy, implementation, and will work with you on a continual basis to increase campaign performance.
					</p>
					<p>
To become a member of the Tatango Agency Program, <a href="<%= url_for contact_us_path %>" title="Contact us">contact Tatango</a>.
					</p>
					
					<h2 class="bigger">Agency Program FAQ</h2>
					<p>
Still have questions about the Tatango SMS Marketing Agency Program? Below are some of the most frequently asked questions we get here at Tatango from marketing agencies regarding the program. If you have a question about the Tatango Agency Program that isn't answered here, 
<a href="<%= url_for contact_us_path %>" title="Contact us">contact us</a>.
					</p>
					
					<h2>Does it cost anything to join the Tatango Agency Program?</h2>
					<p>
Yes, there is a small monthly fee to be part of the Tatango Agency Program.
					</p>
					
					<h2>Do agencies receive a discount on the services after joining the program?</h2>
					<p>
Yes, your agency receives a discount on text messaging costs that aren't available to regular customers. This allows you to make some extra cash on the side.
					</p>
					
					<h2>What resources does my agency receive after joining the program?</h2>
					<p>
As a Tatango Agency Partner, you enjoy additional features exclusive to only to our TatangoPlus clients, which include the following;
					</p>
					
					<div class="enterprise_twocols">
						<ul class="semibold">
							<li>Multi-user accounts</li>
							<li><a href="<%= url_for advanced_segmenting_path %>" title="Advanced Segmenting">Enhanced list-segmentation tools</a></li>
							<li><a href="<%= url_for tatango_api_path %>" title="Tatango API">Tatango API access</a></li>
							<li>Enhanced analytics and reporting</li>
						</ul>
						<ul class="semibold">
							<li>Custom message routing capabilities</li>
							<li>Priority access to our technical support team</li>
							<li><a href="<%= url_for bulk_sms_path %>" title="Bulk SMS Messaging">High volume SMS sending capabilities</a></li>
							<li><a href="<%= url_for sms_marketing_consulting_path %>" title="Advisory Services">Access to Tatango strategic advisor</a></li>
						</ul>
					</div>
					
					<h2>What is a Tatango strategic advisor?</h2>
					<p>
This is your direct and dedicated point of contact at Tatango during your SMS campaign. Your strategic advisor will be responsible for assisting your agency in creating individual SMS marketing strategies for each of your clients. These individual strategies will focus on producing measurable results that increase customer interactions, sales, and build loyalty for your clients. Strategic advisors will also assist your agency in analyzing and optimizing each campaigns performance and the performance of each individual text message, using advanced reporting tools only available to TatangoPlus accounts. 
<a href="<%= url_for sms_marketing_consulting_path %>">Learn more about Tatango strategic advisors</a>.
					</p>
					
					<h2>Is this a white-labeled version of Tatango?</h2>
					<p>
No, sorry. If you're interested in a white-labeled version of Tatango for your marketing agency, please <a href="<%= url_for contact_us_path %>" title="Contact us">contact us</a>.
					</p>
					
					<h2>Why should we join the Tatango Agency Program?</h2>
					<p class="semibold">
There are five reasons why marketing agencies should join the Tatango Agency Program. 
					</p>
					<ul class="numbers">
						<li>
							<span class="red">1.</span> Tatango offers agencies an SMS platform built on top of rock-solid infrastructure by people who send millions of bulk SMS messages per day. This means whatever SMS marketing challenges your clients have, our SMS platform can handle it.
						</li>
						<li>
							<span class="red">2.</span> Agencies receive discounted pricing on text messaging, allowing your agency to make a little extra cheddar on the side.
						</li>
						<li>
							<span class="red">3.</span> Agencies get access to our Strategic Advisors, who act as your dedicated contact here at Tatango, and can assist your agency with proposals, strategy, implementation, and will work with you on a continual basis to increase client campaign performance.
						</li>
						<li>
							<span class="red">4.</span> Since Tatango acts as a silent partner in the Agency Program, all the credit goes to your team.
						</li>
					</ul>
					<p>
To learn more about TatangoPlus and our Agency Program, call our experts at (888) 778-9414 or use our <a href="<%= url_for contact_us_path %>" title="Contact us">contact form</a>.
					</p>


					<div class="enterprise_contact" style="margin-top:30px;">
						<div class="left_txt">
							<p class="large">Contact Our Team</p>
							<p class="phnr">Call: <span>1 (888) 778-9414</span></p>
							<p class="bluelink"><a href="javascript:;" onclick="SnapABug.startLink();" title="Contact us">Start a Live Chat</a></p>
						</div>
						<p class="contact-us"><a href="<%= url_for contact_us_path %>" title="Contact us">Contact Us</a></p>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
