<%
title 'Best Practices Compliant'
meta 'Tatango\'s SMS marketing platform is fully compliant with CTIA, TCPA, MMA and wireless carrier best practices.'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">Tatango Tour</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content tour-new-shadow">
			
				<div class="wide-content-tour">
				
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
						<h2>Products</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_broadcasts_path %>" title="SMS Broadcasts">SMS Broadcasts</a></li>
								<li><a href="<%= url_for sms_contests_path %>" title="SMS Contests">SMS Contests</a></li>
								<li><a href="<%= url_for sms_polling_path %>" title="SMS Polls">SMS Polls</a></li>
								<li><a href="<%= url_for sms_autoresponders_path %>" title="SMS Autoresponders">SMS Autoresponders</a></li>
							</ul>
						</div>
						<h2 class="select ">Features</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for unlimited_text_messaging_path %>" title="Unlimited Text Messaging">Unlimited Text Messaging</a></li>
								<li><a href="<%= url_for unlimited_sms_keywords_path %>" title="Unlimited SMS Keywords">Unlimited SMS Keywords</a></li>
								<li><a href="<%= url_for sms_short_code_messaging_path %>" title="Short Code Messaging">Short Code Messaging</a></li>
								<li><a href="<%= url_for sms_campaign_management_path %>" title="Campaign Management">Campaign Management</a></li>
								<li><a href="<%= url_for subscriber_management_path %>" title="Subscriber Management">Subscriber Management</a></li>
								<li><a href="<%= url_for sms_campaign_reports_path %>" title="Campaign Analytics">Campaign Analytics</a></li>
								<li><a href="<%= url_for sms_delivery_reports_path %>" title="SMS Delivery Reports">SMS Delivery Reports</a></li>
								<li><a href="<%= url_for social_sharing_tools_path %>" title="Social Sharing">Social Sharing</a></li>
								<li><a href="<%= url_for customer_support_path %>" title="Amazing Customer Support">Amazing Customer Support</a></li>
								<li class="active"><a href="<%= url_for best_practice_compliant_path %>" title="Best Practices Compliant">Best Practices Compliant</a></li>
								<li><a href="<%= url_for advanced_features_path %>" title="Advanced Features">Advanced Features</a></li>
							</ul>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour-new right">
			
					<h1>SMS Marketing Best Practices Compliant</h1>
					<img src="<%= asset_path 'tour_best_practices.jpg' %>" width="664" height="304" alt="SMS Marketing Best Practices Compliant" />
					<p class="border normal">
The rules, regulations and <a href="/resources/videos-sms-marketing-best-practices">best practices</a> when it comes to SMS marketing can be a challenge to understand, especially as they're constantly changing. 
Luckily for you, the Tatango SMS marketing platform takes all the guess work out of compliance, letting you focus on creating an awesome SMS campaign for your business.
					</p>
					
					<div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<h2>TCPA Compliance</h2>
								<p>
The Telephone Consumer Protection Act of 1991 was passed by the United States Congress to protect consumers from telephone solicitations, including SMS text messages. 
Don't worry though, Tatango has you covered when complying with the Telephone Consumer Protection Act.
								</p>
							</div>
							<div class="tour-right-left-right">
								<img src="<%= asset_path 'tour_best_practices_tcpa.jpg' %>" width="322" height="214" alt="TCPA Compliance" />
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<img src="<%= asset_path 'tour_best_practices_ctia.jpg' %>" width="322" height="214" alt="CTIA Compliance" />
							</div>
							<div class="tour-right-left-right">
								<h2>CTIA Compliance</h2>
								<p>
CTIA - The Wireless Association is in charge of monitoring and enforcing short code usage through the CTIA Compliance Monitoring and Enforcement Playbook. 
Don't worry though, Tatango has your back when it comes to CTIA compliance.
								</p>
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<h2>Wireless Carrier Compliance</h2>
								<p>
The biggest threat to any SMS campaign is a wireless carrier shutting down the campaign because of a violation of their terms of service. 
Tatango works hand-in-hand with major wireless carriers to make sure our SMS marketing platform is in full compliance with their terms of service.
								</p>
							</div>
							<div class="tour-right-left-right">
								<img src="<%= asset_path 'tour_best_practices_carriers.jpg' %>" width="322" height="214" alt="Wireless Carrier Compliance" />
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<img src="<%= asset_path 'tour_best_practices_mma.jpg' %>" width="322" height="214" alt="MMA Compliance" />
							</div>
							<div class="tour-right-left-right">
								<h2>MMA Compliance</h2>
								<p>
Even though the Mobile Marketing Association (MMA) focuses only on best practices for the mobile marketing industry, Tatango still complies with each and every best practice like it was law.
								</p>
							</div>
						</div>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
