<%
title 'Bulk SMS Gateway'
meta 'Need to send bulk SMS? Let us manage your SMS Campaign and ensure maximum deliverability. Contact our SMS marketing experts today.'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">Enterprise Solutions</span>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content tour-new-shadow">
			
				<div class="wide-content-tour-new">
					
					<div class="tour-left-menu">
						<div class="tour-left-block">
							<p class="active"><a href="<%= url_for services_path %>" title="Enterprise Services">Enterprise Services</a></p>
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_consulting_path %>" title="Advisory Services">Advisory Services</a></li>
								<li><a href="<%= url_for dedicated_short_codes_path %>" title="Dedicated Short Codes">Dedicated Short Codes</a></li>
								<li><a href="<%= url_for agency_sms_marketing_path %>" title="Agency Program">Agency Program</a></li>
								<li class="active"><a href="<%= url_for bulk_sms_gateway_path %>" title="Bulk SMS Gateway">Bulk SMS Gateway</a></li>
								<li><a href="<%= url_for design_services_path %>" title="Design Services">Design Services</a></li>
							</ul>
						</div>
						<div class="tour-left-block">
							<p><a href="<%= url_for features_path %>" title="Enterprise Features">Enterprise Features</a></p>
							<ul class="tour-left-menu" style="display:none">
								<li><a href="<%= url_for bulk_sms_path %>" title="Bulk SMS Messaging">Bulk SMS Messaging</a></li>
								<li><a href="<%= url_for advanced_segmenting_path %>" title="Advanced Segmenting">Advanced Segmenting</a></li>
								<li><a href="<%= url_for tatango_api_path %>" title="Tatango API">Tatango API</a></li>
								<li><a href="<%= url_for vanity_short_code_path %>" title="Vanity Short Codes">Vanity Short Codes</a></li>
							</ul>
						</div>
						<div class="tour-left-block">
							<p><a href="<%= url_for contact_us_path %>" title="Contact Us">Contact Us</a></p>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour-new right">
			
					<h1>Bulk SMS Gateway</h1>
					<img src="<%= asset_path 'enterprise-bulk_sms_gateway.jpg' %>" width="664" height="304" alt="Bulk SMS Gateway" />
					<p>
If you're looking for an bulk SMS gateway with proven delivery infrastructure, high message through-put and a direct connection to a tier 1 aggregator, Tatango is your answer. Leverage the power of Tatango's bulk SMS gateway to send and receive text message notifications within your own application. Not only does Tatango offer a robust, easy to use and reliable gateway for SMS bulk messaging, we also provide industry leading expertise to help you through every step of the integration.
					</p>
					<p>
The Tatango bulk SMS gateway is implemented as a web service using XML-formatted data transported via HTTP. You will send the request to the Tatango host address configured for your API account. Tatango will then respond with an XML response.
					</p>
					
					<h2>Supported Bulk SMS API Operations</h2>
					<p>
<span class="semibold">Transmit MT Message -</span> The client application uses the submit operation to send a message (mobile-terminated outbound SMS) for delivery to a mobile device via the OpenMarket SMS gateway.
					</p>
					<p>
<span class="semibold">Retrieve Delivery Status -</span> The client application uses the query operation to request the delivery status of a previously submitted message.
					</p>
					<p>
<span class="semibold">Retrieve Phone Number Information -</span> The client application uses the preview operation to request information from Tatango about a mobile phone number (also known as number number lookup). The results from the preview request include the mobile operator, the mobile phone number, geographic location, and other demographic information when available.
					</p>
					<p>
<span class="semibold">Transmit MO Message -</span> Tatango uses this operation to transmit a message originating from a mobile device (mobile-originated inbound SMS) to your application.
					</p>
					<p>
<span class="semibold">Message Per Second -</span> Not every bulk SMS provider is created equally, especially when it comes to the messages per second (MPS) that each provider is able to offer to their high volume senders. Tatango offers SMS bulk messaging speeds of up to 1,000 messages per second, making even the largest sending needs no sweat for our SMS platform.
					</p>
					
					<h2>Redundancy Comes Standard</h2>
					<p>
<span class="semibold">Data Center Redundancy -</span> To ensure that all of our services are highly available, Tatango maintains redundant data centers in two different geographic locations. Each data center provides multiple hosts for HTTP connections, and Tatango services support 100% of the traffic load out of either data center.
					</p>
					<p>
Tatango data centers are also interconnected with both a VPN and private line connection. This interconnection allows us to route SMS bulk messageing to available hosts in either data center in the case of failures. You are encouraged to take advantage of our redundant services by establishing parallel connections to multiple hosts at each data center.
					</p>
					<p>
<span class="semibold">Mobile Operator Network Redundancy -</span> Tatango has established redundant connections to all of our mobile operator partners. If a geo-redundant connection is available for an operator, SMS messages continue to be sent to and received from that operator regardless of which data center is servicing your requests.
					</p>
					
					<h2>Supporters Bulk SMS Carriers</h2>
					<p>
Alltel, AT&T, Bluegrass Cellular, Boost Mobile, Cellcom Cellular, Cricket Wireless, South Centennial Cincinnati, Bell Dobson, Cellular Systems, East Kentucky Network ECIT, Nextel Communications, NTELOSRural Cellular Corp., Sprint PCS Wireless, T-Mobile, US Cellular, Verizon Wireless, Virgin Mobile USA, West Central Wireless, Alaska Communications Systems (ACS), Bluegrass, Centennial, Cellular One of East, Central Illinois (ECIT), Cellular One of NE PA, Cox Wireless, East Kentucky Network, Element Mobile, GCI Communications, Golden State, Inland Cellular, Illinois Valley Cellular, IMMIX, IWireless, MetroPCS, Nex-Tech, Plateau, Thumb, United, Viaero, West Central, Cross, Epic Touch, Chat Mobility - NW Missouri, Mosaic, Panhandle, Pioneer, Revol, Syringa, Simmetry, Union
					</p>

					<h2>Need to Get a SMS Short Code?</h2>
					<p>
Tatango has been working with brands since 2007 to provision text messaging short codes for use with our bulk SMS program. When it comes to getting a short code in the shortest amount of time possible, with the least amount of 
work and headaches, Tatango is the solution. Call us at (888) 778-9414 or <a href="<%= url_for contact_us_path %>" title="Contact us">contact us</a> to get your own SMS short code today.  
<a href="<%= url_for dedicated_short_codes_path %>" title="Learn more">Learn more</a>.
					</p>
					
					<p>
To learn more about TatangoPlus and our Bulk SMS Gateway Program, call our experts at (888) 778-9414 or use our <a href="<%= url_for contact_us_path %>" title="Contact form">contact form</a>.
					</p>

					
					<div class="enterprise_contact" style="margin-top:30px">
						<div class="left_txt">
							<p class="large">Contact Our Team</p>
							<p class="phnr">Call: <span>1 (888) 778-9414</span></p>
							<p class="bluelink"><a href="javascript:;" onclick="SnapABug.startLink();" title="Contact us">Start a Live Chat</a></p>
						</div>
						<p class="contact-us"><a href="<%= url_for contact_us_path %>" title="Contact us">Contact Us</a></p>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
