<%
title 'Bulk SMS Messaging'
meta 'Tatango offers clients the ability to send text messages at volume, perfect for bulk text messaging.'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">Enterprise Solutions</span>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content tour-new-shadow">
			
				<div class="wide-content-tour-new">
					
					<div class="tour-left-menu">
						<div class="tour-left-block">
							<p><a href="<%= url_for services_path %>" title="Enterprise Services">Enterprise Services</a></p>
							<ul class="tour-left-menu" style="display:none">
								<li><a href="<%= url_for sms_marketing_consulting_path %>" title="Advisory Services">Advisory Services</a></li>
								<li><a href="<%= url_for dedicated_short_codes_path %>" title="Dedicated Short Codes">Dedicated Short Codes</a></li>
								<li><a href="<%= url_for agency_sms_marketing_path %>" title="Agency Program">Agency Program</a></li>
								<li><a href="<%= url_for bulk_sms_gateway_path %>" title="Bulk SMS Gateway">Bulk SMS Gateway</a></li>
								<li><a href="<%= url_for design_services_path %>" title="Design Services">Design Services</a></li>
							</ul>
						</div>
						<div class="tour-left-block">
							<p class="active"><a href="<%= url_for features_path %>" title="Enterprise Features">Enterprise Features</a></p>
							<ul class="tour-left-menu">
								<li class="active"><a href="<%= url_for bulk_sms_path %>" title="Bulk SMS Messaging">Bulk SMS Messaging</a></li>
								<li><a href="<%= url_for advanced_segmenting_path %>" title="Advanced Segmenting">Advanced Segmenting</a></li>
								<li><a href="<%= url_for tatango_api_path %>" title="Tatango API">Tatango API</a></li>
								<li><a href="<%= url_for vanity_short_code_path %>" title="Vanity Short Codes">Vanity Short Codes</a></li>
							</ul>
						</div>
						<div class="tour-left-block">
							<p><a href="<%= url_for contact_us_path %>" title="Contact Us">Contact Us</a></p>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour-new right">
			
					<h1>Bulk SMS Messaging</h1>
					<img src="<%= asset_path 'enterprise-bulk_sms.jpg' %>" width="664" height="304" alt="Bulk SMS Messaging" />
					<p>
Looking to send bulk text messages to more than 5,000 subscribers? Tatango's proven delivery infrastructure, high messaging through-put and strong wireless carrier relationships make certain that your text messages reach your customers' mobile phones.
					</p>
					<p>
Did you know that since 2007 Tatango has sent over 100 million bulk SMS messages? These volumes allow Tatango to not only offer flexible pricing but the knowledge and expertise needed to handle any size messaging needs.
					</p>
					<h2>Large Database Management</h2>
					<p>
Being able to send bulk SMS messages fast is important, but so is handling a large database of mobile phone numbers and the data associated with those mobile phone numbers. Tatango's SMS platform is built on top of rock-solid infrastructure by people who send millions of bulk SMS messages per day. So handling mobile phone lists of greater than 1 million in size is no sweat thanks to Tatango.
					</p>
					<h2>Direct Tier 1 Connection</h2>
					<p>
Tatango offers a direct connection to one of the nations largest tier 1 SMS aggregators for our TatangoPlus customers. This means there are no un-needed middlemen between you and the wireless carriers when sending your messages.
					</p>
					<h2>Message Per Second</h2>
					<p>
Not every bulk SMS provider is created equally, especially when it comes to the messages per second (MPS) that each provider is able to offer to their high volume senders. Tatango offers SMS bulk messaging speeds of up to 1,000 messages per second, making even the largest sending needs no sweat for our SMS platform.
					</p>
					<h2>Why Moving to Tatango is Easy?</h2>
					<p>
Not happy with your current bulk SMS provider and want to move to Tatango? Tatango makes the move easy with dedicated account managers to address any questions or concerns you may have at any point during the transfer. This is in addition to working one-on-one with you and your team to train you on the Tatango platform.
					</p>
					<h2>Supporters Wireless Carriers</h2>
					<p>
Alltel, AT&T, Bluegrass Cellular, Boost Mobile, Cellcom Cellular, Cricket Wireless, South Centennial Cincinnati, Bell Dobson, Cellular Systems, East Kentucky Network ECIT, Nextel Communications, NTELOSRural Cellular Corp., Sprint PCS Wireless, T-Mobile, US Cellular, Verizon Wireless, Virgin Mobile USA, West Central Wireless, Alaska Communications Systems (ACS), Bluegrass, Centennial, Cellular One of East, Central Illinois (ECIT), Cellular One of NE PA, Cox Wireless, East Kentucky Network, Element Mobile, GCI Communications, Golden State, Inland Cellular, Illinois Valley Cellular, IMMIX, IWireless, MetroPCS, Nex-Tech, Plateau, Thumb, United, Viaero, West Central, Cross, Epic Touch, Chat Mobility - NW Missouri, Mosaic, Panhandle, Pioneer, Revol, Syringa, Simmetry, Union
					</p>
					<h2>Need to Buy a Short Code?</h2>
					<p>
Since 2007 Tatango has worked with numerous brands to buy short codes for use with our bulk SMS software. Call us at (888) 778-9414 or <a href="/enterprise/contact-us">contact us</a> to purchase your very own short code today. <a href="/enterprise/dedicated-short-codes">Learn more</a>.
					</p>
					<h2>There’s More</h2>
					<p>
As a high volume bulk SMS client, you will enjoy additional features exclusive to only our TatangoPlus clients.
					</p>
					<div class="enterprise_twocols">
						<ul class="semibold">
							<li><a href="<%= url_for dedicated_short_codes_path %>" title="Dedicated Short Codes">Dedicated SMS short code provisioning</a></li>
							<li>Multi-user accounts</li>
							<li><a href="<%= url_for advanced_segmenting_path %>" title="Advanced Segmenting">Advanced SMS subscriber segmenting</a></li>
							<li>Enhanced analytics and reporting</li>
							<li>Custom message routing capabilities</li>
						</ul>
						<ul class="semibold">
							<li>Priority access to our technical support team</li>
							<li><a href="<%= url_for sms_marketing_consulting_path %>" title="Advisory Services">Dedicated Strategic Advisor</a></li>
							<li><a href="<%= url_for vanity_short_code_path %>" title="Vanity Short Codes">Vanity short code access</a></li>
							<li><a href="<%= url_for design_services_path %>" title="Design Services">Design services</a></li>
						</ul>
					</div>
					<p>
						To learn more about TatangoPlus and our High Volume Bulk SMS Program, call our experts at (888) 778-9414 or use our <a href="<%= url_for contact_us_path %>" title="Contact us">contact form</a>.
					</p>
					<div class="enterprise_contact">
						<div class="left_txt">
							<p class="large">Contact Our Team</p>
							<p class="phnr">Call: <span>1 (888) 778-9414</span></p>
							<p class="bluelink"><a href="javascript:;" onclick="SnapABug.startLink();" title="Contact us">Start a Live Chat</a></p>
						</div>
						<p class="contact-us"><a href="<%= url_for contact_us_path %>" title="Contact us">Contact Us</a></p>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
