<%
title 'Ministry &amp; Church Group Testimonials'
meta 'Text messaging for churches and ministries - Create, send, and track your text messages with Tatango. Try Tatango for free!'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<p class="big">Some of Our Successful Customers</p>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
				
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
						<h2 class="select ">Customers by Industry</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for restaurant_text_messaging_path %>" title="Restaurants">Restaurants</a></li>
								<li><a href="<%= url_for retail_sms_path %>" title="Retail">Retail</a></li>
								<li><a href="<%= url_for salons_sms_path %>" title="Salons &amp; Spas">Salons &amp; Spas</a></li>
								<li class="active"><a href="<%= url_for church_sms_path %>" title="Ministry">Ministry</a></li>
								<li><a href="<%= url_for entertainment_sms_path %>" title="Entertainment">Entertainment</a></li>
								<li><a href="<%= url_for political_sms_path %>" title="Political">Political</a></li>
								<li><a href="<%= url_for conference_sms_path %>" title="Conferences">Conferences</a></li>
								<li><a href="<%= url_for group_text_messaging_path %>" title="Groups &amp; Organizations">Groups &amp; Organizations</a></li>
								<li><a href="<%= url_for marketing_agencies_sms_path %>" title="Agencies">Agencies</a></li>
								<li><a href="<%= url_for emergency_sms_alerts_path %>" title="Emergency SMS Alerts">Emergency SMS Alerts</a></li>
								<li><a href="<%= url_for proffesional_services_sms_path %>" title="Professional Services">Professional Services</a></li>
								<li><a href="<%= url_for real_estate_sms_path %>" title="Real Estate">Real Estate</a></li>
							</ul>
						</div>
						<h2>Customers by Product</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for customers_sms_broadcasts_path %>" title="SMS Broadcasts">SMS Broadcasts</a></li>
								<li><a href="<%= url_for customers_sms_contests_path %>" title="SMS Contests">SMS Contests</a></li>
								<li><a href="<%= url_for customers_sms_polling_path %>" title="SMS Polls">SMS Polls</a></li>
								<li><a href="<%= url_for customers_sms_autoresponders_path %>" title="SMS Autoresponders">SMS Autoresponders</a></li>
							</ul>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>

					<p class="signupfree"><%= link_to "Sign Up Free", signup_path %></p>
					<p class="call-grey">Call: (888) 517-6345</p>
					
				</div>
				
				<div class="wide-content-tour right clients">
			
					<h1>Ministry Text Message Alerts</h1>
					<p class="intro">
						One of the biggest challenges a ministry faces today is finding efficient and cost effective ways to connect with their congregation. Nowadays, your congregation is mobile, and what better way to reach them on their mobile phones than with a text message. When you combine the speed of text messaging, the high adoption across all demographics and ages, text messaging has quickly become the preferred method of communication for many ministries across the country. Whether you’re a youth or adult ministry, large or small, SMS alerts powered by Tatango can drive awareness for new members and increase engagement for current members.
					</p>
					
					<div class="client-new">
						<div class="img">
							<img src="<%= asset_path 'faith-lutheran-group-sms-color.jpg' %>" width="141" height="85" alt="" />
							<h2>- Youth Ministry SMS</h2>
						</div>
						<div class="txt">
							<h2>Faith Lutheran Youth Group</h2>
							<p class="location">Clive, IA</p>
							<p class="location">Products Used: <a href="<%= url_for sms_broadcasts_path %>">SMS Broadcast</a></p>
							<p>
								After noticing decreased involvement from students, the leaders of the Faith Lutheran YG knew that they needed something to revitalize the members of their youth ministry. After implementing group SMS for weekly meetings, daily scriptures and special events, the ministry has been able to increase attendance, involvement and lift spirituality with both new and current members. 
							</p>
							<p>
								Tatango has worked with both youth and adult ministries across the United States to help keep their members active and engaged via group SMS. Are you using group SMS to help increase awareness about your ministry? 
							</p>
						</div>
					</div>
					
					<div class="client-new">
						<div class="img">
							<img src="<%= asset_path 'youth-specialties-ministry.jpg' %>" width="141" height="85" alt="" />
							<h2>- Youth Ministry SMS</h2>
						</div>
						<div class="txt">
							<h2>Youth Specialties Ministry</h2>
							<p class="location">El Cajon, CA</p>
							<p class="location">Products Used: <a href="<%= url_for sms_broadcasts_path %>">SMS Broadcast</a></p>
							<p>
Youth Specialties has been blessed with a rapidly growing and diversifying ministry. Even the most overt blessings often come with problems. One such problem Youth Specialties needed to address was their inability to effectively communicate with their increasingly mobile equipped students. 
							</p>
							<p>
Making last minute changes caused headaches for the ministry leaders. Personal phone calls and texts were sent out in a flurry of chaos and confusion often leaving group members unaware of important schedule changes. Needless to say, potentially productive hours were wasted in a big way. 
							</p>
							<p>
“Tatango has simplified the whole deal,” says Adam. “If I'm coming back from a trip 30 minutes late, I can send a quick text message to the list and poof, everyone knows.”
							</p>
							<p>
Thanks to Tatango and their group text message software, Youth Specialties has gotten back to doing what they do best, which is providing a compelling environment for young believers to grow in their faith.  
							</p>
							<p>
Thousands of ministries already utilize Tatango’s group text messaging software, isn't it time you upgrade your ministry's communications with Tatango?
							</p>
						</div>
					</div>
					
					<div class="client-new">
						<div class="img">
							<img src="<%= asset_path 'fellowship-christian-athletes.jpg' %>" width="141" height="85" alt="" />
							<h2>- Youth Ministry Activities SMS</h2>
						</div>
						<div class="txt">
							<h2>Fellowship of Christian Athletes</h2>
							<p class="location">Richfield, MN</p>
							<p class="location">Products Used: <a href="<%= url_for sms_broadcasts_path %>">SMS Broadcast</a></p>
							<p>
Jake Vanada, Twin Cities Area Director for the Fellowship of Christian Athletes is always looking for new technologies to help his organization better communicate with their student athletes. That’s how he stumbled upon mass text messaging software Tatango.
							</p>
							<p>
When they approached Tatango, the organization had tried almost everything to reach students to let them know when our activities and meetings were taking place. They started with posters on the school walls, then upgraded to email, then social media, but none of these communication channels had the power to reach students anywhere, anytime in only a matter of seconds like text messaging provided.
							</p>
							<p>
"By far, it’s the most time savings. Using mass text messaging has freed up a lot of our volunteers’ time. Some of the staff were spending over an hour each day trying to contact their students by manually texting each student from their own mobile phone. This wasn’t very efficient, as you can imagine. In using Tatango, it only takes a few minutes a day to send a mass text message to all the students." - (Jake Vanada, Twin Cities Area Director - Fellowship of Christian Athletes)
							</p>
						</div>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
