<% 
title 'About Our Company'
meta 'Learn more about the team behind SMS marketing software provider Tatango.'
meta_key 'Tatango, sms marketing, text message marketing, sms marketing software, mass text messages, derek Johnson, rick Hennessey, kim alfreds, seattle'
body_class 'wide' 
%>

      <div class="wide-content-intro nopadding">
				<span class="big">About Tatango</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content company">
			
				<div class="wide-content-company">
					
					<div class="wide-big-title">Meet the Leadership Team</div>
					
					<div class="team">
						<div class="img">
							<img src="<%= asset_path 'portrait-johnson.jpg' %>" width="72" height="72" alt="" />
							<p class="small-tw-icon"><a href="https://twitter.com/#!/thederekjohnson" title="Derek at Twitter" target="_blank">Derek</a></p>
							<p class="small-fb-icon"><a href="http://www.facebook.com/Derekarjohnson" title="Derek at Facebook" target="_blank">Derek</a></p>
						</div>
						<div class="txt">
							<h2>Derek Johnson</h2>
							<p class="location">CEO/Board Member<br />Email: derek@tatango.com</p>
							<p class="moreLess">
								<span class="less">
									Derek Johnson is a serial entrepreneur, named by BusinessWeek as one of the top 25 under 25 entrepreneurs in the United States. 
									With his experience at Tatango, Derek has been invited to speak nationally about mobile, ...
								</span>
                <br />
                <a class="a-showMore">Show more</a>
								<br />
								<a class="a-showLess">Show less</a>
								<span style="display:none" class="more">
									entrepreneurship and marketing. Derek is an alumni of the University of Houston Wolff Center for Entrepreneurship. Be sure to check out the 
									<a href="http://www.tatango.com/blog" title="Tatango SMS Marketing Blog">Tatango SMS Marketing Blog</a> where Derek frequently posts.
								</span>
							</p>
						</div>
					</div>
					
					<div class="team">
						<div class="img">
							<img src="<%= asset_path 'portrait-alex.jpg' %>" width="72" height="72" alt="" />
							<p class="small-tw-icon"><a href="https://twitter.com/#!/Twittelstaedt" title="Alex at Twitter" target="_blank">Alex</a></p>
							<p class="small-fb-icon"><a href="http://www.facebook.com/alexmittelstaedt" title="Alex at Facebook" target="_blank">Alex</a></p>
						</div>
						<div class="txt">
							<h2>Alex Mittelstaedt</h2>
							<p class="location">Director of Customer Acquisition<br />Email: alex@tatango.com</p>
							<p class="moreLess">
								<span class="less">
									Alex has been with Tatango since 2008, and being that the company was started in 2007, he's pretty much considered a founding member of the company. 
									Alex started with Tatango straight out of college as a community ...
								</span>
                <br />
                <a class="a-showMore">Show more</a>
								<br />
								<a class="a-showLess">Show less</a>
								<span style="display:none" class="more">
									 manager and has risen to Director of Customer Acquisition, in charge of both customer support and account management for all of Tatango. Born and raised in the Emerald City, Alex is a diehard Seattle Mariners fan and loves to play golf when he's not assisting our fabulous Tatango customers with their SMS campaigns. Alex graduated with degrees in Finance and Political Science at Western Washington University.
								</span>
							</p>
						</div>
					</div>
					
					<div class="team">
						<div class="img">
							<img src="<%= asset_path 'portrait-ben.jpg' %>" width="72" height="72" alt="" />
							<p class="small-tw-icon"><a href="https://twitter.com/#!/bwaldher" title="Alex at Twitter" target="_blank">Alex</a></p>
							<p class="small-fb-icon"><a href="http://www.facebook.com/bwaldher" title="Alex at Facebook" target="_blank">Alex</a></p>
						</div>
						<div class="txt">
							<h2>Benjamin Waldher</h2>
							<p class="location">Chief Technology Officer<br />Email: ben@tatango.com</p>
							<p class="moreLess">
								<span class="less">
									Benjamin brings a wealth of technical experience to the table when it comes to software development. He has made an impressive career not 
									only working on great technology, but designing, developing, and deploying impressive ...
								</span>
                <br />
                <a class="a-showMore">Show more</a>
								<br />
								<a class="a-showLess">Show less</a>
								<span style="display:none" class="more">
									 systems that power all of the functionality that make Tatango possible. He manages not only software development, but design, user experience, 
									 security, and servers. Benjamin's experience spans the web, mobile, social, and scientific spaces. His technology powers everything from 
									 mobile phones to clusters of supercomputers. He began his career working for chemistry labs developing their software for advancing the 
									 pharmaceutical and physical chemistry fields, making him a published scientist. He moved on to develop highly scaled social networking 
									 platforms before joining Tatango. Benjamin holds a Bachelor of Science in Computer Science from Washington State University.
								</span>
							</p>
						</div>
					</div>
					
					<div class="team">
						<div class="img">
							<img src="<%= asset_path 'portrait-hennessey.jpg' %>" width="72" height="72" alt="" />
						</div>
						<div class="txt">
							<h2>Rick Hennessey</h2>
							<p class="location">Board Member</p>
							<p class="moreLess">
								<span class="less">
									Rick Hennessey is a pioneer in the mobile marketplace, founding and success- fully selling several wireless data businesses in North America. 
									Rick is the CEO of Cequint, acquired by TNS in 2010, which delivers innovative technology ...
								</span>
                <br />
                <a class="a-showMore">Show more</a>
								<br />
								<a class="a-showLess">Show less</a>
								<span style="display:none" class="more">
									that helps Wireless Carriers provide more value to their subscribers. 
									Prior to Cequint Rick was the CEO of Dwango Wireless, leading the coordination of partnerships with the leading premium lifestyle brands such as ESPN, 
									Rolling Stone, Beliefnet, Real Networks and Napster. Prior to Dwango, Rick founded Over-The- Air Wireless in 2001, a successful application developer 
									and content producer, the first in the US to successfully deliver ringtones on a CDMA network. 
								</span>
							</p>
						</div>
					</div>
					
					<div class="team last">
						<div class="img">
							<img src="<%= asset_path 'portrait-alfreds.jpg' %>" width="72" height="72" alt="" />
						</div>
						<div class="txt">
							<h2>Kim Alfreds</h2>
							<p class="location">Board Member</p>
							<p class="moreLess">
								<span class="less">
									Kim Alfreds was the Chairmen of Electronic Systems Protection, before being acquired by Gridiron Capital, LLC in 2008. 
									Electronic Systems Protection created power protection technology for the office technology and mailing ...
								</span>
                <br />
                <a class="a-showMore">Show more</a>
								<br />
								<a class="a-showLess">Show less</a>
								<span style="display:none" class="more">
									equipment for many of the world's premier electronic 
									equipment manufacturers and organizations. During this time, he focused his efforts on sales, marketing and product development. 
									Kim is also an active Angel investor, with over 30 deals in his portfolio ranging from software to real estate. 
								</span>
							</p>
						</div>
					</div>
					
					
					<div class="tatango-press">
					
						<div class="wide-big-title">Tatango in the Press</div>
						
						<div class="press-item">
							<div class="press-img">
								<img src="<%= asset_path 'logo-seattle-press.gif' %>" width="140" height="24" alt="Tatango featured in the Seattle Times" />
							</div>
							<div class="press-txt">
								<p class="qt">
									Johnson believes the product does something unique, and<br />
									hopes he is on the way to creating the Yahoo or Gmail of<br />
									text messaging.
									<span>"</span>
								</p>
							</div>
						</div>
						
						<div class="press-item">
							<div class="press-img">
								<img src="<%= asset_path 'logo-cnn-press.gif' %>" width="140" height="24" alt="Tatango featured on CNN" />
							</div>
							<div class="press-txt">
								<p class="qt">
									Whether you want to stay in touch with 5, 10, 15, 20, 500 or 5,000 people all at once, it's possible but it's not easy to do, unless you use a service called Tatango.
									<span>"</span>
								</p>
							</div>
						</div>
						
						<div class="press-item">
							<div class="press-img">
								<img src="<%= asset_path 'logo-pcworld-press.gif' %>" width="140" height="24" alt="Tatango customer testimonial from PCWorld Magazine" />
							</div>
							<div class="press-txt">
								<p class="qt">
									Toss your phone tree in the trash. Through this service, you can send mass text messages from your phone or PC to large groups for easy, instant communication.
									<span>"</span>
								</p>
							</div>
						</div>
						
						<div class="press-item">
							<div class="press-img">
								<img src="<%= asset_path 'logo-tech-press.gif' %>" width="140" height="24" alt="Tatango featured in TechCrunch" />
							</div>
							<div class="press-txt">
								<p class="qt">
									The service is dead simple to use, as it should be. I made the jump from accountless bum to en masse messaging mogul in all of about 2 minutes.
									<span>"</span>
								</p>
							</div>
						</div>
						
						<div class="press-item">
							<div class="press-img">
								<img src="<%= asset_path 'logo-mashable-press.gif' %>" width="140" height="24" alt="Tatango featured in Mashable" />
							</div>
							<div class="press-txt">
								<p class="qt">
									Perhaps the best thing going for Tatango is its completely intuitive feature set. Once you've registered, it doesn't take long to get your circle of contacts connected.
									<span>"</span>
								</p>
							</div>
						</div>
						
					</div>
					
					<div class="people-say">
					
						<div class="wide-big-title">What People Are Saying</div>

						<div class="saying">
							<div class="img">
								<img src="<%= asset_path 'tatango-customer-adam-mclane.jpg' %>" width="72" height="72" alt="Tatango text message marketing testimonial from Adam McLane" />
							</div>
							<div class="txt">
								<p>
									"If you need to send mass text messages, I only recommend Tatango."
									<br />
									<span class="author">Adam McLane, <br />(Youth Specialties)</span>
								</p>
							</div>
						</div>
						<div class="saying right">
							<div class="img">
								<img src="<%= asset_path 'tatango-customer-erik-juesigma.jpg' %>" width="72" height="72" alt="Tatango text message marketing testimonial from Erik JueSigma" />
							</div>
							<div class="txt">
								<p>
									"Tatango has saved us in many tight spots and made communication much easier."
									<br />
									<span class="author">Erik Jue, <br />(University of Houston)</span>
								</p>
							</div>
						</div>
						
					</div>
					
				</div>
				
				<div class="wide-content-company right">
				
					<div class="contact-company">
						<div class="wide-title">Contact information</div>
						<p>
							2211 Elliott Avenue Suite 200 <br />
							Seattle, Washington 98121
						</p>
						<p>
							<b>Phone:</b> (888) 517-3645<br />
							<b>Fax:</b> 206-274-6599
						</p>
						<p>
							<b>Office Hours</b><br />
							Monday - Friday 9AM - 6PM PST
						</p>
					</div>
					
					<div class="social-btns-right">
						<ul class="social">
							<li id="tw"><a href="http://twitter.com/tatango" title="Twitter - Follow Us" target="_blank"><span>Follow Us</span></a></li>
							<li id="fb"><a href="http://www.facebook.com/tatango" title="Facebook - Become a Fan" target="_blank"><span>Become a Fan</span></a></li>
							<li id="rss"><a href="http://www.tatango.com/blog" title="Read Blog" target="_blank"><span>Read Blog</span></a></li>
							<li id="mail"><%= link_to '<span>Send E-mail</span>'.html_safe, contact_path %></li>
						</ul>
					</div>
					
					<div class="timeline-box">			
						<div class="wide-title">Tatango timeline</div>
						<p class="semibold">Here are some of the milestones that make up<br /> the story of Tatango:</p>
						<div class="img">
							<img src="<%= asset_path 'timeline.png' %>" width="360" height="1175" alt="Timeline of Tatango" />
						</div>
					</div>
					<div class="timeline-btm">&nbsp;</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			

<% content_for :content_bottom do %>
	<!-- CONTENT BOTTOM BAR -->
	<div class="content btm">
		<div class="center">
			
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
		</div>
	</div>
	<!-- #END of content btm -->
<% end %>
