<%
title 'Conference Customer Testimonials &amp; Reviews'
meta 'Text messaging for conference attendees and staff - Create, send, and track your text messages with Tatango. Try Tatango for free!'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<p class="big">Some of Our Successful Customers</p>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
				
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
						<h2 class="select ">Customers by Industry</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for restaurant_text_messaging_path %>" title="Restaurants">Restaurants</a></li>
								<li><a href="<%= url_for retail_sms_path %>" title="Retail">Retail</a></li>
								<li><a href="<%= url_for salons_sms_path %>" title="Salons &amp; Spas">Salons &amp; Spas</a></li>
								<li><a href="<%= url_for church_sms_path %>" title="Ministry">Ministry</a></li>
								<li><a href="<%= url_for entertainment_sms_path %>" title="Entertainment">Entertainment</a></li>
								<li><a href="<%= url_for political_sms_path %>" title="Political">Political</a></li>
								<li class="active"><a href="<%= url_for conference_sms_path %>" title="Conferences">Conferences</a></li>
								<li><a href="<%= url_for group_text_messaging_path %>" title="Groups &amp; Organizations">Groups &amp; Organizations</a></li>
								<li><a href="<%= url_for marketing_agencies_sms_path %>" title="Agencies">Agencies</a></li>
								<li><a href="<%= url_for emergency_sms_alerts_path %>" title="Emergency SMS Alerts">Emergency SMS Alerts</a></li>
								<li><a href="<%= url_for proffesional_services_sms_path %>" title="Professional Services">Professional Services</a></li>
								<li><a href="<%= url_for real_estate_sms_path %>" title="Real Estate">Real Estate</a></li>
							</ul>
						</div>
						<h2>Customers by Product</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for customers_sms_broadcasts_path %>" title="SMS Broadcasts">SMS Broadcasts</a></li>
								<li><a href="<%= url_for customers_sms_contests_path %>" title="SMS Contests">SMS Contests</a></li>
								<li><a href="<%= url_for customers_sms_polling_path %>" title="SMS Polls">SMS Polls</a></li>
								<li><a href="<%= url_for customers_sms_autoresponders_path %>" title="SMS Autoresponders">SMS Autoresponders</a></li>
							</ul>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>

					<p class="signupfree"><%= link_to "Sign Up Free", signup_path %></p>
					<p class="call-grey">Call: (888) 517-6345</p>
					
				</div>
				
				<div class="wide-content-tour right clients">
			
					<h1>Conference SMS Alerts</h1>
					<p class="intro">
Managing a conference can be a communications nightmare. When it comes to attendees, it’s in your best interest to alert them of changes in conference schedules, opening sessions and even reminders about their hotel checkout times. For conference staff, making sure each and every staff member is aware of meetings, events, and even emergency situations is critical to the success of your conference. With SMS alerts powered by Tatango, you’re now able to quickly and easily communicate with both conference attendees and staff in a more efficient and cost effective way than ever before. 
					</p>
					
					<div class="client-new">
						<div class="img">
							<img src="<%= asset_path 'catalyst-conference-sms-marketing-campaign-color.jpg' %>" width="141" height="85" alt="" />
							<h2>- Religious Conference SMS</h2>
						</div>
						<div class="txt">
							<h2>Catalyst Conference</h2>
							<p class="location">Atlanta, GA</p>
							<p class="location">Products Used: <a href="<%= url_for sms_broadcasts_path %>">SMS Broadcast</a>, <a href="<%= url_for sms_autoresponders_path %>">SMS Autoresponder</a>, <a href="<%= url_for sms_polling_path %>">SMS Poll</a></p>
							<p>
The Catalyst Conference came to Tatango with the challenge of connecting them with the over 10,000 young leaders a year attending their annual event through text message marketing. With Tatango, Catalyst was able to effecively alert attendees of schedule changes, special events, bands, speakers and SMS promotions throughout the event.
							</p>
							<p>
We work with events of all sizes to help organizers stay better connected with attendees. Take your event SMS campaigns to the next level by calling us first. 
							</p>
						</div>
					</div>
					
					<div class="client-new">
						<div class="img">
							<img src="<%= asset_path 'national-youth-workers-convention.jpg' %>" width="141" height="85" alt="" />
							<h2>- Youth Conference SMS</h2>
						</div>
						<div class="txt">
							<h2>National Youth Workers Convention</h2>
							<p class="location">Atlanta, GA</p>
							<p class="location">Products Used: <a href="<%= url_for sms_broadcasts_path %>">SMS Broadcast</a></p>
							<p>
McLane Creative came to Tatango after being contracted by Biblica to build a consumer engagement campaign to be featured at the 2011 National Youth Workers Convention, attended by over 3,800 people.
							</p>
							<p>
The text message call-to-action, encouraged the conference attendees to interact with a pre-set SMS autoresponder. This SMS autoresponder sent back a hyperlink to a mobile website where attendees could register for more information about the organization.
							</p>
							<p>
This text message call-to-action was displayed at the end of a short video during the conference. Within 90 seconds of the video finishing, 534 conference attendees (14% of all attendees) had engaged with the text messaging campaign, sending hundreds of attendees to register on the organization's mobile website.
							</p>
							<p>
During a conference you get one shot to make an impression with the audience, make sure you select Tatango as your conference SMS provider to make sure that impression is a powerful one.
							</p>
						</div>
					</div>
					
					<div class="client-new">
						<div class="img">
							<img src="<%= asset_path 'underground-conference.jpg' %>" width="141" height="85" alt="" />
							<h2>- Marketing Conference SMS</h2>
						</div>
						<div class="txt">
							<h2>The Underground Conference</h2>
							<p class="location">Washington, D.C.</p>
							<p class="location">Products Used: <a href="<%= url_for sms_broadcasts_path %>">SMS Broadcast</a>, <a href="<%= url_for sms_polling_path %>">SMS Poll</a></p>
							<p>
If you're in the Internet marketing industry, a must-attend conference every year is the Underground Conference series, put on by legendary internet marketer, Yanik Silver. The conference series provides high-level Internet marketing information from real-world, in-the-trenches speakers who've had great success.
							</p>
							<p>
Organizing Internet marketers at a conference can sometimes be like herding cats. This is why The Underground Conference organizers came to Tatango looking for a better way to communicate with staff and event attendees. The results… Instead of us telling you, we'll let the VP of Operations for the conference tell you how powerful conference text messaging with Tatango can be.
							</p>
							<p>
 “The efficiency with which Tatango allowed us to communicate with attendees significantly enhanced the The Underground’s reputation as a first-class, cutting edge event. It even helped us track down an attendee's lost wallet!” - (Andrew Way – VP Operations)
							</p>
						</div>
					</div>
					
					<div class="client-new">
						<div class="img">
							<img src="<%= asset_path 'ignite-u-conference.jpg' %>" width="141" height="85" alt="" />
							<h2>- Business Conference SMS</h2>
						</div>
						<div class="txt">
							<h2>Ignite-U Conference</h2>
							<p class="location">Tacoma, WA</p>
							<p class="location">Products Used: <a href="<%= url_for sms_broadcasts_path %>">SMS Broadcast</a>, <a href="<%= url_for sms_contests_path %>">SMS Contest</a></p>
							<p>
When it comes to figuring out your "big idea" in business, a conference by the name of Ignite-U has made it their mission to help others. The conference organizers philosophy is simple: pack a room with 1,200 of the most talented people in the area, add 7 of the most powerful speakers ever assembled, and stand back.
							</p>
							<p>
There was, however, one area that the conference organizers were missing, and that was communicating with event attendees. Ignite-U organizers used Tatango to send text message alerts to conference attendees about upcoming seminars, schedule changes, and even lunchtime discounts from local eating establishments.
							</p>
							<p>
When it comes to putting on a conference of any size, key aspects like high attendance and having engaging speakers can make your conference a huge hit. But without communication, attendance will be low and all of your attendees won't know where to go to hear your great speakers. Improve your communications with conference text messaging powered by Tatango today.
							</p>
						</div>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
