<%
title 'Contact Enterprise Sales'
meta 'Let us manage your SMS campaigns. Our text message marketing experts work with you to make certain your campaigns succeed. Contact us to get started today!'
body_class 'wide' 
%>
			
     <div class="wide-content-intro nopadding">
             <span class="big">Enterprise Solutions</span>
     </div>

			<!-- Wide content -->
			<div class="wide-content tour-new-shadow">
			
				<div class="wide-content-tour-new">
					
					<div class="tour-left-menu">
						<div class="tour-left-block">
							<p><a href="<%= url_for services_path %>" title="Enterprise Services">Enterprise Services</a></p>
							<ul class="tour-left-menu" style="display:none">
								<li><a href="<%= url_for sms_marketing_consulting_path %>" title="Advisory Services">Advisory Services</a></li>
								<li><a href="<%= url_for dedicated_short_codes_path %>" title="Dedicated Short Codes">Dedicated Short Codes</a></li>
								<li><a href="<%= url_for agency_sms_marketing_path %>" title="Agency Program">Agency Program</a></li>
								<li><a href="<%= url_for bulk_sms_gateway_path %>" title="Bulk SMS Gateway">Bulk SMS Gateway</a></li>
								<li><a href="<%= url_for design_services_path %>" title="Design Services">Design Services</a></li>
							</ul>
						</div>
						<div class="tour-left-block">
							<p><a href="<%= url_for features_path %>" title="Enterprise Features">Enterprise Features</a></p>
							<ul class="tour-left-menu" style="display:none">
								<li><a href="<%= url_for bulk_sms_path %>" title="Bulk SMS Messaging">Bulk SMS Messaging</a></li>
								<li><a href="<%= url_for advanced_segmenting_path %>" title="Advanced Segmenting">Advanced Segmenting</a></li>
								<li><a href="<%= url_for tatango_api_path %>" title="Tatango API">Tatango API</a></li>
								<li><a href="<%= url_for vanity_short_code_path %>" title="Vanity Short Codes">Vanity Short Codes</a></li>
							</ul>
						</div>
						<div class="tour-left-block">
							<p class="active"><a href="<%= url_for contact_us_path %>" title="Contact Us">Contact Us</a></p>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour-new right">
			
					<h1>Inquire About Tatango Enterprise Solutions.</h1>
					<p>
Call <span class="semibold red">(888) 778-9414</span> or complete the form below to talk with one of our SMS marketing experts about your needs.
					</p>
					
					<form method="post" id="contact_form" action="<%= submit_enterprise_contact_path %>">
						<div class="enterprise_form_content">
							<fieldset>
								<legend>Inquire About Tatango Enterprise Solutions</legend>
								
									<div class="enterprise_form_content_left">
										<div class="box short">
											<label for="firstname">First Name: <span class="req">*</span></label><br>
											<input type="text" size="22" tabindex="1" class="short required" name="firstname"><span class="end"></span>
											<div class="signupError"></div>
										</div>
										<div class="box short">
											<label for="lastname">Last Name: <span class="req">*</span></label><br>
											<input type="text" size="22" tabindex="2" class="short required" name="lastname"><span class="end"></span>
											<div class="signupError"></div>
										</div>
										<div class="box short">
											<label for="email" class="short">E-mail: <span class="req">*</span></label><br>
											<input type="text" size="22" tabindex="3" name="email" class="short required"><span class="end"></span>
											<div class="signupError"></div>
										</div>
									</div>
									
									<div class="enterprise_form_content_right">
										<div class="box short">
											<label for="phone" class="short">Phone Number: <span class="req">*</span></label><br>
											<input type="text" size="22" tabindex="4" name="phone" class="short required"><span class="end"></span>
											<div class="signupError"></div>
										</div>
										<div class="box short">
											<label for="business">Business/Organization: <span class="req">*</span></label><br>
											<input type="text" name="business" size="22" tabindex="5" class="short required"><span class="end"></span>
											<div class="signupError"></div>
										</div>
										<div class="box short">
											<label for="subject" class="short">Learn More: <span class="req">*</span></label><br>
											<select tabindex="6" name="subject" class="required" id="subject">
											  <option>Advisory Services</option>
											  <option>Dedicated Short Codes</option>
											  <option>Agency Program</option>
											  <option>Bulk SMS Gateway</option>
											  <option>Design Services</option>
											</select>
											<span class="end"></span>
											<div class="signupError"></div>
										</div>
									</div>
									
									<div class="box textarea">
										<label for="textbox">Your Question(s):</label><br>
										<textarea tabindex="7" value="" name="textbox" id="textbox"></textarea>
										<div class="signupError"></div>
									</div>
									
									<div class="clear">&nbsp;</div>
									<input type="submit" name="submit" tabindex="8" value="Contact Us Now" class="submit">
									<p class="reqnote">*required field</p>
									
							</fieldset>
						</div>
					</form>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
