<%
title 'Contact Enterprise Sales'
meta 'Let us manage your SMS campaigns. Our text message marketing experts work with you to make certain your campaigns succeed. Contact us to get started today!'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">Enterprise Solutions</span>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content tour-new-shadow" style="padding-bottom:100px">
			
				<div class="wide-content-tour-new">
					
					<div class="tour-left-menu">
						<div class="tour-left-block">
							<p><a href="<%= url_for services_path %>" title="Enterprise Services">Enterprise Services</a></p>
							<ul class="tour-left-menu" style="display:none">
								<li><a href="<%= url_for sms_marketing_consulting_path %>" title="Advisory Services">Advisory Services</a></li>
								<li><a href="<%= url_for dedicated_short_codes_path %>" title="Dedicated Short Codes">Dedicated Short Codes</a></li>
								<li><a href="<%= url_for agency_sms_marketing_path %>" title="Agency Program">Agency Program</a></li>
								<li><a href="<%= url_for bulk_sms_gateway_path %>" title="Bulk SMS Gateway">Bulk SMS Gateway</a></li>
								<li><a href="<%= url_for design_services_path %>" title="Design Services">Design Services</a></li>
							</ul>
						</div>
						<div class="tour-left-block">
							<p><a href="<%= url_for features_path %>" title="Enterprise Features">Enterprise Features</a></p>
							<ul class="tour-left-menu" style="display:none">
								<li><a href="<%= url_for bulk_sms_path %>" title="Bulk SMS Messaging">Bulk SMS Messaging</a></li>
								<li><a href="<%= url_for advanced_segmenting_path %>" title="Advanced Segmenting">Advanced Segmenting</a></li>
								<li><a href="<%= url_for tatango_api_path %>" title="Tatango API">Tatango API</a></li>
								<li><a href="<%= url_for vanity_short_code_path %>" title="Vanity Short Codes">Vanity Short Codes</a></li>
							</ul>
						</div>
						<div class="tour-left-block">
							<p class="active"><a href="<%= url_for contact_us_path %>" title="Contact Us">Contact Us</a></p>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour-new right">
			
					<h1>Your message has been successfully sent!</h1>
					<p>
One of our account experts will be in touch with you shortly to discuss your needs and interests in the TatangoPlus Program.
					</p>
					<p class="semibold">
Please use the following links to explore the TatangPlus services.
					</p>
					<div class="enterprise_twocols">
						<ul class="semibold">
							<li><a href="<%= url_for sms_marketing_consulting_path %>" title="Advisory Services">Advisory Services</a></li>
							<li><a href="<%= url_for dedicated_short_codes_path %>" title="Dedicated Short Codes">Dedicated Short Codes</a></li>
							<li><a href="<%= url_for agency_sms_marketing_path %>" title="Agency Program">Agency Program</a></li>
							<li><a href="<%= url_for bulk_sms_gateway_path %>" title="Bulk SMS Gateway">Bulk SMS Gateway</a></li>
							<li><a href="<%= url_for design_services_path %>" title="Design Services">Design Services</a></li>
						</ul>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
