<%
title 'Dedicated Short Codes'
meta 'Need an SMS short code? Tatango offers the world\'s easiest way to buy a short code and provision it with wireless carriers.'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">Enterprise Solutions</span>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content tour-new-shadow">
			
				<div class="wide-content-tour-new">
					
					<div class="tour-left-menu">
						<div class="tour-left-block">
							<p class="active"><a href="<%= url_for services_path %>" title="Enterprise Services">Enterprise Services</a></p>
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_consulting_path %>" title="Advisory Services">Advisory Services</a></li>
								<li class="active"><a href="<%= url_for dedicated_short_codes_path %>" title="Dedicated Short Codes">Dedicated Short Codes</a></li>
								<li><a href="<%= url_for agency_sms_marketing_path %>" title="Agency Program">Agency Program</a></li>
								<li><a href="<%= url_for bulk_sms_gateway_path %>" title="Bulk SMS Gateway">Bulk SMS Gateway</a></li>
								<li><a href="<%= url_for design_services_path %>" title="Design Services">Design Services</a></li>
							</ul>
						</div>
						<div class="tour-left-block">
							<p><a href="<%= url_for features_path %>" title="Enterprise Features">Enterprise Features</a></p>
							<ul class="tour-left-menu" style="display:none">
								<li><a href="<%= url_for bulk_sms_path %>" title="Bulk SMS Messaging">Bulk SMS Messaging</a></li>
								<li><a href="<%= url_for advanced_segmenting_path %>" title="Advanced Segmenting">Advanced Segmenting</a></li>
								<li><a href="<%= url_for tatango_api_path %>" title="Tatango API">Tatango API</a></li>
								<li><a href="<%= url_for vanity_short_code_path %>" title="Vanity Short Codes">Vanity Short Codes</a></li>
							</ul>
						</div>
						<div class="tour-left-block">
							<p><a href="<%= url_for contact_us_path %>" title="Contact Us">Contact Us</a></p>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour-new right">
			
					<h1>Dedicated SMS Short Code Provisioning</h1>
					<img src="<%= asset_path 'enterprise-dedicated_short_code_provisioning.jpg' %>" width="664" height="304" alt="Dedicated SMS Short Code Provisioning" />
					<p>
Want to get a short code? Tatango makes the process of getting your very own short code a breeze. Tatango has been working with brands since 2007 to provision and manage SMS short codes in both the United States and internationally.
					</p>
					<p>
Let Tatango help you get a short code in the shortest amount of time possible, with the least amount of work and headaches. Call us at (888) 778-9414 or <a href="<%= url_for contact_us_path %>" title="Contact us">contact us</a> to get started down the path of launching your very own short code.
					</p>
					
					<h2 class="bigger">Common Short Code Questions</h2>
					
					<h2>What is a short code?</h2>
					<p>
A short code is a 5 or 6 digit phone number that can send and receive short code messages, allowing consumers to interact with and access a wide variety of mobile content through text messaging.
					</p>
					
					<h2>Why should I buy a dedicated short code?</h2>
					<p class="semibold">
Some of the advantages of purchasing a dedicated short code over using a shared short code are below.
					</p>
					<ul class="dots">
						<li>You have access to every SMS keyword possible, whereas on a shared short code you are limited to keywords that aren't taken by other brands already.</li>
						<li>Your brand won't be associated with other uses of the code, as you will be the only brand using the short code.</li>
						<li>It will allow consumers to automatically associate your brand with the code across all of your SMS programs and marketing initiatives.</li>
						<li>You have the capabilities of running much more advanced SMS programs that wouldn't be possible with a shared short code.</li>
						<li>You don't run the risk of your code being shut down by a carrier because of another company's abuse.</li>
					</ul>
					
					<h2>Can I transfer my short code to Tatango?</h2>
					<p>
Yes, we've helped many brands transfer existing short codes from other short code providers to Tatango. The best part, we can do so without any cost to you, and without experiencing any short code messaging downtime in the process. If you're interested in transferring an existing short code hosted with another provider over to Tatango, <a href="<%= url_for contact_us_path %>" title="Contact us">contact us</a>.
					</p>
					<p>
Before you transfer a short code to another short code provider, <a href="http://www.tatango.com/resources/video-transferring-sms-short-codes">watch this video</a> and learn the best practices that are recommended to mitigate mobile subscriber confusion during a short code transfer. 
					</p>
					
					<h2>Does Tatango offer international short codes?</h2>
					<p>
Yes, Tatango offers dedicated international short codes where they are available. Some countries don't have them though, so in those countries we can help you provision a long code to send text messages. Tatango also offers shared short codes for the United States and Canada.
					</p>
					
					<h2>What's the difference between dedicated and shared short code?</h2>
					<p>
A dedicated short code is leased and exclusively used by only one brand. All of the setup costs and fees associated with a dedicated short code are the responsibility of that one brand, which can make the option of buying a dedicated short code out of reach for some. A shared short code on the other hand is used by multiple brands, which share the setup costs and fees, making shared short codes much more accessible to smaller brands. For more info, <a href="http://www.tatango.com/resources/video-dedicated-shared-short-code" title="">watch this video</a>. 
					</p>
					
					<h2>What's a vanity short code?</h2>
					<p>
A vanity short code is a string of 5-6 digits that are selected on purpose by a brand because they're easy to remember (313131), they have cultural relevance (411411) or the short code numbers spell out something on a dial pad. A random short code is just the opposite of a vanity short code, and is randomly selected by The Common Short Code Administration when you register for a short code, with no give-backs allowed once it's selected. For more info, <a href="http://www.tatango.com/resources/video-vanity-random-short-code" title="">watch this video</a>.
					</p>
					
					<h2>How do I know if a vanity short code is available?</h2>
					<p>
In the United States, The Common Short Code Administration allows you to search their database to see if the vanity short code you're interested in leasing is available. 
<a href="http://www.usshortcodes.com/csc_advanced_search.html" target="_blank">Search here</a>. To check the availability of international vanity short codes, 
<a href="<%= url_for contact_us_path %>" title="Contact us">contact Tatango</a> and we'll be able to check the availability for you.
					</p>
					<p>
Want to see what short codes other brands are using? Check out the <a href="https://www.usshortcodes.com/csc/directory/directoryList.do?method=showDirectory&group=all" target="_blank">official short code registry</a>. 
For an unofficial short code list, check out the <a href="http://usshortcodeswhois.com/" target="_blank">US Common Short Code WHOIS Directory</a>. 
					</p>
					
					<h2>How long does it take to get a short code?</h2>
					<p>
Short code registration can usually be completed the same day as you apply. To get the short code approved by the wireless carriers for live traffic is a different story though. Depending on the 
complexity of the short code program, most can be provisioned within 9-12 weeks. If you're up against a deadline and don't have the required time to provision a dedicated short code, 
<a href="<%= url_for contact_us_path %>" title="Contact us">contact us</a> about using one of the already provisioned shared short codes that Tatango manages.
					</p>
					
					<h2>How much does it cost to buy a short code?</h2>
					<p>
The Common Short Code Administration actually doesn't allow you to buy short codes, they only allow you to lease them. To lease a random short code costs $500/month and to lease a vanity short code costs $1,000/month.
					</p>
					
					<h2>Can Tatango help me get my own dedicated short code?</h2>
					<p>
Yes, and because we realize you have better things to do than search for the perfect vanity short code, fill out paperwork, submit program briefs to the carriers, build message flows and coordinate testing for your new short code, we handle it all for you. If you want a dedicated short code for your SMS campaign, minus all the headaches and work, 
<a href="<%= url_for contact_us_path %>" title="Contact us">contact Tatango</a>.
					</p>
					
					<h2>Does Tatango provide the short code software to manage my campaign?</h2>
					<p>
Yes, not only are we going to help you obtain a short code, we're going to give you Tatango's powerful, enterprise-class software to manage your new short code and launch your SMS campaign on. In addition, you'll also receive industry leading expertise to assist with strategic campaign planning, training, execution, report analysis and more.
					</p>
					<p>
To learn more about TatangoPlus and provisioning your own dedicated short code, call our experts at (888) 778-9414 or use our <a href="<%= url_for contact_us_path %>" title="Contact form">contact form</a>.
					</p>

					<div class="enterprise_contact" style="margin-top:30px;">
						<div class="left_txt">
							<p class="large">Contact Our Team</p>
							<p class="phnr">Call: <span>1 (888) 778-9414</span></p>
							<p class="bluelink"><a href="javascript:;" onclick="SnapABug.startLink();" title="Contact us">Start a Live Chat</a></p>
						</div>
						<p class="contact-us"><a href="<%= url_for contact_us_path %>" title="Contact us">Contact Us</a></p>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
