<%
title 'Design Services'
meta 'Our mobile marketing design services help you get the most out of each SMS campaign advertisement.'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">Enterprise Solutions</span>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content tour-new-shadow" style="padding-bottom:50px">
			
				<div class="wide-content-tour-new">
					
					<div class="tour-left-menu">
						<div class="tour-left-block">
							<p class="active"><a href="<%= url_for services_path %>" title="Enterprise Services">Enterprise Services</a></p>
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_consulting_path %>" title="Advisory Services">Advisory Services</a></li>
								<li><a href="<%= url_for dedicated_short_codes_path %>" title="Dedicated Short Codes">Dedicated Short Codes</a></li>
								<li><a href="<%= url_for agency_sms_marketing_path %>" title="Agency Program">Agency Program</a></li>
								<li><a href="<%= url_for bulk_sms_gateway_path %>" title="Bulk SMS Gateway">Bulk SMS Gateway</a></li>
								<li class="active"><a href="<%= url_for design_services_path %>" title="Design Services">Design Services</a></li>
							</ul>
						</div>
						<div class="tour-left-block">
							<p><a href="<%= url_for features_path %>" title="Enterprise Features">Enterprise Features</a></p>
							<ul class="tour-left-menu" style="display:none">
								<li><a href="<%= url_for bulk_sms_path %>" title="Bulk SMS Messaging">Bulk SMS Messaging</a></li>
								<li><a href="<%= url_for advanced_segmenting_path %>" title="Advanced Segmenting">Advanced Segmenting</a></li>
								<li><a href="<%= url_for tatango_api_path %>" title="Tatango API">Tatango API</a></li>
								<li><a href="<%= url_for vanity_short_code_path %>" title="Vanity Short Codes">Vanity Short Codes</a></li>
							</ul>
						</div>
						<div class="tour-left-block">
							<p><a href="<%= url_for contact_us_path %>" title="Contact Us">Contact Us</a></p>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour-new right">
			
					<h1>Design Services</h1>
					<img src="<%= asset_path 'enterprise-design_services.jpg' %>" width="664" height="304" alt="Design Services" />
					
					<p>
To learn more about TatangoPlus and our Design Services, call our experts at (888) 778-9414 or use our <a href="<%= url_for contact_us_path %>" title="Contact form">contact form</a>.
					</p>

					
					<div class="enterprise_contact" style="margin-top:30px">
						<div class="left_txt">
							<p class="large">Contact Our Team</p>
							<p class="phnr">Call: <span>1 (888) 778-9414</span></p>
							<p class="bluelink"><a href="javascript:;" onclick="SnapABug.startLink();" title="Contact us">Start a Live Chat</a></p>
						</div>
						<p class="contact-us"><a href="<%= url_for contact_us_path %>" title="Contact us">Contact Us</a></p>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
