<%
title 'Emergency SMS Alert Testimonials &amp; Reviews'
meta 'Tatango works with many local, state and national organizations to power their emergency SMS alerts.'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<p class="big">Some of Our Successful Customers</p>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
				
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
						<h2 class="select ">Customers by Industry</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for restaurant_text_messaging_path %>" title="Restaurants">Restaurants</a></li>
								<li><a href="<%= url_for retail_sms_path %>" title="Retail">Retail</a></li>
								<li><a href="<%= url_for salons_sms_path %>" title="Salons &amp; Spas">Salons &amp; Spas</a></li>
								<li><a href="<%= url_for church_sms_path %>" title="Ministry">Ministry</a></li>
								<li><a href="<%= url_for entertainment_sms_path %>" title="Entertainment">Entertainment</a></li>
								<li><a href="<%= url_for political_sms_path %>" title="Political">Political</a></li>
								<li><a href="<%= url_for conference_sms_path %>" title="Conferences">Conferences</a></li>
								<li><a href="<%= url_for group_text_messaging_path %>" title="Groups &amp; Organizations">Groups &amp; Organizations</a></li>
								<li><a href="<%= url_for marketing_agencies_sms_path %>" title="Agencies">Agencies</a></li>
								<li class="active"><a href="<%= url_for emergency_sms_alerts_path %>" title="Emergency SMS Alerts">Emergency SMS Alerts</a></li>
								<li><a href="<%= url_for proffesional_services_sms_path %>" title="Professional Services">Professional Services</a></li>
								<li><a href="<%= url_for real_estate_sms_path %>" title="Real Estate">Real Estate</a></li>
							</ul>
						</div>
						<h2>Customers by Product</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for customers_sms_broadcasts_path %>" title="SMS Broadcasts">SMS Broadcasts</a></li>
								<li><a href="<%= url_for customers_sms_contests_path %>" title="SMS Contests">SMS Contests</a></li>
								<li><a href="<%= url_for customers_sms_polling_path %>" title="SMS Polls">SMS Polls</a></li>
								<li><a href="<%= url_for customers_sms_autoresponders_path %>" title="SMS Autoresponders">SMS Autoresponders</a></li>
							</ul>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>

					<p class="signupfree"><%= link_to "Sign Up Free", signup_path %></p>
					<p class="call-grey">Call: (888) 517-6345</p>
					
				</div>
				
				<div class="wide-content-tour right clients">
			
					<h1>Emergency SMS Alerts</h1>
					<p class="intro">
Tatango works with many local, state and national organizations to power their emergency SMS alerts. When it comes to selecting an SMS emergency alerts software, dependability is not only a must-have, it can be the difference between life and death in emergency situations. That's why Tatango's SMS emergency alert software has built-in redundancies, multiple fail-safes, high message throughput and development and support staff on-call 24/7.
When it comes time to select an emergency SMS alerts software, no company can compare to the service, expertise and most importantly, dependability of Tatango.
					</p>
					
					<div class="client-new">
						<div class="img">
							<img src="<%= asset_path 'edgartown-profile.jpg' %>" width="141" height="85" alt="" />
							<h2>- Town Emergency SMS</h2>
						</div>
						<div class="txt">
							<h2>Edgartown</h2>
							<p class="location">Edgartown, MA</p>
							<p class="location">Products Used: <a href="<%= url_for sms_broadcasts_path %>">SMS Broadcast</a></p>
							<p>
When it comes to alerting residents of an entire town, nothing works faster, and has more power than text message alerts. Edgartown, a city located on Martha's Vineyard in Massachusetts with a population of 4,000 year-round residents, experienced this firsthand as Hurricane Irene moved up the East Coast. 
							</p>
							<p>
Overnight the town's SMS alert system powered by Tatango tripled their subscribers, making it a clear indicator for the city that residents preferred to be communicated to via text message in emergency situations such as this. During more regular seasons, the city uses the Tatango SMS alerts system to communicate with residents about community events, meetings and the occasional weather advisory.
							</p>
							<p>
"We rarely hear feedback about these things, but people thanked us for notifying them via Tatango during the recent hurricane. Thanks for providing such a great service." - Adam Darack, IT Manager Town of Edgartown
							</p>
							<p>
When it comes to emergency text message alerts, having a company like Tatango with over 5 years of helping small and large cities send out text message alerts is critical to your residents' safety.
							</p>
						</div>
					</div>
					
					<div class="client-new">
						<div class="img">
							<img src="<%= asset_path 'nola-profile.jpg' %>" width="141" height="85" alt="" />
							<h2>- Crime Alerts SMS</h2>
						</div>
						<div class="txt">
							<h2>NOLA</h2>
							<p class="location">New Orleans, LA</p>
							<p class="location">Products Used: <a href="<%= url_for sms_broadcasts_path %>">SMS Broadcast</a></p>
							<p>
With New Orleans experiencing higher than ever violence and crime, the good citizens that make up the communities of New Orleans decided to take action into their own hands. In response, they created a system called NOLA (New Orleans, LA) Crime Alerts, powered by Tatango text message alerts.
							</p>
							<p>
A total of 25 New Orleans neighborhoods utilized Tatango's text message alerts service to keep community members updated on incidents, areas to avoid and criminal whereabouts. In addition, weekly blog updates from the group were sent via SMS to all participating neighborhood residents who had signed up for the text message alerts.
							</p>
							<p>
Whether you're protecting a small neighborhood or large city, let Tatango text message alerts increase safety, communication and involvement with your residents.
							</p>
						</div>
					</div>
					
					<div class="client-new">
						<div class="img">
							<img src="<%= asset_path 'north-whatcom-fd.jpg' %>" width="141" height="85" alt="" />
							<h2>- Fire Department SMS</h2>
						</div>
						<div class="txt">
							<h2>North Whatcom Fire Department</h2>
							<p class="location">Blaine, WA</p>
							<p class="location">Products Used: <a href="<%= url_for sms_broadcasts_path %>">SMS Broadcast</a></p>
							<p>
When the North Whatcom Fire Department came to Tatango, they were communicating with their fire fighters through an outdated and very expensive pager system. After realizing all fire fighters now had access to mobile phones, the department went looking for an affordable and effective text messaging system to replace their expensive pager system. 
							</p>
							<p>
After implementing Tatango text message alerts to request addition personnel to emergencies like a fire, aid call or big accident, the department was finally able to replace their pager system.
							</p>
							<p>
"Tatango was thousands of dollars cheaper than other companies. Any questions we had were always answered, not only the same day, but by a real person." - Chris Hollander, North Whatcom Fire Department
							</p>
							<p>
The fire department also uses Tatango text message alerts for far less serious communication needs such as alerting fire fighters of meeting changes, training and general announcements.
							</p>
							<p>
When it comes to a fire department's communications, speed is everything. Luckily for hundreds of fire departments across the country, Tatango has the text messaging software and expertise needed to produce lightning fast text messages for any type of emergency personnel communications.
							</p>
						</div>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
