<%
title 'Entertainment Text Messaging Testimonials'
meta 'Text message marketing for entertainment companies - Create, send, and track your SMS campaigns with Tatango. Try Tatango for free!'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<p class="big">Some of Our Successful Customers</p>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
				
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
						<h2 class="select ">Customers by Industry</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for restaurant_text_messaging_path %>" title="Restaurants">Restaurants</a></li>
								<li><a href="<%= url_for retail_sms_path %>" title="Retail">Retail</a></li>
								<li><a href="<%= url_for salons_sms_path %>" title="Salons &amp; Spas">Salons &amp; Spas</a></li>
								<li><a href="<%= url_for church_sms_path %>" title="Ministry">Ministry</a></li>
								<li class="active"><a href="<%= url_for entertainment_sms_path %>" title="Entertainment">Entertainment</a></li>
								<li><a href="<%= url_for political_sms_path %>" title="Political">Political</a></li>
								<li><a href="<%= url_for conference_sms_path %>" title="Conferences">Conferences</a></li>
								<li><a href="<%= url_for group_text_messaging_path %>" title="Groups &amp; Organizations">Groups &amp; Organizations</a></li>
								<li><a href="<%= url_for marketing_agencies_sms_path %>" title="Agencies">Agencies</a></li>
								<li><a href="<%= url_for emergency_sms_alerts_path %>" title="Emergency SMS Alerts">Emergency SMS Alerts</a></li>
								<li><a href="<%= url_for proffesional_services_sms_path %>" title="Professional Services">Professional Services</a></li>
								<li><a href="<%= url_for real_estate_sms_path %>" title="Real Estate">Real Estate</a></li>
							</ul>
						</div>
						<h2>Customers by Product</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for customers_sms_broadcasts_path %>" title="SMS Broadcasts">SMS Broadcasts</a></li>
								<li><a href="<%= url_for customers_sms_contests_path %>" title="SMS Contests">SMS Contests</a></li>
								<li><a href="<%= url_for customers_sms_polling_path %>" title="SMS Polls">SMS Polls</a></li>
								<li><a href="<%= url_for customers_sms_autoresponders_path %>" title="SMS Autoresponders">SMS Autoresponders</a></li>
							</ul>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>

					<p class="signupfree"><%= link_to "Sign Up Free", signup_path %></p>
					<p class="call-grey">Call: (888) 517-6345</p>
					
				</div>
				
				<div class="wide-content-tour right clients">
			
					<h1>Entertainment Text Message Marketing Campaigns</h1>
					<p class="intro">
In the entertainment business, it’s all about drawing a crowd, and what better way to do that than with text message marketing. Tatango, the leader in text message marketing software offers businesses in the entertainment industry from concert venues to nightclubs, the ability to text message loyal fans about upcoming events, shows, promotions, and much more! When it comes to packing a house, nothing comes close to the power of text message marketing.
					</p>
					
					<div class="client-new">
						<div class="img">
							<img src="<%= asset_path 'acme-bowling-sms-marketing-campaign-color.jpg' %>" width="141" height="85" alt="" />
							<h2>- Bowling Alley SMS</h2>
						</div>
						<div class="txt">
							<h2>ACME Bowling</h2>
							<p class="location">Seattle, WA</p>
							<p class="location">Products Used: <a href="<%= url_for sms_broadcasts_path %>">SMS Broadcast</a>, <a href="<%= url_for sms_contests_path %>">SMS Contest</a></p>
							<p>
								ACME Bowling, Billiards & Events came to Tatango looking for a fun, unique way to encourage their customers to come play more often through. text message marketing. This beyond bowling venue is able to send promotions via Tatango, which increases customer visits, and has resulted in greater customer loyalty. Customers not only look forward to a round of bowling, but also receiving their weekly Tatango promotion.
							</p>
							<p>
								Tatango works with a variety of businesses in the entertainment industry such as paintball fields, billiard halls, arcades, water-parks, museums and even zoos. Let Tatango help your entertainment SMS campaign reach it's full potential.
							</p>
						</div>
					</div>
					
					<div class="client-new">
						<div class="img">
							<img src="<%= asset_path 'hush-sms-marketing-campaign-color.jpg' %>" width="141" height="85" alt="" />
							<h2>- Nightclub SMS</h2>
						</div>
						<div class="txt">
							<h2>Hush Nightclub</h2>
							<p class="location">Houston, TX</p>
							<p class="location">Products Used: <a href="<%= url_for sms_broadcasts_path %>">SMS Broadcast</a></p>
							<p>
								As anyone in the nightclub business will tell you, it's all about the number of guests through the front door on any given night. By announcing offers, special guests and events with SMS marketing, this club has not only been able to increase attendance, but also increase overall brand awareness and buzz throughout the community.
							</p>
							<p>
								Tatango has been helping bars, nightclubs and venues of all sizes since 2007 draw a crowd. Start drawing your own crowd with your very own SMS campaign with Tatango today. 
							</p>
						</div>
					</div>
					
					<div class="client-new">
						<div class="img">
							<img src="<%= asset_path 'provident-profile.jpg' %>" width="141" height="85" alt="" />
							<h2>- Theater SMS</h2>
						</div>
						<div class="txt">
							<h2>Provident Films</h2>
							<p class="location">Franklin, TN</p>
							<p class="location">Products Used: <a href="<%= url_for sms_broadcasts_path %>">SMS Broadcast</a>, <a href="<%= url_for sms_contests_path %>">SMS Contest</a></p>
							<p>
Provident Films, a unit of Sony Music Entertainment came to Tatango looking for an SMS provider to help them reach and engage their fans about the upcoming release of the movie OCTOBER BABY.
							</p>
							<p>
By using both Tatango's mass text messaging and SMS contests products, OCTOBER BABY was able to reach and engage fans on their mobile phones across the country. Before and during the opening week of the movie, fans that had opted-in, received text messages with exclusive movie trailers, cast and director video interviews, free ticket giveaways and much more.
							</p>
							<p>
This type of mobile engagement lead to extremely strong grassroots support, landing the movie at the number eight spot at the box office during the opening weekend. With only a relatively modest 290 theaters showing the movie, OCTOBER BABY has since been ranked the number one limited-release movie of all-time.
							</p>
							<p>
Need to reach and engage your most loyal fans before a big event like the opening weekend of a new movie? Don't trust your SMS campaign with just any SMS provider, rely on the SMS marketing experts at Tatango to make sure your SMS campaign is a success.
							</p>
						</div>
					</div>
					
					<div class="client-new">
						<div class="img">
							<img src="<%= asset_path 'pirq-profile.jpg' %>" width="141" height="85" alt="" />
							<h2>- App SMS</h2>
						</div>
						<div class="txt">
							<h2>Pirq</h2>
							<p class="location">Seattle, WA</p>
							<p class="location">Products Used: <a href="<%= url_for sms_autoresponders_path %>">SMS Autoresponder</a></p>
							<p>
Haven’t heard about Pirq yet? It’s an awesome app that allows iPhone and Android users to discover local, quality offers from select dining establishments. While the Pirq app is extremely easy to use, downloading Pirq, or any mobile app for that matter from the app store isn’t exactly the easiest process.
							</p>
							<p>
Pirq came to Tatango with the challenge of making the app download process easier with text messaging. Tatango proposed that instead of forcing potential app downloaders to search through hundreds of thousands of apps, why not direct them right to the app itself. No distractions, no confusion, just downloads.
							</p>
							<p>
By using the Tatango SMS Autoresponder feature, they’re now able to send users directly to their app download. When someone texts PIRQ to 68398 on their mobile phone, they immediately receive a text message response with a link to the instant app download.
							</p>
						</div>
					</div>
					
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
