<%
title 'Enterprise Text Marketing Software Testimonials'
meta 'Our enterprise SMS marketing software helps you launch and manage large SMS campaigns. Try Tatango Plus today.'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">Tatango Tour</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content tour-new-shadow">
			
				<div class="wide-content-tour-new">
					
					<div class="tour-left-menu">
						<div class="tour-left-block">
							<p><a href="<%= url_for sms_broadcasts_path %>" title="Products">Products</a></p>
							<ul class="tour-left-menu" style="display:none">
								<li><a href="<%= url_for sms_broadcasts_path %>" title="SMS Broadcasts">SMS Broadcasts</a></li>
								<li><a href="<%= url_for sms_contests_path %>" title="SMS Contests">SMS Contests</a></li>
								<li><a href="<%= url_for sms_polling_path %>" title="SMS Polls">SMS Polls</a></li>
								<li><a href="<%= url_for sms_autoresponders_path %>" title="SMS Autoresponders">SMS Autoresponders</a></li>
							</ul>
						</div>
						<div class="tour-left-block">
							<p class="active"><a href="<%= url_for enterprise_sms_marketing_path %>" title="Additional Services">Additional Services</a></p>
							<ul class="tour-left-menu">
								<li class="active"><a href="<%= url_for enterprise_sms_marketing_path %>" title="Tatango Plus">Tatango Plus</a></li>
							</ul>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour-new right">
			
					<h1>Enterprise SMS Marketing Campaign</h1>
					<img src="<%= asset_path 'tour-pages-additional-1.jpg' %>" width="664" height="304" alt="Enterprise SMS Marketing Software" />
					<p class="border">
While the Tatango SMS marketing platform works for the majority of SMS campaigns, some clients need a little more. Whether this means high volume messaging or throughput, dedicated short codes, advanced features, customization, or full blown account management, Tatango Plus is your answer. Read more about the services and features offered with Tatango Plus below.
					</p>
					
					<h2>High Volume SMS Messaging</h2>
					<p>
Looking to send text messages to more than 100,000 subscribers? Don't entrust your high volume SMS messaging to anyone other than the SMS marketing experts at Tatango. Did you know that since 2007 Tatango has sent 100 million text messages? That's a whole lot, and by partnering with Tatango for your high volume SMS needs, you're getting the same expertise for your own SMS campaign.
					</p>
					<p class="semibold">
<a href="javascript:;" onclick="SnapABug.startLink();" title="Contact us">Contact us</a> for more information or call: (888) 517-6345
					</p>
					
					<h2>Dedicated Short Codes</h2>
					<p>
The passionate SMS marketing experts at Tatango make the process of obtaining your own dedicated short code very easy. Whether you're looking for a random or vanity dedicated SMS short code, Tatango takes the hassle out of the carrier approval process. In no time you'll be up and running with your own dedicated SMS short code. We're also experts in obtaining dedicated SMS short codes in Canada as well.
					</p>
					<p class="semibold">
<a href="javascript:;" onclick="SnapABug.startLink();" title="Contact us">Contact us</a> for more information or call: (888) 517-6345
					</p>
					
					<h2>Advanced Features</h2>
					<p>
Looking for a more advanced SMS marketing platform with features such as custom userflows, advanced subscriber segmenting,  data collection, CRM integrations or maybe even something that needs to be built custom from the ground up? Then the Tatango Plus SMS marketing platform is perfect, as it's by far the most robust and customizable software platform on the earth, and can be tailored to any SMS campaign needs.
					</p>
					<p class="semibold">
<a href="javascript:;" onclick="SnapABug.startLink();" title="Contact us">Contact us</a> for more information or call: (888) 517-6345
					</p>
					
					<h2>Account Management</h2>
					<p>
Not only does Tatango Plus have the biggest and baddest SMS marketing platform around, we also have the most knowledgable account managers in the industry. Rely on Tatango Plus account managers to help you provision a dedicated short code, set up and launch your SMS campaign, measure results and assure that your SMS campaign is a complete success.
					</p>
					<p class="semibold">
<a href="javascript:;" onclick="SnapABug.startLink();" title="Contact us">Contact us</a> for more information or call: (888) 517-6345
					</p>
					
					<h2>High SMS Message Throughput</h2>
					<p>
Sending a high volume of text messages and want them all to arrive at the same time? What you need is an SMS platform that has the capabilities to open up the SMS pipeline and let your messages flow with efficiency. Thankfully the Tatango Plus SMS platform has the capabilities of sending up to 1,000 messages per second. That's what we like to call lightning text fast here at Tatango.
					</p>
					<p class="semibold">
<a href="javascript:;" onclick="SnapABug.startLink();" title="Contact us">Contact us</a> for more information or call: (888) 517-6345
					</p>
					
					<h2>International SMS Campaigns</h2>
					<p>
Launching an SMS campaign outside of the United States? Tatango can provision short codes and SMS campaigns in many different countries. Work with our team of international SMS marketing experts to make sure your SMS campaign is a success no matter what country it's in.
					</p>
					<p class="semibold">
<a href="javascript:;" onclick="SnapABug.startLink();" title="Contact us">Contact us</a> for more information or call: (888) 517-6345
					</p>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
