<%
title 'Enterprise Features'
meta 'Need more advanced text message marketing features? Our enterprise software provides these features, in addition to dedicated account management.'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">Enterprise Solutions</span>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content tour-new-shadow">
			
				<div class="wide-content-tour-new">
					
					<div class="tour-left-menu">
						<div class="tour-left-block">
							<p><a href="<%= url_for services_path %>" title="Enterprise Services">Enterprise Services</a></p>
							<ul class="tour-left-menu" style="display:none">
								<li><a href="<%= url_for sms_marketing_consulting_path %>" title="Advisory Services">Advisory Services</a></li>
								<li><a href="<%= url_for dedicated_short_codes_path %>" title="Dedicated Short Codes">Dedicated Short Codes</a></li>
								<li><a href="<%= url_for agency_sms_marketing_path %>" title="Agency Program">Agency Program</a></li>
								<li><a href="<%= url_for bulk_sms_gateway_path %>" title="Bulk SMS Gateway">Bulk SMS Gateway</a></li>
								<li><a href="<%= url_for design_services_path %>" title="Design Services">Design Services</a></li>
							</ul>
						</div>
						<div class="tour-left-block">
							<p class="active"><a href="<%= url_for features_path %>" title="Enterprise Features">Enterprise Features</a></p>
							<ul class="tour-left-menu">
								<li><a href="<%= url_for bulk_sms_path %>" title="Bulk SMS Messaging">Bulk SMS Messaging</a></li>
								<li><a href="<%= url_for advanced_segmenting_path %>" title="Advanced Segmenting">Advanced Segmenting</a></li>
								<li><a href="<%= url_for tatango_api_path %>" title="Tatango API">Tatango API</a></li>
								<li><a href="<%= url_for vanity_short_code_path %>" title="Vanity Short Codes">Vanity Short Codes</a></li>
							</ul>
						</div>
						<div class="tour-left-block">
							<p><a href="<%= url_for contact_us_path %>" title="Contact Us">Contact Us</a></p>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour-new right">
			
					<h1>Enterprise SMS Marketing Features</h1>
					<img src="<%= asset_path 'enterprise-features.jpg' %>" width="664" height="304" alt="Enterprise SMS Marketing Features" />
					<p class="border">
Tatango enterprise customers that are part of the TatangoPlus program get access to exclusive SMS marketing features. These features, which include high volume bulk SMS, advanced segmenting of lists and access to the Tatango API allow marketers to take their SMS campaigns to the next level. Find out more about these exclusive TatangoPlus features below.
					</p>

					<div class="tour-right-left enterprise">
						<div class="tour-right-left-left">
							<h2>Bulk SMS Messaging</h2>
							<p>
Did you know that since 2007 Tatango has sent over 100 million SMS messages on behalf of our clients? Tatango's SMS platform is built on top of rock-solid infrastructure, allowing us to handle mobile phone lists of greater than 1 million in size. Also, with a direct connection to one of the nations largest tier 1 SMS aggregators, this allows us to offer speeds up to 1,000 message per second.
							</p>
							<p>
							Learn more about <a class="link-arrow" href="<%= url_for bulk_sms_path %>">bulk SMS messaging</a>
							</p>
						</div>
						<div class="tour-right-left-right">
							<img width="221" height="165" alt="Bulk SMS Messaging" src="<%= asset_path 'enterprise-features_bulksms.jpg' %>">
						</div>
					</div>
					<div class="tour-right-left enterprise">
						<div class="tour-right-left-left">
							<h2>Advanced Subscriber Segmenting</h2>
							<p>
Achieve better results with your SMS marketing campaign by targeting your SMS messages to specific segments of your list. Segment your lists by demographic information, location, custom fields or even certain consumer behaviors. 
							</p>
							<p>
							Learn more about <a class="link-arrow" href="<%= url_for advanced_segmenting_path %>">advanced subscriber segmenting</a>
							</p>
						</div>
						<div class="tour-right-left-right">
							<img width="221" height="165" alt="Advanced Subscriber Segmenting" src="<%= asset_path 'enterprise-features_advancedsegmenting.jpg' %>">
						</div>
					</div>
					<div class="tour-right-left enterprise">
						<div class="tour-right-left-left">
							<h2>Tatango API</h2>
							<p>
Integrate your SMS campaign into an existing system by connecting to the robust, easy to use and reliable Tatango API. The Tatango API is implemented as a web service using XML-formatted data transported via HTTP. 
							</p>
							<p>
							Learn more about the <a class="link-arrow" href="<%= url_for tatango_api_path %>">Tatango API</a>
							</p>
						</div>
						<div class="tour-right-left-right">
							<img width="221" height="165" alt="Tatango API" src="<%= asset_path 'enterprise-features_tatangoapi.jpg' %>">
						</div>
					</div>
					<div class="tour-right-left enterprise">
						<div class="tour-right-left-left">
							<h2>Vanity Short Code Messaging</h2>
							<p>
Want to launch your SMS campaign with a vanity short code? As a TatangoPlus customer, you get exclusive access to the vanity short code number 33733. This vanity short code has been provisioned by all carriers, is easier on the mobile user and makes your campaign look much more sophisticated. 
							</p>
							<p>
							Learn more about using a <a class="link-arrow" href="<%= url_for vanity_short_code_path %>">vanity short code</a>
							</p>
						</div>
						<div class="tour-right-left-right">
							<img width="221" height="165" alt="Vanity Short Code Messaging" src="<%= asset_path 'enterprise-features_vanityshortcode.jpg' %>">
						</div>
					</div>
					
					<h2>There’s More</h2>
					<p>
As an enterprise client, you enjoy additional services that are exclusive to only our TatangoPlus clients.
					</p>
					<div class="enterprise_twocols">
						<ul class="semibold">
							<li><a href="<%= url_for sms_marketing_consulting_path %>" title="Advisory Services">Dedicated Strategic Advisor</a></li>
							<li><a href="<%= url_for dedicated_short_codes_path %>" title="Dedicated Short Codes">Dedicated SMS short code provisioning</a></li>
							<li><a href="<%= url_for design_services_path %>" title="Design Services">Design services</a></li>
						</ul>
					</div>

					<div class="enterprise_contact">
						<div class="left_txt">
							<p class="large">Contact Our Team</p>
							<p class="phnr">Call: <span>1 (888) 778-9414</span></p>
							<p class="bluelink"><a href="javascript:;" onclick="SnapABug.startLink();" title="Contact us">Start a Live Chat</a></p>
						</div>
						<p class="contact-us"><a href="<%= url_for contact_us_path %>" title="Contact us">Contact Us</a></p>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
