<%
title 'SMS Marketing - Mass Text Message Marketing Software'
meta 'SMS marketing software through Tatango allows your company to create, send and track your text message marketing campaigns. Try it free!'
meta_key 'sms marketing, text message marketing, sms campaigns, Tatango, group sms, text message marketing software, sms marketing software'
body_class 'home'
%>
</div>
</div>
<!-- #END of content -->

<div class="content home-wide">
<div class="center-wide">

<!-- Hotspot -->
<div class="hotspot wide">	
	<div id="slider">
				
		<div class="hot-slider">
				
			<div class="hot-content-left">
				<h1 class="big">INCREASE customer<br />loyalty with SMS Marketing</h1>
				<p class="bla">Send SMS promotions to your customers<br /> with SMS newsletters.</p>
				<p class="try-it-big"><%= link_to "Try it FREE for 7 days", signup_path %></p>
				<div class="clear"><!----></div>
				<p class="take-tour-1">OR</p>
				<p class="take-tour-2"><a href="<%= url_for sms_broadcasts_path %>" title="Take a quick tour">TAKE A QUICK TOUR</a></p>
			</div>
			<div class="hot-content-msg">
				<p class="sms-txt" style="margin-top:90px;">
					For our text club <br />
					members only: <br />
					Show this weekly <br />
					text deal for 1/2 OFF <br />
					an entree when you <br />
					purchase another!
				</p>
			</div>
			<div class="hot-content-img">
				<img src="<%= asset_path 'new-hotspot-1.jpg' %>" width="340" height="324" alt="" />
			</div>
						
		</div>
				
		<div class="hot-slider">
				
			<div class="hot-content-left">
				<h2 class="big">BOOST customer interactions <br />with text message marketing</h2>
				<p class="bla">Use SMS Contests to create new ways<br /> for customers to interact with your business.</p>
				<p class="try-it-big"><%= link_to "Try it FREE for 7 days", signup_path %></p>
				<div class="clear"><!----></div>
				<p class="take-tour-1">OR</p>
				<p class="take-tour-2"><a href="<%= url_for sms_contests_path %>" title="Take a quick tour">TAKE A QUICK TOUR</a></p>
			</div>
			<div class="hot-content-msg">
				<p class="sms-win right" style="margin-top:70px;">
					CONTEST
				</p>
				<p class="sms-txt smaller" style="margin-top:10px;">
					Thanks for your entry.<br /> 
					You are now entered <br />
					to win a FREE <br />
					shopping spree. <br />
					Winners announced <br />
					next week.
				</p>
			</div>
			<div class="hot-content-img">
				<img src="<%= asset_path 'new-hotspot-2.jpg' %>" width="340" height="324" alt="" />
			</div>
						
		</div>
		
		<div class="hot-slider">
				
			<div class="hot-content-left">
				<h2 class="big">SURVEY your customers<br />with SMS marketing</h2>
				<p class="bla">Use SMS Polling to get instant feedback<br /> from customers on their mobile phones.</p>
				<p class="try-it-big"><%= link_to "Try it FREE for 7 days", signup_path %></p>
				<div class="clear"><!----></div>
				<p class="take-tour-1">OR</p>
				<p class="take-tour-2"><a href="<%= url_for sms_polling_path %>" title="Take a quick tour">TAKE A QUICK TOUR</a></p>
			</div>
			<div class="hot-content-msg">
				<p class="sms-win right" style="margin-top:70px;padding:0 0 0 23px;width:87px;">
					SONG3
				</p>
				<p class="sms-txt smaller" style="margin-top:10px;">
					Thanks for voting<br />
					for your favorite song.<br />
					We'll play the winning<br />
					song at 8PM tonight.
				</p>
			</div>
			<div class="hot-content-img">
				<img src="<%= asset_path 'new-hotspot-4.jpg' %>" width="340" height="324" alt="" />
			</div>
						
		</div>
				
		<div class="hot-slider">
				
			<div class="hot-content-left">
				<h2 class="big">ENGAGE new customers<br />with text message marketing</h2>
				<p class="bla">Give customers the information they want, <br />when they want it with SMS autoresponders.</p>
				<p class="try-it-big"><%= link_to "Try it FREE for 7 days", signup_path %></p>
				<div class="clear"><!----></div>
				<p class="take-tour-1">OR</p>
				<p class="take-tour-2"><a href="<%= url_for sms_autoresponders_path %>" title="Take a quick tour">TAKE A QUICK TOUR</a></p>
			</div>
			<div class="hot-content-msg">
				<p class="sms-win right" style="margin-top:70px;">
					RENT
				</p>
				<p class="sms-txt smaller" style="margin-top:10px;">
					We currently have 1 <br />
					and 2 bedroom units <br />
					available for rent. <br />
					Visit our leasing <br />
					office for more info.
				</p>
			</div>
			<div class="hot-content-img">
				<img src="<%= asset_path 'new-hotspot-3.jpg' %>" width="340" height="324" alt="" />
			</div>
						
		</div>
					
	</div>		
</div> <!-- #END of Hotspot -->
			
	
<!-- Products we offer -->
<div class="products-we-offer">
			
	<h2>Tatango gives you unlimited text messaging. <span style="font-size:15px;font-family:MyriadWebCondensed"><a style="color:#2267C3" href="<%= url_for sms_marketing_pricing_path %>" title="See pricing plans">See pricing plans &raquo;</a></span></h2>
				
	<div class="four-offers">
		<div class="four-offers-item">
			<div class="four-item-img">
				<a href="<%= url_for sms_broadcasts_path %>" class="blue" title="SMS Broadcasts powered by Tatango"><img src="<%= asset_path 'sms-marketing-newsletters.png' %>" width="93" height="92" alt="SMS Broadcasts powered by Tatango" /></a>
			</div>
			<h3 class="orange semibold">SMS Broadcasts</h3>
			<p>Send mass text messages to customers through our online SMS marketing software.</p>
			<div class="clear"><!----></div>
			<p class="offers-moredetails"><a href="<%= url_for sms_broadcasts_path %>">More details</a></p>
		</div>
		<div class="four-offers-item">
			<div class="four-item-img">
				<a href="<%= url_for sms_contests_path %>" class="orange" title="SMS contests powered by Tatango"><img src="<%= asset_path 'sms-contests.png' %>" width="93" height="92" alt="SMS contests powered by Tatango" /></a>
			</div>
			<h3 class="orange semibold">SMS Contests</h3>
			<p>Let customers enter a contest directly from their mobile phones via text message. </p>
			<div class="clear"><!----></div>
			<p class="offers-moredetails"><a href="<%= url_for sms_contests_path %>">More details</a></p>
		</div>
		<div class="four-offers-item">
			<div class="four-item-img">
				<a href="<%= url_for sms_polling_path %>" class="lilac" title="SMS polling powered by Tatango"><img src="<%= asset_path 'sms-polling.png' %>" width="93" height="92" alt="SMS polling powered by Tatango" /></a>
			</div>
			<h3 class="orange semibold">SMS Polls</h3>
			<p>Let customers vote directly from their mobile phones via text message.</p>
			<div class="clear"><!----></div>
			<p class="offers-moredetails"><a href="<%= url_for sms_polling_path %>">More details</a></p>
		</div>
		<div class="four-offers-item">
			<div class="four-item-img">
				<a href="<%= url_for sms_autoresponders_path %>" class="green" title="SMS autoresponders powered by Tatango"><img src="<%= asset_path 'sms-autoresponders.png' %>" width="93" height="92" alt="SMS autoresponders powered by Tatango" /></a>
			</div>
			<h3 class="orange semibold">SMS Autoresponders</h3>
			<p>Let customers get information from your business wherever, whenever with auto-replies.</p>
			<div class="clear"><!----></div>
			<p class="offers-moredetails"><a href="<%= url_for sms_autoresponders_path %>">More details</a></p>
		</div>
	</div>
				
	<div class="who-uses-box">
		<h2>Who Uses Tatango</h2>
		<p>“The best part about text message marketing with Tatango is that with one text message, we instantly see customers in our stores.”</p>
		<div>
			<img src="<%= asset_path 'tatango-customer-papa-murphys.png' %>" width="84" height="86" alt="Tatango SMS marketing testimonial from Jenn at Papa Murphy's" />
			<p>Jenn <br />Papa Murphy's</p>
		</div>
	</div>
				
</div>
<!-- #END of products-we-offer -->
			
<!-- CONTENT BOTTOM BAR -->
<div class="content btm" style="padding-bottom:20px">
	<div class="center">
		<div class="wide-content-btm">
			<p class="try-txt">Try Tatango free for 7 days. No credit card. No obligations.</p>
			<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
		</div>
	</div>
</div>
<!-- #END of content btm -->

</div>
</div>
<!-- #END of content -->

<div class="content whytatango">
		<div class="center-wide">
			
			<!-- Why Tatango -->
			<div class="whytatango">
			
				<div class="whytatango-left">
					<h2>Why Tatango?</h2>
					<p>There are millions of good reasons to choose Tatango as your SMS marketing provider. Here are a few...</p>
				</div>
				
				<div class="whytatango-right">
					<div class="whytatango-boxes">
						<h3 class="two-bubbles">Unlimited Text Messaging</h3>
						<p>With Tatango, you pay per subscriber, which means you get <a href="<%= url_for sms_marketing_pricing_path %>" title="Unlimited text message marketing">unlimited text message marketing</a>.</p>
					</div>
					<div class="whytatango-boxes right">
						<h3 class="envelope-fwd">Unlimited SMS Campaigns</h3>
						<p>We don’t limit you on how many SMS keywords or <br />campaigns you can create! Create as many as you like, they’re always free.  
						<a href="<%= url_for sms_marketing_pricing_path %>" title="Learn more about Unlimited SMS Campaigns">Learn More...</a></p>
					</div>
					<div class="clear"><!----></div>
					<div class="whytatango-boxes">
						<h3 class="computer-display">Drop Dead Simple Software</h3>
						<p>When we say Tatango is the easiest to use text message marketing software in the world, we aren’t joking. See for yourself, 
						<a href="http://www.tatango.com/signup" title="Try it free">try it free.</a></p>
					</div>
					<div class="whytatango-boxes right">
						<h3 class="person-tick">Amazing Customer Support</h3>
						<p>At Tatango you aren’t alone in creating an amazing text message marketing campaign. We have free, round the clock support to help you. 
						<a href="<%= url_for contact_path %>" title="Got a question, ask us">Got a question, ask us.</a></p>
					</div>
				</div>
				
			</div>
			<!-- #END of why tatango -->
			
		</div>
	</div>
	<!-- #END of whytatango -->
	
<div class="content whatcustomers" style="height:485px">
		<div class="center-wide">
			
			<!-- Why Customers Say -->
			<div class="what-customers-say">
			
				<div class="what-customers-box">
				
					<div class="what-customers-say-left">
						<h2>
							What our <br />
							customers are <br />
							saying about us.
						</h2>
						<p>Hear what a few of our thousands of customers are saying about SMS marketing with Tatango.</p>
					</div>
					
					<div class="what-customers-say-right">
						<div class="some-saying-box">
							<div class="qt-img">
								<img src="<%= asset_path 'tatango-customer-new-york-pizza.png' %>" width="72" height="72" alt="Tatango SMS marketing testimonial from Mike at New York Pizza" />
							</div>
							<div class="qt-txt">
								<p class="qt">
									"Tatango brings in more customers per week than any other marketing effort."
								</p>
								<p class="author">Mike (New York Pizza)</p>
							</div>
						</div>
						<div class="some-saying-box">
							<div class="qt-img">
								<img src="<%= asset_path 'tatango-customer-acme-bowling.png' %>" width="72" height="72" alt="Tatango text message marketing testimonial from Olivia at ACME bowling" />
							</div>
							<div class="qt-txt">
								<p class="qt">
									"We've put a small amount of effort into SMS marketing and we're already seeing great ROI. What an amazing marketing tool!"
								</p>
								<p class="author">Olivia (ACME Bowling)</p>
							</div>
						</div>
						<div class="some-saying-box">
							<div class="qt-img">
								<img src="<%= asset_path 'tatango-customer-reset-games.png' %>" width="72" height="72" alt="Tatango SMS marketing testimonial from Kathy at Reset Games" />
							</div>
							<div class="qt-txt">
								<p class="qt">
									"SMS marketing is by far the most effective marketing tool we have to bring customers through our doors. "
								</p>
								<p class="author">Kathy (Reset Games)</p>
							</div>
						</div>
					</div>
					
					<div class="try-tour-btns">
						<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
						<p class="inbetween">or</p>
						<p class="take-tour"><a href="<%= url_for sms_broadcasts_path %>" title="Take a Quick Tour">Take a Quick Tour</a></p>
					</div>
					
				</div>
				
				<div class="twitter-box">
				
					<div class="twitter-box-item">
						<div class="twit-img">
							<img src="<%= asset_path 'from-twitter-face1.jpg' %>" width="30" height="30" alt="" />
						</div>
						<div class="twit-txt">
							<em>mrlarrygreen @tatango</em> Hey i do want to let you know that your service is amazing how did you come across the idea! Your a genius!
						</div>
					</div>
					<div class="twitter-box-item">
						<div class="twit-img">
							<img src="<%= asset_path 'from-twitter-face2.jpg' %>" width="30" height="30" alt="" />
						</div>
						<div class="twit-txt">
							<em>mdfabs</em> Great experience so far with <em>@Tatango</em> and <em>@TheDerekJohnson</em>. If you need an <em>#SMS</em> solution, they are the real deal.
						</div>
					</div>
					<div class="twitter-box-item last">
						<div class="twit-img">
							<img src="<%= asset_path 'from-twitter-face3.jpg' %>" width="30" height="30" alt="" />
						</div>
						<div class="twit-txt">
							<em>MikeTRose</em> Points to <em>@thederekjohnson</em> and <em>@tatango</em> for effective email followup. Just converted a prospect into a customer.
						</div>
					</div>
					
				</div>
				
			</div>
			<!-- #END of what customers say -->
			

<% content_for :footer do %>
  <%= render 'promo_footer' %>
<% end %>
