<% 
title 'Learn SMS Marketing'
body_class 'wide' 


videos = [  { :url => "http://app.wistia.com/embed/medias/7ffbdaf38e.html?width=640&height=360&autoplay=false&playbutton=true&controls_visible=false&end_video_behavior=default",
              :image => "#{asset_path 'videos/t4dcenlkkadbhjv0uho7.png'}",
              :title => "What is SMS Marketing?" },

            { :url => "http://app.wistia.com/embed/medias/5d46597c6c.html?width=640&height=360&autoplay=false&playbutton=true&controls_visible=false&end_video_behavior=default",
              :image => "#{asset_path 'videos/gn9f9qvkzgqt1gpujpdn.png'}",
              :title => "SMS Marketing Keywords and Short Codes" },

            { :url => "http://app.wistia.com/embed/medias/b899b5810c.html?width=640&height=360&autoplay=false&playbutton=true&controls_visible=false&end_video_behavior=default",
              :image => "#{asset_path 'videos/yglb440pfysxfib6gyzt.png'}",
              :title => "How to Select SMS Keywords" },

            { :url => "http://app.wistia.com/embed/medias/6463346791.html?width=640&height=360&autoplay=false&playbutton=true&controls_visible=false&end_video_behavior=default",
              :image => "#{asset_path 'videos/s3elnyrogba70e5uhiqr.png'}",
              :title => "Where to Advertise Your SMS Campaign" },

            { :url => "http://app.wistia.com/embed/medias/d65b1f3240.html?width=640&height=360&autoplay=false&playbutton=true&controls_visible=false&end_video_behavior=default",
              :image => "#{asset_path 'videos/5lirj1zihtofh3qlvjv2.png'}",
              :title => "Best Practices For Advertising" },

            { :url => "http://app.wistia.com/embed/medias/98ea83b93d.html?width=640&height=360&autoplay=false&playbutton=true&controls_visible=false&end_video_behavior=default",
              :image => "#{asset_path 'videos/zl6oxmoothk9r5imeh77.png'}",
              :title => "How Often Should Text Campaigns be Sent" },

            { :url => "http://app.wistia.com/embed/medias/ceb894c3f5.html?width=640&height=360&autoplay=false&playbutton=true&controls_visible=false&end_video_behavior=default",
              :image => "#{asset_path 'videos/d20tzayfgundi96qgz4j.png'}",
              :title => "The Perfect SMS Campaign" },

            { :url => "http://app.wistia.com/embed/medias/be911f5814.html?width=640&height=360&autoplay=false&playbutton=true&controls_visible=false&end_video_behavior=default",
              :image => "#{asset_path 'videos/jt0cvndkum865x0u3oet.png'}",
              :title => "Measuring The Success of SMS Advertising" },

            { :url => "http://app.wistia.com/embed/medias/d63f75f15b.html?width=640&height=360&autoplay=false&playbutton=true&controls_visible=false&end_video_behavior=default",
              :image => "#{asset_path 'videos/3egk5m7l7t7q5flefx8m.png'}",
              :title => "SMS Marketing with QR Codes" },

            { :url => "http://app.wistia.com/embed/medias/4694cfc324.html?width=640&height=360&autoplay=false&playbutton=true&controls_visible=false&end_video_behavior=default",
              :image => "#{asset_path 'videos/k8dptbj2epzjuulzji6e.png'}",
              :title => "SMS Marketing for Multiple Locations" },

            { :url => "http://app.wistia.com/embed/medias/2ef89354ef.html?width=640&height=360&autoplay=false&playbutton=true&controls_visible=false&end_video_behavior=default",
              :image => "#{asset_path 'videos/8eaue9qlqjlg278vmk19.png'}",
              :title => "Links & Phone Numbers in Promotions" },

            { :url => "http://app.wistia.com/embed/medias/762e5cadbe.html?width=640&height=360&autoplay=false&playbutton=true&controls_visible=false&end_video_behavior=default",
              :image => "#{asset_path 'videos/mbr9vkrzufn9i1bzcjl1.png'}",
              :title => "SMS Marketing with Groupon" },

            { :url => "http://app.wistia.com/embed/medias/794dd05c39.html?width=640&height=360&autoplay=false&playbutton=true&controls_visible=false&end_video_behavior=default",
              :image => "#{asset_path 'videos/b2uba7n2rm1atoo9kzn7.png'}",
              :title => "Check-in Services with SMS Marketing" },

            { :url => "http://app.wistia.com/embed/medias/3f81249090.html?width=640&height=360&autoplay=false&playbutton=true&controls_visible=false&end_video_behavior=default",
              :image => "#{asset_path 'videos/zyk4oke9vbrllxgcabl9.png'}",
              :title => "Alcohol and SMS Marketing" },

            { :url => "http://app.wistia.com/embed/medias/5f3a3b3632.html?width=640&height=360&autoplay=false&playbutton=true&controls_visible=false&end_video_behavior=default",
              :image => "#{asset_path 'videos/30nz14usxeqz2q764vds.png'}",
              :title => "SMS Marketing Opt In Message Requirements" },

            { :url => "http://app.wistia.com/embed/medias/cc5509262e.html?width=640&height=360&autoplay=false&playbutton=true&controls_visible=false&end_video_behavior=default",
              :image => "#{asset_path 'videos/o9slsbgp9qgnkciied26.png'}",
              :title => "Leaving an SMS Marketing Campaign" },

            { :url => "http://app.wistia.com/embed/medias/cc6c75c9fe.html?width=640&height=360&autoplay=false&playbutton=true&controls_visible=false&end_video_behavior=default",
              :image => "#{asset_path 'videos/5v9j2jpbjhy8sqpgv7nm.png'}",
              :title => "SMTP vs SMPP SMS Messaging" },

            { :url => "http://app.wistia.com/embed/medias/a1da1e598b.html?width=640&height=360&autoplay=false&playbutton=true&controls_visible=false&end_video_behavior=default",
              :image => "#{asset_path 'videos/mof3vqt6dd6jva23va3z.png'}",
              :title => "Standard SMS vs Premium SMS" },

            { :url => "http://app.wistia.com/embed/medias/7ed3df5ad3.html?width=640&height=360&autoplay=false&playbutton=true&controls_visible=false&end_video_behavior=default",
              :image => "#{asset_path 'videos/3k3ux8fnbjk5m3fvs54y.png'}",
              :title => "What is a QR Code?" },

            { :url => "http://app.wistia.com/embed/medias/9db9bcef83.html?width=640&height=360&autoplay=false&playbutton=true&controls_visible=false&end_video_behavior=default",
              :image => "#{asset_path 'videos/y1toa36h2nj1h5luoavj.png'}",
              :title => "Vanity Short Code vs Random Short Code" },

            { :url => "http://app.wistia.com/embed/medias/cd45e240cd.html?width=640&height=360&autoplay=false&playbutton=true&controls_visible=false&end_video_behavior=default",
              :image => "#{asset_path 'videos/3tpc754p52jmxdu3y79p.png'}",
              :title => "Transferring SMS Short Codes" },

            { :url => "http://app.wistia.com/embed/medias/9a4cc27c6d.html?width=640&height=360&autoplay=false&playbutton=true&controls_visible=false&end_video_behavior=default",
              :image => "#{asset_path 'videos/ut5q88azshfefj3gcdys.png'}",
              :title => "Not Receiving Short Code Messages" },

            { :url => "http://app.wistia.com/embed/medias/9bccd04114.html?width=640&height=360&autoplay=false&playbutton=true&controls_visible=false&end_video_behavior=default",
              :image => "#{asset_path 'videos/45aruf1z6vhthjaffdj6.png'}",
              :title => "Dedicated Short Code vs Shared Short Code" },

            { :url => "http://app.wistia.com/embed/medias/3eead637f2.html?width=640&height=360&autoplay=false&playbutton=true&controls_visible=false&end_video_behavior=default",
              :image => "#{asset_path 'videos/oip59i1kgkij94brn56n.png'}",
              :title => "Group SMS VS Text Message Marketing" } ]

def videourlize(title)
  return title.gsub("&amp;","and").downcase.gsub(/[^A-Za-z ]/,'').gsub(" ", "-")
end
%>
			
<div class="wide-content-intro nopadding">
  <h1 class="big">SMS Marketing Video Lessons</h1>
  <p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
</div>

<!-- Wide content -->
<div class="wide-content">

  <p>
    <%= link_to("<  SMS Marketing Resources", sms_marketing_guide_path) %>
  </p>
  
</div>
<!-- #END of wide content -->

<br />

<!-- Wide content -->
<div class="wide-content">

  <% for video in videos %>
  <span class="learn_videos">

    <a id="<%= videourlize(video[:title]) %>_videoPopup" href="<%= video[:url] %>">
    <img src="<%= video[:image] %>" /><br />
    <%= truncate(video[:title], :length => 41) %>
    </a>
    
    <script type="text/javascript" src="http://static.wistia.com/popover/popover.js"></script><script type="text/javascript">
    //<![CDATA[
    Wistia.requireFancyBoxAssets(function() {Wistia.fancyBoxJQuery("#<%= videourlize(video[:title]) %>_videoPopup").fancybox({type: "iframe",width: 640,height: 360});});
    //]]>
    </script>

  </span>
  <% end %>
</div>
<!-- #END of wide content -->

<script type="text/javascript">
  vid = '<%= params[:url] %>';

  if($('a#' + vid + '_videoPopup').length != 0){
    Wistia.requireFancyBoxAssets(function() {
      Wistia.fancyBoxJQuery.fancybox({
        type: "iframe",
        width: 640,
        height: 360,
        'href': $('a#' + vid + '_videoPopup').attr("href")
        });
    });
  }
</script>
