<% 
title 'Learn SMS Marketing'
body_class 'wide' 
%>
			
<div class="wide-content-intro nopadding">
  <span class="big">Learn SMS Marketing</span>
  <p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
</div>

<!-- Wide content -->
<div class="wide-content">

  <p>
    Below are resources to boarden your SMS marketing knowledge.
  </p>
  
</div>
<!-- #END of wide content -->

<!-- Wide content -->
<div class="wide-content">

  <div class="wide-content-2cols" style="padding:0">
    
    <div class="client longer">
      <div class="img">
        <img src="<%= asset_path 'video.jpg' %>" width="72" height="72" alt="" />
      </div>
      <div class="txt">
        <h2>SMS Marketing Video Lessons</h2>
        <p>
          Sit back and enjoy the many short SMS marketing educational videos in a series we call Tatango University. 
          <br />
          <a href="<%= url_for(videos_sms_marketing_101_path) %>" class="arrow">Watch SMS Marketing Video Lessons</a>
        </p>
      </div>
    </div>
    
    <div class="client longer">
      <div class="img">
        <img src="<%= asset_path 'book.jpg' %>" width="72" height="72" alt="" />
      </div>
      <div class="txt">
        <h2>Beginner's Guide to SMS Marketing</h2>
        <p>
          Gain access to the most comprehensive SMS marketing guide available on the web. The best part, the guide is completely free! 
          <br />
          <a href="http://www.tatango.com/blog/beginners-guide-to-sms-marketing" class="arrow">Download the SMS Marketing Guide</a>
        </p>
      </div>
    </div>
  </div>
  
  <div class="wide-content-2cols right" style="padding:0">

    <div class="client longer">
      <div class="img">
        <img src="<%= asset_path 'webinars.jpg' %>" width="72" height="72" alt="" />
      </div>
      <div class="txt">
        <h2>Text Message Marketing Webinars</h2>
        <p>
          Attend one of our weekly Thursday text message marketing webinars and learn the basics of launching and managing a text message marketing campaign. 
          <br />
          <a href="http://www.tatango.com/blog/text-message-marketing-webinars" class="arrow">Register for a Text Message Marketing Webinar</a>
        </p>
      </div>
    </div>
    
    <div class="client longer">
      <div class="img">
        <img src="<%= asset_path 'smsblog.jpg' %>" width="72" height="72" alt="" />
      </div>
      <div class="txt">
        <h2>SMS Marketing Blog</h2>
        <p>
          Visit the Tatango SMS Marketing Blog to get your daily fix of SMS marketing news, text message marketing advice, and a little bit of fun stuff. 
          <br />
          <a href="http://www.tatango.com/blog" class="arrow">Read the Tatango SMS Marketing Blog</a>
        </p>
      </div>
    </div>
    
  </div>
  
</div>
<!-- #END of wide content -->
