<%
title 'Political Text Message Campaign Reviews'
meta 'SMS for political organizations - Create, send, and track your SMS campaigns with Tatango. Try Tatango for free!'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<p class="big">Some of Our Successful Customers</p>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
				
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
						<h2 class="select ">Customers by Industry</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for restaurant_text_messaging_path %>" title="Restaurants">Restaurants</a></li>
								<li><a href="<%= url_for retail_sms_path %>" title="Retail">Retail</a></li>
								<li><a href="<%= url_for salons_sms_path %>" title="Salons &amp; Spas">Salons &amp; Spas</a></li>
								<li><a href="<%= url_for church_sms_path %>" title="Ministry">Ministry</a></li>
								<li><a href="<%= url_for entertainment_sms_path %>" title="Entertainment">Entertainment</a></li>
								<li class="active"><a href="<%= url_for political_sms_path %>" title="Political">Political</a></li>
								<li><a href="<%= url_for conference_sms_path %>" title="Conferences">Conferences</a></li>
								<li><a href="<%= url_for group_text_messaging_path %>" title="Groups &amp; Organizations">Groups &amp; Organizations</a></li>
								<li><a href="<%= url_for marketing_agencies_sms_path %>" title="Agencies">Agencies</a></li>
								<li><a href="<%= url_for emergency_sms_alerts_path %>" title="Emergency SMS Alerts">Emergency SMS Alerts</a></li>
								<li><a href="<%= url_for proffesional_services_sms_path %>" title="Professional Services">Professional Services</a></li>
								<li><a href="<%= url_for real_estate_sms_path %>" title="Real Estate">Real Estate</a></li>
							</ul>
						</div>
						<h2>Customers by Product</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for customers_sms_broadcasts_path %>" title="SMS Broadcasts">SMS Broadcasts</a></li>
								<li><a href="<%= url_for customers_sms_contests_path %>" title="SMS Contests">SMS Contests</a></li>
								<li><a href="<%= url_for customers_sms_polling_path %>" title="SMS Polls">SMS Polls</a></li>
								<li><a href="<%= url_for customers_sms_autoresponders_path %>" title="SMS Autoresponders">SMS Autoresponders</a></li>
							</ul>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>

					<p class="signupfree"><%= link_to "Sign Up Free", signup_path %></p>
					<p class="call-grey">Call: (888) 517-6345</p>
					
				</div>
				
				<div class="wide-content-tour right clients">
			
					<h1>Political Text Message Marketing Campaigns</h1>
					<p class="intro">
When it comes to getting out the vote for any political campaign, text message marketing is critical to any political campaigns success. Using Tatango’s text message marketing software, you’re able to quickly and easily collect your constituents mobile phone numbers and send text messages encouraging donations, attendance at events, and most importantly vote when it comes election day. With Tatango, you’re not only getting a low-cost text message marketing tool, you’re getting the secret weapon needed to win your next political campaign.
					</p>
					
					<div class="client-new">
						<div class="img">
							<img src="<%= asset_path 'scott-brown-sms-marketing-campaign-color.jpg' %>" width="141" height="85" alt="" />
							<h2>- Senate Campaign SMS</h2>
						</div>
						<div class="txt">
							<h2>Scott Brown</h2>
							<p class="location">Boston, MA</p>
							<p class="location">Products Used: <a href="<%= url_for sms_broadcasts_path %>">SMS Broadcast</a>, <a href="<%= url_for sms_autoresponders_path %>">SMS Autoresponder</a></p>
							<p>
In 2010, U.S. Senator Scott Brown (R-MA) utilized text message marketing with Tatango to mobilize tens of thousands of supporters to attend rallies, raise awareness within their communities and most importantly, get out and vote on Election Day. In an unprecedented campaign, Scott Brown won the Massachusetts state election, even after trailing his opponent by a large margin up until election day. Political experts credit his win in part to his successful use of technology, including text message marketing during his campaign.
							</p>
							<p>
Tatango works with a wide array of political SMS campaigns on both the local, state and federal level, and has the tools and expertise to help your political campaign get the positive results you want. 
							</p>
						</div>
					</div>
					
					<div class="client-new">
						<div class="img">
							<img src="<%= asset_path 'patty-murray-campaign.jpg' %>" width="141" height="85" alt="" />
							<h2>- Senate Campaign SMS</h2>
						</div>
						<div class="txt">
							<h2>Patty Murray Campaign</h2>
							<p class="location">Seattle, WA</p>
							<p class="location">Products Used: <a href="<%= url_for sms_broadcasts_path %>">SMS Broadcast</a></p>
							<p>
Patty Murray, a Seattle Democrat, was elected in 2010 to serve her fourth term in the United States Senate. During her re-election, she was challenged by Republican nominee Dino Rossi. Even with Patty Murray being the fourth-highest-ranking Democrat and the highest-ranking woman in the Senate, Dino Rossi presented a formable challenger for the Senate seat.
							</p>
							<p>
Before the 2010 election, Patty Murray came to Tatango looking to implement a text message marketing campaign to improve communications with her technology savvy and mobile constituents. During the election, Murray used Tatango to send text messages about events, updates for staff and volunteers, and most importantly to remind voters to head to the polls on election day.
							</p>
							<p>
Whether you're a Democrat, Republican or Independent, Tatango not only helps you improve voter communications, but gives you the tools and expertise to win elections.
							</p>
						</div>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
