<%
title 'Real Estate Client Reviews &amp; Testimonials'
meta 'Real estate brokers, agents and property management companies use Tatango to take their property listings mobile with real estate SMS.'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<p class="big">Some of Our Successful Customers</p>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
				
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
						<h2 class="select ">Customers by Industry</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for restaurant_text_messaging_path %>" title="Restaurants">Restaurants</a></li>
								<li><a href="<%= url_for retail_sms_path %>" title="Retail">Retail</a></li>
								<li><a href="<%= url_for salons_sms_path %>" title="Salons &amp; Spas">Salons &amp; Spas</a></li>
								<li><a href="<%= url_for church_sms_path %>" title="Ministry">Ministry</a></li>
								<li><a href="<%= url_for entertainment_sms_path %>" title="Entertainment">Entertainment</a></li>
								<li><a href="<%= url_for political_sms_path %>" title="Political">Political</a></li>
								<li><a href="<%= url_for conference_sms_path %>" title="Conferences">Conferences</a></li>
								<li><a href="<%= url_for group_text_messaging_path %>" title="Groups &amp; Organizations">Groups &amp; Organizations</a></li>
								<li><a href="<%= url_for marketing_agencies_sms_path %>" title="Agencies">Agencies</a></li>
								<li><a href="<%= url_for emergency_sms_alerts_path %>" title="Emergency SMS Alerts">Emergency SMS Alerts</a></li>
								<li><a href="<%= url_for proffesional_services_sms_path %>" title="Professional Services">Professional Services</a></li>
								<li class="active"><a href="<%= url_for real_estate_sms_path %>" title="Real Estate">Real Estate</a></li>
							</ul>
						</div>
						<h2>Customers by Product</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for customers_sms_broadcasts_path %>" title="SMS Broadcasts">SMS Broadcasts</a></li>
								<li><a href="<%= url_for customers_sms_contests_path %>" title="SMS Contests">SMS Contests</a></li>
								<li><a href="<%= url_for customers_sms_polling_path %>" title="SMS Polls">SMS Polls</a></li>
								<li><a href="<%= url_for customers_sms_autoresponders_path %>" title="SMS Autoresponders">SMS Autoresponders</a></li>
							</ul>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>

					<p class="signupfree"><%= link_to "Sign Up Free", signup_path %></p>
					<p class="call-grey">Call: (888) 517-6345</p>
					
				</div>
				
				<div class="wide-content-tour right clients">
			
					<h1>Real Estate SMS</h1>
					<p class="intro">
Are you a real estate broker or agent looking to increase the amount of potential buyers for your property listings? Maybe you're an apartment manager or property management company looking to fill vacancies? The solution is to take your property listings mobile with Tatango. With real estate SMS powered by Tatango, potential buyers and renters will be able to request property information directly to their mobile phones with a simple text message. Not only are you now allowing potential buyers and renters to request the information they need, when you use the Tatango real estate SMS platform, you're building a database of potential buyers and renters.
					</p>
					
					<div class="client-new">
						<div class="img">
							<img src="<%= asset_path 'pomeroy-court-apartments.jpg' %>" width="141" height="85" alt="" />
							<h2>- Apartment SMS</h2>
						</div>
						<div class="txt">
							<h2>Pomeroy Court Apartments</h2>
							<p class="location">Bellingham, WA</p>
							<p class="location">Products Used: <a href="<%= url_for sms_autoresponders_path %>">SMS Autoresponder</a></p>
							<p>
Pomeroy Court Apartments located near Western Washington University came to Tatango looking for a way to connect with potential student tenants. Being that university students are relying more and more on their mobile phones to hunt for a new apartment, the apartment complex built a new mobile website with photos, directions, availability and contact information. 
							</p>
							<p>
Pomeroy Court then needed a quick and easy way to direct students who were walking and driving by to visit their website on their mobile phones. At first, they told passerbys to enter a clunky URL into their mobile internet browsers, with little to no success. That's when they decided to give Tatango a shot and created an SMS Autoresponder, allowing passing students to request the URL to their mobile phones via a simple text message. This method was a drastic improvement, significantly increasing the amount of traffic to their mobile website and eventually leading to fewer apartment vacancies.
							</p>
							<p>
Tatango is the leader in apartment text messaging, helping apartment owners nationwide go mobile. Is your apartment complex using text messaging? If not, maybe it's time you give the awesome people at Tatango a call.
							</p>
						</div>
					</div>
					
					<div class="client-new">
						<div class="img">
							<img src="<%= asset_path 'houston-modern-rentals.jpg' %>" width="141" height="85" alt="" />
							<h2>- Apartment Hunting SMS</h2>
						</div>
						<div class="txt">
							<h2>Houston Modern Rentals</h2>
							<p class="location">Houston, TX</p>
							<p class="location">Products Used: <a href="<%= url_for sms_autoresponders_path %>">SMS Autoresponder</a></p>
							<p>
For apartment hunters, generating consistent, quality leads is critical in running a successful apartment hunting business. As any apartment hunter will tell you though, generating these consistent, quality leads is tough and can require a ton of work. 
							</p>
							<p>
Jeremy Ruth with Houston Modern Rentals knew this all too well. He came to Tatango looking not only for a way to take his apartment hunting business mobile, but to increase the amount of quality leads he received on a daily basis. To do this, Jeremy set up unique SMS Autoresponders for each and every property he had available. When a potential client viewed a property, they were encouraged to send a text message to get more information on the property. The result of a client interacting with one of his SMS Autoresponders is that customers' mobile phone numbers are captured and sent instantly to Jeremy's email address, allowing him to follow up with the potential clients on available properties in the area.
							</p>
							<p>
Apartment hunting can be a jungle and when it comes to navigating that jungle, Tatango knows apartment hunting text messaging better than any other services out there. Let us prove it to you, contact us today to discuss your real estate text messaging needs.
							</p>
						</div>
					</div>
					
					<div class="client-new">
						<div class="img">
							<img src="<%= asset_path 'accurate-property.jpg' %>" width="141" height="85" alt="" />
							<h2>- Property Management SMS</h2>
						</div>
						<div class="txt">
							<h2>Accurate Property Sales &amp; Management</h2>
							<p class="location">Bellingham, WA</p>
							<p class="location">Products Used: <a href="<%= url_for sms_autoresponders_path %>">SMS Autoresponder</a></p>
							<p>
One of the biggest challenges for any apartment management company is to find suitable tenants for vacant properties. One tactic used by many apartment management companies is to leave take-away flyers outside a a property with information specific to that property. The problem with this tactic is that paper flyers need to be continuously replenished as potential tenants take them. They have to be re-printed as information is updated, and worst of all, using all of that paper and ink is costly and bad for the environment.
							</p>
							<p>
This was the dilemma faced by James Pullman of Accurate Property Sales & Management when they came to Tatango. The solution was to create Tatango SMS Autoresponders and advertise them in front of each of their available properties. Now, instead of potential renters taking a piece of paper to get information on a property, they are able to request the information to be sent directly to their mobile phones via text message. This not only saved Accurate Property Sales & Management money, as they no longer need to print paper flyers, it guarantees current information is delivered to potential renters with the help of real-time Autoresponders.
							</p>
							<p>
When it comes to property management text messaging, Tatango not only has the products required to take your properties mobile, it has the experience and knowledge gained from working with hundreds of other property management companies to make sure it's done right.
							</p>
						</div>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
