<%
title 'Restaurant Text Marketing Review'
meta 'Text message marketing for restaurants - Create, send, and track your text messaging campaigns with Tatango. Try Tatango for free!'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<p class="big">Some of Our Successful Customers</p>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
				
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
						<h2 class="select ">Customers by Industry</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li class="active"><a href="<%= url_for restaurant_text_messaging_path %>" title="Restaurants">Restaurants</a></li>
								<li><a href="<%= url_for retail_sms_path %>" title="Retail">Retail</a></li>
								<li><a href="<%= url_for salons_sms_path %>" title="Salons &amp; Spas">Salons &amp; Spas</a></li>
								<li><a href="<%= url_for church_sms_path %>" title="Ministry">Ministry</a></li>
								<li><a href="<%= url_for entertainment_sms_path %>" title="Entertainment">Entertainment</a></li>
								<li><a href="<%= url_for political_sms_path %>" title="Political">Political</a></li>
								<li><a href="<%= url_for conference_sms_path %>" title="Conferences">Conferences</a></li>
								<li><a href="<%= url_for group_text_messaging_path %>" title="Groups &amp; Organizations">Groups &amp; Organizations</a></li>
								<li><a href="<%= url_for marketing_agencies_sms_path %>" title="Agencies">Agencies</a></li>
								<li><a href="<%= url_for emergency_sms_alerts_path %>" title="Emergency SMS Alerts">Emergency SMS Alerts</a></li>
								<li><a href="<%= url_for proffesional_services_sms_path %>" title="Professional Services">Professional Services</a></li>
								<li><a href="<%= url_for real_estate_sms_path %>" title="Real Estate">Real Estate</a></li>
							</ul>
						</div>
						<h2>Customers by Product</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for customers_sms_broadcasts_path %>" title="SMS Broadcasts">SMS Broadcasts</a></li>
								<li><a href="<%= url_for customers_sms_contests_path %>" title="SMS Contests">SMS Contests</a></li>
								<li><a href="<%= url_for customers_sms_polling_path %>" title="SMS Polls">SMS Polls</a></li>
								<li><a href="<%= url_for customers_sms_autoresponders_path %>" title="SMS Autoresponders">SMS Autoresponders</a></li>
							</ul>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>

					<p class="signupfree"><%= link_to "Sign Up Free", signup_path %></p>
					<p class="call-grey">Call: (888) 517-6345</p>
					
				</div>
				
				<div class="wide-content-tour right clients">
			
					<h1>Restaurant Text Message Marketing Campaigns</h1>
					<p class="intro">
						How would you like to see your restaurant filled to capacity every day of the week with your most loyal clients? How about driving customers during certain times during the day or encouraging purchases of high margin menu items? With text message marketing powered by Tatango, this is all possible. With Tatango you’re able to send enticing text messages to customers about events, new menu items and special promotions anytime, any-day you want. Selecting the right tools for a restaurant marketing plan can be a challenge, but if you’re looking for results, text message marketing will always deliver.
					</p>
					
					<div class="client-new">
						<div class="img">
							<img src="<%= asset_path 'new-york-pizza-sms-marketing-campaign-color.jpg' %>" width="141" height="85" alt="" />
							<h2>- Casual Dining SMS</h2>
						</div>
						<div class="txt">
							<h2>New York Pizza &amp; Bar</h2>
							<p class="location">Lynden, WA</p>
							<p class="location">Products Used: <a href="<%= url_for sms_broadcasts_path %>">SMS Broadcast</a>, <a href="<%= url_for sms_autoresponders_path %>">SMS Autoresponders</a></p>
							<p>
								After spending thousands of dollars advertising in the local newspaper with minimal success, this pizza restaurant turned to Tatango to get more bang for their advertising buck. Within the first month, text message marketing brought in more customers, while costing the restaurant only a fraction of what they were paying for advertising in their local newspaper. A year later, New York Pizza still sees text message marketing as their best and most cost efficient form of advertising.
							</p>
							<p>
								No matter whether you're serving pizza or filet mignon, every restaurant could use more customers. With restaurant SMS campaigns, you will be able to gain more customers, while spending less. 
								<a href="https://www.box.com/shared/static/2f9d319733040b1d6a40.pdf" title="Download PDF Case Study" rel="nofollow">Download PDF Case Study</a>
							</p>
						</div>
					</div>
					
					<div class="client-new">
						<div class="img">
							<img src="<%= asset_path 'cruisin-coffee-sms-marketing-campaign-color.jpg' %>" width="141" height="85" alt="" />
							<h2>- Café SMS</h2>
						</div>
						<div class="txt">
							<h2>Cruisin Coffee</h2>
							<p class="location">Bellingham, WA</p>
							<p class="location">Products Used: <a href="<%= url_for sms_broadcasts_path %>">SMS Broadcast</a></p>
							<p>
								This chain of drive-through espresso stands uses Tatango to send promotions to their "on-the-go" customers. These promotions drive sales during slow periods of the day, highlight new product offerings and increase the average order size by creating bundled packages of products. This client now uses text message marketing as an integral part of their marketing efforts.
							</p>
							<p>
								If you're a business that needs to reach the type of customer that is always "on-the-go", there is no better way than with SMS campaigns. 
							</p>
						</div>
					</div>
					
					<div class="client-new">
						<div class="img">
							<img src="<%= asset_path 'wendys-sms-marketing-campaign-color.jpg' %>" width="141" height="85" alt="" />
							<h2>- Fast Food SMS</h2>
						</div>
						<div class="txt">
							<h2>Wendy’s</h2>
							<p class="location">Westport, CT</p>
							<p class="location">Products Used: <a href="<%= url_for sms_broadcasts_path %>">SMS Broadcast</a></p>
							<p>
								With thousands of customers joining their Tatango campaign, the franchise was able to reach their customer base more efficiently than ever before. SMS marketing has led to increased customer visits and order sizes, thus boosting business across the entire franchise.
							</p>
							<p>
								Tatango has experience in helping a wide array of both franchisees and franchises achieve their marketing goals with SMS marketing. Contact one of our experts today to start your restaurant SMS 
								campaign. <a href="https://www.box.com/shared/static/066e462657b5f76d5e77.pdf" title="Download PDF Case Study" rel="nofollow">Download PDF Case Study</a>
							</p>
						</div>
					</div>
					
					<div class="client-new">
						<div class="img">
							<img src="<%= asset_path 'avenue-bread-profile.jpg' %>" width="141" height="85" alt="" />
							<h2>- Restaurant SMS</h2>
						</div>
						<div class="txt">
							<h2>Avenue Bread</h2>
							<p class="location">Whatcom County, WA</p>
							<p class="location">Products Used: <a href="<%= url_for sms_broadcasts_path %>">SMS Broadcast</a></p>
							<p>
Avenue Bread came to Tatango looking to launch an SMS loyalty program to increase sales. The campaign was launched across three different locations, and promoted through in-store window decals and various social media channels. Customers were asked to subscribe on their mobile phones through a mobile opt-in to weekly text message promotions.
							</p>
							<p>
During the SMS campaign, their SMS subscriber list had an average growth rate (month over month) of 120%, and Avenue bread experienced up to 58% redemption rates on some of their most popular text message promotions. 
<a href="https://www.box.com/shared/static/e046b06bc7980988babc.pdf" title="Download PDF Case Study" rel="nofollow">Download PDF Case Study</a>
							</p>
						</div>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
