<%
title 'Retail SMS Marketing Testimonial'
meta 'Text message marketing for retail organizations - Create, send, and track your text message marketing campaigns with Tatango. Try Tatango for free!'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<p class="big">Some of Our Successful Customers</p>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
				
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
						<h2 class="select ">Customers by Industry</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for restaurant_text_messaging_path %>" title="Restaurants">Restaurants</a></li>
								<li class="active"><a href="<%= url_for retail_sms_path %>" title="Retail">Retail</a></li>
								<li><a href="<%= url_for salons_sms_path %>" title="Salons &amp; Spas">Salons &amp; Spas</a></li>
								<li><a href="<%= url_for church_sms_path %>" title="Ministry">Ministry</a></li>
								<li><a href="<%= url_for entertainment_sms_path %>" title="Entertainment">Entertainment</a></li>
								<li><a href="<%= url_for political_sms_path %>" title="Political">Political</a></li>
								<li><a href="<%= url_for conference_sms_path %>" title="Conferences">Conferences</a></li>
								<li><a href="<%= url_for group_text_messaging_path %>" title="Groups &amp; Organizations">Groups &amp; Organizations</a></li>
								<li><a href="<%= url_for marketing_agencies_sms_path %>" title="Agencies">Agencies</a></li>
								<li><a href="<%= url_for emergency_sms_alerts_path %>" title="Emergency SMS Alerts">Emergency SMS Alerts</a></li>
								<li><a href="<%= url_for proffesional_services_sms_path %>" title="Professional Services">Professional Services</a></li>
								<li><a href="<%= url_for real_estate_sms_path %>" title="Real Estate">Real Estate</a></li>
							</ul>
						</div>
						<h2>Customers by Product</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for customers_sms_broadcasts_path %>" title="SMS Broadcasts">SMS Broadcasts</a></li>
								<li><a href="<%= url_for customers_sms_contests_path %>" title="SMS Contests">SMS Contests</a></li>
								<li><a href="<%= url_for customers_sms_polling_path %>" title="SMS Polls">SMS Polls</a></li>
								<li><a href="<%= url_for customers_sms_autoresponders_path %>" title="SMS Autoresponders">SMS Autoresponders</a></li>
							</ul>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>

					<p class="signupfree"><%= link_to "Sign Up Free", signup_path %></p>
					<p class="call-grey">Call: (888) 517-6345</p>
					
				</div>
				
				<div class="wide-content-tour right clients">
			
					<h1>Retail Text Message Marketing Campaigns</h1>
					<p class="intro">
						Looking for an easy way to increase sales, build brand loyalty and keep customers connected with your retail business? With text message marketing, you’re now able to easily communicate with your customers with easy-to-use text message marketing software by Tatango. Whether it’s a text message about a new arrival, an upcoming event or promotion, or even an exclusive offer to your most loyal customers, text message marketing is sure to grow your retail business.
					</p>
					
					<div class="client-new">
						<div class="img">
							<img src="<%= asset_path 'reset-games-sms-marketing-campaign-color.jpg' %>" width="141" height="85" alt="" />
							<h2>- Gaming SMS</h2>
						</div>
						<div class="txt">
							<h2>Reset Games</h2>
							<p class="location">Tulalip, WA</p>
							<p class="location">Products Used: <a href="<%= url_for sms_broadcasts_path %>">SMS Broadcast</a>, <a href="<%= url_for sms_contests_path %>">SMS Contest</a></p>
							<p>
								Reset Games came to Tatango looking for a better way to announce new video game releases to their current customers. In the video game industry, getting even a second of your customers' attention is challenging to say the least. By using SMS marketing they were able to get their message in front of their customers, prompting them to visit the store to purchase the newest releases.							
							</p>
							<p>
								Since 2007, Tatango has been helping retail stores across the country supercharge their marketing efforts. Let us help you make your retail SMS campaigns a success. <br />
								<a href="https://www.box.com/shared/static/ebb8590f0bd1729943d7.pdf" title="Download PDF Case Study" rel="nofollow">Download PDF Case Study</a>
							</p>
						</div>
					</div>
					
					<div class="client-new">
						<div class="img">
							<img src="<%= asset_path 'pilot-travel-sms-marketing-campaign-color.jpg' %>" width="141" height="85" alt="" />
							<h2>- Franchise SMS</h2>
						</div>
						<div class="txt">
							<h2>Pilot Travel Centers</h2>
							<p class="location">Knoxville, TN</p>
							<p class="location">Products Used: <a href="<%= url_for sms_broadcasts_path %>">SMS Broadcast</a></p>
							<p>
								Pilot Travel Centers, the largest Truck Stop chain in the United States, came to Tatango with the task of rolling out a SMS marketing campaign to over 550 locations in partnership with Arby's and Subway. Their SMS marketing campaign was quickly embraced by customers, which resulted in significant growth for the campaign. Increased revenues resulted from the use of Tatango as each promotion encouraged customers to purchase specific bundled products.
							</p>
							<p>
								Since 2007 Tatango has had the opportunity to work with some of the most well known brands in America. Don't trust your restaurant SMS campaigns to just anyone, call the experts to help. 
								<a href="https://www.box.com/shared/static/80344ef6af314334b105.pdf" title="Download PDF Case Study" rel="nofollow">Download PDF Case Study</a>
							</p>
						</div>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
