<%
title 'Enterprise Services'
meta 'Tatango offers an enterprise-level text message marketing platform, with world-class dedicated account management.'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">Enterprise Solutions</span>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content tour-new-shadow">
			
				<div class="wide-content-tour-new">
					
					<div class="tour-left-menu">
						<div class="tour-left-block">
							<p class="active"><a href="<%= url_for services_path %>" title="Enterprise Services">Enterprise Services</a></p>
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_consulting_path %>" title="Advisory Services">Advisory Services</a></li>
								<li><a href="<%= url_for dedicated_short_codes_path %>" title="Dedicated Short Codes">Dedicated Short Codes</a></li>
								<li><a href="<%= url_for agency_sms_marketing_path %>" title="Agency Program">Agency Program</a></li>
								<li><a href="<%= url_for bulk_sms_gateway_path %>" title="Bulk SMS Gateway">Bulk SMS Gateway</a></li>
								<li><a href="<%= url_for design_services_path %>" title="Design Services">Design Services</a></li>
							</ul>
						</div>
						<div class="tour-left-block">
							<p><a href="<%= url_for features_path %>" title="Enterprise Features">Enterprise Features</a></p>
							<ul class="tour-left-menu" style="display:none">
								<li><a href="<%= url_for bulk_sms_path %>" title="Bulk SMS Messaging">Bulk SMS Messaging</a></li>
								<li><a href="<%= url_for advanced_segmenting_path %>" title="Advanced Segmenting">Advanced Segmenting</a></li>
								<li><a href="<%= url_for tatango_api_path %>" title="Tatango API">Tatango API</a></li>
								<li><a href="<%= url_for vanity_short_code_path %>" title="Vanity Short Codes">Vanity Short Codes</a></li>
							</ul>
						</div>
						<div class="tour-left-block">
							<p><a href="<%= url_for contact_us_path %>" title="Contact Us">Contact Us</a></p>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour-new right">
			
					<h1>Tatango Enterprise SMS Marketing Services</h1>
					<img src="<%= asset_path 'enterprise-services.jpg' %>" width="664" height="304" alt="Tatango Enterprise SMS Marketing Services" />
					<p class="border">
Tatango is more than just SMS marketing software; it's a full service SMS marketing provider. Our enterprise services offer a comprehensive range of professional and client support services, including strategic planning, dedicated short code provisioning, campaign setup, training, execution, optimization and more. Learn more about the enterprise services Tatango offers below, and be sure to also check out the <a href="/enterprise/features">enterprise features</a> we offer.
					</p>

					<div class="tour-right-left enterprise">
						<div class="tour-right-left-left">
							<h2>Advisory Services</h2>
							<p>
When it comes to enterprise SMS marketing, it's just as important to select a partner with enterprise-class software as it is to select a partner with industry leading expertise. Tatango has both, ensuring you can maximize your SMS marketing ROI. 
							</p>
							<p>
							<a class="link-arrow" href="<%= url_for sms_marketing_consulting_path %>">Learn more</a>
							</p>
						</div>
						<div class="tour-right-left-right">
							<img width="221" height="165" alt="Advisory Services" src="<%= asset_path 'enterprise-features_advisory.jpg' %>">
						</div>
					</div>
					<div class="tour-right-left enterprise">
						<div class="tour-right-left-left">
							<h2>Dedicated Short Codes</h2>
							<p>
Tatango's dedicated team of short code experts makes purchasing, transferring, provisioning and managing SMS short codes a breeze. When it comes to SMS short codes, no one knows more about them than Tatango. 
							</p>
							<p>
							<a class="link-arrow" href="<%= url_for dedicated_short_codes_path %>">Learn more</a>
							</p>
						</div>
						<div class="tour-right-left-right">
							<img width="221" height="165" alt="Dedicated Short Codes" src="<%= asset_path 'enterprise-features_dedicatedshortcodes.jpg' %>">
						</div>
					</div>
					<div class="tour-right-left enterprise">
						<div class="tour-right-left-left">
							<h2>Agency Program</h2>
							<p>
Tatango provides agencies with our powerful enterprise-class SMS marketing software, along with industry leading expertise to assist your agency with proposals, strategic planning, dedicated short code provisioning, campaign setup, training, execution, report analysis and more.
							</p>
							<p>
							<a class="link-arrow" href="<%= url_for agency_sms_marketing_path %>">Learn more</a>
							</p>
						</div>
						<div class="tour-right-left-right">
							<img width="221" height="165" alt="Agency Program" src="<%= asset_path 'enterprise-features_agency.jpg' %>">
						</div>
					</div>
					<div class="tour-right-left enterprise">
						<div class="tour-right-left-left">
							<h2>SMS Gateway</h2>
							<p>
Tatango's SMS gateway has a proven delivery infrastructure, high message volume through-put and strong wireless carrier relationships. We also offer industry leading expertise to help you through every step of the integration with our SMS gateway.
							</p>
							<p>
							<a class="link-arrow" href="<%= url_for bulk_sms_gateway_path %>">Learn more</a>
							</p>
						</div>
						<div class="tour-right-left-right">
							<img width="221" height="165" alt="SMS Gateway" src="<%= asset_path 'enterprise-features_smsgateway.jpg' %>">
						</div>
					</div>
					<div class="tour-right-left enterprise">
						<div class="tour-right-left-left">
							<h2>Design Services</h2>
							<p>
Tatango offers a wide range of design services, ensuring your text message marketing campaign will be a success from the very beginning. Our highly skilled designers specialize in advertising SMS campaigns on mediums like the web, print, TV and social media.
							</p>
							<p>
							<a class="link-arrow" href="<%= url_for design_services_path %>">Learn more</a>
							</p>
						</div>
						<div class="tour-right-left-right">
							<img width="221" height="165" alt="Design Services" src="<%= asset_path 'enterprise-features_design.jpg' %>">
						</div>
					</div>

					<div class="enterprise_contact" style="margin-top:30px">
						<div class="left_txt">
							<p class="large">Contact Our Team</p>
							<p class="phnr">Call: <span>1 (888) 778-9414</span></p>
							<p class="bluelink"><a href="javascript:;" onclick="SnapABug.startLink();" title="Contact us">Start a Live Chat</a></p>
						</div>
						<p class="contact-us"><a href="<%= url_for contact_us_path %>" title="Contact us">Contact Us</a></p>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
