<%
title 'SMS Marketing Flyer Generator'
meta 'Create SMS marketing flyers for your SMS campaign using the FREE Tatango tool.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2>Video Lessons</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2 class="select ">SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li class="active"><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2>FAQ's</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
			
					<h1>Text Messsage Flyer Creator</h1>
					<p class="intro">
Ready to start advertising your text message marketing campaign? One tool to get you started on the right foot is the Tatango SMS Marketing Flyer Generator. The tool allows anyone to quickly and easily create an advertisement for their SMS marketing campaign that is not only beautifully designed, but also complies with all text message marketing best practices.
					</p>
					
					<style type="text/css">
						div.sms-marketing-flyer form label { font-size:15px;height:20px;line-height:20px; }
						div.generate-marketing-flyer-right h2.prev {
							font-family: 'MyriadProSemibold';
							font-size: 15px;
							height: 16px;
							line-height: 16px;
							padding: 0;
							color:#333;
						}
						div.generate-marketing-flyer-right div.flyer-box-top {
							background:transparent url("<%= asset_path 'flyer-top.png' %>") no-repeat 50% 5px ;
							height: 13px;
							overflow: hidden;
							padding: 5px 0 0 0;
							position: relative;
						}
						div.generate-marketing-flyer-right div.flyer-box {
							background:transparent url("<%= asset_path 'flyer-btm.png' %>") no-repeat 50% bottom;
							overflow: hidden;
							padding: 0 14px;
							position: relative;
							width: 265px;
						}
						div.generate-marketing-flyer-right div.flyer-shadow {
							background: url("<%= asset_path 'flyer-shadow.png' %>") no-repeat scroll 50% 0 transparent;
							height: 14px;
							margin: 5px 0 20px 0;
							overflow: hidden;
							position: relative;
							width: 293px;
						}
						div.sms-marketing-flyer form div.box { float: left;overflow: hidden;padding: 0 0 13px 0;position: relative;width: 278px; }
						div.sms-marketing-flyer form div.box.short { width: 100px; }
						div.sms-marketing-flyer form div.box.medium { width:178px;padding-bottom:7px }
						div.wide-content p.print-flyer-short { float:left;display:block;width:278px;height:45px;font-family:'MyriadBold';text-align:center; }
							div.wide-content p.print-flyer-short a { display:block;width:278px;height:45px;line-height:45px;color:#fff;font-size:20px;text-shadow: #666 0px 1px 2px;padding:0;background:url('<%= asset_path 'btn-print-flyer-short.png' %>') no-repeat 0 0; }
							div.wide-content p.print-flyer-short a:hover { background-position:0 -45px;text-decoration:none }
					</style>
					
					<div class="admin-stripes-box" style="width:612px;padding:25px 25px 0 25px">			
						
						<div class="generate-marketing-flyer-left" style="width:278px;padding:0px;">
						  <div class="sms-marketing-flyer" style="width:278px;padding:0px;">
							<form id="flyerForm" method="post" action="" style="width:278px;padding:0px;">
							  <fieldset>
								<legend>Sign Up</legend>
								<div class="box">
								  <label for="">Message Type</label><br />
								  <textarea style="width:256px" id="messageType" name="message" value="" tabindex="1" maxlength="26"><%= params[:message] or "Sign up for Special Offers" %></textarea>
								  <a rel="preview-title" class="upRel" /></a>
								</div>
								<div class="box">
								  <label for="">Customer Reward</label><br />
								  <textarea style="width:256px" id="customerReward" class="red" name="reward" value="" tabindex="2" maxlength="42"><%= params[:reward] or "and receive a FREE soda with purchase!" %></textarea>
								  <a rel="preview-subTitle" class="upRel" /></a>
								</div>
								<div class="box">
								  <label for="">Keyword</label><br />
								  <input id="keywordName" name="keyword" class="red" type="text" tabindex="3" value="<%= params[:keyword] or "RICKS" %>" name="" maxlength="15" style="text-transform: uppercase;width:260px" />
								  <a rel="preview-listName" class="upRel" /></a>
								  <span class="end"></span>
								</div>
								<div class="box short">
								  <label for="">Short Code</label><br />
								  <input style="width:70px" id="shortCode" name="shortcode" type="text" tabindex="4" value="<%= params[:shortcode] or "68398" %>" name="" maxlength="6" />
								  <a rel="preview-shortCode" class="upRel" /></a>
								  <span class="end"></span>
								</div>
								<div class="box medium">
								  <label for="">Messages per Month</label><br />
								  <input id="messageVolume" name="volume" type="text" tabindex="6" value="<%= params[:volume] or "4" %>" name="" maxlength="2"  style="width:70px" />
								  <a rel="preview-messageVolume" class="upRel" /></a>
								  <span class="end"></span><br />
								  <br />
                  <p style="padding:4px 0;font-size:14px"><i>Only required for Broadcasts</i></p>
								</div>
								<div class="box">
								  <label for="">Organization Name</label><br />
								  <input style="width:260px" id="organizationName" name="organization" type="text" tabindex="5" value="<%= params[:organization] or "Rick's Pizza" %>" name="" maxlength="17" />
								  <a rel="preview-OrganizationName" class="upRel" /></a>
								  <span class="end"></span>
								</div>
								
							
								<div class="box">
								  <p class="print-flyer-short"><a id="pdfUrl" href="" title="Download Print Ready PDF" target="_blank">Download Print Ready PDF</a></p>
								</div>
								<script type="text/javascript">
								  var updatePdfUrl = function(){
									url = "<%= url_for sms_marketing_tools_flyer_generator_download_path %>";
									url += "?";
									url += $('#flyerForm').serialize();

									$('#pdfUrl').attr("href", url);
								  }
								  updatePdfUrl();
								  $('#messageType, #customerReward, #keywordName, #shortCode, #organizationName, #messageVolume').change(function(){
									updatePdfUrl();
								  });
								  $('#messageType, #customerReward, #keywordName, #shortCode, #organizationName, #messageVolume').keyup(function(){
									updatePdfUrl();
								  });
								</script>
							  </fieldset>
							</form>
						  </div>
						</div>
						
						<div class="generate-marketing-flyer-right" style="width:293px">
						  <h2 class="prev">Preview</h2>
						  <div class="flyer-box-top">&nbsp;</div>
						  <div class="flyer-box">
							<p class="messageType" id="preview-messageType"><span></span></p>
							<p  class="customerReward" id="preview-customerReward"><span></span></p>
							<div class="things">
							  <p class="first">
								Text
							  </p>
							  <p id="preview-keywordName" class="middle">
								<span></span>
							  </p>
							  <p class="third">
								to<span id="preview-shortCode"></span>
							  </p>
							</div>
							<div class="things-btm" style="height:33px;margin-bottom:15px">
							  <p class="small">Msg &amp; data rates may apply<br />To opt-out: text STOP / T&amp;C: text HELP<span id="hideMessageVolume"><br /><span id="preview-messageVolume"></span> messages per month</span></p>
							</div>
							<div class="clear">&nbsp;</div>
							<div class="address">
							  <p id="preview-organizationName"><span></span></p> 
							</div>
							<div class="clear">&nbsp;</div>
							<p class="last-text">Start your own mobile marketing campaign at Tatango.com</p>
						  </div>	
						  <div class="flyer-shadow">&nbsp;</div>				
						</div>
						<script type="text/javascript">
						  var updatePreview = function(){
							$('#preview-messageType span').html($('#messageType').val());
							$('#preview-customerReward span').html($('#customerReward').val());
							$('#preview-keywordName span').html($('#keywordName').val());
							$('#preview-shortCode').html($('#shortCode').val());
							$('#preview-organizationName span').html($('#organizationName').val());
							$('#preview-messageVolume').html($('#messageVolume').val());
							if($('#messageVolume').val().length == 0){
							  $('#hideMessageVolume').hide();
							} else {
							  $('#hideMessageVolume').show();
							}
						  }
						  updatePreview();
						  $('#messageType, #customerReward, #keywordName, #shortCode, #organizationName, #messageVolume').change(function(){
							updatePreview();
						  });
						  $('#messageType, #customerReward, #keywordName, #shortCode, #organizationName, #messageVolume').keyup(function(){
							updatePreview();
						  });
						</script>
					</div>
				</div>
				<!-- #END of wide content -->
			</div>
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
