<%
title 'SMS Short Code Messaging'
meta 'Tatango offers shared short code messaging, allowing your SMS campaign to reach all mobile subscribers and carriers.'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">Tatango Tour</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content tour-new-shadow">
			
				<div class="wide-content-tour">
				
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
						<h2>Products</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_broadcasts_path %>" title="SMS Broadcasts">SMS Broadcasts</a></li>
								<li><a href="<%= url_for sms_contests_path %>" title="SMS Contests">SMS Contests</a></li>
								<li><a href="<%= url_for sms_polling_path %>" title="SMS Polls">SMS Polls</a></li>
								<li><a href="<%= url_for sms_autoresponders_path %>" title="SMS Autoresponders">SMS Autoresponders</a></li>
							</ul>
						</div>
						<h2 class="select ">Features</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for unlimited_text_messaging_path %>" title="Unlimited Text Messaging">Unlimited Text Messaging</a></li>
								<li><a href="<%= url_for unlimited_sms_keywords_path %>" title="Unlimited SMS Keywords">Unlimited SMS Keywords</a></li>
								<li class="active"><a href="<%= url_for sms_short_code_messaging_path %>" title="Short Code Messaging">Short Code Messaging</a></li>
								<li><a href="<%= url_for sms_campaign_management_path %>" title="Campaign Management">Campaign Management</a></li>
								<li><a href="<%= url_for subscriber_management_path %>" title="Subscriber Management">Subscriber Management</a></li>
								<li><a href="<%= url_for sms_campaign_reports_path %>" title="Campaign Analytics">Campaign Analytics</a></li>
								<li><a href="<%= url_for sms_delivery_reports_path %>" title="SMS Delivery Reports">SMS Delivery Reports</a></li>
								<li><a href="<%= url_for social_sharing_tools_path %>" title="Social Sharing">Social Sharing</a></li>
								<li><a href="<%= url_for customer_support_path %>" title="Amazing Customer Support">Amazing Customer Support</a></li>
								<li><a href="<%= url_for best_practice_compliant_path %>" title="Best Practices Compliant">Best Practices Compliant</a></li>
								<li><a href="<%= url_for advanced_features_path %>" title="Advanced Features">Advanced Features</a></li>
							</ul>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour-new right">
			
					<h1>SMS Short Code Messaging</h1>
					<img src="<%= asset_path 'tour_sms_short_code_messaging.jpg' %>" width="664" height="320" alt="SMS Short Code Messaging" />
					<p class="border normal">
Tatango offers your business access to a shared 5-digit short code, 68398.  This allows you to create SMS campaigns that work on all mobile carriers, at 
only a fraction of the cost of purchasing your own short code. Learn more about shared short code messaging below and the benefits it offers to your business.
					</p>
					
					<div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<h2>Easy to Remember Code</h2>
								<p>
Unlike regular 10-digit phone numbers, the Tatango phone number is 5 digits, making it significantly easier for consumers to remember and use on their own mobile devices. 
Use Tatango's short code 68398 to take your mobile marketing campaign to the next level.
								</p>
							</div>
							<div class="tour-right-left-right">
								<img src="<%= asset_path 'tour_sms_short_code_messaging_remember.jpg' %>" width="322" height="214" alt="Easy to Remember Code" />
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<img src="<%= asset_path 'tour_sms_short_code_messaging_throughput.jpg' %>" width="322" height="214" alt="High Throughput" />
							</div>
							<div class="tour-right-left-right">
								<h2>High Throughput</h2>
								<p>
SMS short codes are built for high volumes of text messages. If it's essential for your text messages to arrive in a timely fashion on your consumers mobile phones, there's no better way then by using an SMS short code.
								</p>
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<h2>Works on all carriers</h2>
								<p>
SMS short codes are the only wireless carrier approved method for advertising to consumers via text message. Because of this, the Tatango short code 68398 is approved to send SMS promotions to all U.S. wireless carriers.
								</p>
							</div>
							<div class="tour-right-left-right">
								<img src="<%= asset_path 'tour_sms_short_code_messaging_carriers.jpg' %>" width="322" height="214" alt="Works on all carriers" />
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<img src="<%= asset_path 'tour_sms_short_code_messaging_optout.jpg' %>" width="322" height="214" alt="Opt-Out Capabilities" />
							</div>
							<div class="tour-right-left-right">
								<h2>Opt-Out Capabilities</h2>
								<p>
By using an SMS short code, mobile subscribers can <a href="/resources/video-stop-sms-messaging">easily opt-out</a> by replying to any SMS message with the word 'STOP'. This allows you to build a mobile subscriber database of consumers 
who wish to receive your SMS promotions, and allows the ones who don't an easy way to opt-out.
								</p>
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<h2>Shared Short Code</h2>
								<p>
Short codes are extremely expensive, but not anymore with the introduction of <a href="/resources/video-dedicated-shared-short-code">shared short codes</a>. Shared short codes allow multiple businesses to run SMS campaigns with just one short code. 
Get the power of SMS marketing for your business, without the cost of a dedicated short code by using Tatango. Want your own dedicated short code, <a href="/enterprise/dedicated-short-codes">learn more</a>.
								</p>
							</div>
							<div class="tour-right-left-right">
								<img src="<%= asset_path 'tour_sms_short_code_messaging_shared.jpg' %>" width="322" height="214" alt="Shared Short Code" />
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<img src="<%= asset_path 'tour_sms_short_code_messaging_reliability.jpg' %>" width="322" height="214" alt="Reliability Guaranteed" />
							</div>
							<div class="tour-right-left-right">
								<h2>Reliability Guaranteed</h2>
								<p>
Want to make sure that every text message you send arrives successfully on a consumer's mobile phone? By using short code messaging, you'll know exactly what messages were delivered 
successfully to what mobile phones, as Tatango will be able to give you detailed reports for each SMS message and mobile subscriber.
								</p>
							</div>
						</div>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
