<%
title 'SMS Marketing Pricing'
meta 'Tatango offers affordable unlimited SMS marketing plans to fit your company\'s needs.'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">Pricing - Monthly Plans</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
	<!-- Wide content -->
			<div class="wide-content pricing">
			
				<div class="content-left pricing-new">
					
					<h1 style="padding-top:7px">Tatango gives you unlimited text messaging.</h1>
					<p>Send as many text messages as you want. No fine print. No limits whatsoever.</p>
					
					<table class="pricingplan" summary="Pricing table">
						<thead>
							<tr>
								<th class="fir">PHONE NUMBERS</th>
								<th class="sec">MONTHLY COST</th>
								<th class="thi">TEXT MESSAGES</th>
							</tr>
						</thead>
						<tbody>
							<tr class="no">
								<td class="fir">0 - 250</td>
								<td class="sec">$24</td>
								<td class="thi">Unlimited</td>
							</tr>
							<tr class="alt">
								<td class="fir">251 - 500</td>
								<td class="sec">$49</td>
								<td class="thi">Unlimited</td>
							</tr>
							<tr class="no">
								<td class="fir">501 - 1,000</td>
								<td class="sec">$99</td>
								<td class="thi">Unlimited</td>
							</tr>
							<tr class="alt">
								<td class="fir">1,001 - 2,000</td>
								<td class="sec">$199</td>
								<td class="thi">Unlimited</td>
							</tr>
							<tr class="no">
								<td class="fir">2,001 - 5,000</td>
								<td class="sec">$499</td>
								<td class="thi">Unlimited</td>
							</tr>
							<tr class="btm">
								<td colspan="3" class="lastbtm">
									<p class="lasttxt"><span style="">Try Tatango free for 7 days.<br />No credit card.</span></p> <p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
								</td>
							</tr>
						</tbody>
					</table>
					
					<div class="enterprise_solutions_box">
						<div class="enterprise_top">
							<p>Enterprise Solutions</p>
						</div>
						<div class="enterprise_middle">
							<p class="semibold">We have solutions for your more advanced sending needs.</p>
							<ul>
								<li><a href="<%= url_for bulk_sms_path %>">High Volume Messaging</a></li>
								<li><a href="<%= url_for dedicated_short_codes_path %>">Dedicated Short Codes</a></li>
								<li><a href="<%= url_for sms_marketing_consulting_path %>">Strategic Services</a></li>
							</ul>
							<ul>
								<li><a href="<%= url_for features_path %>">Advanced Features</a></li>
								<li><a href="<%= url_for agency_sms_marketing_path %>">Agency Accounts</a></li>
								<li><a href="<%= url_for design_services_path %>">Design Services</a></li>
							</ul>
						</div>
						<div class="enterprise_btm">
							<p class="semibold">Give our enterprise team a call: <span>(888) 778 - 9414</span> or <a href="<%= contact_us_path %>">Contact Us</a></p>
						</div>
					</div>
					
				</div>
				
				<div class="content-right pricing-new">
					
					<div class="pricing-stripes-right">
						<h2>All Plans Include...</h2>
						<ul class="big-tick semibold">
							<li>Unlimited Text Messaging</li>
							<li>Unlimited Keywords</li>
							<li>Unlimited <a style="color:#0051BA;" href="<%= url_for sms_broadcasts_path %>" title="SMS Broadcasts">SMS Broadcasts</a></li>
							<li>Unlimited <a style="color:#0051BA;" href="<%= url_for sms_contests_path %>" title="SMS Contests">SMS Contests</a></li>
							<li>Unlimited <a style="color:#0051BA;" href="<%= url_for sms_polling_path %>" title="SMS Polls">SMS Polls</a></li>
							<li>Unlimited <a style="color:#0051BA;" href="<%= url_for sms_autoresponders_path %>" title="SMS Autoresponders">SMS Autoresponders</a></li>
							<li>Short Code Messaging</li>
							<li>No Setup Fees or Hidden Costs</li>
						</ul>
						<div class="pricing-stripes-right-btm"><!----></div>
					</div>
					<h2>Have a Question?</h2>
					<p>
						<span class="semibold">Give us a call: (888) 517-6345</span><br />or <a href="javascript:;" onclick="SnapABug.startLink();">message us</a> or watch the following <a href="http://fast.wistia.com/embed/iframe/a6558fabee?videoWidth=640&videoHeight=360&controlsVisibleOnLoad=true&autoPlay=true&popover=true" class="wistia-popover[width=640,height=360,playerColor=#636155]">video</a>.
					</p>
					<p style="padding-top:5px">
            <a href="http://fast.wistia.com/embed/iframe/a6558fabee?videoWidth=640&videoHeight=360&controlsVisibleOnLoad=true&autoPlay=true&popover=true" class="wistia-popover[width=640,height=360,playerColor=#636155]">
              <img src="<%= asset_path 'video-tatango-sms-pricing.jpg' %>" width="325" height="186" alt="Video about Tatango pricing" /></a>
            </a>
            <script charset="ISO-8859-1" src="http://fast.wistia.com/static/popover-v1.js"></script>
					</p>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	<!-- #END of content -->
	
	<!-- CONTENT BOTTOM BAR -->
	<div class="content btm nopadding">
		<div class="center">
			
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
		</div>
	</div>
	<!-- #END of content btm -->
	
	<div class="content pricing-new">
		<div class="center">
	
			<div class="wide-content pricing-btm-text">
			
				<h2 class="bigger">FAQ</h2>
				
				<div class="wide-content-2cols pricing">
					
					<h2 class="two-title">Unlimited text messaging?</h2>
					<p>
						Yes, all of our SMS marketing plans come with an unlimited amount of text messages. No joke, send as many text messages to the mobile phone numbers in your account as you want.
					</p>
					
					<h2 class="two-title">How does the 7-day trial work?</h2>
					<p>
						The Tatango 7-day trial is completely free and doesn't require a credit card. During the trial you get to use all of the SMS products and will receive unlimited text messaging to an unlimited amount of mobile phone numbers.
					</p>
					
					<h2 class="two-title">How much are SMS keywords?</h2>
					<p>
						All Tatango plans come with an unlimited amount of SMS keywords.
					</p>
					
				</div>
				
				<div class="wide-content-2cols right pricing">
			
					<h2 class="two-title">Who provides the mobile phone numbers?</h2>
					<p>
						Tatango is a strictly opt-in SMS marketing platform, which means we don't provide any of the mobile phone numbers, that's your job.
					</p>
					
					<h2 class="two-title">Is there a non-profit discount?</h2>
					<p>
						Tatango offers a 15% discount to nonprofits and charities. <a href="javascript:;" onclick="SnapABug.startLink();">Message us</a> with a link to your website to have this discount applied to your Tatango account.
					</p>
					
					<h2 class="two-title">How will you bill me?</h2>
					<p>
						We'll bill your credit card every month based on your total number of subscribers, and we'll automatically adjust the fee as your list grows.
					</p>
					
				</div>
				
			</div>
			
		</div>	
	</div><!-- #END of content -->
