<%
title 'SMS Campaign Setup FAQ'
meta 'Find answers to our most frequently asked SMS campaign setup questions.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2>Video Lessons</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2>SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2 class="select ">FAQ's</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li class="active"><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
			
					<h1 class="border">Text Message Campaign Setup Guide</h1>
					<h2>Can I have any SMS Keyword I want? Are there any limitations?</h2>
					<p>
SMS Keywords are limited to 15 characters and must be made up of either letters or numbers. Also, they have to be unique, which means the SMS keyword will not be available if it's already used by any other Tatango customer.
					</p>
					<h2>What is Tatango Mass Messaging?</h2>
					<p>
Tatango Mass Messaging allows you to collect your customers' mobile phone numbers and text message them on a regular basis. Usually these text messages are notifications about specials, promotions, events, etc.
					</p>
					<h2>What is a Tatango Auotresponder?</h2>
					<p>
Tatango Autoresponders allow you to automate a text message response triggered by a customer that texts an SMS keyword to the Tatango short code 68398. These are most commonly used for SMS voting, SMS contests or just sending information back to a mobile phone.
					</p>
					<h2>Are there any setup fees?</h2>
					<p>
No, none at all.
					</p>
					<h2>How much time will text message marketing take?</h2>
					<p>
It only takes a couple of minutes with Tatango to have a fully functional SMS marketing campaign up and running. After the campaign is running, most businesses spend less than five minutes per week managing their SMS campaign.
					</p>
					<h2>Can SMS keywords, opt-in messages and autoresponders be changed later?</h2>
					<p>
Yea, that's no problem, change them whenever and however often you like.
					</p>
					<h2>What is Tatango's short code?</h2>
					<p>
Tatango operates its SMS marketing platform off of the short code 68398.
					</p>
					<h2>How many SMS keywords or SMS campaigns can I set up?</h2>
					<p>
When you upgraded your account to a monthly subscription plan, you'll have the ability to create an unlimited amount of SMS keywords and SMS campaigns.
					</p>
					<h2>What if I have more questions about setting up my SMS campaign?</h2>
					<p>
Here at Tatango we love helping Tatango customers set up their SMS campaigns. If you need a little help or have a question that you can't find the answer to, please <a href="<%= url_for contact_path %>">contact us</a>.
					</p>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
