<%
title 'SMS Campaign Management'
meta 'Manage all your SMS campaign with Tatango\'s easy to use campaign dashboard. Try it free now.'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">Tatango Tour</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content tour-new-shadow">
			
				<div class="wide-content-tour">
				
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
						<h2>Products</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_broadcasts_path %>" title="SMS Broadcasts">SMS Broadcasts</a></li>
								<li><a href="<%= url_for sms_contests_path %>" title="SMS Contests">SMS Contests</a></li>
								<li><a href="<%= url_for sms_polling_path %>" title="SMS Polls">SMS Polls</a></li>
								<li><a href="<%= url_for sms_autoresponders_path %>" title="SMS Autoresponders">SMS Autoresponders</a></li>
							</ul>
						</div>
						<h2 class="select ">Features</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for unlimited_text_messaging_path %>" title="Unlimited Text Messaging">Unlimited Text Messaging</a></li>
								<li><a href="<%= url_for unlimited_sms_keywords_path %>" title="Unlimited SMS Keywords">Unlimited SMS Keywords</a></li>
								<li><a href="<%= url_for sms_short_code_messaging_path %>" title="Short Code Messaging">Short Code Messaging</a></li>
								<li class="active"><a href="<%= url_for sms_campaign_management_path %>" title="Campaign Management">Campaign Management</a></li>
								<li><a href="<%= url_for subscriber_management_path %>" title="Subscriber Management">Subscriber Management</a></li>
								<li><a href="<%= url_for sms_campaign_reports_path %>" title="Campaign Analytics">Campaign Analytics</a></li>
								<li><a href="<%= url_for sms_delivery_reports_path %>" title="SMS Delivery Reports">SMS Delivery Reports</a></li>
								<li><a href="<%= url_for social_sharing_tools_path %>" title="Social Sharing">Social Sharing</a></li>
								<li><a href="<%= url_for customer_support_path %>" title="Amazing Customer Support">Amazing Customer Support</a></li>
								<li><a href="<%= url_for best_practice_compliant_path %>" title="Best Practices Compliant">Best Practices Compliant</a></li>
								<li><a href="<%= url_for advanced_features_path %>" title="Advanced Features">Advanced Features</a></li>
							</ul>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour-new right">
			
					<h1>SMS Campaign Management</h1>
					<img src="<%= asset_path 'tour_sms_campaign_management.jpg' %>" width="664" height="380" alt="SMS Campaign Management" />
					<p class="border normal">
When it comes to managing all of your SMS campaigns, Tatango makes it easy. Sort by campaign type and amount of mobile subscribers and quickly create new campaigns 
all from within your campaign dashboard. Learn more about managing your SMS campaigns with Tatango below.
					</p>
					
					<div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<h2>Unlimited SMS Campaigns</h2>
								<p>
Tatango gives you the ability to create an <a href="/tour/unlimited-sms-keywords">unlimited amount of SMS campaigns</a> within your account, at no additional cost. 
Learn more about the awesome features you get with all of our <a href="/sms-marketing-pricing">pricing plans</a>.
								</p>
							</div>
							<div class="tour-right-left-right">
								<img src="<%= asset_path 'tour_sms_campaign_management_unlimited.jpg' %>" width="322" height="214" alt="Unlimited SMS Campaigns" />
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<img src="<%= asset_path 'tour_sms_campaign_management_amount.jpg' %>" width="322" height="214" alt="Sort by Amount of Subscribers" />
							</div>
							<div class="tour-right-left-right">
								<h2>Sort by Amount of Subscribers</h2>
								<p>
Need to quickly see which SMS campaigns have the most subscribers, or maybe the least? Easily sort all of your campaigns by subscriber totals for all of your campaign types or each type individually.
								</p>
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<h2>Quick Create</h2>
								<p>
Tatango is by-far the easiest text message marketing software to use when it comes to setting up new SMS campaigns. From right within the dashboard, 
you'll be able to create a fully functional, production ready SMS campaign, which means less time stuck in-front of the computer and more time doing something you love.
								</p>
							</div>
							<div class="tour-right-left-right">
								<img src="<%= asset_path 'tour_sms_campaign_management_quick.jpg' %>" width="322" height="214" alt="Quick Create" />
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<img src="<%= asset_path 'tour_sms_campaign_management_type.jpg' %>" width="322" height="214" alt="Sort by Campaign Type" />
							</div>
							<div class="tour-right-left-right">
								<h2>Sort by Campaign Type</h2>
								<p>
With just the click of a mouse, sort your campaigns by type and view only <a href="/tour/sms-broadcasts">SMS broadcasts</a>, <a href="/tour/sms-contests">SMS contests</a>, <a href="/tour/sms-polling">SMS polls</a> or <a href="/tour/sms-autoresponders">SMS autorepsonders</a> within your dashboard.
								</p>
							</div>
						</div>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
