<%
title 'SMS Broadcasts'
meta 'Use our SMS Broadcasts to send text message promotions to your customers. Learn more about Tatango SMS marketing products.'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">Tatango Tour</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content tour-new-shadow">
			
				<div class="wide-content-tour">
				
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
						<h2 class="select ">Products</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li class="active"><a href="<%= url_for sms_broadcasts_path %>" title="SMS Broadcasts">SMS Broadcasts</a></li>
								<li><a href="<%= url_for sms_contests_path %>" title="SMS Contests">SMS Contests</a></li>
								<li><a href="<%= url_for sms_polling_path %>" title="SMS Polls">SMS Polls</a></li>
								<li><a href="<%= url_for sms_autoresponders_path %>" title="SMS Autoresponders">SMS Autoresponders</a></li>
							</ul>
						</div>
						<h2>Features</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for unlimited_text_messaging_path %>" title="Unlimited Text Messaging">Unlimited Text Messaging</a></li>
								<li><a href="<%= url_for unlimited_sms_keywords_path %>" title="Unlimited SMS Keywords">Unlimited SMS Keywords</a></li>
								<li><a href="<%= url_for sms_short_code_messaging_path %>" title="Short Code Messaging">Short Code Messaging</a></li>
								<li><a href="<%= url_for sms_campaign_management_path %>" title="Campaign Management">Campaign Management</a></li>
								<li><a href="<%= url_for subscriber_management_path %>" title="Subscriber Management">Subscriber Management</a></li>
								<li><a href="<%= url_for sms_campaign_reports_path %>" title="Campaign Analytics">Campaign Analytics</a></li>
								<li><a href="<%= url_for sms_delivery_reports_path %>" title="SMS Delivery Reports">SMS Delivery Reports</a></li>
								<li><a href="<%= url_for social_sharing_tools_path %>" title="Social Sharing">Social Sharing</a></li>
								<li><a href="<%= url_for customer_support_path %>" title="Amazing Customer Support">Amazing Customer Support</a></li>
								<li><a href="<%= url_for best_practice_compliant_path %>" title="Best Practices Compliant">Best Practices Compliant</a></li>
								<li><a href="<%= url_for advanced_features_path %>" title="Advanced Features">Advanced Features</a></li>
							</ul>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
			
					<h1>SMS Broadcasts</h1>
					<p class="intro">
						Have you ever wanted to send a text message to your customers to announce a deal, promotion or even an event? Luckily for you, that's what we do here at Tatango. 
						Not only can you send text message marketing campaigns to your customers, we also provide you with the tools to collect those customers' mobile phone numbers. 
						<br /><br />
						Learn how SMS Broadcasts work and how you can use them for your own business in the video below, from the Tatango CEO himself, Derek Johnson.
					</p>
					
					<div class="left-right-col border">
						<div style="padding:13px 0 5px 10px;">
							<div id="wistia_fb1401599a" class="wistia_embed" style="width:640px;height:360px;" data-video-width="640" data-video-height="360"><object id="wistia_fb1401599a_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:360px;position:relative;width:640px;"><param name="movie" value="https://wistia.sslcs.cdngc.net/flash/embed_player_v2.0.swf?2012-06-01"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="bgcolor" value="#000000"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="controlsVisibleOnLoad=true&hdUrl%5Bheight%5D=720&hdUrl%5Btype%5D=hdflv&hdUrl%5Burl%5D=https%3A%2F%2Fwistia.sslcs.cdngc.net%2Fdeliveries%2F605d8c72aad80a33e6fae5b0161002f14c364393.bin&hdUrl%5Bwidth%5D=1280&mediaDuration=58.19&stillUrl=https%3A%2F%2Fwistia.sslcs.cdngc.net%2Fdeliveries%2F6036d75b7d43e07a607fcff1bef797cbda0bc21d.jpg%3Fimage_crop_resized%3D640x360&unbufferedSeek=true&videoUrl=https%3A%2F%2Fwistia.sslcs.cdngc.net%2Fdeliveries%2F1a6c411ea2b6d9478a21566cb3f85cec21375557.bin"></param><embed src="https://wistia.sslcs.cdngc.net/flash/embed_player_v2.0.swf?2012-06-01" allowfullscreen="true" allowscriptaccess="always" bgcolor=#000000 flashvars="controlsVisibleOnLoad=true&hdUrl%5Bheight%5D=720&hdUrl%5Btype%5D=hdflv&hdUrl%5Burl%5D=https%3A%2F%2Fwistia.sslcs.cdngc.net%2Fdeliveries%2F605d8c72aad80a33e6fae5b0161002f14c364393.bin&hdUrl%5Bwidth%5D=1280&mediaDuration=58.19&stillUrl=https%3A%2F%2Fwistia.sslcs.cdngc.net%2Fdeliveries%2F6036d75b7d43e07a607fcff1bef797cbda0bc21d.jpg%3Fimage_crop_resized%3D640x360&unbufferedSeek=true&videoUrl=https%3A%2F%2Fwistia.sslcs.cdngc.net%2Fdeliveries%2F1a6c411ea2b6d9478a21566cb3f85cec21375557.bin" name="wistia_fb1401599a_html" style="display:block;height:100%;position:relative;width:100%;" type="application/x-shockwave-flash" wmode="opaque"></embed></object></div>
							<script charset="ISO-8859-1" src="https://fast.wistia.com/static/concat/E-v1.js"></script>
							<script>
							wistiaEmbed = Wistia.embed("fb1401599a", {
							  version: "v1",
							  videoWidth: 640,
							  videoHeight: 360,
							  controlsVisibleOnLoad: true
							});
							</script>
							<script charset="ISO-8859-1" src="https://fast.wistia.com/embed/medias/fb1401599a/metadata.js"></script>
						</div>
					</div>
					
					<div class="borderbtm">
						<h2>From the Customer's Perspective</h2>
						<p>
							Tatango makes it easy for consumers to opt-in to your SMS broadcast directly from their mobile phones. To opt-in, a consumer must simply text your SMS Broadcast 
							keyword to the short code 68398. See below for a nice little visualization.
						</p>
						<img src="<%= asset_path 'sms_broadcasts_tryit.jpg' %>" width="664" height="360" alt="Example of Tatango SMS Broadcast campaign" />
						
						<div class="tour_contact_tryit">
							<p class="lasttxt"><span style="">Try Tatango free for 7 days.<br>No credit card.</span></p>
							<p class="try-it"><a href="/signup">Try it FREE for 7 days</a></p>
						</div>
					</div>
					
					<div class="borderbtm">
						<h2>Real Businesses Using SMS Broadcasts</h2>
						<p>
							Want to see how real businesses are using Tatango SMS broadcasts to build consumer loyalty through mobile marketing? Click on any of the companies below to see how the're using SMS broadcasts.
						</p>
						<div class="tour_client_new_wrap">
							<div class="tour_client_new_box">
								<div class="img">
									<img src="<%= asset_path 'pilot-travel-sms-marketing-campaign-color.jpg' %>" width="141" height="85" alt="Pilot Travel Centers" />
								</div>
								<p>
									<a href="<%= url_for customers_sms_broadcasts_path %>" title="Pilot Travel Centers">Pilot Travel Centers</a>
								</p>
							</div>
							<div class="tour_client_new_box">
								<div class="img">
									<img src="<%= asset_path 'wendys-sms-marketing-campaign-color.jpg' %>" width="141" height="85" alt="Wendys" />
								</div>
								<p>
									<a href="<%= url_for customers_sms_broadcasts_path %>" title="">Wendy’s</a>
								</p>
							</div>
							<div class="tour_client_new_box">
								<div class="img">
									<img src="<%= asset_path 'acme-bowling-sms-marketing-campaign-color.jpg' %>" width="141" height="85" alt="ACME Bowling" />
								</div>
								<p>
									<a href="<%= url_for customers_sms_broadcasts_path %>" title="ACME Bowling">ACME Bowling</a>
								</p>
							</div>
						</div>
					</div>
					
					<div class="borderbtm">
						<h2>SMS Broadcasts FAQ</h2>
						<p>
	Below are some of the most frequently asked questions regarding Tatango SMS broadcasts. If you have questions that aren't covered here, <a href="javascript:;" onclick="SnapABug.startLink();">contact us</a> and we'll help you get an answer to your questions.
						</p>
						
						<p class="semibold">
	How long does it take to create an SMS Broadcast?
						</p>
						<p>
	It takes less than a minute to create an SMS Broadcast for your business. The real question is what will you do with the rest of the day?
						</p>
						
						<p class="semibold">
	How many SMS Broadcast campaigns can I create?
						</p>
						<p>
	When you upgrade to any paid Tatango subscription plan you will have the ability to create an unlimited amount of SMS broadcast campaigns. There are no additional fees or limits when it comes to creating additional 
	SMS Broadcasts. During the free trial, you're limited to just one SMS broadcast.
						</p>
						
						<p class="semibold">
	Where do the mobile phone numbers come from?
						</p>
						<p>
	To be able to send an SMS Broadcast to a mobile phone number, they first must opt-in. This is done by them texting a mobile keyword (i.e. PIZZA) to the Tatango SMS short code 68398.
						</p>
						
						<p class="semibold">
	How many characters are in a SMS Broadcasts?
						</p>
						<p>
	An SMS Broadcast is 160 characters, but we take a few characters (23 to be exact) at the bottom of your SMS broadcast to instruct mobile subscribers on how to opt-out, which leaves you 137 characters for your message.
						</p>
						
						<p class="semibold">
	Can I customize the opt-in message?
						</p>
						<p>
	Yes, Tatango allows you to customize the opt-in message mobile subscribers receive when they opt-in to your SMS broadcast. Because of required legal opt-in information that we must include in the opt-in message, 
	you're left with 75 characters, so go wild and customize to your hearts content.
						</p>
						
						<p class="semibold">
	What's the damage to my wallet for SMS Broadcasts?
						</p>
						<p>
	SMS Broadcasts come with an unlimited amount of text messages, and is billed based only on the amount of mobile phone numbers in your Tatango account. The best part, every Tatango account comes with 
	<a href="/tour/sms-contests">SMS Contests</a>, <a href="/tour/sms-polling">SMS Polls</a>, and <a href="/tour/sms-autoresponders">SMS Autoresponders</a>, all of which are free to use with any paid Tatango account. 
	For more information on Tatango SMS marketing pricing, see our <a href="/sms-marketing-pricing">plans page</a>.
						</p>
						
						<p class="semibold">
	Can mobile subscribers reply to my SMS Broadcasts?
						</p>
						<p>
	Yes, mobile subscribers can reply to any of your SMS broadcast messages, with those responses being stored within your Tatango account for you to view.
						</p>
						
						<p class="semibold">
	Can customers unsubscribe from SMS Broadcasts?
						</p>
						<p>
	Yes, customer can reply with the word STOP to any of your messages to immediately and automatically removed themselves from your SMS Broadcast list.
						</p>
						
						<p class="semibold">
	What if I have more questions?
						</p>
						<p>
	Have a question about SMS Broadcasts that aren't answered here, don't worry, <a href="javascript:;" onclick="SnapABug.startLink();">contact us</a> and we'll get you an answer right away.
						</p>
					</div>
					
					<div>
						<h2>Don't forget these guys...</h2>
						<p>
	Tatango offers more than just SMS Broadcasts, they actually offer a complete suit of SMS marketing products. The best part, all the products below, including SMS Broadcasts are free to use with a paid subscription. <a href="/sms-marketing-pricing">Learn more about pricing</a>.
						</p>
						<div class="four-offers">
							<div class="four-offers-item">
								<div class="four-item-img">
									<a href="<%= url_for sms_contests_path %>" class="orange" title="SMS contests powered by Tatango"><img src="<%= asset_path 'sms-contests.png' %>" width="93" height="92" alt="SMS contests powered by Tatango" /></a>
								</div>
								<h3 class="orange semibold">SMS Contests</h3>
								<p>Let customers enter a contest directly from their mobile phones via text message. </p>
								<div class="clear"><!----></div>
								<p class="offers-moredetails"><a href="<%= url_for sms_contests_path %>">More details</a></p>
							</div>
							<div class="four-offers-item">
								<div class="four-item-img">
									<a href="<%= url_for sms_polling_path %>" class="lilac" title="SMS polling powered by Tatango"><img src="<%= asset_path 'sms-polling.png' %>" width="93" height="92" alt="SMS polling powered by Tatango" /></a>
								</div>
								<h3 class="orange semibold">SMS Polls</h3>
								<p>Let customers vote directly from their mobile phones via text message.</p>
								<div class="clear"><!----></div>
								<p class="offers-moredetails"><a href="<%= url_for sms_polling_path %>">More details</a></p>
							</div>
							<div class="four-offers-item">
								<div class="four-item-img">
									<a href="<%= url_for sms_autoresponders_path %>" class="green" title="SMS autoresponders powered by Tatango"><img src="<%= asset_path 'sms-autoresponders.png' %>" width="93" height="92" alt="SMS autoresponders powered by Tatango" /></a>
								</div>
								<h3 class="orange semibold">SMS Autoresponders</h3>
								<p>Let customers get information from your business wherever, whenever with auto-replies.</p>
								<div class="clear"><!----></div>
								<p class="offers-moredetails"><a href="<%= url_for sms_autoresponders_path %>">More details</a></p>
							</div>
						</div>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
