<%
title 'SMS Delivery Reports'
meta 'Track the success of each and every SMS campaign sent through Tatango with easy to read SMS delivery reports.'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">Tatango Tour</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content tour-new-shadow">
			
				<div class="wide-content-tour">
				
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
						<h2>Products</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_broadcasts_path %>" title="SMS Broadcasts">SMS Broadcasts</a></li>
								<li><a href="<%= url_for sms_contests_path %>" title="SMS Contests">SMS Contests</a></li>
								<li><a href="<%= url_for sms_polling_path %>" title="SMS Polls">SMS Polls</a></li>
								<li><a href="<%= url_for sms_autoresponders_path %>" title="SMS Autoresponders">SMS Autoresponders</a></li>
							</ul>
						</div>
						<h2 class="select ">Features</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for unlimited_text_messaging_path %>" title="Unlimited Text Messaging">Unlimited Text Messaging</a></li>
								<li><a href="<%= url_for unlimited_sms_keywords_path %>" title="Unlimited SMS Keywords">Unlimited SMS Keywords</a></li>
								<li><a href="<%= url_for sms_short_code_messaging_path %>" title="Short Code Messaging">Short Code Messaging</a></li>
								<li><a href="<%= url_for sms_campaign_management_path %>" title="Campaign Management">Campaign Management</a></li>
								<li><a href="<%= url_for subscriber_management_path %>" title="Subscriber Management">Subscriber Management</a></li>
								<li><a href="<%= url_for sms_campaign_reports_path %>" title="Campaign Analytics">Campaign Analytics</a></li>
								<li class="active"><a href="<%= url_for sms_delivery_reports_path %>" title="SMS Delivery Reports">SMS Delivery Reports</a></li>
								<li><a href="<%= url_for social_sharing_tools_path %>" title="Social Sharing">Social Sharing</a></li>
								<li><a href="<%= url_for customer_support_path %>" title="Amazing Customer Support">Amazing Customer Support</a></li>
								<li><a href="<%= url_for best_practice_compliant_path %>" title="Best Practices Compliant">Best Practices Compliant</a></li>
								<li><a href="<%= url_for advanced_features_path %>" title="Advanced Features">Advanced Features</a></li>
							</ul>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour-new right">
			
					<h1>SMS Delivery Reports</h1>
					<img src="<%= asset_path 'tour_sms_delivery_reports.jpg' %>" width="664" height="380" alt="SMS Delivery Reports" />
					<p class="border normal">
It's essential for you to know the results of each SMS campaign you send, which is why Tatango gives you a plethora of metrics to evaluate the success of each sent message. 
Learn more about the metrics available to Tatango customers below.
					</p>
					
					<div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<h2>Message Archives</h2>
								<p>
Tatango keeps an accessible record of all the text messages you've ever sent. This makes it easy to go back and see which text messages have performed the best so you can develop ideas for future messages.
								</p>
							</div>
							<div class="tour-right-left-right">
								<img src="<%= asset_path 'tour_sms_delivery_reports_archives.jpg' %>" width="322" height="214" alt="Message Archives" />
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<img src="<%= asset_path 'tour_sms_delivery_reports_replies.jpg' %>" width="322" height="214" alt="Message Replies" />
							</div>
							<div class="tour-right-left-right">
								<h2>Message Replies</h2>
								<p>
Did you know that your SMS subscribers can respond to any of your SMS broadcasts and you'll actually be able to view all of your responses right within Tatango? 
Well it's true, and it's a great tool that captures feedback from your subscribers.
								</p>
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<h2>Mobile Carrier Breakdown</h2>
								<p>
Want to know how many SMS subscribers received your last text message with AT&amp;T, or what about Verizon? Tatango gives you a handy subscriber mobile carrier breakdown for each and every text message you send.
								</p>
							</div>
							<div class="tour-right-left-right">
								<img src="<%= asset_path 'tour_sms_delivery_reports_breakdown.jpg' %>" width="322" height="214" alt="Mobile Carrier Breakdown" />
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<img src="<%= asset_path 'tour_sms_delivery_reports_unsubscribe.jpg' %>" width="322" height="214" alt="Unsubscribe Count" />
							</div>
							<div class="tour-right-left-right">
								<h2>Unsubscribe Count</h2>
								<p>
After each text message campaign you send, you'll get a report detailing how many of your SMS subscribers opted-out. This will give you valuable insight into what types of 
text messages produce the least amount of opt-outs, making your SMS campaign that more successful.
								</p>
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<h2>Successful Messages Report</h2>
								<p>
It's no use continuing to send text messages to mobile phone numbers that no longer or exist or are unable to receive text messages. 
For this reason, Tatango tells you which mobile phone numbers successfully received your message, and more importantly, which ones did not, allowing you to remove them from your subscribers.
								</p>
							</div>
							<div class="tour-right-left-right">
								<img src="<%= asset_path 'tour_sms_delivery_reports_report.jpg' %>" width="322" height="214" alt="Successful Messages Report" />
							</div>
						</div>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
