<%
title 'SMS Marketing Consulting Services'
meta 'Tatango offers industry leading expertise to help you successfully build an SMS marketing strategy that will produce measurable results.'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">Enterprise Solutions</span>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content tour-new-shadow">
			
				<div class="wide-content-tour-new">
					
					<div class="tour-left-menu">
						<div class="tour-left-block">
							<p class="active"><a href="<%= url_for services_path %>" title="Enterprise Services">Enterprise Services</a></p>
							<ul class="tour-left-menu">
								<li class="active"><a href="<%= url_for sms_marketing_consulting_path %>" title="Advisory Services">Advisory Services</a></li>
								<li><a href="<%= url_for dedicated_short_codes_path %>" title="Dedicated Short Codes">Dedicated Short Codes</a></li>
								<li><a href="<%= url_for agency_sms_marketing_path %>" title="Agency Program">Agency Program</a></li>
								<li><a href="<%= url_for bulk_sms_gateway_path %>" title="Bulk SMS Gateway">Bulk SMS Gateway</a></li>
								<li><a href="<%= url_for design_services_path %>" title="Design Services">Design Services</a></li>
							</ul>
						</div>
						<div class="tour-left-block">
							<p><a href="<%= url_for features_path %>" title="Enterprise Features">Enterprise Features</a></p>
							<ul class="tour-left-menu" style="display:none">
								<li><a href="<%= url_for bulk_sms_path %>" title="Bulk SMS Messaging">Bulk SMS Messaging</a></li>
								<li><a href="<%= url_for advanced_segmenting_path %>" title="Advanced Segmenting">Advanced Segmenting</a></li>
								<li><a href="<%= url_for tatango_api_path %>" title="Tatango API">Tatango API</a></li>
								<li><a href="<%= url_for vanity_short_code_path %>" title="Vanity Short Codes">Vanity Short Codes</a></li>
							</ul>
						</div>
						<div class="tour-left-block">
							<p><a href="<%= url_for contact_us_path %>" title="Contact Us">Contact Us</a></p>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour-new right">
			
					<h1>Strategic Advisory Services</h1>
					<img src="<%= asset_path 'enterprise-advisory_services.jpg' %>" width="664" height="304" alt="Strategic Advisory Services" />
					<p>
It's just as important to select a partner with enterprise-class software, as it is to select a partner with industry leading expertise to help you successfully build an SMS marketing strategy that will produce measurable results. Tatango strategic advisors provide dedicated account management to address any questions or concerns ant any point during your campaign, in addition to worrying working one-on-one with you and your business on strategic planning, dedicated short code provisioning, campaign setup, training, execution, report analysis and more.
					</p>
					
					<h2>What is a Tatango strategic advisor?</h2>
					<p>
A Tatango strategic advisor is your direct and dedicated point of contact during your SMS campaign. At the beginning of your relationship, a strategic advisor will be responsible for building an SMS marketing strategy that not only makes sense for your business, but will produce  measurable results that increase customer interactions, sales, and build loyalty. After the campaign has been deployed, your strategic advisor will shift focus to analyzing both your overview campaigns performance and the performance of each message using advanced reporting tools only available to TatangoPlus accounts. 
					</p>
					
					<h2>Who are the Tatango strategic advisors?</h2>
					<p>
Tatango strategic advisors are selected for their SMS marketing experience, knowledge and expertise in the industry, and trained to provide their clients with one-on-one dedicated account management. Only a handful of the Tatango team have the experience, and more importantly the patience and educator like qualities that are required to become a strategic advisor.
					</p>
					
					<h2>What do Tatango strategic advisors do?</h2>
					
					<p>
<span class="semibold">Build Customizable Solutions -</span> Looking to build an SMS program that is outside of the box, let your Tatango strategic advisor do all the heavy lifting when it comes to creating, testing and deploying a custom SMS campaign for your business.
					</p>
					<p>
<span class="semibold">Personalized Training -</span> Whether you're looking for one-on-one or on-site team training, your strategic advisory can do it all. Training will allow your in-house team to administer SMS campaigns and reporting functionality, alongside your strategic advisor.
					</p>
					<p>
<span class="semibold">Developing Strategy -</span> During the first call with your strategic advisor, they'll get to know you, your business and most importantly your SMS marketing goals and objectives. From this initial conversation, your strategic advisory will develop an SMS strategy that will allow your business to reach your SMS marketing goals.
					</p>
					<p>
<span class="semibold">Creating Message Copy -</span> Who has time nowadays to sit down and create copy for each individual text message you want to send to your customers? Your strategic advisor does, and not only do they have the time, they're experts at creating text message copy that not only is interested, fresh and unique, but produces results.
					</p>
					<p>
<span class="semibold">Promotional Development -</span> Need ideas and assistance in developing and executing a marketing strategy to promote your new SMS campaign? Work with your strategic advisor and our [design services team] to create stunning marketing materials that guarantee mobile engagement from consumers.
					</p>
					<p>
<span class="semibold">SMS Short Code Provisioning -</span> Strategic advisors are experts in provisioning SMS short codes, both here in the U.S. and internationally. 
<a href="<%= url_for dedicated_short_codes_path %>" title="Dedicated Short Codes">Learn more</a>
					</p>
					<p>
<span class="semibold">SMS Short Code Management -</span> Managing a short code is no easy task, that's why our strategic advisors are here to assist you with responding to audits, renewals and wireless carrier requests.
					</p>
					<p>
<span class="semibold">Best Practice Compliance -</span> Don't be caught off guard when it comes to compliance issues surrounding your text message marketing campaign. Your strategic advisor keeps up to dote with the most recent changes and guidelines enforced by the CTIA, wireless carriers and the Telephone Consumer Protection Act and can provide assistance in both the understanding and implementation of these guidelines.
					</p>
					<p>
<span class="semibold">Troubleshooting -</span> Any issues that arise during your SMS campaign, your dedicated strategic advisor will only be only a call, chat or email away. 
					</p>
					<p>
<span class="semibold">Monitoring, Measuring and Reporting -</span> After you send a text message, your strategic advisor will analyze your message's performance using advanced reporting tools only available to TatangoPlus accounts and review the results with you.
					</p>
					<p>
<span class="semibold">Campaign Optimization -</span> While doing an in-depth analysis of your message's performance is important, it's also important to use your strategic advisor to help you optimize and improve on your performance based off the data. Your Tatango strategic advisor will continually work with you and your team to refine your messaging strategy to increase campaign performance.
					</p>
					<p>
<span class="semibold">System Integrations -</span> Do you need to integrate your SMS campaign into an existing system? Our strategic advisors will work with your technology team to make any and all integration with the Tatango SMS platform simple, straightforward and fast.
					</p>
					<p>
<span class="semibold">Design Services -</span> Need an amazing designer to create stunning marketing material for your text messaging campaign that not only appeals to your audience, but guarantees mobile engagement? 
Your strategic advisor can coordinate your design needs with our in-house design team and monitor the design project from beginning to end, making sure the process is as seamless as humanly possible. 
<a href="<%= url_for design_services_path %>" title="Design Services">Learn more</a>
					</p>

					<h2>There’s More</h2>
					<p>
As an Advisory Services client, you will enjoy additional features exclusive to only our TatangPlus clients.
					</p>
					<div class="enterprise_twocols">
						<ul class="semibold">
							<li><a href="<%= url_for dedicated_short_codes_path %>" title="Dedicated Short Codes">Dedicated SMS short code provisioning</a></li>
							<li>Multi-user accounts</li>
							<li><a href="<%= url_for advanced_segmenting_path %>" title="Advanced Segmenting">Advanced SMS subscriber segmenting</a></li>
							<li>Enhanced analytics and reporting</li>
							<li>Custom message routing capabilities</li>
						</ul>
						<ul class="semibold">
							<li>Priority access to our technical support team</li>
							<li><a href="<%= url_for bulk_sms_path %>" title="Bulk SMS Messaging">Bulk SMS messaging</a></li>
							<li><a href="<%= url_for vanity_short_code_path %>" title="Vanity Short Codes">Vanity short code access</a></li>
							<li><a href="<%= url_for design_services_path %>" title="Design Services">Design services</a></li>
						</ul>
					</div>
					<p>
						To learn more about TatangoPlus and our Strategic Advisory Services, call our experts at (888) 778-9414 or use our <a href="<%= url_for contact_us_path %>" title="Contact us">contact form</a>.
					</p>
					<div class="enterprise_contact">
						<div class="left_txt">
							<p class="large">Contact Our Team</p>
							<p class="phnr">Call: <span>1 (888) 778-9414</span></p>
							<p class="bluelink"><a href="javascript:;" onclick="SnapABug.startLink();" title="Contact us">Start a Live Chat</a></p>
						</div>
						<p class="contact-us"><a href="<%= url_for contact_us_path %>" title="Contact us">Contact Us</a></p>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
