<%
title 'SMS Contests'
meta 'Use our SMS Contests to hold a text message contest for your customers. Learn more about Tatango SMS marketing products.'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">Tatango Tour</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content tour-new-shadow">
			
				<div class="wide-content-tour">
				
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
						<h2 class="select ">Products</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_broadcasts_path %>" title="SMS Broadcasts">SMS Broadcasts</a></li>
								<li class="active"><a href="<%= url_for sms_contests_path %>" title="SMS Contests">SMS Contests</a></li>
								<li><a href="<%= url_for sms_polling_path %>" title="SMS Polls">SMS Polls</a></li>
								<li><a href="<%= url_for sms_autoresponders_path %>" title="SMS Autoresponders">SMS Autoresponders</a></li>
							</ul>
						</div>
						<h2>Features</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for unlimited_text_messaging_path %>" title="Unlimited Text Messaging">Unlimited Text Messaging</a></li>
								<li><a href="<%= url_for unlimited_sms_keywords_path %>" title="Unlimited SMS Keywords">Unlimited SMS Keywords</a></li>
								<li><a href="<%= url_for sms_short_code_messaging_path %>" title="Short Code Messaging">Short Code Messaging</a></li>
								<li><a href="<%= url_for sms_campaign_management_path %>" title="Campaign Management">Campaign Management</a></li>
								<li><a href="<%= url_for subscriber_management_path %>" title="Subscriber Management">Subscriber Management</a></li>
								<li><a href="<%= url_for sms_campaign_reports_path %>" title="Campaign Analytics">Campaign Analytics</a></li>
								<li><a href="<%= url_for sms_delivery_reports_path %>" title="SMS Delivery Reports">SMS Delivery Reports</a></li>
								<li><a href="<%= url_for social_sharing_tools_path %>" title="Social Sharing">Social Sharing</a></li>
								<li><a href="<%= url_for customer_support_path %>" title="Amazing Customer Support">Amazing Customer Support</a></li>
								<li><a href="<%= url_for best_practice_compliant_path %>" title="Best Practices Compliant">Best Practices Compliant</a></li>
								<li><a href="<%= url_for advanced_features_path %>" title="Advanced Features">Advanced Features</a></li>
							</ul>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
			
					<h1>SMS Contests</h1>
					<p class="intro">
						Create your very own text messaging contest with Tatango. Have people enter your contest via text message, then with the click of a button, randomly select a mobile phone as the winner! 
						Holding an SMS contest has never been easier.
						<br /><br />
						Learn how SMS Contests work and how you can use them for your own business in the video below, from the Tatango CEO himself, Derek Johnson.
					</p>
					
					<div class="left-right-col border">
						<div style="padding:13px 0 5px 10px;">
							<div id="wistia_73f0fef21e" class="wistia_embed" style="width:640px;height:360px;" data-video-width="640" data-video-height="360"><object id="wistia_73f0fef21e_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:360px;position:relative;width:640px;"><param name="movie" value="https://wistia.sslcs.cdngc.net/flash/embed_player_v2.0.swf?2012-06-01"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="bgcolor" value="#000000"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="controlsVisibleOnLoad=true&hdUrl%5Bheight%5D=720&hdUrl%5Btype%5D=hdflv&hdUrl%5Burl%5D=https%3A%2F%2Fwistia.sslcs.cdngc.net%2Fdeliveries%2F4bfa9f3726e3de3e589de49935006e2bf1538100.bin&hdUrl%5Bwidth%5D=1280&mediaDuration=95.76&stillUrl=https%3A%2F%2Fwistia.sslcs.cdngc.net%2Fdeliveries%2F5f04a1925218aa78667c657e07b8449eadcaf3f2.jpg%3Fimage_crop_resized%3D640x360&unbufferedSeek=true&videoUrl=https%3A%2F%2Fwistia.sslcs.cdngc.net%2Fdeliveries%2F342dac1be0629df2b8127f88d47f9ef7647d006b.bin"></param><embed src="https://wistia.sslcs.cdngc.net/flash/embed_player_v2.0.swf?2012-06-01" allowfullscreen="true" allowscriptaccess="always" bgcolor=#000000 flashvars="controlsVisibleOnLoad=true&hdUrl%5Bheight%5D=720&hdUrl%5Btype%5D=hdflv&hdUrl%5Burl%5D=https%3A%2F%2Fwistia.sslcs.cdngc.net%2Fdeliveries%2F4bfa9f3726e3de3e589de49935006e2bf1538100.bin&hdUrl%5Bwidth%5D=1280&mediaDuration=95.76&stillUrl=https%3A%2F%2Fwistia.sslcs.cdngc.net%2Fdeliveries%2F5f04a1925218aa78667c657e07b8449eadcaf3f2.jpg%3Fimage_crop_resized%3D640x360&unbufferedSeek=true&videoUrl=https%3A%2F%2Fwistia.sslcs.cdngc.net%2Fdeliveries%2F342dac1be0629df2b8127f88d47f9ef7647d006b.bin" name="wistia_73f0fef21e_html" style="display:block;height:100%;position:relative;width:100%;" type="application/x-shockwave-flash" wmode="opaque"></embed></object></div>
							<script charset="ISO-8859-1" src="https://fast.wistia.com/static/concat/E-v1.js"></script>
							<script>
							wistiaEmbed = Wistia.embed("73f0fef21e", {
							  version: "v1",
							  videoWidth: 640,
							  videoHeight: 360,
							  controlsVisibleOnLoad: true
							});
							</script>
							<script charset="ISO-8859-1" src="https://fast.wistia.com/embed/medias/73f0fef21e/metadata.js"></script>
						</div>
					</div>
					
					<div class="borderbtm">
						<h2>From the Customer's Perspective</h2>
						<p>
							Tatango makes it easy for consumers to participate in your SMS Contest directly from their mobile phones. To enter the contest, a consumer must simply text your SMS Contest 
							keyword to the short code 68398. See below for a nice little visualization.
						</p>
						<img src="<%= asset_path 'sms_contests_tryit.jpg' %>" width="664" height="360" alt="Example of Tatango SMS Contest campaign" />
						
						<div class="tour_contact_tryit">
							<p class="lasttxt"><span style="">Try Tatango free for 7 days.<br>No credit card.</span></p>
							<p class="try-it"><a href="/signup">Try it FREE for 7 days</a></p>
						</div>
					</div>
					
					<div class="borderbtm">
						<h2>Real Businesses Using SMS Contests</h2>
						<p>
Want to see how real businesses are using Tatango SMS contests to engage and reward consumers? Click on any of the companies below to see how they're using SMS contests.
						</p>
						<div class="tour_client_new_wrap">
							<div class="tour_client_new_box">
								<div class="img">
									<img src="<%= asset_path 'provident-profile.jpg' %>" width="141" height="85" alt="Provident Films" />
								</div>
								<p>
									<a href="<%= url_for customers_sms_contests_path %>" title="Provident Films">Provident Films</a>
								</p>
							</div>
							<div class="tour_client_new_box">
								<div class="img">
									<img src="<%= asset_path 'reset-games-sms-marketing-campaign-color.jpg' %>" width="141" height="85" alt="Reset Games" />
								</div>
								<p>
									<a href="<%= url_for customers_sms_contests_path %>" title="Reset Games">Reset Games</a>
								</p>
							</div>
						</div>
					</div>
					
					<div class="borderbtm">
						<h2>SMS Contests FAQ</h2>
						<p>
Below are some of the most frequently asked questions regarding Tatango SMS Contests. If you have questions that aren't covered here, <a href="javascript:;" onclick="SnapABug.startLink();">contact us</a> and we'll help you get an answer to your questions.
						</p>
						
						<p class="semibold">
Can I customize the message received after entering the contest?
						</p>
						<p>
Yes, you get a full 160 characters of glorious text message to customize a response to someone that enters your SMS contest. Be careful though, with a lot of power, comes a lot of responsibility.
						</p>
						
						<p class="semibold">
How long does it take to create an SMS Contest?
						</p>
						<p>
About the same speed it would take to give away Justin Bieber concert tickets to a mall filled with teenage girls. Yea, that fast! Don't trust us, sign up for a <a href="/signup">free trial</a> and try yourself.
						</p>
						
						<p class="semibold">
How much is this gonna cost me?
						</p>
						<p>
SMS Contests are billed based on the total amount of mobile phone numbers you store in your Tatango account each month, whether it's for an SMS contest or any of the other fabulous product you get at Tatango. These fabulous Tatango products include <a href="/tour/sms-broadcasts">SMS Broadcasts</a>, <a href="/tour/sms-polling">SMS Polls</a>, and <a href="/tour/sms-autoresponders">SMS Autoresponders</a>. For more information on Tatango SMS marketing pricing, see our <a href="<%= url_for sms_marketing_pricing_path %>">plans page</a>.
						</p>
						
						<p class="semibold">
How many SMS Broadcast campaigns can I create?
						</p>
						<p>
When you upgrade to any paid Tatango subscription plan you will have the ability to create an unlimited amount of SMS broadcast campaigns. There are no additional fees or limits when it comes to creating additional SMS Broadcasts. During the free trial, you're limited to just one SMS broadcast.
						</p>
						
						<p class="semibold">
What if I have more questions?
						</p>
						<p>
Still have questions about SMS Contests, <a href="javascript:;" onclick="SnapABug.startLink();">contact us</a> and we'll hook you up with the answer you were looking for.
						</p>
					</div>
					
					<div>
						<h2>Don't forget these guys...</h2>
						<p>
Tatango offers more than just SMS contests, they actually offer a complete suit of SMS marketing products. The best part, all the products below, including SMS contests are free to use with a paid subscription. <a href="/sms-marketing-pricing">Learn more about pricing</a>.
						</p>
						<div class="four-offers">
							<div class="four-offers-item">
								<div class="four-item-img">
									<a title="SMS Broadcasts powered by Tatango" class="blue" href="/tour/sms-broadcasts"><img width="93" height="92" alt="SMS Broadcasts powered by Tatango" src="/assets/sms-marketing-newsletters.png"></a>
								</div>
								<h3 class="orange semibold">SMS Broadcasts</h3>
								<p>Send mass text messages to customers through our online SMS marketing software.</p>
								<div class="clear"><!----></div>
								<p class="offers-moredetails"><a href="/tour/sms-broadcasts">More details</a></p>
							</div>
							<div class="four-offers-item">
								<div class="four-item-img">
									<a href="<%= url_for sms_polling_path %>" class="lilac" title="SMS polling powered by Tatango"><img src="<%= asset_path 'sms-polling.png' %>" width="93" height="92" alt="SMS polling powered by Tatango" /></a>
								</div>
								<h3 class="orange semibold">SMS Polls</h3>
								<p>Let customers vote directly from their mobile phones via text message.</p>
								<div class="clear"><!----></div>
								<p class="offers-moredetails"><a href="<%= url_for sms_polling_path %>">More details</a></p>
							</div>
							<div class="four-offers-item">
								<div class="four-item-img">
									<a href="<%= url_for sms_autoresponders_path %>" class="green" title="SMS autoresponders powered by Tatango"><img src="<%= asset_path 'sms-autoresponders.png' %>" width="93" height="92" alt="SMS autoresponders powered by Tatango" /></a>
								</div>
								<h3 class="orange semibold">SMS Autoresponders</h3>
								<p>Let customers get information from your business wherever, whenever with auto-replies.</p>
								<div class="clear"><!----></div>
								<p class="offers-moredetails"><a href="<%= url_for sms_autoresponders_path %>">More details</a></p>
							</div>
						</div>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
