<%
title 'SMS Campaign Reports'
meta 'Use Tatango campaign reports and analytics to quickly and easily gauge the success of your SMS marketing campaign.'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">Tatango Tour</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content tour-new-shadow">
			
				<div class="wide-content-tour">
				
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
						<h2>Products</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_broadcasts_path %>" title="SMS Broadcasts">SMS Broadcasts</a></li>
								<li><a href="<%= url_for sms_contests_path %>" title="SMS Contests">SMS Contests</a></li>
								<li><a href="<%= url_for sms_polling_path %>" title="SMS Polls">SMS Polls</a></li>
								<li><a href="<%= url_for sms_autoresponders_path %>" title="SMS Autoresponders">SMS Autoresponders</a></li>
							</ul>
						</div>
						<h2 class="select ">Features</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for unlimited_text_messaging_path %>" title="Unlimited Text Messaging">Unlimited Text Messaging</a></li>
								<li><a href="<%= url_for unlimited_sms_keywords_path %>" title="Unlimited SMS Keywords">Unlimited SMS Keywords</a></li>
								<li><a href="<%= url_for sms_short_code_messaging_path %>" title="Short Code Messaging">Short Code Messaging</a></li>
								<li><a href="<%= url_for sms_campaign_management_path %>" title="Campaign Management">Campaign Management</a></li>
								<li><a href="<%= url_for subscriber_management_path %>" title="Subscriber Management">Subscriber Management</a></li>
								<li class="active"><a href="<%= url_for sms_campaign_reports_path %>" title="Campaign Analytics">Campaign Analytics</a></li>
								<li><a href="<%= url_for sms_delivery_reports_path %>" title="SMS Delivery Reports">SMS Delivery Reports</a></li>
								<li><a href="<%= url_for social_sharing_tools_path %>" title="Social Sharing">Social Sharing</a></li>
								<li><a href="<%= url_for customer_support_path %>" title="Amazing Customer Support">Amazing Customer Support</a></li>
								<li><a href="<%= url_for best_practice_compliant_path %>" title="Best Practices Compliant">Best Practices Compliant</a></li>
								<li><a href="<%= url_for advanced_features_path %>" title="Advanced Features">Advanced Features</a></li>
							</ul>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour-new right">
			
					<h1>SMS Campaign Reports/Analytics</h1>
					<img src="<%= asset_path 'tour_sms_campaign_reports.jpg' %>" width="664" height="380" alt="SMS Campaign Reports/Analytics" />
					<p class="border normal">
Knowing the overall health of your SMS campaign is not only essential to knowing where you've been, but more importantly in helping you optimize and improve for the future. 
Tatango gives you the data you need in a clean and easy to read campaign dashboard, allowing you to quickly make adjustments to your campaign without much time or effort.
					</p>
					
					<div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<h2>Subscriber Growth</h2>
								<p>
Who doesn't like more subscribers opting into their SMS campaign? We love this metric so much at Tatango that we give you a nice little graph representing the monthly growth of 
SMS subscribers in each of your SMS campaigns. Enjoy!
								</p>
							</div>
							<div class="tour-right-left-right">
								<img src="<%= asset_path 'tour_sms_campaign_reports_growth.jpg' %>" width="322" height="214" alt="Subscriber Growth" />
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<img src="<%= asset_path 'tour_sms_campaign_reports_churn.jpg' %>" width="322" height="214" alt="Subscriber Churn" />
							</div>
							<div class="tour-right-left-right">
								<h2>Subscriber Churn</h2>
								<p>
While it's important to know how many new SMS subscribers are opting into your SMS campaign, it's just as important to know how many of our SMS subscribers are opting out. 
By watching this metric, you'll be able to continuously improve your campaign.
								</p>
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<h2>Subscriber Reach</h2>
								<p>
Want to know how many text messages your campaign has sent since the very beginning? Don't worry, we give you access to that information as well, in addition to letting you 
know how many messages you've sent during the current month.
								</p>
							</div>
							<div class="tour-right-left-right">
								<img src="<%= asset_path 'tour_sms_campaign_reports_reach.jpg' %>" width="322" height="214" alt="Subscriber Reach" />
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<img src="<%= asset_path 'tour_sms_campaign_reports_data.jpg' %>" width="322" height="214" alt="Export Your Data" />
							</div>
							<div class="tour-right-left-right">
								<h2>Export Your Data</h2>
								<p>
Want to run your own campaign reports? Tatango allows you to quickly and easily export all of your data at anytime into a nice little .CSV file. 
What you do with this data is completely up to you, but we hope it's something cool.
								</p>
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<h2>Campaign Email Updates</h2>
								<p>
Don't have time to log into Tatango and see how you're campaign is doing? With Tatango campaign emails, you'll receive a daily summary of the activity within each of your campaigns, 
saving you time while still allowing you to closely monitor the activity of your text messaging campaigns.
								</p>
							</div>
							<div class="tour-right-left-right">
								<img src="<%= asset_path 'tour_sms_campaign_reports_updates.jpg' %>" width="322" height="214" alt="Campaign Email Updates" />
							</div>
						</div>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
