<%
title 'SMS Marketing QR Code Generator'
meta 'Create SMS marketing QR codes for your SMS campaign using the FREE Tatango tool.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2>Video Lessons</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2 class="select ">SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li class="active"><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2>FAQ's</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
			
					<h1>QR Code Generators for Text Marketing</h1>
					<p class="intro">
Need to make a QR code for your SMS marketing campaign? To make this process easier, Tatango has created the first free QR code generator specifically made for SMS marketing. The Tatango QR code generator not only creates a beautiful QR code, but also makes sure that your SMS marketing campaign has all the right elements required by the Mobile Marketing Association™ U.S. Consumer Best Practices.
					</p>
					
					<style type="text/css">
						div.generate-leftBox { width:278px;float:left;position:relative;overflow:hidden;padding:0 }
						div.generate-rightBox { width:300px;float:right;position:relative;overflow:hidden;padding:0 }
							
							div.wide-content div.wide-content-tour.clients div.generate-rightBox p.semibold { float:left;color:#333;display:block;font-family:'MyriadProSemibold';font-size:15px;padding:0 }

							div.generate-leftBox p.red-txt { padding-top:15px;font-family: 'MyriadWebCondensed';color:#333;font-size:15px;width:100%; }

							div.generate-codeBox { width:256px;padding:10px;margin-top:5px;position:relative;overflow:hidden;background:#fff;border:1px solid #ba3b11;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px; }
								div.generate-codeBox p { font-size:15px;padding:0;}
								div.generate-codeBox p code { font-family:'MyriadWebCondensed'; }
								
							div.generateQR-form { width:278px;position:relative;overflow:hidden;padding:0 0 20px 0;margin:0;background:url('<%= asset_path 'line-1px.gif' %>') repeat-x 0 bottom; }
									
								div.generateQR-form form { position:relative; }
										
									div.generateQR-form form div.box { position:relative;float:left;overflow:hidden;width:278px;padding:0 0 7px 0; }

										div.generateQR-form form label { float:left;color:#333;width:278px;display:block;font-family:'MyriadProSemibold';font-size:15px;line-height:20px;height:20px;padding:0 0 5px 0; }
										div.generateQR-form form input { float:left;border:none;width:70px;padding:0 0 0 10px;line-height:32px;height:32px;font-size:15px;color:#545454;margin:0;font-family:'MyriadWebCondensed';background:url('<%= asset_path 'form-input.png' %>') no-repeat 0 0; }
										
										div.generateQR-form form input.longer { width:261px; }

										div.generateQR-form form input:focus { color:#333; }
										div.generateQR-form form span.end { float:left;display:block;width:7px;height:32px;margin:0;background:url('<%= asset_path 'form-input.png' %>') no-repeat right 0; }
											
											div.generateQR-form form input.generate { background:url('<%= asset_path 'generQRcode.png' %>') no-repeat 0 0;border:none;color:#fff;font-family:'MyriadProSemibold';display:block;font-size:20px;text-shadow: #666 0px 1px 2px;width:200px;height:45px;line-height:40px;padding:0 0 4px 0;margin:30px 0 0 0;text-align:center;float:left;cursor:pointer; }
											div.generateQR-form form input.generate:hover { background:url('<%= asset_path 'generQRcode.png' %>') no-repeat 0 -45px; }
											

							div.qrcode-shadow { position:relative;width:298px;height:14px;margin:5px 0;overflow:hidden;background:url('<%= asset_path 'flyer-shadow.png' %>') no-repeat 50% 0; }
							div.qrcode-box { position:relative;width:268px;overflow:hidden;margin-top:15px;padding:20px 15px 3px 15px;background:url('<%= asset_path 'qr-codebg-top.png' %>') no-repeat 0 0; }
							div.qrcode-box-btm { position:relative;width:268px;overflow:hidden;padding:0 15px 10px 15px;background:url('<%= asset_path 'qr-codebg-btm.png' %>') no-repeat 0 bottom; }
								div.qrcode-box-btm p.small { font-size:12px;line-height:13px;padding:2px 0; }
												
							p.dl-image { float:right; }
								p.dl-image a { display:block;padding:0 13px 0 0;background:url('<%= asset_path 'arrow-down.png' %>') no-repeat right 5px; }
					</style>
					
					<div class="admin-stripes-box" style="width:612px;padding:25px;">			
						
						<div class="generate-leftBox">
							<div class="generateQR-form">
							  <form id="formQr">
								<fieldset>
								  <div class="box">
									<label for="ShortCode">Short Code</label><br />
									<input id="inputShortcode" type="text" tabindex="1" size="22" value="68398" name="ShortCode" /><span class="end"></span>
								  </div>
								  <div class="box">
									<label for="KeywordListName">Keyword</label><br />
									<input id="inputKeyword" class="longer" type="text" tabindex="2" size="22" maxlength="15" name="KeywordListName" <%= params[:keyword] ? "value=\"#{params[:keyword]}\" ".html_safe : " " %>/><span class="end"></span>
									<input id="submitQr" class="generate" type="submit" value="Generate QR Code" tabindex="3" name="submit" />
								  </div>
								</fieldset>
							  </form>
							</div>
							<p class="red-txt">
								Copy and paste the code below into the HTML of your website to display the QR code on the right:
							</p>
							<div class="generate-codeBox">
							  <p>
								<code>
								  &lt;img src="http://www.tatango.com/sms-marketing-tools/sms-qr-code-image?keyword=<span id="urlKeyword"></span>&amp;shortcode=<span id="urlShortcode"></span>" alt="Powered by Tatango SMS Marketing" /&gt;
								</code>
							  </p>
							</div>
						</div>
						  
						<div class="generate-rightBox">
							<p class="dl-image nopadding"><a id="downloadQr" href="" title="Download Image">Download Image</a></p>
							<p class="semibold">Preview</p>
							<div class="qrcode-box">
							  <img id="imageQr" src="" alt="Code" />
							</div>
							<div class="qrcode-box-btm">
							</div>
							<div class="qrcode-shadow">&nbsp;</div>
						</div>
						
					</div>
					
				</div>
				<!-- #END of wide content -->
			</div>
		</div>
	</div>
	<script type="text/javascript">
	  var generateqr = function(){
		keyword = $('#inputKeyword').val().toUpperCase();

		$('#imageQr').attr('src', '/sms-marketing-tools/sms-qr-code-image?keyword=' + keyword + '&shortcode=' + $('#inputShortcode').val());
		$('#downloadQr').attr('href', '/sms-marketing-tools/sms-qr-code-image?keyword=' + keyword + '&shortcode=' + $('#inputShortcode').val() + '&disposition=attachment');

		$('#urlKeyword').html(keyword);
		$('#urlShortcode').html($('#inputShortcode').val());

		return false;
	  };

	  $(function(){
		$('#inputShortcode').keydown(function(event){
		  if ( event.keyCode == 46 || event.keyCode == 8 ) {
		  } else {
			if ((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
			  event.preventDefault(); 
			}   
		  }
		});

		$('#inputShortcode').blur(generateqr);
		$('#inputKeyword').blur(generateqr);
		$('#submitQr').click(generateqr);

		$('#formQr').submit(generateqr);
	  });

	  generateqr();
	</script>

	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
