<%
title 'SMS API'
meta 'If you are looking to integrate Tatango into an existing system, our SMS API is the perfect solution.'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">Enterprise Solutions</span>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content tour-new-shadow">
			
				<div class="wide-content-tour-new">
					
					<div class="tour-left-menu">
						<div class="tour-left-block">
							<p><a href="<%= url_for services_path %>" title="Enterprise Services">Enterprise Services</a></p>
							<ul class="tour-left-menu" style="display:none">
								<li><a href="<%= url_for sms_marketing_consulting_path %>" title="Advisory Services">Advisory Services</a></li>
								<li><a href="<%= url_for dedicated_short_codes_path %>" title="Dedicated Short Codes">Dedicated Short Codes</a></li>
								<li><a href="<%= url_for agency_sms_marketing_path %>" title="Agency Program">Agency Program</a></li>
								<li><a href="<%= url_for bulk_sms_gateway_path %>" title="Bulk SMS Gateway">Bulk SMS Gateway</a></li>
								<li><a href="<%= url_for design_services_path %>" title="Design Services">Design Services</a></li>
							</ul>
						</div>
						<div class="tour-left-block">
							<p class="active"><a href="<%= url_for features_path %>" title="Enterprise Features">Enterprise Features</a></p>
							<ul class="tour-left-menu">
								<li><a href="<%= url_for bulk_sms_path %>" title="Bulk SMS Messaging">Bulk SMS Messaging</a></li>
								<li><a href="<%= url_for advanced_segmenting_path %>" title="Advanced Segmenting">Advanced Segmenting</a></li>
								<li class="active"><a href="<%= url_for tatango_api_path %>" title="Tatango API">Tatango API</a></li>
								<li><a href="<%= url_for vanity_short_code_path %>" title="Vanity Short Codes">Vanity Short Codes</a></li>
							</ul>
						</div>
						<div class="tour-left-block">
							<p><a href="<%= url_for contact_us_path %>" title="Contact Us">Contact Us</a></p>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour-new right">
			
					<h1>Tatango API</h1>
					<img src="<%= asset_path 'enterprise-tatango_api.jpg' %>" width="664" height="304" alt="Tatango API" />
					<p>
If you're looking to integrate Tatango into an existing system, our API is the perfect solution. The Tatango API is  robust, easy to use and extremely reliable. The Tatango API is implemented as a web service using XML-formatted data transported via HTTP. Your system will send the request to the Tatango host address configured for your API account. Tatango will then respond to your system with an XML response. Learn more about the Tatango API below.
					</p>
					<h2>Supported Tatango API Operations</h2>
					<p>
<span class="semibold">Transmit MT Message</span> - The client application uses the submit operation to send a message (mobile-terminated outbound SMS) for delivery to a mobile device via the OpenMarket SMS gateway.
					</p>
					<p>
<span class="semibold">Retrieve Delivery Status</span> - The client application uses the query operation to request the delivery status of a previously submitted message.
					</p>
					<p>
<span class="semibold">Retrieve Phone Number Information</span> - The client application uses the preview operation to request information from Tatango about a mobile phone number (also known as number number lookup). The results from the preview request include the mobile operator, the mobile phone number, geographic location, and other demographic information when available.
					</p>
					<p>
<span class="semibold">Transmit MO Message</span> - Tatango uses this operation to transmit a message originating from a mobile device (mobile-originated inbound SMS) to your application.
					</p>
					<h2>Supporters Tatango API Wireless Carriers</h2>
					<p>
Alltel, AT&T, Bluegrass Cellular, Boost Mobile, Cellcom Cellular, Cricket Wireless, South Centennial Cincinnati, Bell Dobson, Cellular Systems, East Kentucky Network ECIT, Nextel Communications, NTELOSRural Cellular Corp., Sprint PCS Wireless, T-Mobile, US Cellular, Verizon Wireless, Virgin Mobile USA, West Central Wireless, Alaska Communications Systems (ACS), Bluegrass, Centennial, Cellular One of East, Central Illinois (ECIT), Cellular One of NE PA, Cox Wireless, East Kentucky Network, Element Mobile, GCI Communications, Golden State, Inland Cellular, Illinois Valley Cellular, IMMIX, IWireless, MetroPCS, Nex-Tech, Plateau, Thumb, United, Viaero, West Central, Cross, Epic Touch, Chat Mobility - NW Missouri, Mosaic, Panhandle, Pioneer, Revol, Syringa, Simmetry, Union
					</p>
					<h2>There’s More</h2>
					<p>
As a Tatango API client, you will enjoy additional features exclusive to only our TatangoPlus clients.
					</p>
					<div class="enterprise_twocols">
						<ul class="semibold">
							<li><a href="<%= url_for dedicated_short_codes_path %>" title="Dedicated Short Codes">Dedicated SMS short code provisioning</a></li>
							<li>Multi-user accounts</li>
							<li><a href="<%= url_for advanced_segmenting_path %>" title="Advanced Segmenting">Advanced SMS subscriber segmenting</a></li>
							<li>Enhanced analytics and reporting</li>
							<li>Custom message routing capabilities</li>
						</ul>
						<ul class="semibold">
							<li>Priority access to our technical support team</li>
							<li><a href="<%= url_for sms_marketing_consulting_path %>" title="Advisory Services">Dedicated Strategic Advisor</a></li>
							<li><a href="<%= url_for bulk_sms_path %>" title="Bulk SMS Messaging">Bulk SMS messaging</a></li>
							<li><a href="<%= url_for vanity_short_code_path %>" title="Vanity Short Codes">Vanity short code access</a></li>
							<li><a href="<%= url_for design_services_path %>" title="Design Services">Design services</a></li>
						</ul>
					</div>
					<p>
						To learn more about TatangoPlus and our API, call our experts at (888) 778-9414 or use our <a href="<%= url_for contact_us_path %>" title="Contact us">contact form</a>.
					</p>
					<div class="enterprise_contact">
						<div class="left_txt">
							<p class="large">Contact Our Team</p>
							<p class="phnr">Call: <span>1 (888) 778-9414</span></p>
							<p class="bluelink"><a href="javascript:;" onclick="SnapABug.startLink();" title="Contact us">Start a Live Chat</a></p>
						</div>
						<p class="contact-us"><a href="<%= url_for contact_us_path %>" title="Contact us">Contact Us</a></p>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
