<%
title 'Unlimited SMS Keywords'
meta 'Tatango offers truly unlimited and free short code SMS keywords. Create your own SMS keyword today!'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">Tatango Tour</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content tour-new-shadow">
			
				<div class="wide-content-tour">
				
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
						<h2>Products</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_broadcasts_path %>" title="SMS Broadcasts">SMS Broadcasts</a></li>
								<li><a href="<%= url_for sms_contests_path %>" title="SMS Contests">SMS Contests</a></li>
								<li><a href="<%= url_for sms_polling_path %>" title="SMS Polls">SMS Polls</a></li>
								<li><a href="<%= url_for sms_autoresponders_path %>" title="SMS Autoresponders">SMS Autoresponders</a></li>
							</ul>
						</div>
						<h2 class="select ">Features</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for unlimited_text_messaging_path %>" title="Unlimited Text Messaging">Unlimited Text Messaging</a></li>
								<li class="active"><a href="<%= url_for unlimited_sms_keywords_path %>" title="Unlimited SMS Keywords">Unlimited SMS Keywords</a></li>
								<li><a href="<%= url_for sms_short_code_messaging_path %>" title="Short Code Messaging">Short Code Messaging</a></li>
								<li><a href="<%= url_for sms_campaign_management_path %>" title="Campaign Management">Campaign Management</a></li>
								<li><a href="<%= url_for subscriber_management_path %>" title="Subscriber Management">Subscriber Management</a></li>
								<li><a href="<%= url_for sms_campaign_reports_path %>" title="Campaign Analytics">Campaign Analytics</a></li>
								<li><a href="<%= url_for sms_delivery_reports_path %>" title="SMS Delivery Reports">SMS Delivery Reports</a></li>
								<li><a href="<%= url_for social_sharing_tools_path %>" title="Social Sharing">Social Sharing</a></li>
								<li><a href="<%= url_for customer_support_path %>" title="Amazing Customer Support">Amazing Customer Support</a></li>
								<li><a href="<%= url_for best_practice_compliant_path %>" title="Best Practices Compliant">Best Practices Compliant</a></li>
								<li><a href="<%= url_for advanced_features_path %>" title="Advanced Features">Advanced Features</a></li>
							</ul>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour-new right">
			
					<h1>Unlimited SMS Keywords</h1>
					<img src="<%= asset_path 'tour_unlimited_sms_keywords.jpg' %>" width="664" height="380" alt="Unlimited SMS Keywords" />
					<p class="border normal">
When a consumer sends an SMS keyword to a short code, they're able to interact with your SMS campaign. Tatango allows you the ability to create an unlimited amount of SMS keywords within 
your account, at no additional cost. Find out more about SMS keywords below.
					</p>
					
					<div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<h2>Quick SMS Keyword Setup</h2>
								<p>
Tatango is hands-down the easiest SMS marketing software to use when it comes to setting up and managing new keywords. With a couple clicks of the mouse, you'll be able to reserve, customize and launch your new SMS keyword.
								</p>
							</div>
							<div class="tour-right-left-right">
								<img src="<%= asset_path 'tour_unlimited_sms_keywords_setup.jpg' %>" width="322" height="214" alt="Quick SMS Keyword Setup" />
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<img src="<%= asset_path 'tour_unlimited_sms_keywords_keywords.jpg' %>" width="322" height="214" alt="Smart SMS Keywords" />
							</div>
							<div class="tour-right-left-right">
								<h2>Smart SMS Keywords</h2>
								<p>
Many times customers will mistakenly use spaces or special characters in SMS keywords, typically causing errors when setup with other providers. 
Tatango automatically strips away spaces and special characters that customers may use when text messaging these keywords, making sure your customers are always able to interact with your SMS keyword, completely error-free.
								</p>
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<h2>Limit SMS Keyword Interactions</h2>
								<p>
Tatango makes it easy for your business to limit the amount of times a consumer can interact with your SMS keyword. 
Tatango gives you full control, and most importantly peace of mind when it comes to setting up SMS keywords for your mobile marketing campaign.
								</p>
							</div>
							<div class="tour-right-left-right">
								<img src="<%= asset_path 'tour_unlimited_sms_keywords_limit.jpg' %>" width="322" height="214" alt="Limit SMS Keyword Interactions" />
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<img src="<%= asset_path 'tour_unlimited_sms_keywords_responses.jpg' %>" width="322" height="214" alt="Custom Keyword Responses" />
							</div>
							<div class="tour-right-left-right">
								<h2>Custom Keyword Responses</h2>
								<p>
Tatango gives your business the power to <a href="/resources/video-sms-tatango-reward-message">customize the response</a> consumers receive back when they interact with your SMS keyword. The best part, you can change your keyword response on the fly straight from your Tatango account.
								</p>
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<h2>Easy to Remember Code</h2>
								<p>
Unlike regular 10-digit phone numbers, the Tatango phone number is 5 digits, making it significantly easier for consumers to remember and use on their own mobile devices. 
Use <a href="/tour/sms-short-code-messaging">Tatango's short code 68398</a> to take your mobile marketing campaign to the next level.
								</p>
							</div>
							<div class="tour-right-left-right">
								<img src="<%= asset_path 'tour_sms_short_code_messaging_remember.jpg' %>" width="322" height="214" alt="Easy to Remember Code" />
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<img src="<%= asset_path 'tour_unlimited_sms_keywords_notifications.jpg' %>" width="322" height="214" alt="Email Notifications" />
							</div>
							<div class="tour-right-left-right">
								<h2>Email Notifications</h2>
								<p>
Get notifications sent directly to your email when customers interact with your SMS keyword, either daily, as-it-happens, or even both. 
These notification emails include mobile phone numbers and the exact time of the keyword interaction.
								</p>
							</div>
						</div>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
