<%
title 'Unlimited Text Messaging'
meta 'Tatango was the first SMS provider to offer truly unlimited SMS marketing. Experience it yourself with our free trial.'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">Tatango Tour</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content tour-new-shadow">
			
				<div class="wide-content-tour">
				
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
						<h2>Products</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_broadcasts_path %>" title="SMS Broadcasts">SMS Broadcasts</a></li>
								<li><a href="<%= url_for sms_contests_path %>" title="SMS Contests">SMS Contests</a></li>
								<li><a href="<%= url_for sms_polling_path %>" title="SMS Polls">SMS Polls</a></li>
								<li><a href="<%= url_for sms_autoresponders_path %>" title="SMS Autoresponders">SMS Autoresponders</a></li>
							</ul>
						</div>
						<h2 class="select ">Features</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li class="active"><a href="<%= url_for unlimited_text_messaging_path %>" title="Unlimited Text Messaging">Unlimited Text Messaging</a></li>
								<li><a href="<%= url_for unlimited_sms_keywords_path %>" title="Unlimited SMS Keywords">Unlimited SMS Keywords</a></li>
								<li><a href="<%= url_for sms_short_code_messaging_path %>" title="Short Code Messaging">Short Code Messaging</a></li>
								<li><a href="<%= url_for sms_campaign_management_path %>" title="Campaign Management">Campaign Management</a></li>
								<li><a href="<%= url_for subscriber_management_path %>" title="Subscriber Management">Subscriber Management</a></li>
								<li><a href="<%= url_for sms_campaign_reports_path %>" title="Campaign Analytics">Campaign Analytics</a></li>
								<li><a href="<%= url_for sms_delivery_reports_path %>" title="SMS Delivery Reports">SMS Delivery Reports</a></li>
								<li><a href="<%= url_for social_sharing_tools_path %>" title="Social Sharing">Social Sharing</a></li>
								<li><a href="<%= url_for customer_support_path %>" title="Amazing Customer Support">Amazing Customer Support</a></li>
								<li><a href="<%= url_for best_practice_compliant_path %>" title="Best Practices Compliant">Best Practices Compliant</a></li>
								<li><a href="<%= url_for advanced_features_path %>" title="Advanced Features">Advanced Features</a></li>
							</ul>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour-new right">
			
					<h1>Unlimited Text Messaging</h1>
					<img src="<%= asset_path 'tour_unlimited_text_messaging.jpg' %>" width="664" height="380" alt="Unlimited Text Messaging" />
					<p class="border normal">
Tatango was the first SMS provider to offer truly unlimited SMS marketing to its customers. We make it easy by billing based on the total amount of mobile phone 
numbers you have under your SMS campaigns within the account. Pretty simple. Learn more about our unlimited SMS messaging below, or <a href="/sms-marketing-pricing">see our pricing page</a>.
					</p>
					
					<div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<h2>Truly Unlimited Messaging</h2>
								<p>
Tatango doesn't put any limits to the amount of text messages you can send to your SMS subscribers. Send a text message every week, every day, every hour or even every minute, 
it's completely up to you. The best part, however many text messages you send, it's all the same price.
								</p>
							</div>
							<div class="tour-right-left-right">
								<img src="<%= asset_path 'tour_unlimited_text_messaging_messaging.jpg' %>" width="322" height="214" alt="Truly Unlimited Messaging" />
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<img src="<%= asset_path 'tour_unlimited_text_messaging_shortcode.jpg' %>" width="322" height="214" alt="Short Code Messaging" />
							</div>
							<div class="tour-right-left-right">
								<h2>Short Code Messaging</h2>
								<p>
Tatango offers unlimited <a href="/tour/sms-short-code-messaging">short code text messaging</a>, which means you get to send and receive text messages from our 5-digit phone number 68398. 
Don't settle for anything less than short code messaging for your own SMS campaign.
								</p>
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<h2>No Tatango Branding</h2>
								<p>
Some SMS providers claim to offer unlimited text message marketing, but surprise you by putting their own brand in each of your text messages. 
Tatango's unlimited text messaging plans give you the full 160 characters, no Tatango branding or other shenanigans.
								</p>
							</div>
							<div class="tour-right-left-right">
								<img src="<%= asset_path 'tour_unlimited_text_messaging_branding.jpg' %>" width="322" height="214" alt="No Tatango Branding" />
							</div>
						</div>
						<div class="tour-right-left">
							<div class="tour-right-left-left">
								<img src="<%= asset_path 'tour_unlimited_text_messaging_phone.jpg' %>" width="322" height="214" alt="Send from phone" />
							</div>
							<div class="tour-right-left-right">
								<h2>Send from phone</h2>
								<p>
Not by a computer and want to send a text message promotion out to your mobile subscribers? Tatango has you covered with our <a href="/resources/video-text-in-instructions">mobile text-in feature</a>, 
allowing you to send a text message promotion directly from your mobile phone to your entire subscriber list.
								</p>
							</div>
						</div>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
