<%
title 'Vanity Short Code'
meta 'Need an vanity short code? Tatango offers a shared vanity short code for use with our enterprise SMS marketing platform.'
body_class 'wide' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">Enterprise Solutions</span>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content tour-new-shadow">
			
				<div class="wide-content-tour-new">
					
					<div class="tour-left-menu">
						<div class="tour-left-block">
							<p><a href="<%= url_for services_path %>" title="Enterprise Services">Enterprise Services</a></p>
							<ul class="tour-left-menu" style="display:none">
								<li><a href="<%= url_for sms_marketing_consulting_path %>" title="Advisory Services">Advisory Services</a></li>
								<li><a href="<%= url_for dedicated_short_codes_path %>" title="Dedicated Short Codes">Dedicated Short Codes</a></li>
								<li><a href="<%= url_for agency_sms_marketing_path %>" title="Agency Program">Agency Program</a></li>
								<li><a href="<%= url_for bulk_sms_gateway_path %>" title="Bulk SMS Gateway">Bulk SMS Gateway</a></li>
								<li><a href="<%= url_for design_services_path %>" title="Design Services">Design Services</a></li>
							</ul>
						</div>
						<div class="tour-left-block">
							<p class="active"><a href="<%= url_for features_path %>" title="Enterprise Features">Enterprise Features</a></p>
							<ul class="tour-left-menu">
								<li><a href="<%= url_for bulk_sms_path %>" title="Bulk SMS Messaging">Bulk SMS Messaging</a></li>
								<li><a href="<%= url_for advanced_segmenting_path %>" title="Advanced Segmenting">Advanced Segmenting</a></li>
								<li><a href="<%= url_for tatango_api_path %>" title="Tatango API">Tatango API</a></li>
								<li class="active"><a href="<%= url_for vanity_short_code_path %>" title="Vanity Short Codes">Vanity Short Codes</a></li>
							</ul>
						</div>
						<div class="tour-left-block">
							<p><a href="<%= url_for contact_us_path %>" title="Contact Us">Contact Us</a></p>
						</div>
						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour-new right">
			
					<h1>Vanity Short Code Messaging</h1>
					<img src="<%= asset_path 'enterprise-vanity_short_code.jpg' %>" width="664" height="304" alt="Vanity Short Code Messaging" />
					<p>
Want to launch your SMS campaign with a vanity short code? As a TatangoPlus customer, you get exclusive access to the vanity short code number 33733. This vanity short code has been provisioned by all carriers, is easier on the mobile user and makes your campaign look much more sophisticated.
					</p>

					<h2>What is a Vanity Short Code?</h2>
					<p>
A vanity short code is a 5-6 digit phone number that is selected because they're either easy to remember (313131), they have cultural relevance (411411) or the vanity short code spells out something on a dial pad. For more information on vanity short codes, <a href="/resources/video-vanity-random-short-code">watch this video</a>.
					</p>
					
					<h2>Why a Vanity Short Code?</h2>
					<p>
There's one major advantage to launching an SMS marketing campaign with a vanity short code -- it's easier to remember. 
					</p>
					
					<h2>What is a Shared Vanity Short Code</h2>
					<p>
A shared vanity short code is used by multiple brands, which share the setup costs and fees usually associated with short codes, making them much more accessible to smaller brands. For more info, <a href="http://www.tatango.com/resources/video-dedicated-shared-short-code">watch this video</a>.
					</p>
					<p>
Want your own dedicated vanity short? <a href="/enterprise/contact-us">Contact us</a>, we can make this happen.
					</p>
					
					<h2>Wireless Carriers Supporting Vanity Short Codes</h2>
					<p>
Alltel, AT&T, Bluegrass Cellular, Boost Mobile, Cellcom Cellular, Cricket Wireless, South Centennial Cincinnati, Bell Dobson, Cellular Systems, East Kentucky Network ECIT, Nextel Communications, NTELOSRural Cellular Corp., Sprint PCS Wireless, T-Mobile, US Cellular, Verizon Wireless, Virgin Mobile USA, West Central Wireless, Alaska Communications Systems (ACS), Bluegrass, Centennial, Cellular One of East, Central Illinois (ECIT), Cellular One of NE PA, Cox Wireless, East Kentucky Network, Element Mobile, GCI Communications, Golden State, Inland Cellular, Illinois Valley Cellular, IMMIX, IWireless, MetroPCS, Nex-Tech, Plateau, Thumb, United, Viaero, West Central, Cross, Epic Touch, Chat Mobility - NW Missouri, Mosaic, Panhandle, Pioneer, Revol, Syringa, Simmetry, Union
					</p>
					
					<h2>There’s More</h2>
					<p>
As an enterprise client, you enjoy additional features and services that are exclusive to only our TatangoPlus clients.
					</p>
					<div class="enterprise_twocols">
						<ul class="semibold">
							<li><a href="<%= url_for dedicated_short_codes_path %>" title="Dedicated Short Codes">Dedicated SMS short code provisioning</a></li>
							<li>Multi-user accounts</li>
							<li><a href="<%= url_for advanced_segmenting_path %>" title="Advanced Segmenting">Advanced SMS subscriber segmenting</a></li>
							<li>Enhanced analytics and reporting</li>
							<li>Custom message routing capabilities</li>
						</ul>
						<ul class="semibold">
							<li>Priority access to our technical support team</li>
							<li><a href="<%= url_for sms_marketing_consulting_path %>" title="Advisory Services">Dedicated Strategic Advisor</a></li>
							<li><a href="<%= url_for bulk_sms_path %>" title="Bulk SMS Messaging">Bulk SMS messaging</a></li>
							<li><a href="<%= url_for design_services_path %>" title="Design Services">Design services</a></li>
						</ul>
					</div>
					<p>
To learn more about TatangoPlus and our vanity short code messaging, call our experts at (888) 778-9414 or use our <a href="/enterprise/contact-us">contact form</a>.
					</p>
					<div class="enterprise_contact">
						<div class="left_txt">
							<p class="large">Contact Our Team</p>
							<p class="phnr">Call: <span>1 (888) 778-9414</span></p>
							<p class="bluelink"><a href="javascript:;" onclick="SnapABug.startLink();" title="Contact us">Start a Live Chat</a></p>
						</div>
						<p class="contact-us"><a href="<%= url_for contact_us_path %>" title="Contact us">Contact Us</a></p>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
