<%
title 'Not Receiving Short Code Messages'
meta 'Video lesson on what to do if you are not receiving short code text messages.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2 class="select ">Video Lessons</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li class="active"><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2>SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2>FAQ's</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
					<p>
						&laquo; Back to <a href="<%= url_for videos_sms_messaging_path %>" title="Back to videos">Messaging videos</a>
					</p>
					<h1>Troubleshooting Short Code Messages</h1>
					<p class="intro border">
Need to figure out why your mobile phone isn’t able to send or receive short code messages? Derek Johnson, CEO of Tatango gives his four steps to diagnose and fix this issue, so that you are able to receive these types of SMS messages.
					</p>
					
					<div class="left-right-col border">
						<div style="padding:13px 0 5px 10px;">
							<div id="wistia_9a4cc27c6d" style="width:640px;height:388px;" data-video-width="640" data-video-height="360"><object id="wistia_9a4cc27c6d_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:100%;position:relative;width:100%;"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/3dcaab644716e921f82cd963726c5e6329410ee6.bin&&hdUrl=http://embed.wistia.com/deliveries/8bcea7cd7ca2ad6ee8585528659d1836edd7669f.bin&stillUrl=http://embed.wistia.com/deliveries/c6faffb95f7aab24f3dda6b603fc3613381671be.bin"></param><embed src="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/3dcaab644716e921f82cd963726c5e6329410ee6.bin&hdUrl=http://embed.wistia.com/deliveries/8bcea7cd7ca2ad6ee8585528659d1836edd7669f.bin&stillUrl=http://embed.wistia.com/deliveries/c6faffb95f7aab24f3dda6b603fc3613381671be.bin" style="display:block;height:100%;position:relative;width:100%;"></embed></object></div>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/E-v1.js"></script>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1-gridify%2CW-v1-wistia_url_min%2Csocialbar-v1.js"></script>

							<script>/*<![CDATA[*/
							wistiaEmbed = Wistia.embed("9a4cc27c6d", {
							  videoWidth: "640",
							  videoHeight: "360",
							  controlsVisibleOnLoad: true
							});
							Wistia.plugin.socialbar(wistiaEmbed, {
							  version: "v1",
							  buttons: "embed-twitter-googlePlus-facebook",
							  tweetText: "Learn what to do if you're not receiving short code messages @Tatango",
							  showTweetCount: true
							});
							/*]]*/</script>
						</div>
					</div>
					
					<h2>Video Transcription</h2>
					<p>
Hi, everyone. My name is Derek Johnson with Tatango.com, and we’re going to be talking about what happens when you don’t receive text messages via short code. First thing is what is a short code? A short code is a five to six digit phone number that is exclusively used for marketing purposes. You’ll see them sometimes on “American Idol,” on billboards. Again, five to six digit phone numbers. Not like the seven digit phone numbers that you dial and call your friends on.
					</p>
					<p>
So the first thing you want to do if you’re not receiving messages via short code is you want to make sure your carrier, which is like AT&T, Verizon, is supported by Tatango. You can find all the carriers that we support at Tatango on Tatango.com.
					</p>
					<p>
The next thing, number two, is you want to text the word “Help” to 68398. This is our short code here at Tatango. What this allows us to do is, first, it allows us to see if we’re receiving short code messages from your phone, and we’ll get it on our system. Then we’ll push back an automated message to your phone, and that will tell you if you’re receiving the messages on your phone via the short code.
					</p>
					<p>
Number three is, let’s say you don’t get anything back here. If you do get something, it means it’s working. So then you don’t have a problem. If you don’t get anything back, you want to go to number three and you want to text the word “Help” to 40404. This is another short code. This is actually a Twitter short code. They have a short code just like us. Just to make sure that it’s not our short code that you’re having problems with, you text “Help” to 40404, and that will tell us if maybe it’s our short code. But if it isn’t working for you on 40404, that means all short codes aren’t working on your mobile phone.
					</p>
					<p>
Number four, unfortunately, you’ve got to enable short code messaging, and that means you’ve got to get on the phone and talk to your carrier. It’s a real quick call though. You pick up the phone. You tell them your phone number and you say, “Look, I need short code messaging enabled.”
					</p>
					<p>
Hopefully, that answers your question about what happens when you aren’t receiving messages via an SMS provider that is using a short code.
					</p>
					<p>
Video transcription by <a href="http://speechpad.com" title="Video transcription by Speechpad.com">Speechpad.com</a>
					</p>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
