<%
title 'Links and Phone Numbers in SMS Messaging'
meta 'Video lesson on how to incorporate click-to-call in a text message marketing campaign.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2 class="select ">Video Lessons</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li class="active"><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2>SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2>FAQ's</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
					<p>
						&laquo; Back to <a href="<%= url_for videos_sms_messaging_path %>" title="Back to videos">Messaging videos</a>
					</p>
					<h1>Including Links &amp; Phone Numbers in Text Messages</h1>
					<p class="intro border">
Did you know that you can put more than just text in your text message promotions. Derek Johnson, CEO of Tatango discusses including website links and phone numbers in text message promotions, and some words of caution for using website links.
					</p>
					
					<div class="left-right-col border">
						<div style="padding:13px 0 5px 10px;">
							<div id="wistia_2ef89354ef" style="width:640px;height:388px;" data-video-width="640" data-video-height="360"><object id="wistia_2ef89354ef_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:100%;position:relative;width:100%;"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/3f6b339b1dac4aa866f3c7667e21eda2c919b292.bin&&hdUrl=http://embed.wistia.com/deliveries/31d4218d333d6f10720cdaff17231fbe3f185173.bin&stillUrl=http://embed.wistia.com/deliveries/1e6f0271e3fa2ce787064d232c2df7e92a4757b4.bin"></param><embed src="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/3f6b339b1dac4aa866f3c7667e21eda2c919b292.bin&hdUrl=http://embed.wistia.com/deliveries/31d4218d333d6f10720cdaff17231fbe3f185173.bin&stillUrl=http://embed.wistia.com/deliveries/1e6f0271e3fa2ce787064d232c2df7e92a4757b4.bin" style="display:block;height:100%;position:relative;width:100%;"></embed></object></div>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/E-v1.js"></script>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1-gridify%2CW-v1-wistia_url_min%2Csocialbar-v1.js"></script>

							<script>/*<![CDATA[*/
							wistiaEmbed = Wistia.embed("2ef89354ef", {
							  videoWidth: "640",
							  videoHeight: "360",
							  controlsVisibleOnLoad: true
							});
							Wistia.plugin.socialbar(wistiaEmbed, {
							  version: "v1",
							  buttons: "embed-twitter-googlePlus-facebook",
							  tweetText: "Learn how to use links and phone numbers in text message promotions @Tatango",
							  showTweetCount: true
							});
							/*]]*/</script>
						</div>
					</div>
					
					<h2>Video Transcription</h2>
					<p>
Hey everyone, Derek Johnson with Tatango.com. Today I’m going to be talking about supercharging your text messaging campaigns with web links and phone numbers. A lot of people think 160 characters, all you can put in is just text. Yes, that’s true, but you can also add phone numbers and web links. Let me explain how that works.
					</p>
					<p>
First one, web links, you can put in a link to a website, a mobile-enabled website, a video within the text message. One of the things that you want to watch out for if you have a really long link like Tatango.com/smscasestudies/resources, what you want to do is you want to use a URL shortener. If you go to Google and type “URL shortener,” you’ll find a million of them. That will take that big long link and make it really, really small.
					</p>
					<p>
The problem with incorporating web links is if you make it the main call to action. What I mean by this is let’s say it’s a text message campaign out to customers of a restaurant. It says, “Click on this link for a 30% off coupon.” The problem is that only 30% of people in the United States actually have access to the mobile web on their phone. So if you send it out to 1,000 people, only 300 of your customers will even be able to see that discount. So you have to watch out there.
					</p>
					<p>
What I say for web links, at least right now, in the future, they’re projecting at the end of 2011, that this 30% will turn into 50%. 2012 is just going to keep growing. So again, I think web links in the future will be huge, but right now you’ve got to kind of play it safe. What that means is don’t make it the main call to action. As an example, you could say, “Show this text message for 30% off a pizza,” and at the bottom say, “Watch how this pizza is being made on our special YouTube video.” Then they can click that link. It’s not discounting the 70% of people who couldn’t even click that link. They still get the value in the text message.
					</p>
					<p>
The second one, which is super cool which nobody ever does, is puts phone numbers in the text message. Why the heck would I want to put a phone number in a text message? Well, it’s very simple. What you can do is what we call “click to call.” Let’s say that pizza place, you have too many people coming in to the store already, but nobody is ordering via phone. Nobody’s coming in and picking up pizzas, and that makes you a lot of money for some reason. In the text message, you want to say, “Call us at 206-334- 4012 and order a pizza and receive 20% off for pick-up only.” What’s great is most phones, even feature phones, which what we call “dumb phones” that just have text messaging and phone call service, they can always click that phone number or just click on that phone number and connect right to that pizza place. This is something that is very, very rarely used, but I think should be used way more than it currently is. So if you’re a restaurant, if you’re a business, a retail store, and you have a reason for customers to connect with you via phone, try this. It is going to have tremendous results for you.
					</p>
					<p>
Again, remember to use web links, but use them at the bottom of the message and not the call to action. Hopefully, this helps explain how you can use both web links and phone numbers within your own SMS campaign.
					</p>
					<p>
Video transcription by <a href="http://speechpad.com" title="Video transcription by Speechpad.com">Speechpad.com</a>
					</p>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
