<%
title 'SMS Marketing Best Practices For Advertising'
meta 'Video lesson on Tatango SMS marketing best practices.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2 class="select ">Video Lessons</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li class="active"><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2>SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2>FAQ's</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
					<p>
						&laquo; Back to <a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Back to videos">Best Practices videos</a>
					</p>
					<h1>Text Message Marketing Advertising Guidelines</h1>
					<p class="intro border">
When advertising any SMS marketing campaign, a business needs to be aware of industry best practices. Derek Johnson, CEO of Tatango breaks down the five pieces of information required when advertising any SMS marketing campaign.
					</p>
					
					<div class="left-right-col border">
						<div style="padding:13px 0 5px 10px;">
							<div id="wistia_d65b1f3240" style="width:640px;height:388px;" data-video-width="640" data-video-height="360"><object id="wistia_d65b1f3240_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:100%;position:relative;width:100%;"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/0ff6e8bf113d5c192f1e23d733050f2b1c912531.bin&&hdUrl=http://embed.wistia.com/deliveries/b78bb00a9c4c59488e47e90442724928edc82480.bin&stillUrl=http://embed.wistia.com/deliveries/0971b18803e4e267106a1457a0f768e5e68a39c4.bin"></param><embed src="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/0ff6e8bf113d5c192f1e23d733050f2b1c912531.bin&hdUrl=http://embed.wistia.com/deliveries/b78bb00a9c4c59488e47e90442724928edc82480.bin&stillUrl=http://embed.wistia.com/deliveries/0971b18803e4e267106a1457a0f768e5e68a39c4.bin" style="display:block;height:100%;position:relative;width:100%;"></embed></object></div>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/E-v1.js"></script>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1-gridify%2CW-v1-wistia_url_min%2Csocialbar-v1.js"></script>

							<script>/*<![CDATA[*/
							wistiaEmbed = Wistia.embed("d65b1f3240", {
							  videoWidth: "640",
							  videoHeight: "360",
							  controlsVisibleOnLoad: true
							});
							Wistia.plugin.socialbar(wistiaEmbed, {
							  version: "v1",
							  buttons: "embed-twitter-googlePlus-facebook",
							  tweetText: "Learn the best practices for advertising your SMS campaign @Tatango",
							  showTweetCount: true
							});
							/*]]*/</script>
						</div>
					</div>
					
					<h2>Video Transcription</h2>
					<p>
Hey guys, Derek Johnson with Tatango here. Today we’re going to be talking about how to advertise your SMS campaign. There are a few things, actually five things, that are required by both the CTIA, the MMA, and the carriers to be present in any advertising. So let’s go through those five things.
Here is a campaign that is doing a great job of advertising Text CUPCAKE, which cupcake is the SMS keyword, to the short code, 68398. Then, all the stuff below it is the stuff that is required by all of those organizations and the carriers. So let’s go through those one by one.
					</p>
					<p>
The first one, which I think is one of the most important things, is message and data rates may apply. You have to tell people that, if they’re not on a text message plan or they’re not on a bulk unlimited text message plan, that they will be charged standard messaging rates. Now, again, that’s only 12% of the United States that doesn’t have a text message plan, but you want to be very, very clear about what they’re opting in to and the responsibilities of opting in. Usually, what I say is put that below the short code down here.
					</p>
					<p>
Then, let’s look at it, “to receive exclusive discounts monthly.” There are actually two things that are included in this phrase. The first one is “exclusive discounts.” All those organizations and the carriers, what they want to display is they want to say what they’re opting in to. Again, just text CUPCAKE to 68398, it doesn’t make any sense. Why the heck would I want to text CUPCAKE to 68398? You have to be very clear in your advertising about why they should actually do that, and this advertising does a pretty good job – to receive exclusive discounts.
					</p>
					<p>
The third part is monthly, and what this is, is it tells the customer or the person that’s opting in to this campaign how frequently the messages will come. Again, this could be daily. This could be weekly. This could be monthly. This also builds a lot of trust with the customer. Hypothetically, let’s say it said, “Text CUPCAKE to 68398 to receive exclusive discounts.” As a customer, I might not be okay with opting in to that campaign because I don’t understand well, how many messages. I don’t want to receive messages every four hours about cupcakes. I only eat cupcakes, maybe every week, maybe every month. I don’t want to receive cupcake discounts every single day or every five hours. Again, this will actually increase the opt-ins if it’s appropriate to the discounts that you are offering.
					</p>
					<p>
Then, at the very, very bottom here, there are two things you want to include. “Opt-out, text STOP.” Then the second one is, “Terms and conditions, text HELP.” Let’s go to the first one, “Opt-out, text STOP.” This is just making sure that people understand that when they join the campaign, at any time during the campaign they can always reply STOP to the short code, 68398 and automatically be removed from the campaign. They’ll never receive another message again. Again, this is going to increase opt-ins because people feel comfortable. They say, “Well, I’m going to test this out, run it for a couple weeks, but if I don’t like opting in to this campaign, I can get out at any time.”
					</p>
					<p>
The next one is the “Terms and conditions, text HELP.” You can actually do two different variations here. You can actually put a link to the terms and conditions of the campaign, or you can just tell them to text HELP. Most of the time I recommend the terms and condition text help. It’s a little easier. It’s a little quicker. It makes sense because it’s on the mobile phone. A lot of people don’t have a laptop that they can pull up a website and the terms and conditions. Plus it’s shorter, and with an ad, with all the stuff that you have to include in there, it does make it a little space conscious.
					</p>
					<p>
This is what is required by both the MMA, the CTIA, and the carriers whenever you do an advertisement, whether it’s on the Web, whether it’s in print, Facebook. You want to include all this stuff, both because your phone rules, but also you want to build trust with your customers. You want to make sure they understand what they’re getting into and the things you’re offering with their SMS campaign.
					</p>
					<p>
Video transcription by <a href="http://speechpad.com" title="Video transcription by Speechpad.com">Speechpad.com</a>
					</p>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
