<%
title 'How to Select SMS Keywords'
meta 'Video lesson on how to select the best SMS keywords for your SMS marketing campaign.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2 class="select ">Video Lessons</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li class="active"><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2>SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2>FAQ's</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
					<p>
						&laquo; Back to <a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Back to videos">Keywords/Short Codes videos</a>
					</p>
					<h1>Selecting SMS Keywords</h1>
					<p class="intro border">
Every SMS marketing campaign has a unique SMS keyword and it's extremely important to pick the best SMS keywords possible for your text messaging campaign. Derek Johnson, CEO of Tatango discusses the five keys to selecting a good SMS keyword.
					</p>
					
					<div class="left-right-col border">
						<div style="padding:13px 0 5px 10px;">
							<div id="wistia_b899b5810c" style="width:640px;height:388px;" data-video-width="640" data-video-height="360"><object id="wistia_b899b5810c_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:100%;position:relative;width:100%;"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/e3637894db21a24cf25cc5f182c5448fd889ab86.bin&&hdUrl=http://embed.wistia.com/deliveries/37955a55bd2320984db36cf94e25dfa85fd8abdd.bin&stillUrl=http://embed.wistia.com/deliveries/78257c7717adab4d7deb8222341dee94edbddcae.bin"></param><embed src="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/e3637894db21a24cf25cc5f182c5448fd889ab86.bin&hdUrl=http://embed.wistia.com/deliveries/37955a55bd2320984db36cf94e25dfa85fd8abdd.bin&stillUrl=http://embed.wistia.com/deliveries/78257c7717adab4d7deb8222341dee94edbddcae.bin" style="display:block;height:100%;position:relative;width:100%;"></embed></object></div>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/E-v1.js"></script>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1-gridify%2CW-v1-wistia_url_min%2Csocialbar-v1.js"></script>

							<script>/*<![CDATA[*/
							wistiaEmbed = Wistia.embed("b899b5810c", {
							  videoWidth: "640",
							  videoHeight: "360",
							  controlsVisibleOnLoad: true
							});
							Wistia.plugin.socialbar(wistiaEmbed, {
							  version: "v1",
							  buttons: "embed-twitter-googlePlus-facebook",
							  tweetText: "Learn how to select a good SMS keyword @Tatango",
							  showTweetCount: true
							});
							/*]]*/</script>
						</div>
					</div>
					
					<h2>Video Transcription</h2>
					<p>
Hey guys, Derek Johnson from Tatango.com here. Today, I’m going to be talking about selecting a good keyword for your SMS campaign. There are five things that you want to take into account when picking a good SMS keyword.
					</p>
					<p>
The first one is you want to make sure it’s easy to remember. What I’m going to do for each one of these also is I’m going to give you a bad example so that you can see what’s not good, and then hopefully turn it into something that is good. So, easy to remember. Let’s say a bad example would be something like this, “Pizza567245.” That’s pretty hard to remember. I just wrote it, and I don’t remember what I just wrote on there.
					</p>
					<p>
Why this is so important for an SMS campaign is a lot of people only give three to five seconds to look at the SMS keyword and then go back to their phone to type it in. So how this would play out in the real world is I would type in “Pizza” and then I would look back up and I would have to type in “567″. Type it back in and then go “245,” type it back in. By that time you’ve already lost that customer. They’re not going to go through that entire process, take 20 seconds to opt into a campaign. You’ve got to make things as simple and quick as possible.
					</p>
					<p>
The next one, don’t be too clever. Keywords are in limited supply. Only one person can have the keyword “Pizza.” So I see some campaigns, what they’ll do, is maybe they’ll go, hey, we’re going to be clever and that’s our keyword. Everybody knows it says Pizza, but we’re going to put dollar signs in there, and that’ll be a way that we can get around that we don’t have the keyword Pizza. The problem comes back to is that the subscriber only has about three to five seconds to look at what’s on the campaign, the keyword, and then go back to their phone. There have been studies shown that when you look at something really quickly, you digest it and then you turn away, you see what your brain thought you were seeing. If I look at this really quickly and I know it’s a pizza shop, I’m going to think it says Pizza anyway. So you don’t want to be too clever because people only have a few seconds to look at the keyword and then go back to their phone.
					</p>
					<p>
Number three. No special characters. So let me give you an example. Let’s say, “Pizza#.” That looks pretty cool. You could even take off the pound symbol. But the problem with this, and especially with the mobile phone, is mobile phones, you have to usually tab to get to the special characters, and a lot of the people don’t even know how to tab to those special characters, because most language with SMS is just with the normal characters. A lot of people don’t touch the tab characters. So you don’t want to make it hard for your customers to figure out how to tab to the pound symbol and then tab again to the question mark or whatever symbol that you have in your SMS campaign.
					</p>
					<p>
Number four. You want to stick with one word. So, let’s see, this is a bad example, “Pizza Deals.” With a space. The problem with this is most SMS campaigns or providers, what they’re going to do is they get to the computer and computers are not that smart. So what a computer won’t realize is that if one of your customers types in “PizzaDeals”, they won’t join your campaign. They’ll join somebody else’s campaign that has the Pizza with a space. Another thing that I see pretty often is somebody that does this, “PizzaDeals” without a space. Just because we’ve all gone through grade school and middle school and high school, we realize that those are two words and there should be a space in there. So if I was looking really quickly at your SMS campaign, I would say, oh there’s supposed to be a space in there. So I’d put a space in there. I wouldn’t be joining this campaign. I’d be joining this campaign. So you want to make sure, keep it to one word. Again, keep it simple. That’s the theme of this whole presentation really is keep things simple.
					</p>
					<p>
The last one is keep it short. A good example here, let’s go “Mississippi.” Okay, I got bored just writing this down. So if you have something like Mississippi, with 16 characters or whatever the heck it is, nobody’s going to look at that and go that’s not worth it for me to join this SMS campaign typing 16 characters into my mobile phone. Again, you have to think most customers, it takes a while for them to text on the phone. You want to keep things as simple as possible and as short as possible for the keyword.
					</p>
					<p>
Anyway, hopefully this helps you guys pick the best keyword that you can have for your SMS campaign.
					</p>
					<p>
Video transcription by <a href="http://speechpad.com" title="Video transcription by Speechpad.com">Speechpad.com</a>
					</p>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
