<%
title 'SMS Marketing - Getting Started Videos Lessons'
meta 'Learn more about getting started with SMS marketing with Tatango video lessons.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2 class="select ">Video Lessons</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li class="active"><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2>SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2>FAQ's</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
			
					<h1>Video Guide to Getting Started on Text Messaging</h1>
					<p class="intro border">
Ready to launch your first SMS marketing campaign? Whoa cowboy, slow down, sit-back, grab some popcorn and scope out the following videos that the team at Tatango has hand-picked for your viewing and learning pleasure. These video lessons will cover basic getting started topics such as where to advertise, how often to send text messages to your customers and even how to measure the success of the text messages you send. Once you're done watching these videos, it's time to lean forward, get rid of the popcorn and launch your first SMS marketing campaign!
					</p>
					
					<div class="left-right-col video">
						<div class="left-col">
							<h2><a href="<%= url_for video_tatango_free_trial_path %>" title="Understanding the Tatango Free Trial">Understanding the Tatango Free Trial</a></h2>
							<p>
Want to figure out exactly what you get during your free SMS marketing trial at Tatango? Derek Johnson, CEO of Tatango breaks down the free trial, explaining what unlimited text message marketing means, the different SMS marketing products available, and what other kinds of SMS marketing perks you get during the free trial.
							</p>
							<p><a class="link-arrow" href="<%= url_for video_tatango_free_trial_path %>" title="Watch Video">Watch Video</a></p>
						</div>
						<div class="right-col">
							<a href="<%= url_for video_tatango_free_trial_path %>" title="Watch Video"><img src="<%= asset_path 'videos/understanding-tatango-free-trial.jpg' %>" width="330" height="189" alt="Watch Video" /></a>
						</div>
					</div>
					
					<div class="left-right-col video">
						<div class="left-col">
							<h2><a href="<%= url_for video_where_to_advertise_sms_campaign_path %>" title="Where to Advertise Your SMS Campaign">Where to Advertise Your SMS Campaign</a></h2>
							<p>
Once you have selected a good SMS keyword for your SMS marketing campaign, the next step is to figure out where to advertise your new campaign. Derek Johnson, CEO of Tatango discusses his strategy for advertising a new SMS campaign.
							</p>
							<p><a class="link-arrow" href="<%= url_for video_where_to_advertise_sms_campaign_path %>" title="Watch Video">Watch Video</a></p>
						</div>
						<div class="right-col">
							<a href="<%= url_for video_where_to_advertise_sms_campaign_path %>" title="Watch Video"><img src="<%= asset_path 'videos/where-to-advertise-your-campaign.jpg' %>" width="330" height="189" alt="Watch Video" /></a>
						</div>
					</div>
					
					<div class="left-right-col video">
						<div class="left-col">
							<h2><a href="<%= url_for video_sms_tatango_reward_message_path %>" title="Using the Tatango Reward Message">Using the Tatango Reward Message</a></h2>
							<p>
Looking for ways to increase the amount of subscribers in your SMS campaign? Once way of doing this is to use the Tatango "Reward Message" feature, which allows you to reward new SMS subscribers after they join your SMS marketing campaign. Derek Johnson, CEO of Tatango discusses his strategies for increasing SMS subscribers with this feature.
							</p>
							<p><a class="link-arrow" href="<%= url_for video_sms_tatango_reward_message_path %>" title="Watch Video">Watch Video</a></p>
						</div>
						<div class="right-col">
							<a href="<%= url_for video_sms_tatango_reward_message_path %>" title="Watch Video"><img src="<%= asset_path 'videos/using-tatango-reward-message.jpg' %>" width="330" height="189" alt="Watch Video" /></a>
						</div>
					</div>
					
					<div class="left-right-col video">
						<div class="left-col">
							<h2><a href="<%= url_for video_sms_campaign_frequency_path %>" title="How Often Should Text Campaigns be Sent">How Often Should Text Campaigns be Sent</a></h2>
							<p>
At Tatango we always get asked the question about how often a business should send a text campaign. Derek Johnson, CEO of Tatango discusses the two most important factors determining how often to send text campaigns to your customers.
							</p>
							<p><a class="link-arrow" href="<%= url_for video_sms_campaign_frequency_path %>" title="Watch Video">Watch Video</a></p>
						</div>
						<div class="right-col">
							<a href="<%= url_for video_sms_campaign_frequency_path %>" title="Watch Video"><img src="<%= asset_path 'videos/how-often-should-text-campaigns-be-sent.jpg' %>" width="330" height="189" alt="Watch Video" /></a>
						</div>
					</div>
					
					<div class="left-right-col video">
						<div class="left-col">
							<h2><a href="<%= url_for video_perfect_sms_campaign_path %>" title="The Perfect SMS Campaign">The Perfect SMS Campaign</a></h2>
							<p>
One of the most important aspects of SMS marketing is making sure that each and every SMS campaign you send to your customers is formatted correctly. Derek Johnson, CEO of Tatango discusses the four keys to creating the perfect SMS campaign.
							</p>
							<p><a class="link-arrow" href="<%= url_for video_perfect_sms_campaign_path %>" title="Watch Video">Watch Video</a></p>
						</div>
						<div class="right-col">
							<a href="<%= url_for video_perfect_sms_campaign_path %>" title="Watch Video"><img src="<%= asset_path 'videos/perfect-sms-campaign.jpg' %>" width="330" height="189" alt="Watch Video" /></a>
						</div>
					</div>
					
					<div class="left-right-col video">
						<div class="left-col">
							<h2><a href="<%= url_for video_measuring_sms_advertising_path %>" title="Measuring The Success of SMS Advertising">Measuring The Success of SMS Advertising</a></h2>
							<p>
When running an SMS advertising campaign, there are four metrics that you want to keep your eye on to measure the success of your SMS advertising. Derek Johnson, CEO of Tatango discusses four different metrics used to measure the success of any SMS marketing campaign and how to calculate them.
							</p>
							<p><a class="link-arrow" href="<%= url_for video_measuring_sms_advertising_path %>" title="Watch Video">Watch Video</a></p>
						</div>
						<div class="right-col">
							<a href="<%= url_for video_measuring_sms_advertising_path %>" title="Watch Video"><img src="<%= asset_path 'videos/measuring-success-sms-advertising.jpg' %>" width="330" height="189" alt="Watch Video" /></a>
						</div>
					</div>
					
					<div class="left-right-col video">
						<div class="left-col">
							<h2><a href="<%= url_for video_tatango_pricing_path %>" title="Understanding Tatango Pricing">Understanding Tatango Pricing</a></h2>
							<p>
Need a little more help understanding the Tatango pricing? Derek Johnson, CEO of Tatango breaks down the two different SMS marketing products offered  at Tatango; mass messaging and SMS autoresponders, and explains how each one is priced and what you receive with each product.
							</p>
							<p><a class="link-arrow" href="<%= url_for video_tatango_pricing_path %>" title="Watch Video">Watch Video</a></p>
						</div>
						<div class="right-col">
							<a href="<%= url_for video_tatango_pricing_path %>" title="Watch Video"><img src="<%= asset_path 'videos/understanding-tatango-sms-pricing.jpg' %>" width="330" height="189" alt="Watch Video" /></a>
						</div>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
