<%
title 'SMS Marketing Opt In Requirements'
meta 'Video lesson on the best practices for opt-in requirements with any SMS marketing campaign.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2 class="select ">Video Lessons</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li class="active"><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2>SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2>FAQ's</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
					<p>
						&laquo; Back to <a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Back to videos">Best Practices videos</a>
					</p>
					<h1>Text Message Marketing Campaign Opt-In Policies</h1>
					<p class="intro border">
Both the Mobile Marketing Association and the CTIA require that within every opt-in message, there are certain requirements. Derek Johnson, CEO of Tatango discusses the five different requirements and why they are important for any SMS marketing campaign. Have any questions about these requirements or any others created by the Mobile Marketing Association or CTIA? Let us know in the comments below and we can help you decipher these mobile marketing best practice guidelines.
					</p>
					
					<div class="left-right-col border">
						<div style="padding:13px 0 5px 10px;">
							<div id="wistia_5f3a3b3632" style="width:640px;height:388px;" data-video-width="640" data-video-height="360"><object id="wistia_5f3a3b3632_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:100%;position:relative;width:100%;"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/658c99d0ff9e5ef34650cacbc768201255255ba6.bin&&hdUrl=http://embed.wistia.com/deliveries/7e20f50989c6e6e935c7c37858c8db342a7adfa0.bin&stillUrl=http://embed.wistia.com/deliveries/f8ffe62e7f01f75b187fe522d459ab083e53f229.bin"></param><embed src="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/658c99d0ff9e5ef34650cacbc768201255255ba6.bin&hdUrl=http://embed.wistia.com/deliveries/7e20f50989c6e6e935c7c37858c8db342a7adfa0.bin&stillUrl=http://embed.wistia.com/deliveries/f8ffe62e7f01f75b187fe522d459ab083e53f229.bin" style="display:block;height:100%;position:relative;width:100%;"></embed></object></div>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/E-v1.js"></script>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1-gridify%2CW-v1-wistia_url_min%2Csocialbar-v1.js"></script>

							<script>/*<![CDATA[*/
							wistiaEmbed = Wistia.embed("5f3a3b3632", {
							  videoWidth: "640",
							  videoHeight: "360",
							  controlsVisibleOnLoad: true
							});
							Wistia.plugin.socialbar(wistiaEmbed, {
							  version: "v1",
							  buttons: "embed-twitter-googlePlus-facebook",
							  tweetText: "Learn what is required in SMS campaign opt-in messages @Tatango",
							  showTweetCount: true
							});
							/*]]*/</script>
						</div>
					</div>
					
					<h2>Video Transcription</h2>
					<p>
Hey, everyone. My name is Derek Johnson, with Tatango.com. Today I’m going to be talking about what happens when a customer opts in to an SMS campaign, and what do they receive back to their mobile phone?
					</p>
					<p>
Actually, there are five things that are required by the mobile phone carriers, really to protect the customer, and I’m going to go through each one of these. What’s great is if you’re using an SMS provider, like Tatango, you don’t need to worry about any of these, because we handle it all for you. It’s all automated, the process. So let’s go through each one of these five.
					</p>
					<p>
The first one, when somebody texts in to join an SMS campaign, they’ll get a message back, and in that message it will say, number one, the service description. This means, what campaign did you opt in to, and what are they sending you? Is it news alerts? Is it discounts, promotions, alerts? Whatever it is, you’ve just got to give the customer some kind of idea what they’ve opted into.
					</p>
					<p>
Number two, you have to put “message and data rates may apply.” The carriers, the Mobile Marketing Association, the CTIA, all these regulatory bodies that are kind of watching over the SMS world, they require actually that it be spelled out exactly like this. You don’t have to worry, though, if you’re using an SMS provider like Tatango. We do it all for you. So you have to put “message and data rates may apply.” This is, again, standard rate messaging, which means that if they have an unlimited plan or if they buy bulk SMS messages, they’re not going to be charged for them. But there’s still about 12% of the United States population that pays per text message, and it can be quite expensive, up to $0.20. You want to make sure that the customer knows they will be charged standard rate message fees.
					</p>
					<p>
Number three, you want to display, in that message that the customer receives, the frequency of messages. This is key to protecting the customer, because they need to know how many messages they’re going to be receiving from your business. So, one per week, one per day, one per month, one per year. You just have to tell the customer how many messages you are going to be sending them.
					</p>
					<p>
Number four, customer support info. This is pretty easy, actually. All you have to do is, in the message, say, reply or text help to the short code.
					</p>
					<p>
Number five is opt-out info. I think this is one of the most important things. You have to make sure the customer feels comfortable that at any time during the SMS campaign they can opt out of the SMS campaign. Any SMS provider has to allow stop, end, quit, and unsubscribe. Anything sent to the short code with those words will automatically opt them out. So you want to remind the customer by putting in the message, “Reply stop to opt out.”
					</p>
					<p>
So, if you’re following all five of these rules, you are following what is set up by the carriers, the Mobile Marketing Association, the CTIA, and you won’t have any problems. But you want to make sure you’re picking an SMS provider that has all these things when your customer does opt in to your SMS campaign.
					</p>
					<p>
Video transcription by <a href="http://speechpad.com" title="Video transcription by Speechpad.com">Speechpad.com</a>
					</p>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
