<%
title 'Dedicated vs Shared Short Code'
meta 'Video lesson on the difference between dedicated short codes and shared short codes.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2 class="select ">Video Lessons</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li class="active"><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2>SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2>FAQ's</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
					<p>
						&laquo; Back to <a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Back to videos">Keywords/Short Codes videos</a>
					</p>
					<h1>Having a Shared VS Dedicated Short Code</h1>
					<p class="intro border">
Have you heard people talk about a dedicated short code or shared short code, but not known the difference between the two? Derek Johnson, CEO of Tatango discusses the differences between the two different types of short codes and why each one exists.
					</p>
					
					<div class="left-right-col border">
						<div style="padding:13px 0 5px 10px;">
							<div id="wistia_9bccd04114" style="width:640px;height:388px;" data-video-width="640" data-video-height="360"><object id="wistia_9bccd04114_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:100%;position:relative;width:100%;"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/26c91a62c2077a751c10d20607400722e5b42926.bin&&hdUrl=http://embed.wistia.com/deliveries/b2dd919d4962c8ac617c005ad3d3d67e4bddc096.bin&stillUrl=http://embed.wistia.com/deliveries/ef1f3117cf0567de7581d1ec491446f8081003af.bin"></param><embed src="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/26c91a62c2077a751c10d20607400722e5b42926.bin&hdUrl=http://embed.wistia.com/deliveries/b2dd919d4962c8ac617c005ad3d3d67e4bddc096.bin&stillUrl=http://embed.wistia.com/deliveries/ef1f3117cf0567de7581d1ec491446f8081003af.bin" style="display:block;height:100%;position:relative;width:100%;"></embed></object></div>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/E-v1.js"></script>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1-gridify%2CW-v1-wistia_url_min%2Csocialbar-v1.js"></script>

							<script>/*<![CDATA[*/
							wistiaEmbed = Wistia.embed("9bccd04114", {
							  videoWidth: "640",
							  videoHeight: "360",
							  controlsVisibleOnLoad: true
							});
							Wistia.plugin.socialbar(wistiaEmbed, {
							  version: "v1",
							  buttons: "embed-twitter-googlePlus-facebook",
							  tweetText: "Learn the different between dedicated and shared short codes @Tatango",
							  showTweetCount: true
							});
							/*]]*/</script>
						</div>
					</div>
					
					<h2>Video Transcription</h2>
					<p>
Hi, my name is Derek Johnson with Tatango.com. Have you ever wondered what a dedicated short code is and what a shared short code is? They have short codes, so they should be the same, but dedicated and shared, what exactly does that mean? That’s what we’re going to be talking about.
					</p>
					<p>
Let’s first start off with a dedicated short code. Again, short code is a five to six digit phone number used for marketing purposes in SMS marketing. Short codes cost, a generic one or a random one, costs $6,000 per year to lease that short code from a company called NeuStar. They have contracts with the cell phone carriers. You’re talking $6,000 per year per short code plus the messaging fees on top of that short code. If you have a dedicated short code, the business is paying the full $6,000 and all the messaging fees. Make sense? It’s dedicated to that one business.
					</p>
					<p>
On the other hand, you have things called shared short codes. One short code, again five to six numbers, and we’re paying $6,000 per year plus messaging fees. Nothing changes between the two. You’re leasing them from the same people, and they don’t give you discounts. Then, what’s different, though, is instead of the business buying the short code and paying all those fees, when you’re looking at a shared short code, an SMS provider is buying that short code and paying all the messaging fees. Like Tatango, that’s an SMS provider.
					</p>
					<p>
Then what they do is they take that $6,000 per year and they divide it up between thousands of businesses that are using the same short code. Now each business can afford, where maybe they couldn’t afford it over here, they now can afford $49 a month, and that will cover their cost of a sliver of that short code.
					</p>
					<p>
Another cool thing is with the messaging fees. With these guys over here, maybe they’re only send 1,000 messages per month. Therefore the messaging costs are very, very high because when you buy messages, it’s all based on volume and they give discounts for volume. These guys aren’t getting very good discounts because they’re not sending very many messages. On the other hand though, because an SMS provider has thousands of businesses using their service, the messaging volumes are huge. Millions of messages. With millions of messages, the cost goes down for individual SMS messages. Each individual business now is not paying as much per message as somebody with a dedicated short code.
					</p>
					<p>
Hopefully that explains the difference between shared short codes and dedicated short codes. For most businesses out there, medium to small kind of businesses, this is going to be where you’re going to focus just because of the fact that most businesses can’t afford $6,000 per year plus the messaging costs on top of there. When you do a shared short code, you always want to find an SMS provider that you can trust.
					</p>
					<p>
Video transcription by <a href="http://speechpad.com" title="Video transcription by Speechpad.com">Speechpad.com</a>
					</p>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
