<%
title 'Leaving an SMS Marketing Campaign'
meta 'Video lesson on how to opt-out of any Tatango SMS marketing campaign.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2 class="select ">Video Lessons</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li class="active"><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2>SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2>FAQ's</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
					<p>
						&laquo; Back to <a href="<%= url_for videos_sms_marketing_101_path %>" title="Back to videos">SMS 101 videos</a>
					</p>
					<h1>Unsubscribing from a Text Messaging Campaign</h1>
					<p class="intro border">
The best part of SMS marketing is that it’s super simple for customers to opt-out of any SMS campaign if they don’t want to continue to receive messages. Derek Johnson, CEO of Tatango discusses the many different ways customers can leave an SMS marketing campaign.
					</p>
					
					<div class="left-right-col border">
						<div style="padding:13px 0 5px 10px;">
							<div id="wistia_cc5509262e" style="width:640px;height:388px;" data-video-width="640" data-video-height="360"><object id="wistia_cc5509262e_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:100%;position:relative;width:100%;"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/b2f85f2bc4b5dac52f04f2a82f10c4c71d7c0edb.bin&&hdUrl=http://embed.wistia.com/deliveries/c7d4cf6ea12c25a7f35183c6cc4e3dd71b3f599e.bin&stillUrl=http://embed.wistia.com/deliveries/e6bd9c5af1dfdcba19729a44d8d06d0726c6c341.bin"></param><embed src="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/b2f85f2bc4b5dac52f04f2a82f10c4c71d7c0edb.bin&hdUrl=http://embed.wistia.com/deliveries/c7d4cf6ea12c25a7f35183c6cc4e3dd71b3f599e.bin&stillUrl=http://embed.wistia.com/deliveries/e6bd9c5af1dfdcba19729a44d8d06d0726c6c341.bin" style="display:block;height:100%;position:relative;width:100%;"></embed></object></div>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/E-v1.js"></script>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1-gridify%2CW-v1-wistia_url_min%2Csocialbar-v1.js"></script>

							<script>/*<![CDATA[*/
							wistiaEmbed = Wistia.embed("cc5509262e", {
							  videoWidth: "640",
							  videoHeight: "360",
							  controlsVisibleOnLoad: true
							});
							Wistia.plugin.socialbar(wistiaEmbed, {
							  version: "v1",
							  buttons: "embed-twitter-googlePlus-facebook",
							  tweetText: "Learn how to leave any SMS marketing campaign @Tatango",
							  showTweetCount: true
							});
							/*]]*/</script>
						</div>
					</div>
					
					<h2>Video Transcription</h2>
					<p>
Hey guys, Derek Johnson with Tatango.com. Today I’m going to be talking about leaving an SMS campaign. This is specific towards your customers. They can opt in to your text message campaign, but they can also, just as easily, opt out if they don’t want to receive your messages anymore.
					</p>
					<p>
Now this can be for a variety of reasons. This could be because they moved away, maybe they just don’t like your brand anymore, maybe they are trying to go on a diet and it’s a pizza place. There are all kinds of reasons, and you’re going to get a certain amount of people that will opt out over time. The goal is to get more people that opt in than that opt out.
					</p>
					<p>
So there are five different ways that a customer can opt out. The main one, though, is replying to the short code. Our short code is 68398 at Tatango with the word “Stop”. Anybody that replies “Stop” to any SMS campaign on any SMS provider, this is required by both MMA, the CTIA, and the carriers, all those organizations require that any one of these words, if texted to the short code, will automatically opt them out. Once they text in “Stop,” they will receive a message back confirming the opt out, but besides that they will never receive one of your messages again. So some of the words that have to opt out a customer are “Stop”. This one’s the most popular, and actually at Tatango we put stop at the bottom of every single SMS campaign. So let’s say I opt in to a pizza restaurant, and maybe 12 months later I move away, and I’m like, “Wow. I forgot what that word was that I texted back to the short code to opt out.” Well, every single one of our SMS campaigns has, “To opt out, reply Stop” at the bottom, so nobody ever forgets. Again, “stop”, “end”, “cancel”, “unsubscribe”, this one’s the big boy, it’s pretty long here, and “quit”.
					</p>
					<p>
So those are the five things that when you’re picking an SMS provider, they must abide by these rules. Any one of these words that are texted into a short code, must automatically opt the subscriber out. Hopefully, this helps you guys figure out how to both promote a campaign, but then also if people want to leave, they can do so easily.
					</p>
					<p>
Video transcription by <a href="http://speechpad.com" title="Video transcription by Speechpad.com">Speechpad.com</a>
					</p>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
