<%
title 'Check-in Services With SMS Marketing'
meta 'Video lesson on how to incorporate location based check-in services with text message marketing.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2 class="select ">Video Lessons</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li class="active"><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2>SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2>FAQ's</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
					<p>
						&laquo; Back to <a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Back to videos">Integrations videos</a>
					</p>
					<h1>Check-In Services &amp; Text Message Promotions</h1>
					<p class="intro border">
Have you ever thought about how you can incorporate check-in services like Facebook, Foursquare or GoWalla into your SMS marketing campaign? Derek Johnson, CEO of Tatango discusses how this works and some words of caution if your business is looking into this tactic. Have questions about how you can integrate a check-in service into your own SMS campaign? Let us know in the comments below and we’d love to help!
					</p>
					
					<div class="left-right-col border">
						<div style="padding:13px 0 5px 10px;">
							<div id="wistia_794dd05c39" style="width:640px;height:388px;" data-video-width="640" data-video-height="360"><object id="wistia_794dd05c39_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:100%;position:relative;width:100%;"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/294f7d33a8f278009aec857535b4ba7e987268f6.bin&&hdUrl=http://embed.wistia.com/deliveries/c36dbbba4c9eb891bdef39d6f3614646cc5a330b.bin&stillUrl=http://embed.wistia.com/deliveries/f2965ced7124e1ae3a958d489b9f3cfa5c732ec1.bin"></param><embed src="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/294f7d33a8f278009aec857535b4ba7e987268f6.bin&hdUrl=http://embed.wistia.com/deliveries/c36dbbba4c9eb891bdef39d6f3614646cc5a330b.bin&stillUrl=http://embed.wistia.com/deliveries/f2965ced7124e1ae3a958d489b9f3cfa5c732ec1.bin" style="display:block;height:100%;position:relative;width:100%;"></embed></object></div>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/E-v1.js"></script>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1-gridify%2CW-v1-wistia_url_min%2Csocialbar-v1.js"></script>

							<script>/*<![CDATA[*/
							wistiaEmbed = Wistia.embed("794dd05c39", {
							  videoWidth: "640",
							  videoHeight: "360",
							  controlsVisibleOnLoad: true
							});
							Wistia.plugin.socialbar(wistiaEmbed, {
							  version: "v1",
							  buttons: "embed-twitter-googlePlus-facebook",
							  tweetText: "Learn how to integrate check-in services with SMS marketing @Tatango",
							  showTweetCount: true
							});
							/*]]*/</script>
						</div>
					</div>
					
					<h2>Video Transcription</h2>
					<p>
Hey everyone, Derek Johnson from Tatango.com. Today we actually have a user- submitted question, and if you have a user-submitted question, you can submit it at derek@tatango.com. It will go right to me, and hopefully I’ll be able to answer your question right here on the whiteboard.
					</p>
					<p>
So today the question was: With the popularity of check-in services, like Foursquare, Facebook, and Gowalla, how can I incorporate those into an SMS marketing campaign? To be honest, I didn’t really have an answer. So I sat down and I figured it out. I think I have something that’ll work, if you’re interested in this.
					</p>
					<p>
So here’s how it works. Let’s say you’re a coffee stand or a coffee place and you have an SMS marketing campaign that is already running. You have maybe 250 customers opted in to your SMS campaign. Well, what you would do is you would send out a text message, and instead of putting, show this text message for 50% off a scone with the purchase of a large coffee, what you’re going to do this time is you’re going to incorporate a check-in service into the SMS. So what you’re going to say in the SMS message is you’re going to say, “Check in today on Gowalla or Foursquare or Facebook by 5:00 p.m. and receive a free coffee with the purchase of a scone.” What you want to do is you want to put, obviously, a link to Foursquare or Gowalla or the check-in page that you’re trying to direct them to.
					</p>
					<p>
Now what you’re doing is you’re encouraging them or you’re spurring to action via SMS, but not giving them the discount in the SMS message. Pretty cool. So what you’d do is you’d send the message out to everybody. Everybody would get the message and it would say, “Check in today.” They would go, “Wow, I need to get there by 5:00 p.m.” They run over the restaurant or the coffee place or the business, and they would go on their phone, check in, and they’d receive the discount.
					</p>
					<p>
The reason why businesses are interested in this is that when they check in, it promotes their check-in to all their followers. So, let’s say I have 500 friends on Facebook. If I say, show this text message, and I walk in and I show the text message, that doesn’t really get promoted to anybody. It’s a very private interaction. But if I check in to receive something, once I’m at the coffee place, now it’s being promoted to everybody on my friends list. So now this business is getting brand exposure from me, which is awesome. For any business, that’s a great use of both SMS and a check-in service.
					</p>
					<p>
The only problem right now, which you have to be aware of, and you have to really know your customers to figure out if they fall within this category, is a study was actually just released, I think, a couple days ago, and it said 5% of cell phone users use a check-in service. Well, to be honest, if you’re sending a message to 100 people, and only 5 people can actually check in, those 95 people are going to be pretty mad that they are not able to receive the discount.
					</p>
					<p>
Now, obviously, in the text message you could put a link where people could register for one of these check-in services. That might help a little bit. But the problem is, even right now 40% of people have a smart phone; 60% of people won’t even be able to register for one of those check-in services. So you have to really, as a business owner, if you’re interested in what I’m talking about, you have to look at your customer base and figure out are they the type of customer, is the majority of your customers checking in? Do they have smart phones? If they are, this is an amazing way to, number one, get customers through your door, and number two, get brand exposure, once they’re redeeming the coupon. But remember right now 5% of cell phone users use check-in services. So be very, very careful before launching something like this with your SMS campaign.
					</p>
					<p>
Anyway, if you guys have questions, I’d love to answer them up here. I sometimes can’t come up with all the stuff myself. Email me, derek@tatango.com, and I’d love to answer them. Talk to you guys soon.
					</p>
					<p>
Video transcription by <a href="http://speechpad.com" title="Video transcription by Speechpad.com">Speechpad.com</a>
					</p>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
