<%
title 'SMS Messaging Videos Lessons'
meta 'Learn more about text message marketing with Tatango video lessons.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2 class="select ">Video Lessons</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li class="active"><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2>SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2>FAQ's</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
			
					<h1>Text Messaging Video Lessons</h1>
					<p class="intro border">
Ready to send your first text message marketing campaign? Before you hit the "Send" button, take a few moments and watch the following set of video lessons we've put together for you here at Tatango. Learn the difference between standard and premium SMS, why SMPP messaging is the only kind of messaging you want, how to troubleshoot if a customer doesn't receive your awesome text messages, and much much more. This is your chance to become a bona fide SMS messaging expert, it's your time! Carpe diem.
					</p>
					
					<div class="left-right-col video">
						<div class="left-col">
							<h2><a href="<%= url_for video_standard_premium_sms_path %>" title="Standard SMS VS Premium SMS">Standard SMS VS Premium SMS</a></h2>
							<p>
Ever wonder what the difference between standard SMS and Premium SMS was? Derek Johnson, CEO of Tatango breaks down the two different types of SMS messaging and what makes them so different from each other.
							</p>
							<p><a class="link-arrow" href="<%= url_for video_standard_premium_sms_path %>" title="Watch Video">Watch Video</a></p>
						</div>
						<div class="right-col">
							<a href="<%= url_for video_standard_premium_sms_path %>" title="Watch Video"><img src="<%= asset_path 'videos/standard-sms-vs-premium-sms.jpg' %>" width="330" height="189" alt="Watch Video" /></a>
						</div>
					</div>
					
					<div class="left-right-col video">
						<div class="left-col">
							<h2><a href="<%= url_for video_smtp_smpp_messaging_path %>" title="SMTP vs SMPP SMS Messaging">SMTP vs SMPP SMS Messaging</a></h2>
							<p>
Are you confused by SMTP and SMPP messaging? Even though they sound very similar, they are different and used for very different purposes. Derek Johnson, CEO of Tatango breaks down the differences between the two different types of SMS messaging, and why they both exist.
							</p>
							<p><a class="link-arrow" href="<%= url_for video_smtp_smpp_messaging_path %>" title="Watch Video">Watch Video</a></p>
						</div>
						<div class="right-col">
							<a href="<%= url_for video_smtp_smpp_messaging_path %>" title="Watch Video"><img src="<%= asset_path 'videos/smtp-vs-smpp-sms-messaging.jpg' %>" width="330" height="189" alt="Watch Video" /></a>
						</div>
					</div>
					
					<div class="left-right-col video">
						<div class="left-col">
							<h2><a href="<%= url_for video_click_to_call_sms_path %>" title="Links and Phone Numbers in Text Message Promotions">Links and Phone Numbers in Text Message Promotions</a></h2>
							<p>
Did you know that you can put more than just text in your text message promotions. Derek Johnson, CEO of Tatango discusses including website links and phone numbers in text message promotions, and some words of caution for using website links.
							</p>
							<p><a class="link-arrow" href="<%= url_for video_click_to_call_sms_path %>" title="Watch Video">Watch Video</a></p>
						</div>
						<div class="right-col">
							<a href="<%= url_for video_click_to_call_sms_path %>" title="Watch Video"><img src="<%= asset_path 'videos/links-phone-numbers-in-text-message-promotions.jpg' %>" width="330" height="189" alt="Watch Video" /></a>
						</div>
					</div>
					
					<div class="left-right-col video">
						<div class="left-col">
							<h2><a href="<%= url_for video_mms_sms_marketing_path %>" title="SMS Marketing VS MMS Marketing">SMS Marketing VS MMS Marketing</a></h2>
							<p>
Having trouble understanding the difference between SMS marketing and MMS marketing? Derek Johnson, CEO of Tatango breaks down the difference between the two and why and when to use each in your own marketing campaign.
							</p>
							<p><a class="link-arrow" href="<%= url_for video_mms_sms_marketing_path %>" title="Watch Video">Watch Video</a></p>
						</div>
						<div class="right-col">
							<a href="<%= url_for video_mms_sms_marketing_path %>" title="Watch Video"><img src="<%= asset_path 'videos/sms-marketing-vs-mms-marketing.jpg' %>" width="330" height="189" alt="Watch Video" /></a>
						</div>
					</div>
					
					<div class="left-right-col video">
						<div class="left-col">
							<h2><a href="<%= url_for video_not_receiving_short_codes_path %>" title="Not Receiving Short Code Messages">Not Receiving Short Code Messages</a></h2>
							<p>
Need to figure out why your mobile phone isn’t able to send or receive short code messages? Derek Johnson, CEO of Tatango gives his four steps to diagnose and fix this issue, so that you are able to receive these types of SMS messages.
							</p>
							<p><a class="link-arrow" href="<%= url_for video_not_receiving_short_codes_path %>" title="Watch Video">Watch Video</a></p>
						</div>
						<div class="right-col">
							<a href="<%= url_for video_not_receiving_short_codes_path %>" title="Watch Video"><img src="<%= asset_path 'videos/not-receiving-short-code-messages.jpg' %>" width="330" height="189" alt="Watch Video" /></a>
						</div>
					</div>
					
					<div class="left-right-col video">
						<div class="left-col">
							<h2><a href="<%= url_for video_text_in_instructions_path %>" title="Text-In Instructions">Text-In Instructions</a></h2>
							<p>
Not by a computer and need to send a group text message? Tatango makes that easy with their "Text-In" feature, allowing you to trigger a group text message directly from your mobile phone. Derek Johnson, CEO of Tatango discusses how this feature works and what you need to do to take your text messaging campaign mobile.
							</p>
							<p><a class="link-arrow" href="<%= url_for video_text_in_instructions_path %>" title="Watch Video">Watch Video</a></p>
						</div>
						<div class="right-col">
							<a href="<%= url_for video_text_in_instructions_path %>" title="Watch Video"><img src="<%= asset_path 'videos/text-in-instructions.jpg' %>" width="330" height="189" alt="Watch Video" /></a>
						</div>
					</div>
					
					<div class="left-right-col video">
						<div class="left-col">
							<h2><a href="<%= url_for video_sms_content_restrictions_path %>" title="SMS Content Restrictions">SMS Content Restrictions</a></h2>
							<p>
Ever wonder what exactly you can put in a text message promotion? Derek Johnson, CEO of Tatango breaks down the three different types of content you can put in your own business SMS promotions.
							</p>
							<p><a class="link-arrow" href="<%= url_for video_sms_content_restrictions_path %>" title="Watch Video">Watch Video</a></p>
						</div>
						<div class="right-col">
							<a href="<%= url_for video_sms_content_restrictions_path %>" title="Watch Video"><img src="<%= asset_path 'videos/sms-content-restrictions.jpg' %>" width="330" height="189" alt="Watch Video" /></a>
						</div>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
