<%
title 'Measuring The Success of SMS Advertising'
meta 'Video lesson on how to calculate and measure the success of a Tatango SMS advertising campaign.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2 class="select ">Video Lessons</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li class="active"><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2>SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2>FAQ's</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
					<p>
						&laquo; Back to <a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Back to videos">Getting Started videos</a>
					</p>
					<h1>How to Measure the Performance of an SMS Campaign</h1>
					<p class="intro border">
When running an SMS advertising campaign, there are four metrics that you want to keep your eye on to measure the success of your SMS advertising. Derek Johnson, CEO of Tatango discusses four different metrics used to measure the success of any SMS marketing campaign and how to calculate them.
					</p>
					
					<div class="left-right-col border">
						<div style="padding:13px 0 5px 10px;">
							<div id="wistia_be911f5814" style="width:640px;height:388px;" data-video-width="640" data-video-height="360"><object id="wistia_be911f5814_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:100%;position:relative;width:100%;"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/e66d276e2676a38bc4eb4233452d84832c03907e.bin&&hdUrl=http://embed.wistia.com/deliveries/f7fd47d6d51c1e1a2f4f7df9859c78a3eabe9e02.bin&stillUrl=http://embed.wistia.com/deliveries/62e3697dc47525edd12399079d4721ccc8e996f3.bin"></param><embed src="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/e66d276e2676a38bc4eb4233452d84832c03907e.bin&hdUrl=http://embed.wistia.com/deliveries/f7fd47d6d51c1e1a2f4f7df9859c78a3eabe9e02.bin&stillUrl=http://embed.wistia.com/deliveries/62e3697dc47525edd12399079d4721ccc8e996f3.bin" style="display:block;height:100%;position:relative;width:100%;"></embed></object></div>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/E-v1.js"></script>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1-gridify%2CW-v1-wistia_url_min%2Csocialbar-v1.js"></script>

							<script>/*<![CDATA[*/
							wistiaEmbed = Wistia.embed("be911f5814", {
							  videoWidth: "640",
							  videoHeight: "360",
							  controlsVisibleOnLoad: true
							});
							Wistia.plugin.socialbar(wistiaEmbed, {
							  version: "v1",
							  buttons: "embed-twitter-googlePlus-facebook",
							  tweetText: "Learn how to measure the success of an SMS marketing campaign @Tatango",
							  showTweetCount: true
							});
							/*]]*/</script>
						</div>
					</div>
					
					<h2>Video Transcription</h2>
					<p>
Hey everyone, Derek Johnson with Tatango.com. SMS marketing is awesome, but to qualify that awesomeness, you have to figure out how to measure your success. You can send out a ton of messages. You can get a lot of people on your campaign, but really, you have to measure the success to figure out if it’s worth it to keep the campaign running.
					</p>
					<p>
There are four different ways to measure the success of a campaign, especially an SMS campaign. The first one is list growth. This is the amount of subscribers that are subscribing to your list or SMS campaign. This is calculated by taking the current amount of subscribers. So let’s say I had a thousand people in my list, and the past, let’s say I had 500 last month, divided by the past, 500. That will give you a percentage growth, and you can use that month-over-month to see how well you’re doing in terms of advertising and promoting your list.
					</p>
					<p>
The next one is the churn rate. This one is really important because this one is a metric that will tell you if the messages you’re sending out are valuable enough for your clients to stay in the campaign. What this one is, is you take the amount of people that leave divided by the current subscribers, and that will give you a percentage there also. You want to track that month-over-month to see, wow, in May, the messages we sent out were not very well-recepted because we had a high churn rate. Or, in October, we didn’t have any churns, so those are the messages that our customers really, really like.
					</p>
					<p>
The number three is redemption rate. This one is really important, because this one puts money in your pocket as a business. Redemption rate means how many customers come into the store with that text message compared to how many customers are actually on that list. That will actually give you a percentage. Most of the time for redemption rates, we see anywhere from like a five to a thirty percent redemption rate. Those are the kind of numbers you want to shoot for when running your own SMS campaign. Again, every business is different, though.
					</p>
					<p>
The last one, which I would say is the hardest one to track, but the most important for any business, is the cost per redeeming subscriber. It’s actually the longest one, too, in terms of words. What this means is you take the redemption rate, this one right here, and let’s put that here. You take the redemption rate, and you divide that, actually, no, you go backwards. You divide the cost per message. The Tatango cost per message is about $0.07 to send a message to each individual customer. You take that number, and then you divide it by the actual redemption rate. What that will tell you is, that will tell you, out of the entire service – obviously Tatango is a paid service – out of that amount of money, how much is it costing for each individual customer to come through the door?Hypothetically, let’s say you have 100 customers in your list, and you’re paying $100, and you get 10 customers through the door. Well, it’s costing you $10 per customer to bring that customer through the door. You want to track that, and you want to get that as low as possible, because then it has the highest return for you, because, hypothetically, let’s say the average ticket or the average pizza, let’s say, at your restaurant is $10, well, if it’s only costing $0.20 to bring in a customer, you just made $9.80. Now, if it costs you $1 though to bring in that customer, you’re now looking at $9.00. Not as good. Still pretty good, but not as good. That’s a huge number that you want to track when running your SMS campaign.
					</p>
					<p>
Hopefully, these four metrics will help you, and then you can gauge the success of your SMS marketing campaign.
					</p>
					<p>
Video transcription by <a href="http://speechpad.com" title="Video transcription by Speechpad.com">Speechpad.com</a>
					</p>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
