<%
title 'SMS Marketing for Multiple Locations'
meta 'Video lesson on how to use SMS marketing for multiple locations or franchises.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2 class="select ">Video Lessons</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li class="active"><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2>SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2>FAQ's</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
					<p>
						&laquo; Back to <a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Back to videos">Advanced videos</a>
					</p>
					<h1>Text Marketing Campaigns for Multiple Locations</h1>
					<p class="intro border">
Are you a business with multiple locations interested in SMS marketing? One of the most common mistakes made by businesses with multiple locations is that they setup separate SMS campaigns for each location. Derek Johnson, CEO of Tatango discusses three reasons why this is never a good idea for any business with multiple locations.
					</p>
					
					<div class="left-right-col border">
						<div style="padding:13px 0 5px 10px;">
							<div id="wistia_4694cfc324" style="width:640px;height:388px;" data-video-width="640" data-video-height="360"><object id="wistia_4694cfc324_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:100%;position:relative;width:100%;"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/d7fb48ad27deecf673228b15e4111d37fdf8f63f.bin&&hdUrl=http://embed.wistia.com/deliveries/91f8bdbdc754ddcff8927a5777a50dc81a0cae7a.bin&stillUrl=http://embed.wistia.com/deliveries/622ecd4bdd2a39c4dcbddac3f4869cd7aaab81b9.bin"></param><embed src="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/d7fb48ad27deecf673228b15e4111d37fdf8f63f.bin&hdUrl=http://embed.wistia.com/deliveries/91f8bdbdc754ddcff8927a5777a50dc81a0cae7a.bin&stillUrl=http://embed.wistia.com/deliveries/622ecd4bdd2a39c4dcbddac3f4869cd7aaab81b9.bin" style="display:block;height:100%;position:relative;width:100%;"></embed></object></div>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/E-v1.js"></script>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1-gridify%2CW-v1-wistia_url_min%2Csocialbar-v1.js"></script>

							<script>/*<![CDATA[*/
							wistiaEmbed = Wistia.embed("4694cfc324", {
							  videoWidth: "640",
							  videoHeight: "360",
							  controlsVisibleOnLoad: true
							});
							Wistia.plugin.socialbar(wistiaEmbed, {
							  version: "v1",
							  buttons: "embed-twitter-googlePlus-facebook",
							  tweetText: "Learn how to use SMS marketing for multiple location businesses @Tatango",
							  showTweetCount: true
							});
							/*]]*/</script>
						</div>
					</div>
					
					<h2>Video Transcription</h2>
					<p>
Hey everyone, Derek Johnson with Tatango.com. I get asked by business owners that own multiple locations whether they’re supposed to set up an SMS campaign for each individual location or all the locations under one SMS campaign. It makes sense why they are asking that questions. Let’s say somebody owns a pizza place, and they own three different locations. Well, each location has their own specials. Each location has their own operating hours. Each location has busy and slow days. So why not set up an SMS campaign for each individual one?
					</p>
					<p>
It sounds great, but in reality, it doesn’t work. There are three reasons why it doesn’t work. The first reason is people will opt in, especially let’s say, take for example me, I live here and here’s my nice little car. I live within three to five miles of each individual location. That means I’m going to each one. I work over here. My girlfriend lives over here. My friend lives over here. I could be going to all those different locations at any time during the month. When I walk in there, I’m going to prompted to opt in to each individual SMS campaign for each individual location. You, as a business owner, you thought, “Why don’t I just send one message per week to my customers, because I think that’s all they can handle?” Well, now, you’re sending three messages per week to me, because I opted in to all these different campaigns, which is too much, and most likely I’ll just opt out of all of them because I get frustrated with how many messages you send.
					</p>
					<p>
The second reason why usually this doesn’t work is, let’s say this pizza three, they have a great pizza discount. This is the great pizza, and maybe it’s 50% off. But let’s say it’s just pizza place three, because they’re having a slow day. But this pizza place is packed on Thursdays. My house is closer to this one. I’m just going to go to this one, even though the thing says maybe at the bottom, it says, “Only available at . . .” I’m not going to read that. Text messages are 140 characters. I’m quickly scanning. I see free pizza and I see the pizza place name. I’m going to the one that’s closest to me right away. Now, all your customers are going to these different locations asking for this one, and it really doesn’t help if you deny them and say, “Hey, we can’t offer this discount.” Now you have an angry customer. Plus, if I’m over at this one, you can’t say, “Hey, you’ve got to go all the way across town to this one.” Again, you’re going to anger your customers.
					</p>
					<p>
The third reason is advertising. This one, I think, is one of the most important reasons. You look at like Facebook and Twitter and print advertising, if you have one SMS campaign for everything, all you have to put on Facebook, on newspaper ads is, “Text PIZZA to 68398.” That’s all. Just a big ad that says that. Now, if you do it the other way, the way we don’t recommend and you have an SMS campaign for each individual one, you have to put a lot of content or a lot of copy into these ads. Hypothetically, you would have to say, “Join our text message campaigns.” If you live close to pizza place A, and then put the address, “Text PIZZA1 to 68398. If you live close to pizza place two, and then you put the address, “Text PIZZA2 to 68398.” Then you continue on, and this is only three locations. If you have 100 locations, it’s going to be pretty dang confusing.
					</p>
					<p>
Text messaging is very, very simple. Text message marketing is very, very simple. Don’t ruin that trend by having an SMS campaign for each of your locations. This applies for somebody that has 2 locations or 2,000 locations.
					</p>
					<p>
Hopefully, this answers that question, three reasons why, if you have multiple locations, you don’t want to have multiple SMS campaigns. Just one.
					</p>
					<p>
Video transcription by <a href="http://speechpad.com" title="Video transcription by Speechpad.com">Speechpad.com</a>
					</p>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
