<%
title 'SMS Marketing with Groupon'
meta 'Video lesson on how to incorporate SMS marketing into a Groupon campaign.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2 class="select ">Video Lessons</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li class="active"><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2>SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2>FAQ's</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
					<p>
						&laquo; Back to <a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Back to videos">Integrations videos</a>
					</p>
					<h1>Promoting Your Groupon Offer with Text Marketing</h1>
					<p class="intro border">
Is your business thinking about running a Groupon promotion, but concerned about how to better retain customers after the promotion? Derek Johnson, CEO of Tatango discusses how your business can use SMS marketing to increase customer retention after a Groupon promotion, resulting in a more successful Groupon promotion.
					</p>
					
					<div class="left-right-col border">
						<div style="padding:13px 0 5px 10px;">
							<div id="wistia_762e5cadbe" style="width:640px;height:388px;" data-video-width="640" data-video-height="360"><object id="wistia_762e5cadbe_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:100%;position:relative;width:100%;"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/c54f0d80494318d8531bfaea658fff734b5e87e3.bin&&hdUrl=http://embed.wistia.com/deliveries/f5dc3c45bd08052d335761db93c0724e5153e2a6.bin&stillUrl=http://embed.wistia.com/deliveries/c856575143d057f53dc2bf050ebe6cf11930dc06.bin"></param><embed src="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/c54f0d80494318d8531bfaea658fff734b5e87e3.bin&hdUrl=http://embed.wistia.com/deliveries/f5dc3c45bd08052d335761db93c0724e5153e2a6.bin&stillUrl=http://embed.wistia.com/deliveries/c856575143d057f53dc2bf050ebe6cf11930dc06.bin" style="display:block;height:100%;position:relative;width:100%;"></embed></object></div>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/E-v1.js"></script>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1-gridify%2CW-v1-wistia_url_min%2Csocialbar-v1.js"></script>

							<script>/*<![CDATA[*/
							wistiaEmbed = Wistia.embed("762e5cadbe", {
							  videoWidth: "640",
							  videoHeight: "360",
							  controlsVisibleOnLoad: true
							});
							Wistia.plugin.socialbar(wistiaEmbed, {
							  version: "v1",
							  buttons: "embed-twitter-googlePlus-facebook",
							  tweetText: "Learn how to integrate Groupon with SMS marketing @Tatango",
							  showTweetCount: true
							});
							/*]]*/</script>
						</div>
					</div>
					
					<h2>Video Transcription</h2>
					<p>
Hey everyone, Derek Johnson with Tatango.com. I’m going to be talking about how to use Groupon with SMS marketing. First thing I want to say is Groupon is a great way to drive customers to your door, but it’s a horrible way to have loyal customers continue to come back. This is actually Groupon’s statistics. We didn’t make this up. This is Groupon saying it. 78% of customers that come through the door and redeem, let’s say, your business’ Groupon will never come back to your business. They’re one-time customers. That means you’ll be able to keep 22% of those customers, which is pretty low, as repetitive loyal customers to your business.
					</p>
					<p>
How can we fix this with SMS marketing? The key is, when you issue a Groupon, every single person that comes in to redeem a Groupon, all your customers or potential customers, you want to collect their mobile phone numbers and put them into an SMS campaign. The difference is, if you look here at our numbers, let’s say we have 900 Groupon redemptions for your business and you times that by 22%, again that’s how many customers are going to be loyal customers and come back to your business. That’s going to be 198 loyal customers. That seems kind of off. 900 customers you have to serve to get only 198 loyal customers. I think you can do better, and with SMS marketing you can.
					</p>
					<p>
76%, this is Accenture number, 76% of customers want to receive SMS promotions if they’re relevant, if they’re from a business that they like. If you times 900 Groupon redemptions or customers by 76%, you’re talking about 684 loyal customers. Now that sounds like a deal. 900 Groupon redemptions and you get 684 loyal customers that come weekly to your business. That’s three times more customers than just doing a regular Groupon campaign.
					</p>
					<p>
If you’re looking to do a Groupon campaign, or maybe you just started doing a Groupon campaign, the key is to incorporate SMS marketing. You’re going to get three times more loyal customers. Loyal customers are the ones that pay the bills consistently every month for you guys. Also, it will allow you to be successful with your Groupon campaign. Again, three times more people, who’s going to argue with that?
					</p>
					<p>
Video transcription by <a href="http://speechpad.com" title="Video transcription by Speechpad.com">Speechpad.com</a>
					</p>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
