<%
title 'SMS Marketing Bait-n-Switch Technique'
meta 'Video lesson on what is classified as an SMS marketing bait-n-switch and why this type of campaign does not work.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2 class="select ">Video Lessons</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li class="active"><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2>SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2>FAQ's</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
					<p>
						&laquo; Back to <a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Back to videos">Best Practices videos</a>
					</p>
					<h1>Avoiding the Bait &amp; Switch Technique</h1>
					<p class="intro border">
A common and costly mistake made in SMS marketing is using the bait-n-switch technique. Derek Johnson, CEO of Tatango breaks down how the bait-n-switch technique works and why this isn't a good idea for any SMS marketing campaign. 
					</p>
					
					<div class="left-right-col border">
						<div style="padding:13px 0 5px 10px;">
							<div id="wistia_34b4d5e23c" style="width:640px;height:388px;" data-video-width="640" data-video-height="360"><object id="wistia_34b4d5e23c_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:100%;position:relative;width:100%;"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/130a432a90d0923af834833c508672464546fdd1.bin&&hdUrl=http://embed.wistia.com/deliveries/23a11614e9ebe991a29a99572cc8ddd219e427e1.bin&stillUrl=http://embed.wistia.com/deliveries/e1cd3552291f97c3f35197abbe62316213c05d8d.bin"></param><embed src="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/130a432a90d0923af834833c508672464546fdd1.bin&hdUrl=http://embed.wistia.com/deliveries/23a11614e9ebe991a29a99572cc8ddd219e427e1.bin&stillUrl=http://embed.wistia.com/deliveries/e1cd3552291f97c3f35197abbe62316213c05d8d.bin" style="display:block;height:100%;position:relative;width:100%;"></embed></object></div>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/E-v1.js"></script>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1-gridify%2CW-v1-wistia_url_min%2Csocialbar-v1.js"></script>

							<script>/*<![CDATA[*/
							wistiaEmbed = Wistia.embed("34b4d5e23c", {
							  videoWidth: "640",
							  videoHeight: "360",
							  controlsVisibleOnLoad: true
							});
							Wistia.plugin.socialbar(wistiaEmbed, {
							  version: "v1",
							  buttons: "embed-twitter-googlePlus-facebook",
							  tweetText: "Learn about the SMS marketing bait-n-switch technique @Tatango",
							  showTweetCount: true
							});
							/*]]*/</script>
						</div>
					</div>
					
					<h2>Video Transcription</h2>
					<p>
Hi, Derek Johnson from Tatango.com. In the SMS marketing industry, I see a lot of different things. One of the most frustrating things I see is a tactic called "SMS bait and switch." Let me explain how this works and why you don't want to do it for your own SMS campaign.
					</p>
					<p>
Let me show you a bad example. Let's say you're running an SMS contest and you tell people, "Hey, I'd love for you to enter my contest, text WIN to a short code, like 68398, and you'll be entered into my contest." Well, sounds like a great deal. So I get out my phone and I text WIN to the short code and automatically I receive back "Thanks for entering." Awesome. I entered the contest. Whoa, what is this? "You are now subscribed to weekly deals." That's what we call bait and switch. You just flipped it on them, pretty much, and said, "Look, enter a contest, now we're opting you in for future deals and promotions." Not good.
					</p>
					<p>
Here's what you want to do: you want to, again, advertise, "Hey people, join my contest, text WIN to a short code." And you want to send back a message, obviously, that says "Thanks for entering." But then, instead of just saying, "Hey, now I'm going to send you future messages," you want to let them have the option of opting in for future messages. Again, you don't want to bait and switch them. First, you want to have them reply "deals".
"Deals" is the keyword that opts them in for future alerts. So now, once they text message "deals," now they know that they're being opt in to receive future text messages, unlike this one.
					</p>
					<p>
There's a way that you can get around it, but I don't see very many people doing this. Instead of just saying, "Hey, enter my context, text WIN," you can say, "Enter my context, text WIN, in addition you'll receive future text message alerts," something like that. That's another way to avoid the whole bait and switch thing. Hopefully this helps. It'll make your campaign more safe, and plus, it won't anger your customers.
					</p>
					<p>
Video transcription by <a href="http://speechpad.com" title="Video transcription by Speechpad.com">Speechpad.com</a>
					</p>

					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
