<%
title 'Real Estate Text Messaging'
meta 'Video lesson on how to use text messaging for real estate.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2 class="select ">Video Lessons</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li class="active"><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2>SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2>FAQ's</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
					<p>
						&laquo; Back to <a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Back to videos">Industry Specific videos</a>
					</p>
					<h1>Real Estate Marketing through SMS</h1>
					<p class="intro border">
Are you a real estate agent or broker looking to use text message marketing to increase the amount of quality leads for your property listings? Derek Johnson, CEO of Tatango explains how real estate agents and brokers can use SMS autoresponders to not only increase interest in your property listings, but increase the amount of quality leads you receive.
					</p>
					
					<div class="left-right-col border">
						<div style="padding:13px 0 5px 10px;">
							<div id="wistia_df7407be6a" style="width:640px;height:388px;" data-video-width="640" data-video-height="360"><object id="wistia_df7407be6a_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:100%;position:relative;width:100%;"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/ca1dcba091bef4159408256c9ac1bcf18e2d2e46.bin&&hdUrl=http://embed.wistia.com/deliveries/7533104940783b321906bc08d9cec9cd5adec670.bin&stillUrl=http://embed.wistia.com/deliveries/1fae95d37c52b31c0c2551fe4155723a6defda98.bin"></param><embed src="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/ca1dcba091bef4159408256c9ac1bcf18e2d2e46.bin&hdUrl=http://embed.wistia.com/deliveries/7533104940783b321906bc08d9cec9cd5adec670.bin&stillUrl=http://embed.wistia.com/deliveries/1fae95d37c52b31c0c2551fe4155723a6defda98.bin" style="display:block;height:100%;position:relative;width:100%;"></embed></object></div>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/E-v1.js"></script>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1-gridify%2CW-v1-wistia_url_min%2Csocialbar-v1.js"></script>

							<script>/*<![CDATA[*/
							wistiaEmbed = Wistia.embed("df7407be6a", {
							  videoWidth: "640",
							  videoHeight: "360",
							  controlsVisibleOnLoad: true
							});
							Wistia.plugin.socialbar(wistiaEmbed, {
							  version: "v1",
							  buttons: "embed-twitter-googlePlus-facebook",
							  tweetText: "Learn more about real estate text messaging @Tatango",
							  showTweetCount: true
							});
							/*]]*/</script>
						</div>
					</div>
					
					<h2>Video Transcription</h2>
					<p>
Hi, Derek Johnson with Tatango.com. Are you a real estate agent looking to take your business mobile, and most importantly, your listings mobile to get more interest in them? Well, text message marketing is the best way for any real estate agent, both because it's easy, cheap, and effective.
					</p>
					<p>
Here's how it works. You have a listing and you want this listing to sell, and there are tons of people that are driving by and walking by that property every day. They want to request information about that specific property. Well, this is what you can do. You can set up an SMS auto responder through Tatango.com. Once you do that, you get a keyword. The keyword for this specific house is, "home." Pretty easy. If you have multiple properties you can set up multiple keywords for each individual listing, "home 1," "home 2," "home 3." This one is just home because it relates just to this specific property.
					</p>
					<p>
When they text "home" to the phone number 68398, the potential buyer will get a text message back to their mobile phone with all the information that they need about that house. Not only the square footage, the price, how many bedrooms, how many bathrooms, you can also put mobile links in there, so you can link to a mobile website or a video. That's pretty cool, a video for this house. Also, you can put a click-to-call phone number. So, let's say they're really, really interested, they can just push on their phone and call you right away, and hopefully buy that house.
					</p>
					<p>
Here's the secret for real estate and why text message marketing is so powerful: the minute someone text messages "home" to 68398, you get an e-
mail. In that e-mail, you get the potential buyer's mobile phone number, so now you don't even need to wait for them to call you, you can call them. Tell them, you know, "Hey, I saw you're interested in this house. I'd love to set up a showing," and hopefully sell that house.
					</p>
					<p>
That's how text message marketing, both easy, cheap, and most importantly, effective, works for your real estate business.
					</p>
					<p>
Video transcription by <a href="http://speechpad.com" title="Video transcription by Speechpad.com">Speechpad.com</a>
					</p>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
