<%
title 'Frequency of Text Message Campaigns'
meta 'Video lesson on how often to send Tatango SMS campaigns to your SMS subscribers.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2 class="select ">Video Lessons</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li class="active"><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2>SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2>FAQ's</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
					<p>
						&laquo; Back to <a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Back to videos">Getting Started videos</a>
					</p>
					<h1>Determining the Frequency of a SMS Marketing Campaign</h1>
					<p class="intro border">
At Tatango we always get asked the question about how often a business should send a text campaign. Derek Johnson, CEO of Tatango discusses the two most important factors determining how often to send text campaigns to your customers.
					</p>
					
					<div class="left-right-col border">
						<div style="padding:13px 0 5px 10px;">
							<div id="wistia_98ea83b93d" style="width:640px;height:388px;" data-video-width="640" data-video-height="360"><object id="wistia_98ea83b93d_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:100%;position:relative;width:100%;"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/ec3792695ff5869bc7278e298d89fa7abfca64da.bin&&hdUrl=http://embed.wistia.com/deliveries/ef756f6b173d9d51bcb8313df08dc13a154cc4ce.bin&stillUrl=http://embed.wistia.com/deliveries/1f46f57ab242ee6a73e8ad46147ebf9b811628a1.bin"></param><embed src="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/ec3792695ff5869bc7278e298d89fa7abfca64da.bin&hdUrl=http://embed.wistia.com/deliveries/ef756f6b173d9d51bcb8313df08dc13a154cc4ce.bin&stillUrl=http://embed.wistia.com/deliveries/1f46f57ab242ee6a73e8ad46147ebf9b811628a1.bin" style="display:block;height:100%;position:relative;width:100%;"></embed></object></div>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/E-v1.js"></script>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1-gridify%2CW-v1-wistia_url_min%2Csocialbar-v1.js"></script>

							<script>/*<![CDATA[*/
							wistiaEmbed = Wistia.embed("98ea83b93d", {
							  videoWidth: "640",
							  videoHeight: "360",
							  controlsVisibleOnLoad: true
							});
							Wistia.plugin.socialbar(wistiaEmbed, {
							  version: "v1",
							  buttons: "embed-twitter-googlePlus-facebook",
							  tweetText: "Learn how often to send text message marketing campaigns @Tatango",
							  showTweetCount: true
							});
							/*]]*/</script>
						</div>
					</div>
					
					<h2>Video Transcription</h2>
					<p>
Hey guys, Derek Johnson from Tatango.com here. We’re going to talk about how often you should be sending an SMS campaign to your customers. That’s a big question I get. People have thousands of people in their SMS campaign, and they’re asking themselves, “Okay, when and how often do I send a message to these people?” Well, it’s pretty simple. There are two rules.
					</p>
					<p>
One: Is each campaign valuable? With Twitter and Facebook you can push messages like, “Hey, it’s really nice out today. Come in for a pizza.” On SMS, it is very intrusive, from a marketing standpoint, so you want to make sure each individual message is very, very valuable. It can’t just say, “Hey, it’s really nice out today” or “Hey, we have great happy hour specials.” It’s got to give them something of value.
					</p>
					<p>
Now, what I like to use is what I call personally the quarter test. Illustrate it out here – the quarter test. Always look at the quarter test when you’re composing a text message to your customers. What it means is, hypothetically, let’s say all your customers that were in your SMS campaign were charged $0.25 to receive every single text message that you sent out. If they were charged $0.25, would the special or the promotion or the thing you’re sending them be valuable enough that they wouldn’t leave the campaign? That really helps. Every single message that you compose to send out to your customers, make sure you run it through what I call the quarter test.
					</p>
					<p>
The second one, which is just as important, is looking at your customer base and saying, “Can my customers buy as often as I’m sending them a text message?” A good example here is let’s say like a salon or a barber shop. I get my hair cut maybe every three to four weeks. If I received a text message every single day from the salon or barber shop, that would be too much because I cannot get a haircut, I could but I don’t want to get a haircut every other day or every couple of days. For a salon here, I would recommend once a month because that’s where the customer is thinking about getting their hair cut. It’s every single month, not every single day. Again, if maybe you own maybe a cupcake place, you want to do it maybe every single week. Because I love cupcakes, I could eat a cupcake every single week. Pizza? Maybe even twice a week. I eat a lot of pizza. A car dealership? Maybe every quarter, maybe every six months, because I don’t buy cars that often.
					</p>
					<p>
So you really want to look. This isn’t one size fit all. This is, obviously, you’ve got to make every campaign valuable. This one though, just because the business down the street is sending it every single day, maybe doesn’t mean that you can send it every single day. It depends on who your customers are.
					</p>
					<p>
Anyway, hopefully that helps and explains how often you can send an SMS marketing campaign to your customers.
					</p>
					<p>
Video transcription by <a href="http://speechpad.com" title="Video transcription by Speechpad.com">Speechpad.com</a>
					</p>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
