<%
title 'What is SMS Marketing'
meta 'Video lesson on what SMS marketing is and how its used to grow your business.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2 class="select ">Video Lessons</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li class="active"><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2>SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2>FAQ's</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
					<p>
						&laquo; Back to <a href="<%= url_for videos_sms_marketing_101_path %>" title="Back to videos">SMS 101 videos</a>
					</p>
					<h1>Learning about Text Message Marketing</h1>
					<p class="intro border">
Are you not sure what is meant when a marketer says “SMS Marketing”, and maybe too shy to ask? Derek Johnson, CEO of Tatango breaks down what SMS marketing is and how it can work for your business. 
					</p>
					
					<div class="left-right-col border">
						<div style="padding:13px 0 5px 10px;">
							<div id="wistia_7ffbdaf38e" style="width:640px;height:388px;" data-video-width="640" data-video-height="360"><object id="wistia_7ffbdaf38e_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:100%;position:relative;width:100%;"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/1203cf93ed1301cb703838b0fa741abdb6b549a6.bin&&hdUrl=http://embed.wistia.com/deliveries/045f131954e4158b0ea71df830806b1286e0e2fe.bin&stillUrl=http://embed.wistia.com/deliveries/8d2ac0704098e68f74f76d91ec27d2a0d7ae7605.bin"></param><embed src="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/1203cf93ed1301cb703838b0fa741abdb6b549a6.bin&hdUrl=http://embed.wistia.com/deliveries/045f131954e4158b0ea71df830806b1286e0e2fe.bin&stillUrl=http://embed.wistia.com/deliveries/8d2ac0704098e68f74f76d91ec27d2a0d7ae7605.bin" style="display:block;height:100%;position:relative;width:100%;"></embed></object></div>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/E-v1.js"></script>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1-gridify%2CW-v1-wistia_url_min%2Csocialbar-v1.js"></script>

							<script>/*<![CDATA[*/
							wistiaEmbed = Wistia.embed("7ffbdaf38e", {
							  videoWidth: "640",
							  videoHeight: "360",
							  controlsVisibleOnLoad: true
							});
							Wistia.plugin.socialbar(wistiaEmbed, {
							  version: "v1",
							  buttons: "embed-twitter-googlePlus-facebook",
							  tweetText: "Learn what SMS marketing is all about @Tatango",
							  showTweetCount: true
							});
							/*]]*/</script>
						</div>
					</div>
					
					<h2>Video Transcription</h2>
					<p>
Hey everyone, Derek Johnson with Tatango.com. One of the most frequent questions that I get is, “What the heck is SMS Marketing?” Really, what better way to explain it than on the whiteboard, so here I go.
					</p>
					<p>
You as a business want to collect mobile phone numbers. Back in the day, it might have been e-mail addresses. Now, with everybody carrying their mobile phone with them all the time, you want to collect their mobile phone number. How to do this? You use a keyword and a short code. An SMS Keyword is some word that’s relevant or a phrase that’s relevant to your business. A short code is a five to six digit phone number that’s used for SMS Marketing purposes. 68398 is Tatango’s short code. So you’re customers would text maybe your business name or “pizza” to 68398. The great part is you collect all those mobile phone numbers in a database.
					</p>
					<p>
Now, you have all those customers’ mobile phone numbers. Now what do you do with them? Well, the best part about SMS Marketing is you use them to drive sales. So what you do is you, as a business, will text message all your customers, whether it’s 100 or 100,000, with a promotion or a discount. Immediately, almost instantaneously, every single customer’s mobile phone will start ringing. They will open the mobile phone, and they will see a discount or promotion from your business. Then, customers will start flocking to your store to redeem the promotion or discount, and as always, you guys know, if there are more customers, that means more revenue and more sales for you.
					</p>
					<p>
So, that’s what SMS Marketing is. It’s both an easy to use platform to collect mobile phone numbers. It’s low cost. But also, the most important though, it brings in more sales for you.
					</p>
					<p>
Video transcription by <a href="http://speechpad.com" title="Video transcription by Speechpad.com">Speechpad.com</a>
					</p>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
