<%
title 'SMS Marketing with QR Codes'
meta 'Video lesson on how to incorporate QR codes into any SMS marketing campaign.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2 class="select ">Video Lessons</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li class="active"><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2>SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2>FAQ's</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
					<p>
						&laquo; Back to <a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Back to videos">Integrations videos</a>
					</p>
					<h1>Text Message Marketing and QR Codes</h1>
					<p class="intro border">
QR codes are all the rage in mobile marketing right now, but did you know that you can use QR codes to initiate an opt-in to an SMS marketing campaign? Derek Johnson, CEO of Tatango shows you how to incorporate QR codes into your SMS marketing campaign and some words of caution when using QR codes.
					</p>
					
					<div class="left-right-col border">
						<div style="padding:13px 0 5px 10px;">
							<div id="wistia_d63f75f15b" style="width:640px;height:388px;" data-video-width="640" data-video-height="360"><object id="wistia_d63f75f15b_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:100%;position:relative;width:100%;"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/c2336baf94757a4b359911fea5c176b004bffb67.bin&&hdUrl=http://embed.wistia.com/deliveries/4e583496001c28277342d134f6c6050649762485.bin&stillUrl=http://embed.wistia.com/deliveries/badd5941747ae89e16751693438248d9b33cd101.bin"></param><embed src="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/c2336baf94757a4b359911fea5c176b004bffb67.bin&hdUrl=http://embed.wistia.com/deliveries/4e583496001c28277342d134f6c6050649762485.bin&stillUrl=http://embed.wistia.com/deliveries/badd5941747ae89e16751693438248d9b33cd101.bin" style="display:block;height:100%;position:relative;width:100%;"></embed></object></div>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/E-v1.js"></script>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1-gridify%2CW-v1-wistia_url_min%2Csocialbar-v1.js"></script>

							<script>/*<![CDATA[*/
							wistiaEmbed = Wistia.embed("d63f75f15b", {
							  videoWidth: "640",
							  videoHeight: "360",
							  controlsVisibleOnLoad: true
							});
							Wistia.plugin.socialbar(wistiaEmbed, {
							  version: "v1",
							  buttons: "embed-twitter-googlePlus-facebook",
							  tweetText: "Learn how to integrate QR codes with SMS marketing @Tatango",
							  showTweetCount: true
							});
							/*]]*/</script>
						</div>
					</div>
					
					<h2>Video Transcription</h2>
					<p>
Hey everyone, Derek Johnson with Tatango.com. Have you ever seen one of these QR codes? They’re pretty cool. Did you know that you can use a QR code in conjunction with an SMS campaign? Now that’s really cool.
					</p>
					<p>
Let me explain how it works. A QR code can trigger something on a phone, which can be anything from a URL to a video to downloading an app, but it also can trigger an SMS message. How does that work? What you do is when you create your QR code, which you can create your QR code on many different free services, you want to select the SMS option. When it asks you two different things, It’s going to ask you for the phone number and you’re going to put in the short code. Tatango’s short code is 68398. Then it’s going to ask you for the body of the message, which you’re going to put your keyword in. This keyword is pizza, so I’m going to put pizza.
					</p>
					<p>
Then what is super cool is when somebody scans the QR code like this, boom. Okay, great. It pops up on my mobile phone, as a customer, pre-populated the text message. It says the phone number 68398 in the “To” field, and then it says pizza, the keyword, below it. All I have to do as a customer is click send, and then it’s sent and now I’ve joined your SMS campaign. Very, very simple. The problem, though, right now and again this is just right now, is that only 40% of your customers have a smart phone. That means 60% of people can’t opt in to your SMS campaign if this is the only thing you do to allow people to opt in.
					</p>
					<p>
The solution, though, is over here. The solution is you want to put the keyword and the short code always right below the QR code. The reason you want to do this is so that somebody who doesn’t have a smart phone can look at it and still type it in via SMS and avoid scanning the QR code.
					</p>
					<p>
Now you know how to combine a QR code with an SMS marketing campaign and be successful. Make sure you include all your customers.
					</p>
					<p>
Video transcription by <a href="http://speechpad.com" title="Video transcription by Speechpad.com">Speechpad.com</a>
					</p>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
