<%
title 'Group SMS VS Text Message Marketing'
meta 'Video lesson on the difference between group SMS and text message marketing.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2 class="select ">Video Lessons</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li class="active"><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2>SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2>FAQ's</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
					<p>
						&laquo; Back to <a href="<%= url_for videos_sms_marketing_101_path %>" title="Back to videos">SMS 101 videos</a>
					</p>
					<h1>Differentiating Group SMS Apps &amp; Text Message Marketing</h1>
					<p class="intro border">
There is a lot of confusion from customers between group sms apps like GroupMe and text message marketing platforms like Tatango. Derek Johnson, CEO of Tatango explains how both group sms and text message marketing work and which SMS platform is the most appropriate for your situation.
					</p>
					
					<div class="left-right-col border">
						<div style="padding:13px 0 5px 10px;">
							<div id="wistia_3eead637f2" style="width:640px;height:388px;" data-video-width="640" data-video-height="360"><object id="wistia_3eead637f2_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:100%;position:relative;width:100%;"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/302a4d0d691d22b3473c4ffbe3ebf99643ba2cf7.bin&&hdUrl=http://embed.wistia.com/deliveries/341297bf621b381bffc2d7424b09670682fbfba0.bin&stillUrl=http://embed.wistia.com/deliveries/cfbffe76335bf6ba097177cf84bdceaaf5ca938a.bin"></param><embed src="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/302a4d0d691d22b3473c4ffbe3ebf99643ba2cf7.bin&hdUrl=http://embed.wistia.com/deliveries/341297bf621b381bffc2d7424b09670682fbfba0.bin&stillUrl=http://embed.wistia.com/deliveries/cfbffe76335bf6ba097177cf84bdceaaf5ca938a.bin" style="display:block;height:100%;position:relative;width:100%;"></embed></object></div>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/E-v1.js"></script>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1-gridify%2CW-v1-wistia_url_min%2Csocialbar-v1.js"></script>

							<script>/*<![CDATA[*/
							wistiaEmbed = Wistia.embed("3eead637f2", {
							  videoWidth: "640",
							  videoHeight: "360",
							  controlsVisibleOnLoad: true
							});
							Wistia.plugin.socialbar(wistiaEmbed, {
							  version: "v1",
							  buttons: "embed-twitter-googlePlus-facebook",
							  tweetText: "Learn what the difference between group texting and SMS marketing is @Tatango",
							  showTweetCount: true
							});
							/*]]*/</script>
						</div>
					</div>
					
					<h2>Video Transcription</h2>
					<p>
Hey everyone, Derek Johnson with Tatango.com. Here we get a lot of questions about the difference between group text messaging and text message marketing. They sound pretty similar. They have the same word, text messaging, but they are very, very different. I would like to explain the difference to you.
					</p>
					<p>
Let’s first start out with group text messaging. As you can see, one of the biggest group text messaging companies right now is GroupMe. A great company if you want to have five to six people in your group text messaging list and you want to be able to communicate with all of them. Let me explain how it works with a group text messaging company. Let’s say there’s one, two, three, four, five, six people that are part of your GroupMe campaign. Every single one of these people are what we call administrators. That means they can send and receive messages to everybody in the group.
					</p>
					<p>
Let’s say person A over here, the administrator, he sends out a message to everyone. “Hey guys, we’re going to meet for drinks at 9 p.m.” Everybody gets that message. Then, this is where it kind of gets a little confusing, especially for really, really big groups, anything over like seven people. This guy down here, he says he can’t make it, and he text messages back to this guy. But instead of just going back to this guy, like normal text messaging, what it does is it sends his message out to everybody. Now all one, two, three, four, five people now get a message that this guy cannot make it for drinks at 9 p.m. Then this guy says he can make it, but he’s going to be five minutes late. This guy now sends the message back to this guy, or even to this guy, but it goes out to everybody. Now it goes to five people.
					</p>
					<p>
As you can see from our flow chart here, it can get pretty crazy and there are a lot of messages going back and forth. This is with six people. That’s a lot of messages. We’re talking like 20 messages even though only five people sent messages. That’s a lot of messages going back and forth. Again, this works really, really well for planning a movie or getting people together in a crowd, things like that, but only up to about seven people, maybe. Above that, it gets pretty crazy in terms of message volume.
On the other hand, you have text message marketing, which is completely different even though it just has text messaging, the same as a GroupMe type service. Text message marketing only has one administrator. Usually, this is the group organizer. This is the business or the restaurant or the retail store. What they are doing is sending out a message to all subscribers. Again, all administrators here. One administrator, many subscribers.
					</p>
					<p>
What they would do is they would send out a message saying, hey guys, something is cancelled today. It would go out to every single person. They would open their phone. They would get that message. But the difference is that when they get that message and they say maybe they can’t come or maybe they’re going to be 30 minutes late, when they reply to that message, it just goes back to the administrator. No one else sees that. If you have 1,000 people that are receiving the message about the snow day or something, when they all reply back and say thank you, or I can’t make it, or I need more information, it’s not going to every single person in the group. It’s just going back to this one person.
					</p>
					<p>
So that’s the difference between group text messaging and text message marketing. Both are great. Both have their own places, but you have to figure out, when you’re looking for text message anything, which one to pick because they’re very, very different. Hopefully that helps you guys.
					</p>
					<p>
Video transcription by <a href="http://speechpad.com" title="Video transcription by Speechpad.com">Speechpad.com</a>
					</p>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
