<%
title 'Understanding Tatango Pricing'
meta 'Video lesson to help you understand the Tatango SMS marketing pricing model.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2 class="select ">Video Lessons</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li class="active"><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2>SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2>FAQ's</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
					<p>
						&laquo; Back to <a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Back to videos">Getting Started videos</a>
					</p>
					<h1>Tatango Pricing Model</h1>
					<p class="intro border">
Need a little more help understanding the Tatango pricing? Derek Johnson, CEO of Tatango breaks down the two different SMS marketing products offered  at Tatango; mass messaging and SMS autoresponders, and explains how each one is priced and what you receive with each product.
					</p>
					
					<div class="left-right-col border">
						<div style="padding:13px 0 5px 10px;">
							<div id="wistia_3b017f3247" style="width:640px;height:388px;" data-video-width="640" data-video-height="360"><object id="wistia_3b017f3247_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:100%;position:relative;width:100%;"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/d7bec67b8bfcd75faf002bc1d7ab54c1b298207b.bin&&hdUrl=http://embed.wistia.com/deliveries/cf2e42edcdb24a172de75cd1bf802ce59d94951c.bin&stillUrl=http://embed.wistia.com/deliveries/38ad0f6d189a6f01ee3318691a366532af33e724.bin"></param><embed src="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/d7bec67b8bfcd75faf002bc1d7ab54c1b298207b.bin&hdUrl=http://embed.wistia.com/deliveries/cf2e42edcdb24a172de75cd1bf802ce59d94951c.bin&stillUrl=http://embed.wistia.com/deliveries/38ad0f6d189a6f01ee3318691a366532af33e724.bin" style="display:block;height:100%;position:relative;width:100%;"></embed></object></div>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/E-v1.js"></script>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1-gridify%2CW-v1-wistia_url_min%2Csocialbar-v1.js"></script>

							<script>/*<![CDATA[*/
							wistiaEmbed = Wistia.embed("3b017f3247", {
							  videoWidth: "640",
							  videoHeight: "360",
							  controlsVisibleOnLoad: true
							});
							Wistia.plugin.socialbar(wistiaEmbed, {
							  version: "v1",
							  buttons: "embed-twitter-googlePlus-facebook",
							  tweetText: "Learn more about the @Tatango pricing",
							  showTweetCount: true
							});
							/*]]*/</script>
						</div>
					</div>
					
					<h2>Video Transcription</h2>
					<p>
Hi, Derek Johnson with Tatango.
					</p>
					<p>
I'm here to help you understand the Tatango pricing. It's very simple, actually. Here at Tatango we bill monthly based on how many subscribers you have in your Tatango account. A subscriber is a mobile phone number that is part of an SMS campaign within your Tatango account.
					</p>
					<p>
Let's say this is your Tatango account. In January, you have less than 250 subscribers. Therefore, Tatango will bill you for $24. In February, you're growing but you still haven't surpassed 250 subscribers so you'll still be billed for $24 in February. In March, though, you're really growing now and you've surpassed 250 subscribers. Now you're billed $49. In April you're still growing but you haven't surpassed the 500 subscribers you have in your $49 package. Therefore, you're still billed $49.
					</p>
					<p>
Pretty simple, huh? Now that you know how we bill at Tatango, let me also show you what you get with each individual plan that you sign up for. You get unlimited text messaging. Let me say that one more time. Unlimited text messaging. This means inbound and outbound. You can send as many text messages as you want. We don't put any limits on it.
					</p>
					<p>
Unlimited keywords; like unlimited text messaging, I really mean unlimited. You can create as many keywords as you wish. No set-up fees, no hidden costs. You're going to pay a monthly fee, just like right here, and that's all. You're never going to see any additional charges or set-up fees on your bill.
					</p>
					<p>
All products and all features are available with no additional cost. This means SMS broadcast, polling, autoresponders, even contests. You can use all those things at just that very, very low monthly cost.
					</p>
					<p>
Also, award-winning support. This means you can reach people at Tatango via phone, chat, and even email.
					</p>
					<p>
Now that you know how we bill at Tatango, based on the amount of subscribers you have each month, and what you get in each individual text messaging plan, all you have to do now is pick a plan.
					</p>
					<p>
Video transcription by <a href="http://speechpad.com" title="Video transcription by Speechpad.com">Speechpad.com</a>
					</p>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
