<%
title 'The Perfect SMS Campaign'
meta 'Video lesson on how to compose the perfect SMS message for any text message marketing campaign.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2 class="select ">Video Lessons</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li class="active"><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2>SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2>FAQ's</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
					<p>
						&laquo; Back to <a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Back to videos">Getting Started videos</a>
					</p>
					<h1>The Perfect Text Message Marketing Campaign</h1>
					<p class="intro border">
One of the most important aspects of SMS marketing is making sure that each and every SMS campaign you send to your customers is formatted correctly. Derek Johnson, CEO of Tatango discusses the four keys to creating the perfect SMS campaign.
					</p>
					
					<div class="left-right-col border">
						<div style="padding:13px 0 5px 10px;">
							<div id="wistia_ceb894c3f5" style="width:640px;height:388px;" data-video-width="640" data-video-height="360"><object id="wistia_ceb894c3f5_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:100%;position:relative;width:100%;"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/41838e00ef820dd4a8bddcc636744707b47ec866.bin&&hdUrl=http://embed.wistia.com/deliveries/bbe2126a97079eba442e34fa43fd864ab0228bd6.bin&stillUrl=http://embed.wistia.com/deliveries/c34c628313628f4d3c184da05d18654b4265aae9.bin"></param><embed src="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/41838e00ef820dd4a8bddcc636744707b47ec866.bin&hdUrl=http://embed.wistia.com/deliveries/bbe2126a97079eba442e34fa43fd864ab0228bd6.bin&stillUrl=http://embed.wistia.com/deliveries/c34c628313628f4d3c184da05d18654b4265aae9.bin" style="display:block;height:100%;position:relative;width:100%;"></embed></object></div>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/E-v1.js"></script>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1-gridify%2CW-v1-wistia_url_min%2Csocialbar-v1.js"></script>

							<script>/*<![CDATA[*/
							wistiaEmbed = Wistia.embed("ceb894c3f5", {
							  videoWidth: "640",
							  videoHeight: "360",
							  controlsVisibleOnLoad: true
							});
							Wistia.plugin.socialbar(wistiaEmbed, {
							  version: "v1",
							  buttons: "embed-twitter-googlePlus-facebook",
							  tweetText: "Learn how create the perfect SMS campaign @Tatango",
							  showTweetCount: true
							});
							/*]]*/</script>
						</div>
					</div>
					
					<h2>Video Transcription</h2>
					<p>
Hey everyone, Derek Johnson with Tatango.com here. Today we’re talking about composing the perfect SMS campaign to send to your customers. There are four things that you want to include in the perfect campaign.
					</p>
					<p>
The first one is you always want to say “show this text message” or “show this text.” The reason behind this is you don’t want people to think that everybody gets this deal. It’s on billboards. It’s at the store, on Facebook, and it’s on Twitter. People are giving you their mobile phone number. You want to make it exclusive. You want to say, “Look this is a text message deal. If you don’t have this text message and you can’t show the text message to the server, the cashier, the waitress, then you don’t get the deal. So that’s the first thing, you always want to start out show this text message.
					</p>
					<p>
Second one, you want to identify the campaign. So show this text message at Bob’s Burger. You want to be very specific, because a lot of the subscribers to our customers’ campaigns are part of multiple campaigns across town. So just because I receive 50% off pizza, well was that from Bob’s Pizza or Dave’s Pizza? Because I belong to both of those SMS campaigns. So you want to be specific about who is actually sending the message to you.
					</p>
					<p>
Three, you want to start with the deal. This is kind of marketing 101, but it’s worth repeating. If you have something, let’s say get a free pizza if you buy another pizza, you want to start always with the deal first. You want to hook them on the deal. Then you want to tell them the qualifiers later. If you look at any print advertising, it’s always get an awesome lease on a car, and then the very fine print, but you have to qualify for these things. You always want to hook them first and then tell them how to actually qualify for the deal.
					</p>
					<p>
Number four, you want to put an expiration date. Usually what I say for most campaigns in SMS marketing, you want to get an expiration date maybe three to five days out. You don’t want to extend it pass that because of the fact that text messages are always coming in. People are always looking at them. If you say, “Hey come in within the next year,” I lose that text message after a while. You want to make it an immediate action. The average text message is opened within four minutes. So what you want to do is you want to have that customer make a decision within four minutes to come to your place. But if the expiration date is six months out, there’s no really need for them to rush to this deal.
					</p>
					<p>
So those are the four things. What I’m going to do also is we’re going to move over here and we’re going to look at an actual message and I’ll highlight the portions of the message corresponding to these four tips. So let me read out the message real quick. Then we’ll go and highlight it.
“Show this text message at New York Pizza to get half off a 10 inch pizza with purchase of any other one at regular price. Expiration 12/21.” So let’s break this down.
					</p>
					<p>
First one, always put “show this text message” at the very beginning. At New York Pizza, again that is the restaurant name. So they know, oh not Bob’s Pizza. It’s New York Pizza that’s offering this discount. To get half off a 10 inch pizza, that’s the deal. That’s a pretty good deal, half off, with purchase of any other one. So that’s the end of the deal, that’s the qualifier and then the expiration date. This is three to five days out. That’s the perfect expiration date.
					</p>
					<p>
So hopefully this helps you guys as a business craft the perfect SMS marketing message to send to your customers. When you send that perfect message out to you customers, watch all the customers just start running in, especially if you follow these four tips.
					</p>
					<p>
Video transcription by <a href="http://speechpad.com" title="Video transcription by Speechpad.com">Speechpad.com</a>
					</p>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
