<%
title 'Using the Tatango Reward Message'
meta 'Video lesson on how to use the Tatango reward message to grow an SMS subscriber list.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2 class="select ">Video Lessons</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li class="active"><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2>SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2>FAQ's</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
					<p>
						&laquo; Back to <a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Back to videos">Getting Started videos</a>
					</p>
					<h1>About the Tatango Reward Message</h1>
					<p class="intro border">
Looking for ways to increase the amount of subscribers in your SMS campaign? Once way of doing this is to use the Tatango "Reward Message" feature, which allows you to reward new SMS subscribers after they join your SMS marketing campaign. Derek Johnson, CEO of Tatango discusses his strategies for increasing SMS subscribers with this feature.
					</p>
					
					<div class="left-right-col border">
						<div style="padding:13px 0 5px 10px;">
							<div id="wistia_9be2847ce8" style="width:640px;height:388px;" data-video-width="640" data-video-height="360"><object id="wistia_9be2847ce8_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:100%;position:relative;width:100%;"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/9df117f0086158389b6e5b834aa6ad502a2eb862.bin&&hdUrl=http://embed.wistia.com/deliveries/00abb9379dc33434eec88cb90e5e6e2c28048ee4.bin&stillUrl=http://embed.wistia.com/deliveries/63ff91cbeac459170898ab7286624762e9a8318e.bin"></param><embed src="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/9df117f0086158389b6e5b834aa6ad502a2eb862.bin&hdUrl=http://embed.wistia.com/deliveries/00abb9379dc33434eec88cb90e5e6e2c28048ee4.bin&stillUrl=http://embed.wistia.com/deliveries/63ff91cbeac459170898ab7286624762e9a8318e.bin" style="display:block;height:100%;position:relative;width:100%;"></embed></object></div>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/E-v1.js"></script>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1-gridify%2CW-v1-wistia_url_min%2Csocialbar-v1.js"></script>

							<script>/*<![CDATA[*/
							wistiaEmbed = Wistia.embed("9be2847ce8", {
							  videoWidth: "640",
							  videoHeight: "360",
							  controlsVisibleOnLoad: true
							});
							Wistia.plugin.socialbar(wistiaEmbed, {
							  version: "v1",
							  buttons: "embed-twitter-googlePlus-facebook",
							  tweetText: "Learn how to use the Tatango Reward Message @Tatango",
							  showTweetCount: true
							});
							/*]]*/</script>
						</div>
					</div>
					
					<h2>Video Transcription</h2>
					<p>
Hey, everyone. Derek Johnson with Tatango.com. One of the questions I get
asked all the time is, &quot;Derek, I have an SMS marketing campaign. How do I
make it grow faster? How do I get more customers to join my SMS marketing
campaign?&quot;
					</p>
					<p>
Well, it's pretty easy with what we call the reward message. We even wrote
it up there for you.
					</p>
					<p>
Here's how it works. Let's say you own a pizza restaurant. In that pizza
restaurant, before the reward message, you just tell people, &quot;Join our text
club. Text pizza to 68398.&quot; With the reward message, now you can give an
incentive for your customers to join. &quot;Text pizza to 68398 and receive a
free side salad when you join our SMS marketing campaign.&quot; That's a pretty
good incentive right there to join.
					</p>
					<p>
Here's what happens on the customer's mobile phone. They would text
&quot;pizza.&quot; Then just like before, they would get &quot;subscribe to alerts,&quot; but
below is what we call the reward message. &quot;Show this text for a free side
salad with any purchase.&quot; As any good SMS marketer knows, you always want
to put an expiration date down there too.
					</p>
					<p>
That's what we call the reward message. Very, very simple, but will grow
your SMS marketing campaign by leaps and bounds.
					</p>
					<p>
Video transcription by <a href="http://speechpad.com" title="Video transcription by Speechpad.com">Speechpad.com</a>
					</p>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
