<%
title 'Where to Advertise Your SMS Campaign'
meta 'Video lesson on the best places to advertise your SMS campaign.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2 class="select ">Video Lessons</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li class="active"><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2>SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2>FAQ's</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
					<p>
						&laquo; Back to <a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Back to videos">Getting Started videos</a>
					</p>
					<h1>How to Use Your SMS Campaign</h1>
					<p class="intro border">
Once you have selected a good SMS keyword for your SMS marketing campaign, the next step is to figure out where to advertise your new campaign. Derek Johnson, CEO of Tatango discusses his strategy for advertising a new SMS campaign.
					</p>
					
					<div class="left-right-col border">
						<div style="padding:13px 0 5px 10px;">
							<div id="wistia_6463346791" style="width:640px;height:388px;" data-video-width="640" data-video-height="360"><object id="wistia_6463346791_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:100%;position:relative;width:100%;"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/e01d06d221bb89f7c710399cb8088dcb6928941b.bin&&hdUrl=http://embed.wistia.com/deliveries/f66da99e412303adcdad90e7ad0ebaaefe8f8f5c.bin&stillUrl=http://embed.wistia.com/deliveries/3def31db701459d42dbf9370e5a5aa97b19fe495.bin"></param><embed src="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/e01d06d221bb89f7c710399cb8088dcb6928941b.bin&hdUrl=http://embed.wistia.com/deliveries/f66da99e412303adcdad90e7ad0ebaaefe8f8f5c.bin&stillUrl=http://embed.wistia.com/deliveries/3def31db701459d42dbf9370e5a5aa97b19fe495.bin" style="display:block;height:100%;position:relative;width:100%;"></embed></object></div>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/E-v1.js"></script>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1-gridify%2CW-v1-wistia_url_min%2Csocialbar-v1.js"></script>

							<script>/*<![CDATA[*/
							wistiaEmbed = Wistia.embed("6463346791", {
							  videoWidth: "640",
							  videoHeight: "360",
							  controlsVisibleOnLoad: true
							});
							Wistia.plugin.socialbar(wistiaEmbed, {
							  version: "v1",
							  buttons: "embed-twitter-googlePlus-facebook",
							  tweetText: "Learn where to advertise your SMS marketing campaign @Tatango",
							  showTweetCount: true
							});
							/*]]*/</script>
						</div>
					</div>
					
					<h2>Video Transcription</h2>
					<p>
Hi, Derek Johnson from Tatango here. One of the first steps of any SMS campaign, besides just setting it up, is advertising. You can’t send messages to people if you don’t have people joining your campaign. So advertising is key to the success of any SMS marketing campaign.
					</p>
					<p>
There are so many different places, as you can see – Facebook, Twitter, website, email, direct mail, menus, table tents, blogs, flyers, shirts, window decals, newspapers, radio. You can advertise anywhere. The key though, what I see a lot of clients doing is they pick one of these. They say, “You know what? We’re going to advertise on one of these channels for our SMS campaign.”
					</p>
					<p>
Let’s say we’re going to just advertise on Facebook. That’s all. The problem with that is a certain percentage of your customers are on Facebook, and a certain percentage of those customers are fans of you on Facebook. Now, Facebook, let’s say from a growth standpoint, it’s going to get your growth. Your campaign is going to grow and you’re going to be successful.
					</p>
					<p>
But if you want to be uber-successful, you have to be like the campaigns that actually put their SMS campaign on every single one of these. They put it on Twitter, they put it on their website, they put it in their email signature, they send out bulk emails to everybody, they put it in their direct mail, they put it on their menus, their table tents. Really, how I look at it, if you have a customer and they haven’t seen the call to action, text restaurant to 68398 or pizza to 68398, you failed from an advertising standpoint. You want to make sure that, wherever your customers are, whenever they’re interacting with your brand, they see the call to action.
					</p>
					<p>
This is Facebook or just picking a couple of them. This is the kind of growth you’ll get if you put the SMS campaign, the call to action, on every single one of these. I know it does take time. So start off with the ones that are the easiest – Facebook, Twitter, website, email. Those are the easiest ones. Then start working your way, putting it on the menu, putting it on the table tent, putting it on the waiters’ or waitress’ shirts, putting newspaper ads, radio. Focus on those secondly, but you have to focus on them. You can’t just say, “Look, I’m just going to focus on these three, and I want to achieve amazing success with my SMS campaign.” You really have to focus on wherever your customers’ eyes are.
					</p>
					<p>
That goes for every piece of advertising, whether you’re advertising Facebook, Twitter, or SMS campaign. You want to put them everywhere. Hopefully, you can use that tip in any one of your advertising mediums also. Anyway, hopefully that helps answer the question of where do you put your SMS campaign when you want to advertise it.
					</p>
					<p>
Video transcription by <a href="http://speechpad.com" title="Video transcription by Speechpad.com">Speechpad.com</a>
					</p>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
