<%
title 'SMS Marketing Integration Video Lessons'
meta 'Learn more about integrating text message marketing with other marketing tools with Tatango video lessons.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2 class="select ">Video Lessons</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li class="active"><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2>SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2>FAQ's</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
			
					<h1>Video Lessons on Integrating SMS Marketing </h1>
					<p class="intro border">
Are you running a Groupon campaign, using a location based check-in service or maybe you've jumped on the QR code bandwagon? All of these marketing efforts not only play nice with SMS marketing, they're enhanced when you add text messaging. You don't want to keep your SMS campaign on an island do you? Learn how to integrate your SMS marketing campaign with the following video lessons.
					</p>
					
					<div class="left-right-col video">
						<div class="left-col">
							<h2><a href="<%= url_for video_sms_marketing_groupon_path %>" title="SMS Marketing with Groupon">SMS Marketing with Groupon</a></h2>
							<p>
Is your business thinking about running a Groupon promotion, but concerned about how to better retain customers after the promotion? Derek Johnson, CEO of Tatango discusses how your business can use SMS marketing to increase customer retention after a Groupon promotion, resulting in a more successful Groupon promotion.
							</p>
							<p><a class="link-arrow" href="<%= url_for video_sms_marketing_groupon_path %>" title="Watch Video">Watch Video</a></p>
						</div>
						<div class="right-col">
							<a href="<%= url_for video_sms_marketing_groupon_path %>" title="Watch Video"><img src="<%= asset_path 'videos/sms-marketing-with-groupon.jpg' %>" width="330" height="189" alt="Watch Video" /></a>
						</div>
					</div>
					
					<div class="left-right-col video">
						<div class="left-col">
							<h2><a href="<%= url_for video_check_in_services_sms_marketing_path %>" title="Check-in Services with SMS Marketing">Check-in Services with SMS Marketing</a></h2>
							<p>
Have you ever thought about how you can incorporate check-in services like Facebook, Foursquare or GoWalla into your SMS marketing campaign? Derek Johnson, CEO of Tatango discusses how this works and some words of caution if your business is looking into this tactic. Have questions about how you can integrate a check-in service into your own SMS campaign? Let us know in the comments below and we’d love to help!
							</p>
							<p><a class="link-arrow" href="<%= url_for video_check_in_services_sms_marketing_path %>" title="Watch Video">Watch Video</a></p>
						</div>
						<div class="right-col">
							<a href="<%= url_for video_check_in_services_sms_marketing_path %>" title="Watch Video"><img src="<%= asset_path 'videos/check-in-services-sms-marketing.jpg' %>" width="330" height="189" alt="Watch Video" /></a>
						</div>
					</div>
					
					<div class="left-right-col video">
						<div class="left-col">
							<h2><a href="<%= url_for video_what_is_qr_code_path %>" title="What is a QR Code?">What is a QR Code?</a></h2>
							<p>
Even if you’ve never heard of a QR code, there is a good chance you’ve seen one with their rising popularity in marketing campaigns lately. Derek Johnson, CEO of Tatango explains what a QR code is, why they were invented and what you can do with them. Have questions about QR codes or how you’re to use them in your own mobile marketing campaign? Let us know in the comments below and we’d love to help!
							</p>
							<p><a class="link-arrow" href="<%= url_for video_what_is_qr_code_path %>" title="Watch Video">Watch Video</a></p>
						</div>
						<div class="right-col">
							<a href="<%= url_for video_what_is_qr_code_path %>" title="Watch Video"><img src="<%= asset_path 'videos/what-is-qrcode.jpg' %>" width="330" height="189" alt="Watch Video" /></a>
						</div>
					</div>
					
					<div class="left-right-col video">
						<div class="left-col">
							<h2><a href="<%= url_for video_sms_marketing_qr_codes_path %>" title="SMS Marketing with QR Codes">SMS Marketing with QR Codes</a></h2>
							<p>
QR codes are all the rage in mobile marketing right now, but did you know that you can use QR codes to initiate an opt-in to an SMS marketing campaign? Derek Johnson, CEO of Tatango shows you how to incorporate QR codes into your SMS marketing campaign and some words of caution when using QR codes.
							</p>
							<p><a class="link-arrow" href="<%= url_for video_sms_marketing_qr_codes_path %>" title="Watch Video">Watch Video</a></p>
						</div>
						<div class="right-col">
							<a href="<%= url_for video_sms_marketing_qr_codes_path %>" title="Watch Video"><img src="<%= asset_path 'videos/sms-marketing-with-qrcodes.jpg' %>" width="330" height="189" alt="Watch Video" /></a>
						</div>
					</div>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
