<%
title 'SMTP vs SMPP SMS Messaging'
meta 'Video lesson on the difference between SMTP messaging and SMPP messaging in text message marketing.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2 class="select ">Video Lessons</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li class="active"><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2>SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2>FAQ's</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
					<p>
						&laquo; Back to <a href="<%= url_for videos_sms_messaging_path %>" title="Back to videos">Messaging videos</a>
					</p>
					<h1>Comparing SMPP and SMTP SMS Messaging</h1>
					<p class="intro border">
Are you confused by SMTP and SMPP messaging? Even though they sound very similar, they are different and used for very different purposes. Derek Johnson, CEO of Tatango breaks down the differences between the two different types of SMS messaging, and why they both exist.
					</p>
					
					<div class="left-right-col border">
						<div style="padding:13px 0 5px 10px;">
							<div id="wistia_cc6c75c9fe" style="width:640px;height:388px;" data-video-width="640" data-video-height="360"><object id="wistia_cc6c75c9fe_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:100%;position:relative;width:100%;"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/a2df42779dedc1a31167caeb06400f76f2068cfa.bin&&hdUrl=http://embed.wistia.com/deliveries/fcbe9c9accfe145b55df88a2448ee5c75364cff2.bin&stillUrl=http://embed.wistia.com/deliveries/fdcd2cbc33e18cbf23349dc6167a5107123f27cb.bin"></param><embed src="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/a2df42779dedc1a31167caeb06400f76f2068cfa.bin&hdUrl=http://embed.wistia.com/deliveries/fcbe9c9accfe145b55df88a2448ee5c75364cff2.bin&stillUrl=http://embed.wistia.com/deliveries/fdcd2cbc33e18cbf23349dc6167a5107123f27cb.bin" style="display:block;height:100%;position:relative;width:100%;"></embed></object></div>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/E-v1.js"></script>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1-gridify%2CW-v1-wistia_url_min%2Csocialbar-v1.js"></script>

							<script>/*<![CDATA[*/
							wistiaEmbed = Wistia.embed("cc6c75c9fe", {
							  videoWidth: "640",
							  videoHeight: "360",
							  controlsVisibleOnLoad: true
							});
							Wistia.plugin.socialbar(wistiaEmbed, {
							  version: "v1",
							  buttons: "embed-twitter-googlePlus-facebook",
							  tweetText: "Learn the difference between SMTP and SMPP text messaging @Tatango",
							  showTweetCount: true
							});
							/*]]*/</script>
						</div>
					</div>
					
					<h2>Video Transcription</h2>
					<p>
Hey everyone, Derek Johnson with Tatango.com. Have you ever heard about an SMS provider saying they offer SMTP messaging or SMPP messaging? What’s the difference? Luckily, you have me here and I’m going to explain the difference to you.
					</p>
					<p>
Let’s first look at SMTP messaging. That’s the technical term. Some people call it “email to SMS”. I think that’s the most popular term I’d say out there. Why email to SMS is even around is back in the day, before people had smart phones and they had email clients on their mobile phone, people were looking for ways to send . . . they’re at their computer, maybe at their office, and they were looking to send a text message via their computer, to one of their friends. Kind of like an email, but since they didn’t have email on their mobile phone, the only way you could send something was via text message.
					</p>
					<p>
But people on their computers had email. So, what the carriers did is they came up with a protocol, SMTP, which would allow people to send an email from an email client, like Gmail let’s say, to a person’s mobile phone. Even if they didn’t have an app for email or an email client, if they had like a dumb phone or a feature phone with just text messaging, they could still receive that email.
					</p>
					<p>
What it would look like is somebody would sit at their desk. They would type an email. In the email form, they would put the person’s mobile phone number that they were trying to reach, then “@” and then they would append the domain that would be applicable to the person’s mobile phone carrier.
So, here’s my phone number, 206-334-4012@vtext.com That would be if I’m on Verizon. AT&T I think it’s ATT.com. They mix them all up. They are kind of confusing and they change all of the time. Somebody would type this into the “To” field. They would type a subject and a message, and then they would send it off. Then this person on their feature phone would get it, the email as a text message.
					</p>
					<p>
The problem is that was meant for this kind of communication, one-to-one communication, peer to peer. What happened though is a lot of SMS providers found out about this service and they started using it in ways that weren’t supposed to be used.
					</p>
					<p>
Problems, there are four different problems. One, it’s not approved by any cell phone carrier to send marketing messages to customers through the SMTP gateway. There’s no approval processes. That’s why you see a lot of SPAM coming through SMTP. Nobody has to look it over. Nobody gives it a stamp of approval. It’s not approved by any cell phone carrier for SMS marketing purposes.
					</p>
					<p>
Number two, it’s unreliable. Number one is that they always change these things up all the time. Number two is you might not know what carrier your customers have. So if you type in the wrong one the message won’t get there. Three, it was meant as a peer-to-peer channel. Peer-to-peer channels are not maintained as well as they should be, and this is really a legacy issue for the carriers. They don’t spend a lot of time maintaining the SMTP gateway.
					</p>
					<p>
Number three, it’s slow. Again, peer-to-peer doesn’t really matter if it takes five minutes to get a message out. If you use it for emergencies or flash sales for your business, it could take 5 to 15 minutes. It could even take 24 hours. I’ve seen some messages that go through very, very slow. There’s just really no telling how fast or slow it will get to your customers.
					</p>
					<p>
Number four, it’s unprofessional. What happens when the message comes through to your mobile phone? It looks very garbled. It comes from this phone number and has a subject, which has dash lines in it; then it has the message. It doesn’t look like a professional SMS campaign. This is why, in addition to it’s just not being approved by the cell phone carriers, you should not be using SMTP for your SMS marketing campaign.
					</p>
					<p>
So, if you can’t use this one, what do you use? It’s pretty easy, because there’s only one other choice, which is what we call SMPP messaging. In the industry, most people just call it short code messaging, which means it comes from a five to six digit phone number, like 68398. That’s Tatango’s short code.
					</p>
					<p>
This one was meant for marketing purposes. A business would send out a message en masse to a lot of people. This one, again, SMTP one to one. This one, SMPP, one to many. Some of the things that make it very, very good for SMS marketing are it’s approved by the carriers. The carriers have approved and put their stamp of approval on this campaign. It also makes sure that they’re following all the rules. When you apply stop, when you apply help, it gives you the pertinent information that a customer needs.
					</p>
					<p>
SMTP, a lot of the times when you apply stop to these messages, they don’t opt you out of the campaign. They don’t really care, because nobody is really watching them or enforcing the rules. The rules over here are really enforced, so it’s definitely a much safer opportunity for your customers to opt into an SMPP campaign.
					</p>
					<p>
It’s more reliable. Messages are given priority. Also, the SMS provider can tell if the actual message bounced or if it actually hit the recipient’s phone or if it didn’t. So with this kind of thing, you can’t tell. It just goes out into the ether. This kind of thing it will actually tell you if it actually succeeded going to the mobile phone.
					</p>
					<p>
Three, it’s fast. You look at like Tatango’s short code, and we use SMPP messaging, it sends out in like five seconds. It sends out in five seconds to tens of thousands of people. It’s very, very fast, and it’s consistent and it’s consistently fast.
					</p>
					<p>
Number four is professional. It comes from 68398. You can reply “Help.” You can reply “Stop.” The message looks really clean. It’s the same type of short code that is being used by big brands, like McDonald’s, Old Navy, and then political candidates are using these big brands and short codes. Also things like “American Idol,” it’s the same type of phone number. So, you as a small business will feel like a big business using SMPP messaging.
					</p>
					<p>
Anyway, now you know the difference between SMTP and SMPP messaging for SMS marketing. Really, for SMS marketing, this is the only one that matters.
					</p>
					<p>
Video transcription by <a href="http://speechpad.com" title="Video transcription by Speechpad.com">Speechpad.com</a>
					</p>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
