<%
title 'SMS Marketing Ecosystem'
meta 'Video lesson to help you understand the SMS marketing ecosystem and how it works.'
body_class 'wide nopadding' 
%>
			
			<div class="wide-content-intro nopadding">
				<span class="big">SMS Marketing Resources</span>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
			
			<!-- Wide content -->
			<div class="wide-content clients-shadow">
			
				<div class="wide-content-tour">
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							jQuery(".tour-left-menu-accordion h2.select").addClass("active");
							jQuery(".tour-left-menu-accordion div.tour-left-block-accordion:not(.select)").hide();
							jQuery(".tour-left-menu-accordion h2").click(function() {
								jQuery(this).next("div.tour-left-block-accordion").slideToggle("slow").siblings("div.tour-left-block-accordion:visible").slideUp("slow");
							});
						});
					</script>
					<div class="tour-left-menu-accordion">
					
						<h2>SMS Marketing Guides</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_guide_path %>" title="Beginner's Guide">Beginner's Guide</a></li>
								<li><a href="<%= url_for qr_codes_guide_path %>" title="QR Codes">QR Codes</a></li>
							</ul>
						</div>
						<h2 class="select ">Video Lessons</h2>
						<div class="tour-left-block-accordion select">
							<ul class="tour-left-menu">
								<li class="active"><a href="<%= url_for videos_sms_marketing_101_path %>" title="SMS 101">SMS 101</a></li>
								<li><a href="<%= url_for videos_sms_marketing_getting_started_path %>" title="Getting Started">Getting Started</a></li>
								<li><a href="<%= url_for videos_sms_keyword_short_codes_path %>" title="Keywords/Short Codes">Keywords/Short Codes</a></li>
								<li><a href="<%= url_for videos_sms_messaging_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for videos_sms_marketing_best_practices_path %>" title="Best Practices">Best Practices</a></li>
								<li><a href="<%= url_for videos_sms_marketing_integrations_path %>" title="Integrations">Integrations</a></li>
								<li><a href="<%= url_for videos_advanced_sms_marketing_path %>" title="Advanced">Advanced</a></li>
								<li><a href="<%= url_for videos_industry_specific_sms_marketing_path %>" title="Industry Specific">Industry Specific</a></li>
								<li><a href="<%= url_for videos_sms_marketing_products_path %>" title="SMS Products">SMS Products</a></li>
							</ul>
						</div>
						<h2>SMS Marketing Tools</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_flyer_generator_path %>" title="Flyer Generator">Flyer Generator</a></li>
								<li><a href="<%= url_for sms_qr_code_generator_path %>" title="QR Code Generator">QR Code Generator</a></li>
							</ul>
						</div>
						<h2>Industry</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_terms_path %>" title="SMS Marketing Terms">SMS Marketing Terms</a></li>
							</ul>
						</div>
						<h2>FAQ's</h2>
						<div class="tour-left-block-accordion">
							<ul class="tour-left-menu">
								<li><a href="<%= url_for sms_marketing_trial_faq_path %>" title="Free Trial">Free Trial</a></li>
								<li><a href="<%= url_for sms_campaign_setup_faq_path %>" title="Account Setup">Account Setup</a></li>
								<li><a href="<%= url_for billing_faq_path %>" title="Billing">Billing</a></li>
								<li><a href="<%= url_for sms_messaging_faq_path %>" title="Messaging">Messaging</a></li>
								<li><a href="<%= url_for security_privacy_faq_path %>" title="Security/Privacy">Security/Privacy</a></li>
								<li><a href="<%= url_for sms_subscriber_faq_path %>" title="Subscribers">Subscribers</a></li>
							</ul>
						</div>

						<div class="tour-left-menu-btm"><!----></div>
					</div>
					
				</div>
				
				<div class="wide-content-tour right clients">
					<p>
						&laquo; Back to <a href="<%= url_for videos_sms_marketing_101_path %>" title="Back to videos">SMS 101 videos</a>
					</p>
					<h1>How a Text Message Reaches Your Phone</h1>
					<p class="intro border">
Ever wonder how a text message gets from an SMS provider like Tatango all the way to an SMS subscribers mobile phone? Derek Johnson, CEO of Tatango breaks down the four pieces of the SMS marketing ecosystem, which include the SMS providers, SMS aggregators, wireless carriers and most importantly the SMS subscribers.
					</p>
					
					<div class="left-right-col border">
						<div style="padding:13px 0 5px 10px;">
							<div id="wistia_a16afe5f47" style="width:640px;height:388px;" data-video-width="640" data-video-height="360"><object id="wistia_a16afe5f47_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:100%;position:relative;width:100%;"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/d6430f1c488dd2162be0b1a43a9e61f2f205358f.bin&&hdUrl=http://embed.wistia.com/deliveries/d63c7094e5fe44581ac01cbd77d3445d511716e2.bin&stillUrl=http://embed.wistia.com/deliveries/8e471a75491a16bb1b6985c2665fef8bdf44da61.bin"></param><embed src="http://embed.wistia.com/flash/embed_player_v1.2.swf?2012-02-08" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/d6430f1c488dd2162be0b1a43a9e61f2f205358f.bin&hdUrl=http://embed.wistia.com/deliveries/d63c7094e5fe44581ac01cbd77d3445d511716e2.bin&stillUrl=http://embed.wistia.com/deliveries/8e471a75491a16bb1b6985c2665fef8bdf44da61.bin" style="display:block;height:100%;position:relative;width:100%;"></embed></object></div>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/E-v1.js"></script>
							<script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1-gridify%2CW-v1-wistia_url_min%2Csocialbar-v1.js"></script>

							<script>/*<![CDATA[*/
							wistiaEmbed = Wistia.embed("a16afe5f47", {
							  videoWidth: "640",
							  videoHeight: "360",
							  controlsVisibleOnLoad: true
							});
							Wistia.plugin.socialbar(wistiaEmbed, {
							  version: "v1",
							  buttons: "embed-twitter-googlePlus-facebook",
							  tweetText: "The SMS Marketing Ecosystem.mov"
							});
							/*]]*/</script>
						</div>
					</div>
					
					<h2>Video Transcription</h2>
					<p>
Hi. Derek Johnson with Tatango.com. Tatango.com is an SMS provider. A lot of people of have questions how a text message gets from an SMS provider all the way to a SMS subscriber's mobile phone. Well, today I'm going to explain to you how the SMS marketing ecosystem works.
					</p>
					<p>
First, as I said, Tatango is an SMS provider. There's a ton of SMS providers out there and they all are a platform for businesses and groups and organizations to build text messages and send them out to their customers or clients.
					</p>
					<p>
When the text message gets sent from an SMS provider, it goes to an SMS aggregator. There's only a few of these in the United States. They aggregate all the text messages sent from the SMS providers into one central location. Those SMS aggregators have direct connection to the wireless carriers. They send all those text messages to the wireless carriers, like AT&T, T-Mobile, Sprint, Verizon. Then, obviously, from there you're pretty familiar what happens next. Those carriers send out the message to your mobile phone, and you get the text message.
					</p>
					<p>
The best part about the SMS marketing ecosystem is that once you get the text message on your mobile phone, we get a message all the way back to the SMS provider that says that message has been received. So we get a full loop communication tool that tells us that the message actually got sent and arrived where it was suppose to arrive. That's the SMS marketing ecosystem. Looks a little confusing and there's a lot of parts, but that's why you use an SMS provider to make sure you really don't have to care about any of this stuff. You just have to make sure we can send the messages all the way down the chain and then receive the receipt, making sure that it actually got to where it needed to go back and you can view it on your SMS marketing platform.
					</p>
					<p>
Video transcription by <a href="http://speechpad.com" title="Video transcription by Speechpad.com">Speechpad.com</a>
					</p>
					
				</div>
				
			</div>
			<!-- #END of wide content -->
			
		</div>
	</div>
	
	<div class="content btm">
		<div class="center">
		
			<!-- #END of wide content -->
			<div class="wide-content-btm">
				<div>Try Tatango free for 7 days. No credit card. No obligations.</div>
				<p class="try-it"><%= link_to "Try it FREE for 7 days", signup_path %></p>
			</div>
					
		</div>
	</div>
