<% title 'Keyword Settings' %>
<% current_tab :lists %>
<% current_action edit_list_path(@list) %>

<div class="admin-center shadow">

  <!-- LEFT CONTENT -->
  <div class="content-left admin">
    <%= render :partial => 'lists/action_nav' %>
  </div>
  <!-- #END of left content -->


  <!-- RIGHT CONTENT -->
        <div class="content-right admin">
            
    <h1>Keyword Settings</h1>
  
    <div class="admin-stripes-box">			
      <div class="stripes-content-wide" style="width:625px;">
        <% if @list.errors %>
          <div class="validationError">
            <% for error in @list.errors.full_messages %>
              <label class="error"><%= error %></label>
            <% end %>
          </div>
        <% end %>
        <% if @keyword.errors %>
          <div class="validationError">
            <% for error in @keyword.errors.full_messages %>
              <label class="error"><%= error %></label>
            <% end %>
          </div>
        <% end %>
        
        <fieldset>
          
          <%= form_for(@list, :html => {:class => 'someform', :style => 'width:625px;'}) do |f| %>
            <div class="somebox">
              <h2>Keyword</h2>
              <p style="font-size:15px;padding:10px 0 15px 0;">People will subscribe by text messaging the above keyword to the phone number 68398.</p>
              <%= fields_for @keyword do |k| %>
                <%= k.text_field :name, :size => 22, :class => "keyword_name_field", :style => 'width:195px;', :required => 'required', :tabindex => 1, :maxlength => 15, :id => 'edit_keyword_name' %><span class="end"></span>
              <% end %>
              <p id="availability-yes" class="tick" style="display: none;">Available</p>
              <p id="availability-no" class="tick-none" style="display: none;">Not available</p>
              <div class="clear">&nbsp;</div>
              <p style="padding:10px 0;"><i>Keywords must not contain spaces, !, /, $, %, or any other special characters.</i></p>
              <div class="input-green-btn-smaller">
                <label><input id="claim_submit" type="submit" value="Save Changes" /></label>
              </div>
              <div class="clear">&nbsp;</div>
              <div class="widebox-line btm">
                <div class="icon-txt video">
                  <p class="regular" style="padding-top:15px">Learn how to select the perfect keyword. <a href="https://fast.wistia.com/embed/iframe/6f6be18a13?videoWidth=640&videoHeight=360&controlsVisibleOnLoad=true&autoPlay=true&popover=true" class="wistia-popover[width=640,height=360,playerColor=#636155]">[Watch Now]</a>
                  <script type="text/javascript">
                  //<![CDATA[
                  Wistia.requireFancyBoxAssets(function() {Wistia.fancyBoxJQuery("#a639229259_videoPopup").fancybox({type: "iframe",width: 640,height: 360});});
                  //]]>
                  </script>
                </div>
              </div>
            </div>
          <% end %>
								
          <%= form_for(@list, :html => {:class => 'someform', :style => 'width:625px;', :id => 'edit_bounceback'}) do |f| %>
            <div class="somebox">
              <h2>Reward Message Customization</h2>
              <p style="font-size:15px;padding:10px 0 15px 0;">
                Below you can customize the text message that your subscribers will receive when they opt-in.
              </p>
              <div style="position:relative;overflow:hidden;width:100%">
                <div style="position:relative;float:left;width:380px;">
                  <div class="line">
                    <p class="semibold" style="font-size:15px;padding-bottom:5px;">Message Volume</p>
                    <%= f.text_field :message_volume, :id => 'messageVolumeInput', :style => "width:45px", :required => "required", :tabindex => 2, :size => 22, :maxlength => 2 %><span class="end"></span> <span style="padding-left:13px;line-height:32px">per/month</span>
                    <div class="validationError"></div>
                    <div class="clear">&nbsp;</div>
                    <p style="padding-top:10px;"><i>We recommend sending 4 messages per month.</i></p>
                  </div>
                  <div class="line noline">
                    <p class="semibold" style="font-size:15px;padding-bottom:5px;float:left">Custom Message</p>
                    <p style="padding-bottom:5px;float:right"><i><span id="bouncebackCharacterCount"></span> characters left</i></p>
                    <div class="clear">&nbsp;</div>
                    <%= f.text_area :bounceback, :id => 'bouncebackInput', :style => "width:360px;", :tabindex => 3, :maxlength => GLOBALS['bounceback_size'] %>
                    <div class="clear">&nbsp;</div>
                    <p style="padding-top:10px;"><i>Reward your new subscribers for opting in.</i></p>
                  </div>
                </div>
                <div class="mobile" style="float:right;">
                  <div class="txt dark">
                    <p>
                      <span>Subscribed to Alerts.</span>
                      <br />
                      <br />
                      <span id="bouncebackPreview"></span>
                    </p>
                    <p>
                      <span id="messageVolumePreview"></span><%= GLOBALS['join_message_footer'] %>
                    </p>
                    <div class="btm">&nbsp;</div>
                  </div>
                  <p class="preview bold">Preview</p>
                </div>
                <script type="text/javascript">
                  $('#messageVolumeInput').change(function(){
                    $('#messageVolumePreview').html($('#messageVolumeInput').val());
                  });
                  $('#messageVolumePreview').html($('#messageVolumeInput').val());

                  var preventOverflow = function(e){
                    var remain = <%= GLOBALS['bounceback_size'] %> - gsmCharCount($('#bouncebackInput').val());
                    if(remain == 0 && e.keyCode != 8 && e.keyCode != 46){
                      e.preventDefault();
                    }
                  };
                  var updateBounceback = function(){
                    $('#bouncebackPreview').html($('#bouncebackInput').val());
                    $('#bouncebackCharacterCount').html(<%= GLOBALS['bounceback_size'] %>-gsmCharCount($('#bouncebackInput').val()));
                  };
                  $('#bouncebackInput').keyup(updateBounceback);
                  $('#bouncebackInput').keydown(preventOverflow);
                  updateBounceback();
                </script>
                <div class="input-green-btn-smaller">
                  <label><input type="submit" value="Save Changes" /></label>
                </div>
              </div>
              <div class="clear">&nbsp;</div>
              <div class="widebox-line btm">
                <div class="icon-txt video">
                  <p class="regular" style="padding-top:15px">Learn what is required when someone subscribes with your keyword. <a href="https://fast.wistia.com/embed/iframe/78c19bf0d5?videoWidth=640&videoHeight=360&controlsVisibleOnLoad=true&autoPlay=true&popover=true" class="wistia-popover[width=640,height=360,playerColor=#636155]">[Watch Now]</a>
                  <script type="text/javascript">
                  //<![CDATA[
                  Wistia.requireFancyBoxAssets(function() {Wistia.fancyBoxJQuery("#a176858706_videoPopup").fancybox({type: "iframe",width: 640,height: 360});});
                  //]]>
                  </script>
                </div>
              </div>
            </div>
          <% end %>
          <script type="text/javascript">
            $(document).ready(function(){
              if(jQuery.validator) {
                $('#edit_bounceback').validate({
                  rules: {
                    "list[message_volume]": {
                      required: true,
                      min: 1,
                      max: 99
                    },
                  },
                  errorPlacement: function(error, element){
                    error.appendTo($('.validationError', element.parent()));
                  }
                });
              }
            });
          </script>
          
          <%= form_for(@list, :html => {:class => 'someform', :style => 'width:625px;'}) do |f| %>
            <div class="somebox line">
              <h2>Email Alerts</h2>
              <p style="font-size:15px;padding:10px 0 15px 0;">
                If this is enabled, you will receive a daily email summary of activity for your keyword.
              </p>
              <%= f.check_box :has_members_joined_email_flag %>
               Daily summary of keyword activity.
              <div class="clear">&nbsp;</div>
              <div class="input-green-btn-smaller">
                <label><input type="submit" value="Save Changes" /></label>
              </div>
            </div>
        <% end %>
          
          <%= form_tag make_admin_list_memberships_path(@list), :method => :put, :class => 'someform', :style => 'width:625px;' do %>
            <div class="somebox">
              <H2>Mobile Text-In Feature</h2>
              <p style="font-size:15px;padding:10px 0 15px 0;">
                These mobile numbers will be able to send a message from their own mobile phone to your subscribers.
              </p>
              <% for membership in @list.admins %>
                <%= membership.phone.to_s %> <%= link_to '(Remove)', remove_admin_list_membership_path(@list, membership), :method => :put, :confirm => "Are you sure you want to remove admin from #{membership.phone.to_s}?" %><br />
              <% end %>
              <p class="semibold" style="font-size:15px;padding-bottom:5px;">Phone Number</p>
              <input name="number1" style="width:40px;margin-bottom:15px;" type="text" required="required" tabindex="4" size="22" value="" /><span class="end" style="margin-right:13px;"></span> 
              <input name="number2" style="width:40px;margin-bottom:15px;" type="text" required="required" tabindex="5" size="22" value="" /><span class="end" style="margin-right:13px;"></span> 
              <input name="number3" style="width:40px;margin-bottom:15px;" type="text" required="required" tabindex="6" size="22" value="" /><span class="end" style="margin-right:13px;"></span>
              <div class="clear">&nbsp;</div>
              <div class="input-green-btn-smaller">
                <label><input type="submit" value="Save Changes" /></label>
              </div>
              <div class="clear">&nbsp;</div>
              <div class="widebox-line btm">
                <div class="icon-txt video">
                  <p class="regular" style="padding-top:15px">Learn how to send a message to your subscribers from your mobile phone. <a href="https://fast.wistia.com/embed/iframe/9004ee268e?videoWidth=640&videoHeight=360&controlsVisibleOnLoad=true&autoPlay=true&popover=true" class="wistia-popover[width=640,height=360,playerColor=#636155]">[Watch Now]</a>
                  <script type="text/javascript">
                  //<![CDATA[
                  Wistia.requireFancyBoxAssets(function() {Wistia.fancyBoxJQuery("#a149834960_videoPopup").fancybox({type: "iframe",width: 640,height: 360});});
                  //]]>
                  </script>

                </div>
              </div>
            </div>
          <% end %>

          <form class="someform" style="width:625px;">
            <div class="somebox last">
              <h2>Delete SMS Broadcast</h2>
              <p style="font-size:15px;padding:10px 0 15px 0;">
                Deleting your SMS Broadcast will delete all subscribers. This cannot be undone. This will not cancel your account with Tatango.
                <%= link_to 'Delete this SMS Broadcast', @list, :method => :delete, :confirm => "Are you sure you want to delete this SMS Broadcast? This can not be undone.", :class => 'blue' %>.
              </p>
            </div>
          </form>
        </fieldset>
      </div>
    </div>
  </div>
  <!-- #END of right content -->
</div>

<script type="text/javascript">
  $(function(){
    $('#edit_keyword_name').keyup(function(event){
      if(this.timer) 
        clearTimeout(this.timer);

      $('#availability-yes').hide();
      $('#availability-no').hide();
      $('#claim_submit').attr("disabled", true);

      this.timer = setTimeout(function(){
        jsonQuery = $.getJSON('<%= test_keywords_path %>',{name: $('#edit_keyword_name').val()}, function(json){
          if(typeof(json.name)=='string'){
            $('#availability-yes').show();
            $('#availability-no').hide();
            $('#availability-yes .keyword_name_field').html($('#edit_keyword_name').val());
            $('#claim_submit').attr("disabled", false);
          } else {
            $('#availability-yes').hide();
            $('#availability-no').show();
            $('#availability-no .keyword_name_field').html($('#edit_keyword_name').val());
            $('#claim_submit').attr("disabled", true);
            $('#not-available-reason').html(json[0][1]);
          }
        }, 200);
      });
    });
  });
</script>
